Repository iqb-berlin/testcenter: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-backend-feature-rules, check-broadcasting-service-feature-rules, check-common-feature-rules, check-e2e-feature-rules, check-file-service-feature-rules, check-frontend-feature-rules, check-task-runner-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, build-task-runner, test-backend-unit, test-frontend-unit, test-broadcasting-service-unit, test-backend-api, test-file-service-api, test-backend-initialization, test-e2e

Path conditions:
  check-backend-feature-rules: any of: backend/**/*, scripts/database/**/*, definitions/**/*
  check-broadcasting-service-feature-rules: any of: broadcasting-service/**/*
  check-common-feature-rules: any of: common/**/*
  check-e2e-feature-rules: any of: e2e/**/*
  check-file-service-feature-rules: any of: file-service/**/*
  check-frontend-feature-rules: any of: frontend/**/*
  check-task-runner-feature-rules: any of: task-runner/**/*
  build-backend: (any of: backend/**/*, scripts/database/**/*, definitions/**/*) or ((any of: task-runner/**/*) or (any of: e2e/**/*))
  build-frontend: (any of: frontend/**/*) or ((any of: common/**/*) or (any of: e2e/**/*))
  build-broadcasting-service: (any of: broadcasting-service/**/*) or ((any of: common/**/*) or (any of: e2e/**/*))
  build-file-service: (any of: file-service/**/*) or ((any of: task-runner/**/*) or (any of: e2e/**/*))
  build-e2e: any of: e2e/**/*
  build-task-runner: (any of: task-runner/**/*) or ((any of: backend/**/*, scripts/database/**/*, definitions/**/*) or (any of: file-service/**/*))
  test-backend-unit: any of: backend/**/*, scripts/database/**/*, definitions/**/*
  test-frontend-unit: (any of: frontend/**/*) or (any of: common/**/*)
  test-broadcasting-service-unit: (any of: broadcasting-service/**/*) or (any of: common/**/*)
  test-backend-api: (any of: backend/**/*, scripts/database/**/*, definitions/**/*) or (any of: task-runner/**/*)
  test-file-service-api: (any of: file-service/**/*) or (any of: task-runner/**/*)
  test-backend-initialization: any of: backend/**/*, scripts/database/**/*, definitions/**/*
  test-e2e: any of: e2e/**/*

[Setup] Move 'docker-compose.initialization-test.yml' into 'backend/test' directory
  .gitlab-ci.yml
  backend/test/initialization/docker-compose.initialization-test.yml
  scripts/make/test.mk
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

[Setup] Delete obsolete update file
  dist-src/update.sh
Due: none

[Setup] Move 'docker-compose.system-test-headless.yml' into 'e2e' directory
  .gitlab-ci.yml
  e2e/docker-compose.system-test-headless.yml
  scripts/make/test.mk
Due: check-e2e-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, test-e2e

[Setup] Add 'prod-test' Makefile prototype
  .env.prod-template
  Makefile
  scripts/make/prod-test.mk
  scripts/migration/15.4.0.sh
Due: none

[Setup] Rename 'test' Makefile
  Makefile
  scripts/make/dev-test.mk
Due: none

[Setup] Remove version update in docker environment file
  scripts/create-new-version.sh
  scripts/version.js
  test/docker-compose.api-test.yml
Due: none

[Setup] Revise '.dockerignore' file
  .dockerignore
Due: none

[Setup] Adapt 'prod' Makefile for local use
  .dockerignore
  Makefile
  backup/.gitignore
  backup/release/.gitignore
  backup/temp/.gitignore
  docs/pages/installation-prod.md
  scripts/install.sh
  scripts/make/prod.mk
  scripts/update.sh
  secrets/traefik/certs/acme/.gitignore
Due: none

[Setup] Revise 'app-control' Makefile
  Makefile
  definitions/browsers.json
  docs/pages/installation-dev.md
  scripts/make/app-control.mk
  scripts/make/dev-test.mk
  scripts/make/dev.mk
  scripts/make/misc.mk
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

[Setup] Delete obsolete docker-compose 'prod-local' files
  docker/docker-compose.local-prod.yml
  docker/tls.yml
  scripts/make/app-control.mk
Due: none

[Setup] Move docker-compose 'dev' and 'prod' files to project root directory
  .env.dev-template
  .env.prod-template
  .gitlab-ci.yml
  docker-compose.dev.yml
  docker-compose.prod.tls.yml
  docker-compose.prod.yml
  docker-compose.yml
  e2e/docker-compose.system-test-headless.yml
  scripts/create-new-version.sh
  scripts/install.sh
  scripts/make/app-control.mk
  scripts/make/misc.mk
  scripts/make/test.mk
  scripts/update.sh
  scripts/version.js
  test/docker-compose.api-test.yml
Due: check-e2e-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, test-e2e

E2e: Repair tests
  e2e/cypress/e2e/Session-Management/login-possibilities.cy.ts
  e2e/cypress/e2e/Session-Management/login-sink.cy.ts
  e2e/cypress/e2e/Session-Management/testtakers-content.cy.ts
  e2e/cypress/e2e/Session-Management/testtakers-duplicates.cy.ts
  e2e/cypress/e2e/Session-Management/time-restrictions.cy.ts
  e2e/cypress/e2e/Super-Admin/settings.cy.ts
  e2e/cypress/e2e/Super-Admin/user-management.cy.ts
  e2e/cypress/e2e/Super-Admin/workspace-management.cy.ts
  e2e/cypress/e2e/Sys-Check/sys-check.cy.ts
  e2e/cypress/e2e/Test-Controller/demo.cy.ts
  e2e/cypress/e2e/Test-Controller/restrictions-hot-restart.cy.ts
  e2e/cypress/e2e/Test-Controller/restrictions-hot-return.cy.ts
  e2e/cypress/e2e/Test-Controller/review.cy.ts
  e2e/cypress/e2e/Workspace-Admin/files.cy.ts
  e2e/cypress/e2e/Workspace-Admin/misc.cy.ts
  e2e/cypress/e2e/Workspace-Admin/results.cy.ts
  e2e/cypress/e2e/study-monitor.cy.ts
  e2e/cypress/e2e/utils.ts
Due: check-e2e-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, test-e2e

Documentation
  docs/CHANGELOG.md
  docs/pages/installation-dev.md
  docs/pages/installation-prod.md
Due: none

[Setup] Add docker provider to traefik http configuration
  docker-compose.prod.yml
Due: none

[Setup] Temporarily deactivate pipeline jobs for feature branches
  .gitlab-ci.yml
Due: none

[Setup] Push release only if pages deployment succeeds
  .gitlab-ci.yml
Due: none

save-report is only blocked when required fields in questionaire actually exist
  frontend/src/app/sys-check/questionnaire/questionnaire.component.ts
  frontend/src/app/sys-check/report/report.component.ts
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

fix that 'required' attribute in systemcheck xml only blocks the report when value is " true"
  backend/src/files/XMLFileSysCheck.class.php
  docs/CHANGELOG.md
  frontend/src/app/sys-check/questionnaire/questionnaire.component.ts
Due: check-backend-feature-rules, check-frontend-feature-rules, build-backend, build-frontend, build-task-runner, test-backend-unit, test-frontend-unit, test-backend-api, test-backend-initialization

check the existence of required syscheck fields, when not interacting with questionnaire
  e2e/cypress/e2e/Sys-Check/sys-check.cy.ts
  frontend/src/app/sys-check/questionnaire/questionnaire.component.ts
Due: check-e2e-feature-rules, check-frontend-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, test-frontend-unit, test-e2e

Update to version 15.4.0-beta
  docs/CHANGELOG.md
  package.json
  sampledata/Booklet.xml
  sampledata/Booklet2.xml
  sampledata/Booklet3.xml
  sampledata/SysCheck.xml
  sampledata/Testtakers.xml
  sampledata/Unit.xml
  sampledata/Unit2.xml
  scripts/database/patches.d/15.4.0-beta.sql
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

simplify dns settings for nginx-lua script
  file-service/nginx.conf
Due: check-file-service-feature-rules, build-file-service, build-task-runner, test-file-service-api

transfer to "tc" namespace
  kubernetes/migration/be.yml
  kubernetes/migration/bs.yml
  kubernetes/migration/config.yml
  kubernetes/migration/cs.yml
  kubernetes/migration/db.yml
  kubernetes/migration/fe.yml
  kubernetes/migration/fs.yml
  kubernetes/migration/ingress.yml
  kubernetes/migration/volume.yml
Due: none

introduce fs security header. fe and be can be called
  kubernetes/migration/be.yml
  kubernetes/migration/bs.yml
  kubernetes/migration/fe-dev.yml
  kubernetes/migration/ingress.yml
Due: none

configure cache service
  kubernetes/migration/config.yml
  kubernetes/migration/cs.yml
  kubernetes/migration/ingress.yml
  kubernetes/migration/prod/fe-dev.yml
Due: none

kubernetes init with tc 15.3 as origin
  kubernetes/migration/be.yml
  kubernetes/migration/bs.yml
  kubernetes/migration/config.yml
  kubernetes/migration/cs.yml
  kubernetes/migration/db.yml
  kubernetes/migration/fe.yml
  kubernetes/migration/fs.yml
  kubernetes/migration/ingress.yml
  kubernetes/migration/volume.yml
Due: none

cache service and resolver are now dynamic for docker ond k8
  .env.dev-template
  kubernetes/migration/config.yml
  kubernetes/migration/fs.yml
Due: none

wip - traefik als ingress
  kubernetes/migration/prod/fe-dev.yml
  kubernetes/migration/test/03-whoami.yml
  kubernetes/migration/test/be.yml
  kubernetes/migration/test/bs.yml
  kubernetes/migration/test/config.yml
  kubernetes/migration/test/cs.yml
  kubernetes/migration/test/db.yml
  kubernetes/migration/test/fe.yml
  kubernetes/migration/test/fs.yml
  kubernetes/migration/test/ingress.yml
  kubernetes/migration/test/volume.yml
  kubernetes/migration/traefik/00-account.yml
  kubernetes/migration/traefik/00-role.yml
  kubernetes/migration/traefik/01-role-binding.yml
  kubernetes/migration/traefik/02-traefik-services.yml
  kubernetes/migration/traefik/02-traefik.yml
Due: none

das routing funktioniert und kann grundsätzlich die services mit der middleware erreichen
  kubernetes/migration/test/fe.yml
  kubernetes/migration/test/ingress.yml
  kubernetes/migration/test/traefik/00-account.yml
  kubernetes/migration/test/traefik/00-role.yml
  kubernetes/migration/test/traefik/01-role-binding.yml
  kubernetes/migration/test/traefik/02-traefik-services.yml
  kubernetes/migration/test/traefik/02-traefik.yml
Due: none

transform from Ingress to IngressRoute, www redirect, new middleware
  kubernetes/migration/test/fe.yml
  kubernetes/migration/test/ingress.yml
Due: none

whoami mit https
  kubernetes/migration/test/whoami/03-whoami.yml
  kubernetes/migration/traefik/02-traefik-services.yml
  kubernetes/migration/traefik/02-traefik.yml
Due: none

whoami mit host aufrufbar
  kubernetes/migration/test/whoami/03-whoami.yml
Due: none

fe ist aufrufbar
  kubernetes/migration/test/fe.yml
  kubernetes/migration/test/ingress.yml
Due: none

upgrade to image version 15.3.4
  kubernetes/migration/be.yml
  kubernetes/migration/bs.yml
  kubernetes/migration/config.yml
  kubernetes/migration/db.yml
  kubernetes/migration/fe.yml
  kubernetes/migration/fs.yml
Due: none

introduce tls secret
  kubernetes/migration/config.yml
  kubernetes/migration/ingress.yml
Due: none

Frontend: Don't remove and reload player between units when it's the same.
  docs/CHANGELOG.md
  frontend/src/app/test-controller/components/unithost/unithost.component.ts
  frontend/src/app/test-controller/services/test-controller.service.ts
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

migrate to traefik v2.11
  .env.prod-template
  kubernetes/migration/test/be.yml
  kubernetes/migration/test/config.yml
  kubernetes/migration/test/traefik/00-role.yml
  kubernetes/migration/test/traefik/02-traefik.yml
Due: none

enable tls (wip)
  kubernetes/migration/test/config.yml
  kubernetes/migration/test/fe.yml
  kubernetes/migration/test/ingress.yml
Due: none

tls acme (wip)
  kubernetes/migration/test/config.yml
  kubernetes/migration/test/fe.yml
  kubernetes/migration/test/ingress.yml
  kubernetes/migration/test/traefik/02-traefik.yml
  kubernetes/migration/test/traefik/05-tlsoption.yml
Due: none

Update Cypress
  e2e/package-lock.json
  e2e/package.json
Due: check-e2e-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, test-e2e

System-Tests: Add basic test suite for adaptivity
  backend/src/dao/InitDAO.class.php
  docker-compose.dev.yml
  e2e/cypress/e2e/Test-Controller/adaptivity.cy.ts
  e2e/cypress/e2e/utils.ts
  frontend/src/app/app.component.html
  frontend/src/app/test-controller/components/unit-menu/unit-menu.component.html
  frontend/src/app/test-controller/components/unit-nav-bar/unit-nav-bar.component.html
  sampledata/Booklet2.xml
Due: check-backend-feature-rules, check-e2e-feature-rules, check-frontend-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, build-task-runner, test-backend-unit, test-frontend-unit, test-backend-api, test-backend-initialization, test-e2e
