Repository iqb-berlin/testcenter: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-backend-feature-rules, check-broadcasting-service-feature-rules, check-common-feature-rules, check-e2e-feature-rules, check-file-service-feature-rules, check-frontend-feature-rules, check-task-runner-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, build-task-runner, test-backend-unit, test-frontend-unit, test-broadcasting-service-unit, test-backend-api, test-file-service-api, test-backend-initialization, test-e2e

check-backend-feature-rules:
  stage: .pre
  interruptible: true
  allow_failure: true
  script:
  - echo $CI_COMMIT_BRANCH
  - echo $CI_PIPELINE_SOURCE
  - if [ -n "$CI_COMMIT_BRANCH" ]; then echo "commit branch string length is nonzero"; else echo "commit branch = '$CI_COMMIT_BRANCH'"; fi
  ...

check-broadcasting-service-feature-rules:
  stage: .pre
  interruptible: true
  allow_failure: true
  script:
  - echo $CI_COMMIT_BRANCH
  - echo $CI_PIPELINE_SOURCE
  - if [ -n "$CI_COMMIT_BRANCH" ]; then echo "commit branch string length is nonzero"; else echo "commit branch = '$CI_COMMIT_BRANCH'"; fi
  ...

check-common-feature-rules:
  stage: .pre
  interruptible: true
  allow_failure: true
  script:
  - echo $CI_COMMIT_BRANCH
  - echo $CI_PIPELINE_SOURCE
  - if [ -n "$CI_COMMIT_BRANCH" ]; then echo "commit branch string length is nonzero"; else echo "commit branch = '$CI_COMMIT_BRANCH'"; fi
  ...

check-e2e-feature-rules:
  stage: .pre
  interruptible: true
  allow_failure: true
  script:
  - echo $CI_COMMIT_BRANCH
  - echo $CI_PIPELINE_SOURCE
  - if [ -n "$CI_COMMIT_BRANCH" ]; then echo "commit branch string length is nonzero"; else echo "commit branch = '$CI_COMMIT_BRANCH'"; fi
  ...

check-file-service-feature-rules:
  stage: .pre
  interruptible: true
  allow_failure: true
  script:
  - echo $CI_COMMIT_BRANCH
  - echo $CI_PIPELINE_SOURCE
  - if [ -n "$CI_COMMIT_BRANCH" ]; then echo "commit branch string length is nonzero"; else echo "commit branch = '$CI_COMMIT_BRANCH'"; fi
  ...

check-frontend-feature-rules:
  stage: .pre
  interruptible: true
  allow_failure: true
  script:
  - echo $CI_COMMIT_BRANCH
  - echo $CI_PIPELINE_SOURCE
  - if [ -n "$CI_COMMIT_BRANCH" ]; then echo "commit branch string length is nonzero"; else echo "commit branch = '$CI_COMMIT_BRANCH'"; fi
  ...

check-task-runner-feature-rules:
  stage: .pre
  interruptible: true
  allow_failure: true
  script:
  - echo $CI_COMMIT_BRANCH
  - echo $CI_PIPELINE_SOURCE
  - if [ -n "$CI_COMMIT_BRANCH" ]; then echo "commit branch string length is nonzero"; else echo "commit branch = '$CI_COMMIT_BRANCH'"; fi
  ...

build-backend:
  stage: build
  variables:
    BACKEND_IMAGE_NAME: ${CI_REGISTRY_IMAGE}/iqbberlin/testcenter-backend
  before_script:
  - ip a | grep mtu
  - docker network inspect bridge | grep mtu
  - docker login --username $CI_DEPENDENCY_PROXY_USER --password $CI_DEPENDENCY_PROXY_PASSWORD $CI_DEPENDENCY_PROXY_SERVER
  ...

build-frontend:
  stage: build
  variables:
    FRONTEND_IMAGE_NAME: ${CI_REGISTRY_IMAGE}/iqbberlin/testcenter-frontend
  before_script:
  - ip a | grep mtu
  - docker network inspect bridge | grep mtu
  - cp frontend/src/environments/environment.dev.ts frontend/src/environments/environment.ts
  ...

build-broadcasting-service:
  stage: build
  variables:
    BROADCASTING_SERVICE_IMAGE_NAME: ${CI_REGISTRY_IMAGE}/iqbberlin/testcenter-broadcasting-service
  before_script:
  - ip a | grep mtu
  - docker network inspect bridge | grep mtu
  ...

rename backend job
  scripts/helm/testcenter/templates/backend/job.yaml
Due: none

disable enable_file_service in env files (at this point)
  .env.dev-template
  .env.prod-template
Due: none

Frontend: Add library which is suddenly needed to build frontend (but only in docker container).
  .idea/dataSources.xml
  .idea/sqldialects.xml
  backend/src/controller/TestController.class.php
  backend/src/dao/AdminDAO.class.php
  backend/src/dao/DAO.class.php
  backend/src/dao/InitDAO.class.php
  backend/src/dao/TestDAO.class.php
  backend/src/helper/State.class.php
  backend/test/unit/dao/AdminDAOTest.php
  backend/test/unit/dao/TestDAOTest.php
  backend/test/unit/helper/StateTest.php
  backend/test/unit/testdata.sql
  docs/api/test.spec.yml
  scripts/database/patches.d/15.4.0.sql
  scripts/database/patches.d/next.sql
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

fix volumeMount of file server in k8s
  scripts/helm/testcenter/templates/file-server/depoyment.yaml
Due: none

Backend: Tidy up and linting
  backend/src/controller/TestController.class.php
  backend/src/dao/TestDAO.class.php
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

update CHANGELOG.md
  docs/CHANGELOG.md
Due: none

Backend: Export unitState und testState consequently as object
  backend/src/dao/AdminDAO.class.php
  backend/src/data-collection/SessionChangeMessage.class.php
  backend/test/unit/dao/AdminDAOTest.php
  docs/api/monitor.spec.yml
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

Backend: Create Unit if not exists when saving unit review.
  backend/src/dao/TestDAO.class.php
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

fix minor rootless errors caused by rebasing
  docker-compose.yml
  scripts/helm/testcenter/templates/file-server/configmap-nginx.yaml
Due: none

delete unnecessary volume mounts in tests
  test/docker-compose.api-test.yml
Due: none

update mysql version to 8.4 in pipeline
  .gitlab-ci.yml
Due: none

[helm] Revise 'Helm' installation script due to the use of Helm Chart Registries
  .gitignore
  scripts/helm/custom/traefik/custom-values.yaml
  scripts/helm/helm-install-tc.sh
  scripts/helm/helm-uninstall-tc.sh
  scripts/helm/testcenter/custom-values.yaml
  scripts/helm/testcenter/templates/longhorn/ingress-route.yaml
  scripts/helm/testcenter/templates/longhorn/longhorn-single-storage-class.yaml
Due: none

[helm] Upgrade traefik-crds helm chart to version 1.8.1
  scripts/helm/traefik-crds/Changelog.md
  scripts/helm/traefik-crds/Chart.yaml
  scripts/helm/traefik-crds/VALUES.md
  scripts/helm/traefik-crds/crds-files/hub/hub.traefik.io_accesscontrolpolicies.yaml
  scripts/helm/traefik-crds/crds-files/hub/hub.traefik.io_aiservices.yaml
  scripts/helm/traefik-crds/crds-files/hub/hub.traefik.io_apiaccesses.yaml
  scripts/helm/traefik-crds/crds-files/hub/hub.traefik.io_apibundles.yaml
  scripts/helm/traefik-crds/crds-files/hub/hub.traefik.io_apicatalogitems.yaml
  scripts/helm/traefik-crds/crds-files/hub/hub.traefik.io_apiplans.yaml
  scripts/helm/traefik-crds/crds-files/hub/hub.traefik.io_apiportals.yaml
  scripts/helm/traefik-crds/crds-files/hub/hub.traefik.io_apiratelimits.yaml
  scripts/helm/traefik-crds/crds-files/hub/hub.traefik.io_apis.yaml
  scripts/helm/traefik-crds/crds-files/hub/hub.traefik.io_apiversions.yaml
  scripts/helm/traefik-crds/crds-files/hub/hub.traefik.io_managedsubscriptions.yaml
  scripts/helm/traefik-crds/crds-files/traefik/traefik.io_ingressroutes.yaml
  scripts/helm/traefik-crds/crds-files/traefik/traefik.io_ingressroutetcps.yaml
  scripts/helm/traefik-crds/crds-files/traefik/traefik.io_ingressrouteudps.yaml
  scripts/helm/traefik-crds/crds-files/traefik/traefik.io_middlewares.yaml
  scripts/helm/traefik-crds/crds-files/traefik/traefik.io_middlewaretcps.yaml
  scripts/helm/traefik-crds/crds-files/traefik/traefik.io_serverstransports.yaml
  scripts/helm/traefik-crds/crds-files/traefik/traefik.io_serverstransporttcps.yaml
  scripts/helm/traefik-crds/crds-files/traefik/traefik.io_tlsoptions.yaml
  scripts/helm/traefik-crds/crds-files/traefik/traefik.io_tlsstores.yaml
  scripts/helm/traefik-crds/crds-files/traefik/traefik.io_traefikservices.yaml
  scripts/helm/traefik-crds/kustomization.yaml
  scripts/helm/traefik-crds/templates/_helpers.tpl
  scripts/helm/traefik-crds/tests/crds_test.yaml
  scripts/helm/traefik-crds/values.schema.json
  scripts/helm/traefik-crds/values.yaml
Due: none

[helm] Upgrade longhorn helm chart to version 1.9.0
  scripts/helm/longhorn/Chart.yaml
  scripts/helm/longhorn/README.md
  scripts/helm/longhorn/README.md.gotmpl
  scripts/helm/longhorn/questions.yaml
  scripts/helm/longhorn/templates/clusterrole.yaml
  scripts/helm/longhorn/templates/clusterrolebinding.yaml
  scripts/helm/longhorn/templates/crds.yaml
  scripts/helm/longhorn/templates/custom/longhorn-single-storage-class.yaml
  scripts/helm/longhorn/templates/daemonset-sa.yaml
  scripts/helm/longhorn/templates/default-resource.yaml
  scripts/helm/longhorn/templates/default-setting.yaml
  scripts/helm/longhorn/templates/deployment-driver.yaml
  scripts/helm/longhorn/templates/deployment-ui.yaml
  scripts/helm/longhorn/templates/extra-objects.yaml
  scripts/helm/longhorn/templates/storageclass.yaml
  scripts/helm/longhorn/values.yaml
Due: none

[helm] Add make command for pushing helm charts to docker hub
  Makefile
  scripts/make/push.mk
Due: none

fix unit tests after rebase
  backend/src/dao/TestDAO.class.php
  backend/test/unit/dao/TestDAOTest.php
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

adding testlogs in batches
  backend/src/controller/MonitorController.class.php
  backend/src/controller/TestController.class.php
  backend/src/dao/InitDAO.class.php
  backend/src/dao/TestDAO.class.php
  backend/src/data-collection/TestLog.class.php
  backend/test/unit/dao/TestDAOTest.php
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

adding unitlogs in batches
  backend/src/controller/TestController.class.php
  backend/src/dao/InitDAO.class.php
  backend/src/dao/TestDAO.class.php
  backend/src/data-collection/UnitLog.php
  backend/test/unit/dao/TestDAOTest.php
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

add content as json_encode in testlogs and unitlogs
  backend/src/controller/TestController.class.php
  backend/src/data-collection/UnitLog.php
  backend/test/unit/dao/TestDAOTest.php
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

Prevent nginx from shutting down if the file server cannot be resolved
  frontend/nginx.conf
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

E2E-Test booklet-config part two
  e2e/src/e2e/Booklet-Config/defaults.cy.ts
  e2e/src/e2e/Booklet-Config/value-1.cy.ts
  e2e/src/e2e/utils.ts
  sampledata/verona-player-simple-6.0.html
Due: check-e2e-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, test-e2e

E2E-Test booklet-config part two: more data-cy attributs
  frontend/src/app/shared/components/page-nav-bar/page-nav-bar.component.ts
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

small comments corrections
  e2e/src/e2e/Booklet-Config/defaults.cy.ts
  e2e/src/e2e/Booklet-Config/value-1.cy.ts
Due: check-e2e-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, test-e2e

small changes: remove unused parameter in booklets
  sampledata/system-test/CY_BKL_Config_default.xml
  sampledata/system-test/CY_BKL_Config_value-1.xml
Due: none

add comment for sed command
  scripts/helm/helm-install-tc.sh
Due: none

update Changelog
  docs/CHANGELOG.md
Due: none

Update to version 17.0.0
  docs/CHANGELOG.md
  package.json
  sampledata/Booklet.xml
  sampledata/Booklet2.xml
  sampledata/Booklet3.xml
  sampledata/SysCheck.xml
  sampledata/Testtakers.xml
  sampledata/Unit.xml
  sampledata/Unit2.xml
  sampledata/system-test/CY_BKL_Mode_Demo.xml
  sampledata/system-test/CY_BKL_Mode_Review.xml
  sampledata/system-test/CY_BKL_Mode_RunHotRestart.xml
  sampledata/system-test/CY_BKL_Mode_RunHotReturn.xml
  sampledata/system-test/CY_BKL_SessionManagement_HotModi.xml
  sampledata/system-test/CY_Test_Logins.xml
  sampledata/system-test/CY_Unit100.xml
  sampledata/system-test/CY_Unit101.xml
  sampledata/system-test/CY_Unit102.xml
  sampledata/system-test/CY_Unit103.xml
  sampledata/system-test/CY_Unit104.xml
  scripts/helm/helm-install-tc.sh
  scripts/helm/testcenter/Chart.yaml
Due: none

Run backend with port '8080' for ordinary user processes
  backend/Dockerfile
  backend/config/vhost.conf
  backend/src/helper/FileService.class.php
  docker-compose.dev.yml
  docker-compose.prod.tls.yml
  docker-compose.prod.yml
  docker-compose.yml
  e2e/cypress.headless.config.js
  frontend/Dockerfile
  frontend/angular.json
  frontend/nginx.conf
  frontend/proxy.conf.json
  frontend/src/environments/environment.system-test.ts
  scripts/helm/testcenter/templates/backend/deployment.yaml
  scripts/helm/testcenter/templates/backend/job.yaml
  scripts/helm/testcenter/templates/backend/service.yaml
  scripts/helm/testcenter/templates/broadcasting/deployment.yaml
  scripts/helm/testcenter/templates/cache-server/deployment.yaml
  scripts/helm/testcenter/templates/db/deployment.yaml
  scripts/helm/testcenter/templates/db/service.yaml
  scripts/helm/testcenter/templates/file-server/depoyment.yaml
  scripts/helm/testcenter/templates/frontend/deployment.yaml
  scripts/helm/testcenter/templates/traefik/ingress-route.yaml
  scripts/helm/testcenter/values.yaml
  test/config.docker.json
Due: check-backend-feature-rules, check-e2e-feature-rules, check-frontend-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, build-task-runner, test-backend-unit, test-frontend-unit, test-backend-api, test-backend-initialization, test-e2e

extend initial delay for backend livenessprobe
  scripts/helm/testcenter/templates/backend/deployment.yaml
Due: none

Run frontend containers rootless in production
  frontend/Dockerfile
  frontend/nginx.conf
  scripts/helm/testcenter/templates/frontend/deployment.yaml
  scripts/helm/testcenter/templates/frontend/service.yaml
  scripts/helm/testcenter/templates/traefik/ingress-route.yaml
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

[cache-service] Refactor docker environment variable settings
  backend/src/helper/SystemConfig.class.php
  backend/test/initialization/docker-compose.initialization-test.yml
  docker-compose.dev.yml
  docker-compose.yml
  scripts/helm/testcenter/templates/backend/job.yaml
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

remove unnecessary chown access of root mounted volumes
  backend/entrypoint.sh
  backend/initialize_only.sh
  scripts/helm/testcenter/templates/backend/deployment.yaml
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

Make File Server deployment optional
  scripts/helm/testcenter/templates/file-server/configmap.yaml
  scripts/helm/testcenter/templates/file-server/depoyment.yaml
  scripts/helm/testcenter/templates/file-server/service.yaml
  scripts/helm/testcenter/templates/traefik/ingress-route.yaml
Due: none

[cache-service] Secure connection with authentication
  .env.dev-template
  .env.prod-template
  backend/src/helper/CacheService.class.php
  backend/src/helper/SystemConfig.class.php
  backend/test/initialization/docker-compose.initialization-test.yml
  docker-compose.yml
  file-service/auth/redis_connector.lua
  file-service/nginx.conf
  scripts/helm/helm-install-tc.sh
  scripts/helm/testcenter/templates/backend/job.yaml
  scripts/helm/testcenter/templates/backend/secret.yaml
  scripts/helm/testcenter/templates/cache-server/configmap.yaml
  scripts/helm/testcenter/templates/cache-server/deployment.yaml
  scripts/helm/testcenter/templates/cache-server/secret.yaml
  scripts/helm/testcenter/templates/db/deployment.yaml
  scripts/helm/testcenter/templates/db/secret.yaml
  scripts/helm/testcenter/templates/file-server/configmap-nginx.yaml
  scripts/helm/testcenter/templates/file-server/depoyment.yaml
  scripts/helm/testcenter/templates/file-server/secret.yaml
  scripts/helm/testcenter/values.yaml
  scripts/install.sh
  scripts/migration/16.0.0.sh
  test/api/test.js
  test/config.docker.json
Due: check-backend-feature-rules, check-file-service-feature-rules, build-backend, build-file-service, build-task-runner, test-backend-unit, test-backend-api, test-file-service-api, test-backend-initialization

[backend] Enhance update strategy
  scripts/helm/testcenter/values.yaml
Due: none

Path conditions:
  check-backend-feature-rules: any of: backend/**/*, scripts/database/**/*, definitions/**/*
  check-broadcasting-service-feature-rules: any of: broadcasting-service/**/*
  check-common-feature-rules: any of: common/**/*
  check-e2e-feature-rules: any of: e2e/**/*
  check-file-service-feature-rules: any of: file-service/**/*
  check-frontend-feature-rules: any of: frontend/**/*
  check-task-runner-feature-rules: any of: task-runner/**/*
  build-backend: (any of: backend/**/*, scripts/database/**/*, definitions/**/*) or ((any of: task-runner/**/*) or (any of: e2e/**/*))
  build-frontend: (any of: frontend/**/*) or ((any of: common/**/*) or (any of: e2e/**/*))
  build-broadcasting-service: (any of: broadcasting-service/**/*) or ((any of: common/**/*) or (any of: e2e/**/*))
  build-file-service: (any of: file-service/**/*) or ((any of: task-runner/**/*) or (any of: e2e/**/*))
  build-e2e: any of: e2e/**/*
  build-task-runner: (any of: task-runner/**/*) or ((any of: backend/**/*, scripts/database/**/*, definitions/**/*) or (any of: file-service/**/*))
  test-backend-unit: any of: backend/**/*, scripts/database/**/*, definitions/**/*
  test-frontend-unit: (any of: frontend/**/*) or (any of: common/**/*)
  test-broadcasting-service-unit: (any of: broadcasting-service/**/*) or (any of: common/**/*)
  test-backend-api: (any of: backend/**/*, scripts/database/**/*, definitions/**/*) or (any of: task-runner/**/*)
  test-file-service-api: (any of: file-service/**/*) or (any of: task-runner/**/*)
  test-backend-initialization: any of: backend/**/*, scripts/database/**/*, definitions/**/*
  test-e2e: any of: e2e/**/*
