Repository iqb-berlin/testcenter: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend, build-frontend, build-broadcasting-service, test-backend-unit, test-frontend-unit, test-broadcasting-service-unit, test-e2e, test-backend-api

build-backend:
  stage: build
  script:
  - apk add make curl
  - curl -SL https://github.com/docker/compose/releases/download/v2.6.0/docker-compose-linux-x86_64 -o /usr/local/bin/docker-compose
  - chmod +x /usr/local/bin/docker-compose
  - make init
  - make build service=testcenter-backend
  ...

build-frontend:
  stage: build
  script:
  - apk add make curl
  - curl -SL https://github.com/docker/compose/releases/download/v2.6.0/docker-compose-linux-x86_64 -o /usr/local/bin/docker-compose
  - chmod +x /usr/local/bin/docker-compose
  - make init
  - make build service=testcenter-frontend
  ...

build-broadcasting-service:
  stage: build
  script:
  - apk add make curl
  - curl -SL https://github.com/docker/compose/releases/download/v2.6.0/docker-compose-linux-x86_64 -o /usr/local/bin/docker-compose
  - chmod +x /usr/local/bin/docker-compose
  - make init
  - make build service=testcenter-broadcasting-service
  ...

test-backend-unit:
  stage: test
  needs:
  - job: build-backend
    artifacts: true
  script:
  - apk add make docker-compose
  - make init
  - docker load -i backend_image.tar
  - make test-backend-unit

test-frontend-unit:
  stage: test
  needs:
  - job: build-frontend
    artifacts: true
  script:
  - apk add make docker-compose
  - make init-env
  - make init-frontend
  - docker load -i frontend_image.tar
  - make test-frontend-unit

test-broadcasting-service-unit:
  stage: test
  needs:
  - job: build-broadcasting-service
    artifacts: true
  script:
  - apk add make docker-compose
  - make init-env
  - docker load -i bs_image.tar
  - make test-broadcasting-service-unit

test-e2e:
  stage: test
  needs:
  - job: build-frontend
    artifacts: true
  - job: build-backend
    artifacts: true
  - job: build-broadcasting-service
    artifacts: true
  script:
  - apk add make
  - docker load -i frontend_image.tar
  - docker load -i backend_image.tar
  - docker load -i bs_image.tar
  ...

test-backend-api:
  stage: test
  needs:
  - job: build-backend
    artifacts: true
  script:
  - apk add make
  - make init
  - make test-backend-api

[Backend] And detect Verona-Modules by their metadata, not by the file-extension HTML.
  backend/src/dao/WorkspaceDAO.class.php
  backend/src/data-collection/FileSpecialInfo.class.php
  backend/src/data-collection/VeronaModuleMeta.class.php
  backend/src/files/ResourceFile.class.php
  backend/src/workspace/Workspace.class.php
Due: build-backend, test-backend-unit, test-backend-api

[Frontend] Change sandboxing of iFrames to enable further load of script.
  frontend/src/app/sys-check/unit-check/unit-check.component.ts
  frontend/src/app/test-controller/components/unithost/unithost.component.ts
Due: build-frontend, test-frontend-unit

[Frontend] Fix choice of TestControllerState between TERMINATED_PAUSED and TERMINATED.
  frontend/src/app/test-controller/services/test-controller.service.ts
Due: build-frontend, test-frontend-unit

Update to version `13.0.0-rc.5`
  docs/CHANGELOG.md
  package.json
  sampledata/Booklet.xml
  sampledata/Booklet2.xml
  sampledata/Booklet3.xml
  sampledata/SysCheck.xml
  sampledata/Testtakers.xml
  sampledata/Unit.xml
  sampledata/Unit2.xml
Due: none

Update to version `13.0.0-rc.5`
  dist-src/.env
  docs/CHANGELOG.md
  package.json
  sampledata/Booklet.xml
  sampledata/Booklet2.xml
  sampledata/Booklet3.xml
  sampledata/SysCheck.xml
  sampledata/Testtakers.xml
  sampledata/Unit.xml
  sampledata/Unit2.xml
Due: none

[Frontend] Fix some issues with timed blocks:
  frontend/src/app/group-monitor/test-session/test-session.component.html
  frontend/src/app/test-controller/classes/test-controller.classes.ts
  frontend/src/app/test-controller/components/test-controller/test-controller.component.ts
  frontend/src/app/test-controller/components/unithost/unithost.component.ts
  frontend/src/app/test-controller/services/test-controller.service.ts
Due: build-frontend, test-frontend-unit

Update to Version 13.0.0-rc.6
  dist-src/.env
  docs/CHANGELOG.md
  package.json
  sampledata/Booklet.xml
  sampledata/Booklet2.xml
  sampledata/Booklet3.xml
  sampledata/SysCheck.xml
  sampledata/Testtakers.xml
  sampledata/Unit.xml
  sampledata/Unit2.xml
Due: none

Improve install script
  docs/pages/installation-prod.md
Due: none

Add port variable to prod config
  dist-src/.env
Due: none

Change name of data-dir to work correctly with the old installation
  docker/docker-compose.yml
Due: none

Update to version 13.0.0-rc.7
  dist-src/.env
  docs/CHANGELOG.md
  package.json
  sampledata/Booklet.xml
  sampledata/Booklet2.xml
  sampledata/Booklet3.xml
  sampledata/SysCheck.xml
  sampledata/Testtakers.xml
  sampledata/Unit.xml
  sampledata/Unit2.xml
Due: none

Update README.md
  README.md
Due: none

Fix critical typo
  docker/docker-compose.yml
Due: none

Add 2nd port setting for TLS port.
  dist-src/.env
  dist-src/docker-compose.prod.tls.yml
Due: none

Fix install script hostname replacement
  dist-src/install.sh
Due: none

Update to version `13.0.0`
  dist-src/.env
  package.json
  sampledata/Booklet.xml
  sampledata/Booklet2.xml
  sampledata/Booklet3.xml
  sampledata/SysCheck.xml
  sampledata/Testtakers.xml
  sampledata/Unit.xml
  sampledata/Unit2.xml
Due: none

Add german section to README
  README.md
Due: none

[Backend] Accept newest db-patch under the name next.js so it can be used during development when the next version number is still unknown.
  backend/src/dao/InitDAO.class.php
  scripts/database/mysql.patches.d/next.sql
  scripts/version.js
Due: build-backend, test-backend-unit, test-backend-api

[Frontend/attachment-manager] Improve UI for mobile
  frontend/src/app/attachment-manager/components/add-attachment/add-attachment.component.html
  frontend/src/app/attachment-manager/components/attachment-overview/attachment-overview.component.html
  frontend/src/app/attachment-manager/components/attachment-overview/attachment-overview.component.ts
  frontend/src/monitor-layout.css
Due: build-frontend, test-frontend-unit

[Frontend/attachment-manager] Fix ScanRegion for rear cameras.
  frontend/src/environments/environment.local.ts
Due: build-frontend, test-frontend-unit

[Backend/attachment-manager] Fix Typo
  backend/routes.php
  backend/src/controller/AttachmentController.class.php
Due: build-backend, test-backend-unit, test-backend-api

[Frontend/attachment-manager] Camera-View
  frontend/src/app/attachment-manager/attachment-manager.module.ts
  frontend/src/app/attachment-manager/components/capture-image/capture-image.component.html
  frontend/src/app/attachment-manager/components/capture-image/capture-image.component.ts
Due: build-frontend, test-frontend-unit

[Frontend/attachment-manager] Camera-View linting and small UI adjustments
  frontend/src/app/attachment-manager/components/capture-image/capture-image.component.css
  frontend/src/app/attachment-manager/components/capture-image/capture-image.component.ts
Due: build-frontend, test-frontend-unit

[Backend/attachment-manager] Refactor AttachmentController
  backend/src/controller/AttachmentController.class.php
  backend/src/dao/AdminDAO.class.php
  backend/src/dao/InitDAO.class.php
  backend/src/helper/AttachmentFiles.class.php
  backend/src/helper/TestEnvironment.class.php
  backend/src/workspace/WorkspaceInitializer.class.php
  backend/test/database.sql
  docs/api/attachment.spec.yml
Due: build-backend, test-backend-unit, test-backend-api

Fix custom-text documentation generation
  docs/pages/custom-texts.md
  scripts/create-docs.js
Due: none

[Backend] Restore accidentally deleted route
  backend/routes.php
Due: build-backend, test-backend-unit, test-backend-api

[Backend/attachment-manager] Refactor AttachmentController and add Dredd-tests/API-specs for it.
  backend/src/controller/AttachmentController.class.php
  backend/src/dao/InitDAO.class.php
  backend/src/helper/TestEnvironment.class.php
  backend/src/workspace/WorkspaceInitializer.class.php
  docs/api/attachment.spec.yml
  docs/api/speedtest.spec.yml
  docs/api/workspace.spec.yml
  frontend/src/app/attachment-manager/services/backend/backend.service.ts
  test/api/dredd-hooks.js
  test/api/dredd-test.js
Due: build-backend, build-frontend, test-backend-unit, test-frontend-unit, test-backend-api

[Backend] Add _PIPES_AS_CONCAT_ to sql-mode.
  scripts/database/my.cnf
Due: none

[Frontend/attachment-manager] Improve mobile UI
  frontend/src/app/attachment-manager/components/capture-image/capture-image.component.css
  frontend/src/app/attachment-manager/components/capture-image/capture-image.component.html
  frontend/src/app/attachment-manager/components/capture-image/capture-image.component.ts
  frontend/src/monitor-layout.css
Due: build-frontend, test-frontend-unit

[Frontend/attachment-manager] Add UI for image swapping
  frontend/src/app/attachment-manager/attachment-manager.module.ts
  frontend/src/app/attachment-manager/components/capture-image/capture-image.component.css
  frontend/src/app/attachment-manager/components/capture-image/capture-image.component.html
  frontend/src/app/attachment-manager/components/capture-image/capture-image.component.ts
Due: build-frontend, test-frontend-unit

[attachment-manager] Hide the highly experimental attachment-manager-feature:
  backend/src/data-collection/AccessSet.class.php
  frontend/src/app/app-root/monitor-starter/monitor-starter.component.html
  frontend/src/app/app-root/monitor-starter/monitor-starter.component.ts
  frontend/src/app/app.interfaces.ts
Due: build-backend, build-frontend, test-backend-unit, test-frontend-unit, test-backend-api

[attachment-manager] Print the aligned data (group, login, booklet, unit, variable) on the attachment-template-page in a customizable way.
  backend/src/controller/AttachmentController.class.php
  backend/src/data-collection/Attachment.class.php
  backend/src/helper/AttachmentTemplate.class.php
  docs/api/attachment.spec.yml
  frontend/src/app/attachment-manager/components/attachment-overview/attachment-overview.component.ts
  frontend/src/app/attachment-manager/services/backend/backend.service.ts
Due: build-backend, build-frontend, test-backend-unit, test-frontend-unit, test-backend-api

[attachment-manager] Make it possible to define different paper formats fpr the templates.
  frontend/src/app/attachment-manager/components/capture-image/capture-image.component.css
  frontend/src/app/attachment-manager/components/capture-image/capture-image.component.html
  frontend/src/app/attachment-manager/components/capture-image/capture-image.component.ts
  frontend/src/app/attachment-manager/interfaces/page.interfaces.ts
  frontend/src/app/attachment-manager/interfaces/video.interfaces.ts
Due: build-frontend, test-frontend-unit

[attachment-manager] Make UI more consistent and usable
  frontend/src/app/attachment-manager/attachment-manager.module.ts
  frontend/src/app/attachment-manager/components/add-attachment/add-attachment.component.html
  frontend/src/app/attachment-manager/components/attachment-overview/attachment-overview.component.html
  frontend/src/app/attachment-manager/components/capture-image/capture-image.component.html
  frontend/src/app/attachment-manager/components/capture-image/capture-image.component.ts
  frontend/src/app/attachment-manager/interfaces/users.interfaces.ts
  frontend/src/app/attachment-manager/pipes/attachment-title.pipe.ts
  frontend/src/monitor-layout.css
Due: build-frontend, test-frontend-unit

[attachment-manager] Fix some unit-tests
  backend/test/unit/files/XMLFilesUnitTest.php
  backend/test/unit/workspace/WorkspaceTest.php
  backend/test/unit/workspace/WorkspaceValidatorTest.php
Due: build-backend, test-backend-unit, test-backend-api

[attachment-manager] When importing files from ZIP-archive, do it in proper order (eg resources first), so they can be found by their dependant files.
  backend/src/workspace/Workspace.class.php
  backend/test/unit/workspace/WorkspaceTest.php
Due: build-backend, test-backend-unit, test-backend-api

[attachment-manager] Fix unit-test: SessionController needs workspace now, not BookletFolder.
  backend/src/controller/SessionController.class.php
  backend/test/unit/controller/SessionControllerTest.php
Due: build-backend, test-backend-unit, test-backend-api

Path conditions:
  build-backend: (any of: backend/**/*, database/**/*, definitions/**/*) or (any of: e2e/**/*)
  build-frontend: (any of: frontend/**/*, common/**/*) or (any of: e2e/**/*)
  build-broadcasting-service: (any of: broadcasting-service/**/*, common/**/*) or (any of: e2e/**/*)
  test-backend-unit: any of: backend/**/*, database/**/*, definitions/**/*
  test-frontend-unit: any of: frontend/**/*, common/**/*
  test-broadcasting-service-unit: any of: broadcasting-service/**/*, common/**/*
  test-e2e: any of: e2e/**/*
  test-backend-api: any of: backend/**/*, database/**/*, definitions/**/*
