Repository iqb-berlin/testcenter: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-backend-feature-rules, check-broadcasting-service-feature-rules, check-common-feature-rules, check-e2e-feature-rules, check-file-service-feature-rules, check-frontend-feature-rules, check-task-runner-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, build-task-runner, test-backend-unit, test-frontend-unit, test-broadcasting-service-unit, test-backend-api, test-file-service-api, test-backend-initialization, test-e2e

check-backend-feature-rules:
  stage: .pre
  interruptible: true
  allow_failure: true
  script:
  - echo $CI_COMMIT_BRANCH
  - echo $CI_PIPELINE_SOURCE
  - if [ -n "$CI_COMMIT_BRANCH" ]; then echo "commit branch string length is nonzero"; else echo "commit branch = '$CI_COMMIT_BRANCH'"; fi
  ...

check-broadcasting-service-feature-rules:
  stage: .pre
  interruptible: true
  allow_failure: true
  script:
  - echo $CI_COMMIT_BRANCH
  - echo $CI_PIPELINE_SOURCE
  - if [ -n "$CI_COMMIT_BRANCH" ]; then echo "commit branch string length is nonzero"; else echo "commit branch = '$CI_COMMIT_BRANCH'"; fi
  ...

check-common-feature-rules:
  stage: .pre
  interruptible: true
  allow_failure: true
  script:
  - echo $CI_COMMIT_BRANCH
  - echo $CI_PIPELINE_SOURCE
  - if [ -n "$CI_COMMIT_BRANCH" ]; then echo "commit branch string length is nonzero"; else echo "commit branch = '$CI_COMMIT_BRANCH'"; fi
  ...

check-e2e-feature-rules:
  stage: .pre
  interruptible: true
  allow_failure: true
  script:
  - echo $CI_COMMIT_BRANCH
  - echo $CI_PIPELINE_SOURCE
  - if [ -n "$CI_COMMIT_BRANCH" ]; then echo "commit branch string length is nonzero"; else echo "commit branch = '$CI_COMMIT_BRANCH'"; fi
  ...

check-file-service-feature-rules:
  stage: .pre
  interruptible: true
  allow_failure: true
  script:
  - echo $CI_COMMIT_BRANCH
  - echo $CI_PIPELINE_SOURCE
  - if [ -n "$CI_COMMIT_BRANCH" ]; then echo "commit branch string length is nonzero"; else echo "commit branch = '$CI_COMMIT_BRANCH'"; fi
  ...

check-frontend-feature-rules:
  stage: .pre
  interruptible: true
  allow_failure: true
  script:
  - echo $CI_COMMIT_BRANCH
  - echo $CI_PIPELINE_SOURCE
  - if [ -n "$CI_COMMIT_BRANCH" ]; then echo "commit branch string length is nonzero"; else echo "commit branch = '$CI_COMMIT_BRANCH'"; fi
  ...

check-task-runner-feature-rules:
  stage: .pre
  interruptible: true
  allow_failure: true
  script:
  - echo $CI_COMMIT_BRANCH
  - echo $CI_PIPELINE_SOURCE
  - if [ -n "$CI_COMMIT_BRANCH" ]; then echo "commit branch string length is nonzero"; else echo "commit branch = '$CI_COMMIT_BRANCH'"; fi
  ...

build-backend:
  stage: build
  variables:
    BACKEND_IMAGE_NAME: ${CI_REGISTRY_IMAGE}/iqbberlin/testcenter-backend
  before_script:
  - ip a | grep mtu
  - docker network inspect bridge | grep mtu
  - docker login --username $CI_DEPENDENCY_PROXY_USER --password $CI_DEPENDENCY_PROXY_PASSWORD $CI_DEPENDENCY_PROXY_SERVER
  ...

build-frontend:
  stage: build
  variables:
    FRONTEND_IMAGE_NAME: ${CI_REGISTRY_IMAGE}/iqbberlin/testcenter-frontend
  before_script:
  - ip a | grep mtu
  - docker network inspect bridge | grep mtu
  - cp frontend/src/environments/environment.dev.ts frontend/src/environments/environment.ts
  ...

build-broadcasting-service:
  stage: build
  variables:
    BROADCASTING_SERVICE_IMAGE_NAME: ${CI_REGISTRY_IMAGE}/iqbberlin/testcenter-broadcasting-service
  before_script:
  - ip a | grep mtu
  - docker network inspect bridge | grep mtu
  ...

Api Tests: Replace deprecated libraray request with node-fetch
  package-lock.json
  package.json
  test/api/test.js
Due: none

Testcommit
  package.json
Due: none

Api Tests: Replace deprecated libraray request with axios
  package-lock.json
  package.json
  test/api/test.js
Due: none

[setup] Fix 'ENABLE_TLS' default selection
  scripts/install.sh
Due: none

[setup] Fix subdomain routing rules
  docker-compose.dev.yml
  docker-compose.prod.tls.yml
  docker-compose.prod.yml
Due: none

add groupName to groupLabel
  docs/CHANGELOG.md
  frontend/src/app/workspace-admin/results/results.component.html
  frontend/src/app/workspace-admin/workspace.module.ts
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

hint at possible reload to remedy gm
  definitions/custom-texts.json
  docs/pages/custom-texts.md
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

fix gm that shows testsessions from wrong group
  broadcasting-service/src/test-session/test-session.service.ts
  broadcasting-service/src/testee/testee.service.ts
  frontend/src/app/group-monitor/test-session-manager/test-session-manager.service.ts
Due: check-broadcasting-service-feature-rules, check-frontend-feature-rules, build-frontend, build-broadcasting-service, test-frontend-unit, test-broadcasting-service-unit

clean up the wsSubject$ when error emits
  docs/CHANGELOG.md
  frontend/src/app/shared/services/websocket-backend/websocket-backend.service.ts
  frontend/src/app/shared/services/websocket/websocket.service.spec.ts
  frontend/src/app/shared/services/websocket/websocket.service.ts
  frontend/src/app/test-controller/services/command.service.ts
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

[GM]: BlockId now shows with an appropriate label
  docs/CHANGELOG.md
  frontend/src/app/group-monitor/test-session/test-session.component.css
  frontend/src/app/group-monitor/test-session/test-session.component.html
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

Update to version 16.0.1
  docs/CHANGELOG.md
  package.json
  sampledata/Booklet.xml
  sampledata/Booklet2.xml
  sampledata/Booklet3.xml
  sampledata/SysCheck.xml
  sampledata/Testtakers.xml
  sampledata/Unit.xml
  sampledata/Unit2.xml
  sampledata/system-test/CY_BKL_Mode_Demo.xml
  sampledata/system-test/CY_BKL_Mode_Review.xml
  sampledata/system-test/CY_BKL_Mode_RunHotRestart.xml
  sampledata/system-test/CY_BKL_Mode_RunHotReturn.xml
  sampledata/system-test/CY_BKL_SessionManagement_HotModi.xml
  sampledata/system-test/CY_Test_Logins.xml
  sampledata/system-test/CY_Unit100.xml
  sampledata/system-test/CY_Unit101.xml
  sampledata/system-test/CY_Unit102.xml
  sampledata/system-test/CY_Unit103.xml
  sampledata/system-test/CY_Unit104.xml
Due: none

upgrade to chart 1.0.1
  scripts/helm/helm-install-tc.sh
  scripts/helm/testcenter/Chart.yaml
Due: none

allow direct input of values in TimeRestrictionDialog again
  frontend/src/app/group-monitor/time-restriction-dialog/time-restriction-dialog.component.html
  frontend/src/app/group-monitor/time-restriction-dialog/time-restriction-dialog.component.ts
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

add blob: to csp for webworker
  frontend/nginx.conf
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

documentation
  docs/CHANGELOG.md
  scripts/helm/helm-install-tc.sh
  scripts/helm/testcenter/Chart.yaml
Due: none

disable autocapitalize for code input
  docs/CHANGELOG.md
  frontend/src/app/app-root/code-input/code-input.component.html
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

Update to version 16.0.2
  docs/CHANGELOG.md
  package.json
  sampledata/Booklet.xml
  sampledata/Booklet2.xml
  sampledata/Booklet3.xml
  sampledata/SysCheck.xml
  sampledata/Testtakers.xml
  sampledata/Unit.xml
  sampledata/Unit2.xml
  sampledata/system-test/CY_BKL_Mode_Demo.xml
  sampledata/system-test/CY_BKL_Mode_Review.xml
  sampledata/system-test/CY_BKL_Mode_RunHotRestart.xml
  sampledata/system-test/CY_BKL_Mode_RunHotReturn.xml
  sampledata/system-test/CY_BKL_SessionManagement_HotModi.xml
  sampledata/system-test/CY_Test_Logins.xml
  sampledata/system-test/CY_Unit100.xml
  sampledata/system-test/CY_Unit101.xml
  sampledata/system-test/CY_Unit102.xml
  sampledata/system-test/CY_Unit103.xml
  sampledata/system-test/CY_Unit104.xml
  sampledata/test_tt.xml
Due: none

update valid_until of person_sessions when the testtakers is edited
  backend/src/dao/WorkspaceDAO.class.php
  docs/CHANGELOG.md
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

Run backend containers with 'www-data' user in production
  .env.dev-template
  .env.prod-template
  backend/Dockerfile
  docker-compose.yml
  scripts/helm/testcenter/templates/backend/deployment.yaml
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

Run backend with port '8080' for ordinary user processes
  .env.dev-template
  .env.prod-template
  .gitlab-ci.yml
  backend/Dockerfile
  backend/config/vhost.conf
  backend/src/helper/FileService.class.php
  docker-compose.dev.yml
  docker-compose.prod.tls.yml
  docker-compose.prod.yml
  docker-compose.yml
  e2e/cypress.e2e.config.js
  e2e/docker-compose.system-test-headless.yml
  file-service/nginx.conf
  frontend/Dockerfile
  frontend/angular.json
  frontend/nginx.conf
  frontend/proxy.conf.json
  frontend/src/environments/environment.system-test.ts
  scripts/helm/testcenter/templates/backend/deployment.yaml
  scripts/helm/testcenter/templates/backend/service.yaml
  scripts/helm/testcenter/templates/file-server/configmap.yaml
  scripts/helm/testcenter/templates/traefik/ingress-route.yaml
  scripts/make/dev-test.mk
  scripts/make/dev.mk
  test/config.docker.json
  test/docker-compose.api-test.yml
Due: check-backend-feature-rules, check-e2e-feature-rules, check-file-service-feature-rules, check-frontend-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, build-task-runner, test-backend-unit, test-frontend-unit, test-backend-api, test-file-service-api, test-backend-initialization, test-e2e

Set log level to 'debug'
  test/api/test.js
Due: none

Run frontend containers rootless in production
  frontend/Dockerfile
  frontend/nginx.conf
  scripts/helm/testcenter/templates/frontend/deployment.yaml
  scripts/helm/testcenter/templates/frontend/service.yaml
  scripts/helm/testcenter/templates/traefik/ingress-route.yaml
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

[cache-service] Rename 'CACHE_SERVICE_RAM' environment property
  .env.dev-template
  .env.prod-template
  docker-compose.yml
  scripts/helm/testcenter/templates/cache-server/deployment.yaml
  scripts/helm/testcenter/values.yaml
  scripts/migration/16.0.0.sh
Due: none

[backend] Remove 'dead' Cache Service property
  backend/src/helper/SystemConfig.class.php
  backend/test/initialization/docker-compose.initialization-test.yml
  docker-compose.yml
  scripts/helm/testcenter/templates/backend/configmap.yaml
  scripts/helm/testcenter/templates/backend/job.yaml
  scripts/helm/testcenter/values.yaml
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

[backend] Rename 'CACHE_SERVICE_INCLUDE_FILES' environment property
  .env.dev-template
  .env.prod-template
  backend/src/helper/SystemConfig.class.php
  backend/test/initialization/docker-compose.initialization-test.yml
  docker-compose.yml
  file-service/auth/content.lua
  file-service/nginx.conf
  scripts/helm/testcenter/templates/backend/configmap.yaml
  scripts/helm/testcenter/templates/backend/job.yaml
  scripts/helm/testcenter/templates/file-server/configmap.yaml
  scripts/helm/testcenter/templates/file-server/depoyment.yaml
  scripts/helm/testcenter/values.yaml
  scripts/migration/16.0.0.sh
  test/docker-compose.api-test.yml
Due: check-backend-feature-rules, check-file-service-feature-rules, build-backend, build-file-service, build-task-runner, test-backend-unit, test-backend-api, test-file-service-api, test-backend-initialization

[cache-service] Enable redis port configuration
  backend/src/helper/CacheService.class.php
  backend/src/helper/SystemConfig.class.php
  backend/test/initialization/docker-compose.initialization-test.yml
  docker-compose.yml
  file-service/auth/redis_connector.lua
  file-service/nginx.conf
  scripts/helm/testcenter/templates/backend/job.yaml
  scripts/helm/testcenter/templates/file-server/configmap-nginx.yaml
  scripts/helm/testcenter/templates/file-server/depoyment.yaml
Due: check-backend-feature-rules, check-file-service-feature-rules, build-backend, build-file-service, build-task-runner, test-backend-unit, test-backend-api, test-file-service-api, test-backend-initialization

[cache-service] Refactor docker environment variable settings
  backend/src/helper/SystemConfig.class.php
  backend/test/initialization/docker-compose.initialization-test.yml
  docker-compose.dev.yml
  docker-compose.yml
  scripts/helm/testcenter/templates/backend/job.yaml
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

[file-service] Rename 'CACHE_SERVICE_ADDRESS_FOR_LUA' environment property
  docker-compose.yml
  file-service/auth/redis_connector.lua
  file-service/nginx.conf
  scripts/helm/testcenter/templates/backend/configmap.yaml
  scripts/helm/testcenter/templates/backend/job.yaml
  scripts/helm/testcenter/templates/file-server/configmap-nginx.yaml
  scripts/helm/testcenter/templates/file-server/configmap.yaml
  scripts/helm/testcenter/templates/file-server/depoyment.yaml
  scripts/helm/testcenter/values.yaml
Due: check-file-service-feature-rules, build-file-service, build-task-runner, test-file-service-api

[cache-service] Secure connection with authentication
  .env.dev-template
  .env.prod-template
  backend/src/helper/CacheService.class.php
  backend/src/helper/SystemConfig.class.php
  backend/test/initialization/docker-compose.initialization-test.yml
  docker-compose.yml
  file-service/auth/redis_connector.lua
  file-service/nginx.conf
  scripts/helm/helm-install-tc.sh
  scripts/helm/testcenter/custom-values.yaml
  scripts/helm/testcenter/templates/backend/job.yaml
  scripts/helm/testcenter/templates/backend/secret.yaml
  scripts/helm/testcenter/templates/cache-server/configmap.yaml
  scripts/helm/testcenter/templates/cache-server/deployment.yaml
  scripts/helm/testcenter/templates/cache-server/secret.yaml
  scripts/helm/testcenter/templates/db/deployment.yaml
  scripts/helm/testcenter/templates/db/secret.yaml
  scripts/helm/testcenter/templates/file-server/configmap-nginx.yaml
  scripts/helm/testcenter/templates/file-server/depoyment.yaml
  scripts/helm/testcenter/templates/file-server/secret.yaml
  scripts/helm/testcenter/values.yaml
  scripts/install.sh
  scripts/migration/16.0.0.sh
  test/api/test.js
  test/config.docker.json
Due: check-backend-feature-rules, check-file-service-feature-rules, build-backend, build-file-service, build-task-runner, test-backend-unit, test-backend-api, test-file-service-api, test-backend-initialization

[cache-service] Run cache service rootless
  docker-compose.yml
  scripts/helm/testcenter/templates/cache-server/deployment.yaml
Due: none

[helm] Switch file-server off
  scripts/helm/testcenter/templates/backend/configmap.yaml
  scripts/helm/testcenter/values.yaml
Due: none

[file-service] Run 'file service' container rootless
  backend/src/helper/FileService.class.php
  backend/src/helper/SystemConfig.class.php
  docker-compose.dev.yml
  docker-compose.prod.tls.yml
  docker-compose.prod.yml
  e2e/cypress.e2e.config.js
  file-service/Dockerfile
  file-service/cors.conf
  file-service/nginx.conf
  frontend/Dockerfile
  frontend/angular.json
  frontend/nginx.conf
  frontend/proxy.conf.json
  frontend/src/app/test-controller/components/unithost/unithost.component.ts
  frontend/src/app/test-controller/services/backend.service.ts
  scripts/helm/testcenter/templates/file-server/configmap.yaml
  scripts/helm/testcenter/templates/file-server/depoyment.yaml
  scripts/helm/testcenter/templates/file-server/service.yaml
  scripts/helm/testcenter/templates/traefik/ingress-route.yaml
  test/config.docker.json
Due: check-backend-feature-rules, check-e2e-feature-rules, check-file-service-feature-rules, check-frontend-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, build-task-runner, test-backend-unit, test-frontend-unit, test-backend-api, test-file-service-api, test-backend-initialization, test-e2e

add unique constraint to tests table
  backend/src/controller/SessionController.class.php
  backend/src/controller/TestController.class.php
  backend/test/unit/dao/AdminDAOTest.php
  docs/CHANGELOG.md
  sampledata/test_tt.xml
  scripts/database/patches.d/next.sql
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

Fix release search
  scripts/update.sh
Due: none

Fix 'application restarts with source version' error
  scripts/update.sh
Due: none

Run e2e test suites in parallel
  .gitlab-ci.yml
  e2e/docker-compose.system-test-headless.yml
Due: check-e2e-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, test-e2e

add customtexts in group-monitor view
  definitions/custom-texts.json
  docs/CHANGELOG.md
  docs/pages/custom-texts.md
  frontend/src/app/app-root/starter/starter.component.html
Due: check-backend-feature-rules, check-frontend-feature-rules, build-backend, build-frontend, build-task-runner, test-backend-unit, test-frontend-unit, test-backend-api, test-backend-initialization

Path conditions:
  check-backend-feature-rules: any of: backend/**/*, scripts/database/**/*, definitions/**/*
  check-broadcasting-service-feature-rules: any of: broadcasting-service/**/*
  check-common-feature-rules: any of: common/**/*
  check-e2e-feature-rules: any of: e2e/**/*
  check-file-service-feature-rules: any of: file-service/**/*
  check-frontend-feature-rules: any of: frontend/**/*
  check-task-runner-feature-rules: any of: task-runner/**/*
  build-backend: (any of: backend/**/*, scripts/database/**/*, definitions/**/*) or ((any of: task-runner/**/*) or (any of: e2e/**/*))
  build-frontend: (any of: frontend/**/*) or ((any of: common/**/*) or (any of: e2e/**/*))
  build-broadcasting-service: (any of: broadcasting-service/**/*) or ((any of: common/**/*) or (any of: e2e/**/*))
  build-file-service: (any of: file-service/**/*) or ((any of: task-runner/**/*) or (any of: e2e/**/*))
  build-e2e: any of: e2e/**/*
  build-task-runner: (any of: task-runner/**/*) or ((any of: backend/**/*, scripts/database/**/*, definitions/**/*) or (any of: file-service/**/*))
  test-backend-unit: any of: backend/**/*, scripts/database/**/*, definitions/**/*
  test-frontend-unit: (any of: frontend/**/*) or (any of: common/**/*)
  test-broadcasting-service-unit: (any of: broadcasting-service/**/*) or (any of: common/**/*)
  test-backend-api: (any of: backend/**/*, scripts/database/**/*, definitions/**/*) or (any of: task-runner/**/*)
  test-file-service-api: (any of: file-service/**/*) or (any of: task-runner/**/*)
  test-backend-initialization: any of: backend/**/*, scripts/database/**/*, definitions/**/*
  test-e2e: any of: e2e/**/*
