Repository iqb-berlin/testcenter: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend, build-frontend, build-broadcasting-service, test-backend-unit, test-frontend-unit, test-broadcasting-service-unit, test-e2e, test-backend-api

build-backend:
  stage: build
  script:
  - apk add make curl
  - curl -SL https://github.com/docker/compose/releases/download/v2.6.0/docker-compose-linux-x86_64 -o /usr/local/bin/docker-compose
  - chmod +x /usr/local/bin/docker-compose
  - make init
  - make build service=testcenter-backend
  ...

build-frontend:
  stage: build
  script:
  - apk add make curl
  - curl -SL https://github.com/docker/compose/releases/download/v2.6.0/docker-compose-linux-x86_64 -o /usr/local/bin/docker-compose
  - chmod +x /usr/local/bin/docker-compose
  - make init
  - make build service=testcenter-frontend
  ...

build-broadcasting-service:
  stage: build
  script:
  - apk add make curl
  - curl -SL https://github.com/docker/compose/releases/download/v2.6.0/docker-compose-linux-x86_64 -o /usr/local/bin/docker-compose
  - chmod +x /usr/local/bin/docker-compose
  - make init
  - make build service=testcenter-broadcasting-service
  ...

test-backend-unit:
  stage: test
  needs:
  - job: build-backend
    artifacts: true
  script:
  - apk add make docker-compose
  - make init
  - docker load -i backend_image.tar
  - make test-backend-unit

test-frontend-unit:
  stage: test
  needs:
  - job: build-frontend
    artifacts: true
  script:
  - apk add make docker-compose
  - make init-env
  - make init-frontend
  - docker load -i frontend_image.tar
  - make test-frontend-unit

test-broadcasting-service-unit:
  stage: test
  needs:
  - job: build-broadcasting-service
    artifacts: true
  script:
  - apk add make docker-compose
  - make init-env
  - docker load -i bs_image.tar
  - make test-broadcasting-service-unit

test-e2e:
  stage: test
  needs:
  - job: build-frontend
    artifacts: true
  - job: build-backend
    artifacts: true
  - job: build-broadcasting-service
    artifacts: true
  script:
  - apk add make
  - docker load -i frontend_image.tar
  - docker load -i backend_image.tar
  - docker load -i bs_image.tar
  ...

test-backend-api:
  stage: test
  needs:
  - job: build-backend
    artifacts: true
  script:
  - apk add make
  - make init
  - make test-backend-api

[attachment-manager] Make it possible to turn camera flash on when available
  frontend/src/app/attachment-manager/components/capture-image/capture-image.component.html
  frontend/src/app/attachment-manager/components/capture-image/capture-image.component.ts
Due: build-frontend, test-frontend-unit

[attachment-manager] Remove malfunctioning swap-image feature
  frontend/src/app/attachment-manager/components/capture-image/capture-image.component.css
  frontend/src/app/attachment-manager/components/capture-image/capture-image.component.html
  frontend/src/app/attachment-manager/components/capture-image/capture-image.component.ts
Due: build-frontend, test-frontend-unit

[attachment-manager] Add customtexts
  definitions/custom-texts.json
  frontend/src/app/attachment-manager/components/attachment-overview/attachment-overview.component.html
  frontend/src/app/attachment-manager/components/capture-image/capture-image.component.html
Due: build-backend, build-frontend, test-backend-unit, test-frontend-unit, test-backend-api

Update IDE settings
  .idea/php.xml
  .idea/runConfigurations/Backend_Api_Test.xml
  .idea/runConfigurations/Backend_Code_Coverage.xml
  .idea/runConfigurations/Backend_Units_Tests.xml
  .idea/runConfigurations/Frontend_Start.xml
  frontend/src/environments/environment.local.ts
Due: build-frontend, test-frontend-unit

[Frontend] Don't use environment.dev.ts in dev mode, but environment.ts.
  frontend/angular.json
Due: build-frontend, test-frontend-unit

[CI] Don't run BS tests when frontend changes where made.
  .gitlab-ci.yml
Due: none

[Backend] Store label and flags in AccessObject, not only the ID.
  backend/src/data-collection/AccessObject.class.php
  backend/src/data-collection/AccessSet.class.php
Due: build-backend, test-backend-unit, test-backend-api

[Backend] Fix initialization tests: don't install next.sql-patch when installing legacy versions of db.
  backend/src/dao/DAO.class.php
  backend/src/dao/InitDAO.class.php
  scripts/version.js
Due: build-backend, test-backend-unit, test-backend-api

Update to Version 13.0.1
  dist-src/.env
  docs/CHANGELOG.md
  package.json
  sampledata/Booklet.xml
  sampledata/Booklet2.xml
  sampledata/Booklet3.xml
  sampledata/SysCheck.xml
  sampledata/Testtakers.xml
  sampledata/Unit.xml
  sampledata/Unit2.xml
  scripts/database/mysql.patches.d/13.1.0.sql
  scripts/version.js
Due: none

[Backend] Return improved access-objects when group-monitor-session is started
  backend/src/controller/SessionController.class.php
  backend/src/dao/WorkspaceDAO.class.php
  backend/src/data-collection/AccessObject.class.php
  backend/src/data-collection/AccessSet.class.php
  backend/src/data-collection/DataCollection.class.php
  backend/src/data-collection/FileData.class.php
  backend/src/data-collection/PlayerMeta.class.php
  backend/src/files/File.class.php
Due: build-backend, test-backend-unit, test-backend-api

[Backend/Frontend] Instantly list all available AccessObjects (Tests, Workspaces etc.) instead of loading the labels separately.
  backend/src/controller/SessionController.class.php
  backend/src/dao/AdminDAO.class.php
  backend/src/data-collection/AccessSet.class.php
  backend/test/unit/dao/AdminDAOTest.php
  frontend/src/app/app-root/admin-starter/admin-starter.component.html
  frontend/src/app/app-root/admin-starter/admin-starter.component.ts
  frontend/src/app/app-root/monitor-starter/monitor-starter.component.html
  frontend/src/app/app-root/monitor-starter/monitor-starter.component.ts
  frontend/src/app/app-root/test-starter/test-starter.component.html
  frontend/src/app/app-root/test-starter/test-starter.component.ts
  frontend/src/app/app.interfaces.ts
  frontend/src/app/backend.service.ts
Due: build-backend, build-frontend, test-backend-unit, test-frontend-unit, test-backend-api

[Backend/Frontend] Remove unused functions
  backend/routes.php
  backend/src/controller/BookletController.class.php
  docs/api/booklet.spec.yml
  frontend/src/app/backend.service.ts
Due: build-backend, build-frontend, test-backend-unit, test-frontend-unit, test-backend-api

[Backend] Return correct flags for tests in accessSet (running, locked)
  backend/src/dao/SessionDAO.class.php
  backend/src/dao/WorkspaceDAO.class.php
  backend/src/data-collection/AccessSet.class.php
  backend/src/data-collection/TestData.class.php
Due: build-backend, test-backend-unit, test-backend-api

[Frontend] Refactor accessObject related interfaces and save a lot of LOC
  frontend/src/app/app-root/admin-starter/admin-starter.component.ts
  frontend/src/app/app-root/monitor-starter/monitor-starter.component.html
  frontend/src/app/app-root/monitor-starter/monitor-starter.component.ts
  frontend/src/app/app-root/status-card/status-card.component.ts
  frontend/src/app/app-root/test-starter/test-starter.component.ts
  frontend/src/app/app-route-guards.ts
  frontend/src/app/app.interfaces.ts
  frontend/src/app/backend.service.ts
Due: build-frontend, test-frontend-unit

[Frontend] Save calls and LOC by retrieving the Workspace/Monitor-Labels from the accessObject instead by a separate backend call.
  frontend/src/app/app.interfaces.ts
  frontend/src/app/attachment-manager/components/attachment-manager/attachment-manager.component.html
  frontend/src/app/attachment-manager/components/attachment-manager/attachment-manager.component.ts
  frontend/src/app/attachment-manager/interfaces/users.interfaces.ts
  frontend/src/app/attachment-manager/services/backend/backend.service.ts
  frontend/src/app/group-monitor/backend.service.ts
  frontend/src/app/group-monitor/group-monitor.component.html
  frontend/src/app/group-monitor/group-monitor.component.spec.ts
  frontend/src/app/group-monitor/group-monitor.component.ts
  frontend/src/app/group-monitor/group-monitor.interfaces.ts
  frontend/src/app/group-monitor/test-session-manager/test-session-manager.service.spec.ts
  frontend/src/app/shared/services/maindata/maindata.service.ts
  frontend/src/app/workspace-admin/backend.service.ts
  frontend/src/app/workspace-admin/workspace.component.ts
Due: build-frontend, test-frontend-unit

[Backend] Return the list of available tests correctly in accessObject.
  backend/src/dao/SessionDAO.class.php
  backend/src/data-collection/AccessSet.class.php
Due: build-backend, test-backend-unit, test-backend-api

Include deprecated Access-format in AuthData to avoid breaking changes.
  backend/src/data-collection/AccessSet.class.php
  frontend/src/app/app-root/admin-starter/admin-starter.component.ts
  frontend/src/app/app-root/monitor-starter/monitor-starter.component.ts
  frontend/src/app/app-root/status-card/status-card.component.ts
  frontend/src/app/app-root/test-starter/test-starter.component.ts
  frontend/src/app/app-route-guards.ts
  frontend/src/app/app.interfaces.ts
  frontend/src/app/shared/services/maindata/maindata.service.ts
Due: build-backend, build-frontend, test-backend-unit, test-frontend-unit, test-backend-api

Mark deprecated format in AuthData and deprecated endpoints.
  .gitignore
  backend/routes.php
  backend/src/controller/BookletController.class.php
  backend/src/controller/MonitorController.class.php
  backend/src/controller/SessionController.class.php
  backend/src/controller/WorkspaceController.class.php
  backend/src/data-collection/AccessSet.class.php
  backend/test/unit/data-collection/SessionTest.php
  docs/CHANGELOG.md
  docs/api/@components.spec.yml
  docs/api/booklet.spec.yml
  docs/api/monitor.spec.yml
  docs/api/session.spec.yml
  docs/api/workspace.spec.yml
Due: build-backend, test-backend-unit, test-backend-api

[Backend] Move DAOs out of AccessSet class and fix all the unit tests.
  .editorconfig
  backend/src/controller/SessionController.class.php
  backend/src/dao/AdminDAO.class.php
  backend/src/data-collection/AccessSet.class.php
  backend/src/data-collection/Admin.class.php
  backend/src/data-collection/WorkspaceData.class.php
  backend/test/unit/controller/SessionControllerTest.php
  backend/test/unit/controller/WorkspaceControllerTest.php
  backend/test/unit/dao/AdminDAOTest.php
  backend/test/unit/dao/WorkspaceDAOTest.php
  backend/test/unit/data-collection/SessionTest.php
  backend/test/unit/files/FileTest.php
  backend/test/unit/files/ResourceFileTest.php
  backend/test/unit/files/XMLFileSysCheckTest.php
  backend/test/unit/files/XMLFileTest.php
  backend/test/unit/files/XMLFilesBookletTest.php
  backend/test/unit/files/XMLFilesTesttakersTest.php
  backend/test/unit/files/XMLFilesUnitTest.php
  backend/test/unit/workspace/BookletsFolderTest.php
  backend/test/unit/workspace/SysChecksFolderTest.php
  backend/test/unit/workspace/WorkspaceTest.php
  backend/test/unit/workspace/WorkspaceValidatorTest.php
Due: build-backend, test-backend-unit, test-backend-api

Fix update Script
  dist-src/update.sh
Due: none

Update README.md
  README.md
Due: none

Update changelog
  docs/CHANGELOG.md
Due: none

Update to Version 13.2.0
  docs/CHANGELOG.md
  package.json
  sampledata/Booklet.xml
  sampledata/Booklet2.xml
  sampledata/Booklet3.xml
  sampledata/SysCheck.xml
  sampledata/Testtakers.xml
  sampledata/Unit.xml
  sampledata/Unit2.xml
Due: none

Change labels according to resolution: Distinct between Testees and Administrators and use full german form when possible, otherwise abbreviated form.
  definitions/mode-options.json
  e2e/backup/cypress/e2e/superadmin.cy.ts
  frontend/src/app/superadmin/superadmin.component.ts
  frontend/src/app/superadmin/users/newpassword/new-password.component.html
  frontend/src/app/superadmin/users/newuser/new-user.component.html
  frontend/src/app/superadmin/users/users.component.html
  frontend/src/app/superadmin/users/users.component.ts
  frontend/src/app/superadmin/workspaces/workspaces.component.html
Due: build-backend, build-frontend, build-broadcasting-service, test-backend-unit, test-frontend-unit, test-e2e, test-backend-api

Update CHANGELOG.md
  docs/CHANGELOG.md
Due: none

Create .env
  dist-src/.env
Due: none

[Backend] Add missing dependencies to unit tests
  backend/test/unit/controller/WorkspaceControllerTest.php
  backend/test/unit/dao/WorkspaceDAOTest.php
  backend/test/unit/files/FileTest.php
  backend/test/unit/files/ResourceFileTest.php
  backend/test/unit/workspace/WorkspaceTest.php
  backend/test/unit/workspace/WorkspaceValidatorTest.php
Due: build-backend, test-backend-unit, test-backend-api

[Backend] Fix adding workspaces after re-init (in development)
  backend/initialize.php
  backend/src/dao/InitDAO.class.php
Due: build-backend, test-backend-unit, test-backend-api

[Backend] Basic implementation of GetFiles from DB
  backend/src/controller/WorkspaceController.class.php
  backend/src/dao/DAO.class.php
  backend/src/dao/WorkspaceDAO.class.php
  backend/src/data-collection/FileData.class.php
  backend/src/data-collection/FileRelation.class.php
  backend/src/data-collection/FileSpecialInfo.class.php
  backend/src/files/File.class.php
  backend/src/files/ResourceFile.class.php
  backend/src/files/XMLFile.class.php
  backend/src/files/XMLFileBooklet.class.php
  backend/src/files/XMLFileSysCheck.class.php
  backend/src/files/XMLFileTesttakers.class.php
  backend/src/files/XMLFileUnit.class.php
  backend/src/helper/TestEnvironment.class.php
  backend/src/workspace/SysChecksFolder.class.php
  backend/src/workspace/Workspace.class.php
  backend/src/workspace/WorkspaceValidator.class.php
  backend/src/workspace/WorkspaceValidatorDb.class.php
  backend/src/workspace/WorkspaceValidatorFs.class.php
  scripts/database/mysql.patches.d/next.sql
Due: build-backend, test-backend-unit, test-backend-api

[Backend] Add size and modificationTime to files-table
  backend/src/dao/WorkspaceDAO.class.php
  backend/src/data-collection/FileData.class.php
  backend/src/files/File.class.php
  backend/src/files/ResourceFile.class.php
  backend/src/workspace/WorkspaceValidatorDb.class.php
  scripts/database/mysql.patches.d/next.sql
Due: build-backend, test-backend-unit, test-backend-api

[Backend] Restore previous validator-class. Read files from Fs when initializing, and from DB when output.
  backend/src/controller/WorkspaceController.class.php
  backend/src/workspace/Workspace.class.php
  backend/src/workspace/WorkspaceValidator.class.php
  backend/src/workspace/WorkspaceValidatorDb.class.php
  backend/src/workspace/WorkspaceValidatorFs.class.php
Due: build-backend, test-backend-unit, test-backend-api

[Backend] Store invalid files in DB as well
  backend/src/controller/WorkspaceController.class.php
  backend/src/files/File.class.php
  backend/src/files/XMLFileUnit.class.php
  backend/src/workspace/Workspace.class.php
Due: build-backend, test-backend-unit, test-backend-api

[Backend] Redesign the validation before file deletion
  backend/src/controller/WorkspaceController.class.php
  backend/src/dao/WorkspaceDAO.class.php
  backend/src/workspace/Workspace.class.php
Due: build-backend, test-backend-unit, test-backend-api

[Backend] Refactor file deletion to check references only in DB
  backend/src/dao/WorkspaceDAO.class.php
  backend/src/workspace/Workspace.class.php
Due: build-backend, test-backend-unit, test-backend-api

[Backend] Refactor file upload to check references only in DB
  backend/src/dao/WorkspaceDAO.class.php
  backend/src/files/File.class.php
  backend/src/workspace/Workspace.class.php
Due: build-backend, test-backend-unit, test-backend-api

[Backend] Remove redundant usedBy property of File
  backend/src/files/File.class.php
  backend/src/files/XMLFileBooklet.class.php
  backend/src/files/XMLFileSysCheck.class.php
  backend/src/files/XMLFileTesttakers.class.php
  backend/src/files/XMLFileUnit.class.php
  backend/src/workspace/Workspace.class.php
Due: build-backend, test-backend-unit, test-backend-api

[Backend] Don't fetch relations from DB, when fetching file, since it's never needed
  backend/src/dao/WorkspaceDAO.class.php
  backend/src/files/File.class.php
  backend/src/workspace/Workspace.class.php
  backend/test/unit/dao/WorkspaceDAOTest.php
Due: build-backend, test-backend-unit, test-backend-api

Update environment.dev.ts
  frontend/src/environments/environment.dev.ts
Due: build-frontend, test-frontend-unit

Update installation-dev.md
  docs/pages/installation-dev.md
Due: none

Path conditions:
  build-backend: (any of: backend/**/*, database/**/*, definitions/**/*) or (any of: e2e/**/*)
  build-frontend: (any of: frontend/**/*, common/**/*) or (any of: e2e/**/*)
  build-broadcasting-service: (any of: broadcasting-service/**/*, common/**/*) or (any of: e2e/**/*)
  test-backend-unit: any of: backend/**/*, database/**/*, definitions/**/*
  test-frontend-unit: any of: frontend/**/*, common/**/*
  test-broadcasting-service-unit: any of: broadcasting-service/**/*, common/**/*
  test-e2e: any of: e2e/**/*
  test-backend-api: any of: backend/**/*, database/**/*, definitions/**/*
