Repository iqb-berlin/testcenter: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend, build-frontend, build-broadcasting-service, test-backend-unit, test-frontend-unit, test-broadcasting-service-unit, test-e2e, test-backend-api

Path conditions:
  build-backend: (any of: backend/**/*, database/**/*, definitions/**/*) or (any of: e2e/**/*)
  build-frontend: (any of: frontend/**/*, common/**/*) or (any of: e2e/**/*)
  build-broadcasting-service: (any of: broadcasting-service/**/*, common/**/*) or (any of: e2e/**/*)
  test-backend-unit: any of: backend/**/*, database/**/*, definitions/**/*
  test-frontend-unit: any of: frontend/**/*, common/**/*
  test-broadcasting-service-unit: any of: broadcasting-service/**/*, common/**/*
  test-e2e: any of: e2e/**/*
  test-backend-api: any of: backend/**/*, database/**/*, definitions/**/*

Improve installer/updater
  dist-src/Makefile
  dist-src/install.sh
  dist-src/manage.sh
Due: none

Add IDE settings and remove ignored e2e result file
  .idea/runConfigurations.xml
  .idea/sqldialects.xml
  e2e/cypress/results/output.xml
Due: build-backend, build-frontend, build-broadcasting-service, test-e2e

Add tests back in
  .gitlab-ci.yml
Due: none

[Group-Monitor] Don't show GroupMonitor itself in list of running sessions.
  backend/src/controller/SessionController.class.php
Due: build-backend, test-backend-unit, test-backend-api

[System-Tests] Fix paths in compose-file
  docker/docker-compose.system-test-ui.yml
Due: none

Update new Version to not create the tarball anymore
  scripts/version.js
Due: none

Update to Version 13.0.0-alpha
  CHANGELOG.md
  dist-src/.env
  docs/dist/api/specs.yml
  package.json
  sampledata/Booklet.xml
  sampledata/Booklet2.xml
  sampledata/Booklet3.xml
  sampledata/SysCheck.xml
  sampledata/Testtakers.xml
  sampledata/Unit.xml
  sampledata/Unit2.xml
Due: none

Add missing mount in compose file for task "create-interfaces"
  docker/docker-compose.dev.yml
Due: none

Remove mounts in task-runner
  docker/docker-compose.dev.yml
Due: none

Fix tests
  broadcasting-service/src/common/websocket.gateway.spec.ts
Due: build-broadcasting-service, test-broadcasting-service-unit

Fix runtime configurations (IDE Settings)
  .idea/runConfigurations/Broadcasting_Service_Unit_Test___locally.xml
Due: none

[Backend/Unit-Tests] Move SQL-Schema for unit-test-db to backend folder, so that it works both, dockerized and locally.
  backend/src/helper/TestEnvironment.class.php
  backend/test/unit/dao/AdminDAOTest.php
  backend/test/unit/dao/DAOTest.php
  backend/test/unit/dao/SessionDAOTest.php
  backend/test/unit/dao/SuperAdminDAOTest.php
  backend/test/unit/dao/TestDAOTest.php
  backend/test/unit/dao/WorkspaceDAOTest.php
  backend/test/unit/database.sql
Due: build-backend, test-backend-unit, test-backend-api

[Backend] Add database.sql which was accidentally forgotten before
  .idea/sqldialects.xml
  backend/test/database.sql
Due: build-backend, test-backend-unit, test-backend-api

Update CI script
  .gitlab-ci.yml
Due: none

add pages job
  .gitlab-ci.yml
Due: none

Add environment.ts for local (undockerized) development.
  .gitignore
  frontend/angular.json
  frontend/src/environments/environment.local.ts
Due: build-frontend, test-frontend-unit

Add don't commit environment.local.ts
  .gitignore
Due: none

Add entry for local development in angular.json
  frontend/angular.json
Due: build-frontend, test-frontend-unit

[Attachment-Manager] Error when there is no camera
  frontend/src/app/attachment-manager/components/capture-image/capture-image.component.html
  frontend/src/app/attachment-manager/components/capture-image/capture-image.component.ts
Due: build-frontend, test-frontend-unit

generate docs
  .gitlab-ci.yml
  docs/Gemfile
  docs/Gemfile.lock
  docs/index.md
Due: none

docs2
  .gitlab-ci.yml
Due: none

[e2e] Fix package.json
  e2e/package.json
Due: build-backend, build-frontend, build-broadcasting-service, test-e2e

Fix e2e package file
  e2e/package.json
Due: build-backend, build-frontend, build-broadcasting-service, test-e2e

Fix path of database-scripts inside of container to be the same as outside in order to restore local developments.
  backend/initialize.php
  docker/backend.Dockerfile
  docker/docker-compose.dev.yml
  docker/docker-compose.system-test-headless.yml
Due: build-backend, test-backend-unit, test-backend-api

Fix path in Maketarget
  scripts/make/misc.mk
Due: none

Hardcode CSV table columns to avoid expensive CSV::collectColumnNamesFromHeterogeneousObjects function. Those objects are from the db and are actually not heterogeneous.
  backend/src/workspace/Report.php
Due: build-backend, test-backend-unit, test-backend-api

Put backend config files, which should not be checked in on .gitignore
  .gitignore
Due: none

Regenerate package-lock files
  e2e/package-lock.json
  package-lock.json
Due: build-backend, build-frontend, build-broadcasting-service, test-e2e

Fix path for e2e testing
  docker/docker-compose.system-test-headless.yml
Due: none

Separate test commands for creating coverage reports or not
  scripts/make/test.mk
Due: none

Add schemeType attribute to unit.xml definition
  definitions/vo_Unit.xsd
Due: build-backend, test-backend-unit, test-backend-api

Modify Dependency definition in unit.xsd
  definitions/vo_Unit.xsd
Due: build-backend, test-backend-unit, test-backend-api

Extend unit.xsd
  definitions/vo_Unit.xsd
Due: build-backend, test-backend-unit, test-backend-api

Mount src to frontend in system-test mode
  docker/docker-compose.system-test-headless.yml
  docker/docker-compose.system-test-ui.yml
Due: none

Extend Unit Definition: - Add Variable-Lists - Extend Dependency-Type - Add link to schemer
  definitions/vo_Unit.xsd
Due: build-backend, test-backend-unit, test-backend-api

Add new Unit-Defintion features to examples and fixup unit-tests.
  backend/src/files/XMLFileUnit.class.php
  definitions/vo_Unit.xsd
  sampledata/Unit.xml
  sampledata/Unit2.xml
Due: build-backend, test-backend-unit, test-backend-api
