Repository iqb-berlin/testcenter: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-backend-feature-rules, check-broadcasting-service-feature-rules, check-common-feature-rules, check-e2e-feature-rules, check-file-service-feature-rules, check-frontend-feature-rules, check-task-runner-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, build-task-runner, test-backend-unit, test-frontend-unit, test-broadcasting-service-unit, test-backend-api, test-file-service-api, test-backend-initialization, test-e2e

Path conditions:
  check-backend-feature-rules: any of: backend/**/*, scripts/database/**/*, definitions/**/*
  check-broadcasting-service-feature-rules: any of: broadcasting-service/**/*
  check-common-feature-rules: any of: common/**/*
  check-e2e-feature-rules: any of: e2e/**/*
  check-file-service-feature-rules: any of: file-service/**/*
  check-frontend-feature-rules: any of: frontend/**/*
  check-task-runner-feature-rules: any of: task-runner/**/*
  build-backend: (any of: backend/**/*, scripts/database/**/*, definitions/**/*) or ((any of: task-runner/**/*) or (any of: e2e/**/*))
  build-frontend: (any of: frontend/**/*) or ((any of: common/**/*) or (any of: e2e/**/*))
  build-broadcasting-service: (any of: broadcasting-service/**/*) or ((any of: common/**/*) or (any of: e2e/**/*))
  build-file-service: (any of: file-service/**/*) or ((any of: task-runner/**/*) or (any of: e2e/**/*))
  build-e2e: any of: e2e/**/*
  build-task-runner: (any of: task-runner/**/*) or ((any of: backend/**/*, scripts/database/**/*, definitions/**/*) or (any of: file-service/**/*))
  test-backend-unit: any of: backend/**/*, scripts/database/**/*, definitions/**/*
  test-frontend-unit: (any of: frontend/**/*) or (any of: common/**/*)
  test-broadcasting-service-unit: (any of: broadcasting-service/**/*) or (any of: common/**/*)
  test-backend-api: (any of: backend/**/*, scripts/database/**/*, definitions/**/*) or (any of: task-runner/**/*)
  test-file-service-api: (any of: file-service/**/*) or (any of: task-runner/**/*)
  test-backend-initialization: any of: backend/**/*, scripts/database/**/*, definitions/**/*
  test-e2e: any of: e2e/**/*

Demo-Mode: The displayed group should not contain any answers.
  e2e/src/e2e/Test-Controller/demo.cy.ts
Due: check-e2e-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, test-e2e

Reduce block time for faster testing
  backend/src/workspace/WorkspaceInitializer.class.php
  e2e/src/e2e/Test-Controller/time-restrictions.cy.ts
  sampledata/system-test/CY_BKL_TimeRestriction.xml
  sampledata/system-test/CY_Test_Logins.xml
Due: check-backend-feature-rules, check-e2e-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization, test-e2e

fix System-Check e2e
  backend/src/workspace/WorkspaceInitializer.class.php
  e2e/src/e2e/Session-Management/testtakers-content.cy.ts
  e2e/src/e2e/Sys-Check/sys-check.cy.ts
  e2e/src/e2e/Workspace-Admin/files.cy.ts
  e2e/src/e2e/utils.ts
  e2e/src/fixtures/invalid_SysCheck.xml
  frontend/src/app/sys-check/report/report.component.html
  sampledata/system-test/CY_SysCheck_2.xml
Due: check-backend-feature-rules, check-e2e-feature-rules, check-frontend-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, build-task-runner, test-backend-unit, test-frontend-unit, test-backend-api, test-backend-initialization, test-e2e

refactor e2e
  e2e/src/e2e/Booklet-Config/defaults.cy.ts
  e2e/src/e2e/Booklet-Config/value-1.cy.ts
  e2e/src/e2e/Booklet-Config/value-2.cy.ts
  e2e/src/e2e/Group-Monitor/Checking elementary functionality.cy.ts
  e2e/src/e2e/Group-Monitor/profiles-and-filter.cy.ts
  e2e/src/e2e/Session-Management/hot-restart-mode.cy.ts
  e2e/src/e2e/Session-Management/hot-return-mode.cy.ts
  e2e/src/e2e/Session-Management/login-possibilities.cy.ts
  e2e/src/e2e/Session-Management/login-sink.cy.ts
  e2e/src/e2e/Session-Management/testtakers-content.cy.ts
  e2e/src/e2e/Session-Management/time-limited access.cy.ts
  e2e/src/e2e/Super-Admin/settings.cy.ts
  e2e/src/e2e/Super-Admin/user-management.cy.ts
  e2e/src/e2e/Super-Admin/workspace-management.cy.ts
  e2e/src/e2e/Sys-Check/sys-check.cy.ts
  e2e/src/e2e/Test-Controller/adaptivity.cy.ts
  e2e/src/e2e/Test-Controller/demo.cy.ts
  e2e/src/e2e/Test-Controller/hot-restart.cy.ts
  e2e/src/e2e/Test-Controller/hot-return.cy.ts
  e2e/src/e2e/Test-Controller/regression-test-last-unit-state.cy.ts
  e2e/src/e2e/Test-Controller/review.cy.ts
  e2e/src/e2e/Test-Controller/time-restrictions.cy.ts
  e2e/src/e2e/Workspace-Admin/files.cy.ts
  e2e/src/e2e/Workspace-Admin/misc.cy.ts
  e2e/src/e2e/Workspace-Admin/results.cy.ts
  e2e/src/e2e/study-monitor.cy.ts
  e2e/src/e2e/utils.ts
Due: check-e2e-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, test-e2e

update Changelog
  docs/CHANGELOG.md
Due: none

Update to version 17.0.0
  package.json
  sampledata/Booklet.xml
  sampledata/Booklet2.xml
  sampledata/Booklet3.xml
  sampledata/SysCheck.xml
  sampledata/Testtakers.xml
  sampledata/Unit.xml
  sampledata/Unit2.xml
  sampledata/system-test/CY_BKL_Mode_Demo.xml
  sampledata/system-test/CY_BKL_Mode_Review.xml
  sampledata/system-test/CY_BKL_Mode_RunHotRestart.xml
  sampledata/system-test/CY_BKL_Mode_RunHotReturn.xml
  sampledata/system-test/CY_BKL_SessionManagement_HotModi.xml
  sampledata/system-test/CY_Test_Logins.xml
  sampledata/system-test/CY_Unit100.xml
  sampledata/system-test/CY_Unit101.xml
  sampledata/system-test/CY_Unit102.xml
  sampledata/system-test/CY_Unit103.xml
  sampledata/system-test/CY_Unit104.xml
  scripts/helm/helm-install-tc.sh
  scripts/helm/testcenter/Chart.yaml
Due: none

add content as json_encode in testlogs and unitlogs
  backend/src/controller/TestController.class.php
  backend/src/data-collection/UnitLog.php
  backend/test/unit/dao/TestDAOTest.php
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

fix unit tests after rebase
  backend/src/dao/TestDAO.class.php
  backend/test/unit/dao/TestDAOTest.php
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

adding unitlogs in batches
  backend/src/controller/TestController.class.php
  backend/src/dao/InitDAO.class.php
  backend/src/dao/TestDAO.class.php
  backend/src/data-collection/UnitLog.php
  backend/test/unit/dao/TestDAOTest.php
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

update CHANGELOG.md
  docs/CHANGELOG.md
Due: none

build file-server ressources only if fs is enabled for backend
  scripts/helm/testcenter/templates/file-server/configmap-nginx.yaml
  scripts/helm/testcenter/templates/file-server/secret.yaml
Due: none

[cache-service] Run cache service rootless
  docker-compose.yml
  scripts/helm/testcenter/templates/cache-server/deployment.yaml
Due: none

Backend: fix message
  backend/src/dao/SessionDAO.class.php
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

run backend dev container as www-data
  backend/Dockerfile
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

refactor un/lockTest
  backend/src/dao/TestDAO.class.php
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

Revise make command for scanning images
  Makefile
  scripts/make/misc.mk
  scripts/make/scan.mk
Due: none

[cache-service] Switch off persistence
  docker-compose.yml
  scripts/helm/testcenter/templates/cache-server/deployment.yaml
  scripts/helm/testcenter/templates/cache-server/persistent-volume-claim.yaml
  scripts/helm/testcenter/values.yaml
Due: none

improve data-pull/push commands
  scripts/make/dev.mk
Due: none

fix regression-test
  e2e/src/e2e/Test-Controller/regression-test-last-unit-state.cy.ts
Due: check-e2e-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, test-e2e

Make File Server deployment optional
  scripts/helm/testcenter/templates/file-server/configmap.yaml
  scripts/helm/testcenter/templates/file-server/depoyment.yaml
  scripts/helm/testcenter/templates/file-server/service.yaml
  scripts/helm/testcenter/templates/traefik/ingress-route.yaml
Due: none

Backend: Show correct error of applying a patch fails when creating test environment
  backend/src/helper/TestEnvironment.class.php
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

Use 'volumes_from' backend for file-service
  docker-compose.dev.yml
  docker-compose.prod.tls.yml
  docker-compose.prod.yml
  docker-compose.yml
  file-service/nginx.conf
  scripts/helm/testcenter/templates/file-server/configmap.yaml
Due: check-file-service-feature-rules, build-file-service, build-task-runner, test-file-service-api

[cache-service] Enable redis port configuration
  backend/src/helper/CacheService.class.php
  backend/src/helper/SystemConfig.class.php
  backend/test/initialization/docker-compose.initialization-test.yml
  docker-compose.yml
  file-service/auth/redis_connector.lua
  file-service/nginx.conf
  scripts/helm/testcenter/templates/backend/job.yaml
  scripts/helm/testcenter/templates/file-server/configmap-nginx.yaml
  scripts/helm/testcenter/templates/file-server/depoyment.yaml
Due: check-backend-feature-rules, check-file-service-feature-rules, build-backend, build-file-service, build-task-runner, test-backend-unit, test-backend-api, test-file-service-api, test-backend-initialization

add make commands to work locally with data folder
  Makefile
  scripts/make/dev.mk
Due: none

enable file_service_enabled in .env
  .env.dev-template
  .env.prod-template
  scripts/helm/testcenter/values.yaml
Due: none

adding testlogs in batches
  backend/src/controller/MonitorController.class.php
  backend/src/controller/TestController.class.php
  backend/src/dao/InitDAO.class.php
  backend/src/dao/TestDAO.class.php
  backend/src/data-collection/TestLog.class.php
  backend/test/unit/dao/TestDAOTest.php
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

[setup] Revise version 17.0.0 migration script
  scripts/migration/17.0.0.sh
Due: none

fix helm scripts
  scripts/helm/helm-install-tc.sh
  scripts/helm/helm-uninstall-tc.sh
Due: none

Backend: Create Unit if not exists when saving unit review.
  backend/src/dao/TestDAO.class.php
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

rename environment properties
  .env.dev-template
  .env.prod-template
  backend/src/helper/SystemConfig.class.php
  backend/test/initialization/docker-compose.initialization-test.yml
  docker-compose.yml
  file-service/auth/content.lua
  file-service/auth/redis_connector.lua
  file-service/nginx.conf
  scripts/helm/testcenter/templates/backend/configmap.yaml
  scripts/helm/testcenter/templates/backend/job.yaml
  scripts/helm/testcenter/templates/cache-server/deployment.yaml
  scripts/helm/testcenter/templates/file-server/configmap-nginx.yaml
  scripts/helm/testcenter/templates/file-server/configmap.yaml
  scripts/helm/testcenter/templates/file-server/depoyment.yaml
  scripts/helm/testcenter/values.yaml
  scripts/migration/16.0.0.sh
  test/docker-compose.api-test.yml
Due: check-backend-feature-rules, check-file-service-feature-rules, build-backend, build-file-service, build-task-runner, test-backend-unit, test-backend-api, test-file-service-api, test-backend-initialization

Run backend containers with 'www-data' user in production
  backend/Dockerfile
  scripts/helm/testcenter/templates/backend/deployment.yaml
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

fix minor rootless errors caused by rebasing
  docker-compose.yml
  scripts/helm/testcenter/templates/file-server/configmap-nginx.yaml
Due: none

Run backend with port '8080' for ordinary user processes
  backend/Dockerfile
  backend/config/vhost.conf
  backend/src/helper/FileService.class.php
  docker-compose.dev.yml
  docker-compose.prod.tls.yml
  docker-compose.prod.yml
  docker-compose.yml
  e2e/cypress.headless.config.js
  frontend/Dockerfile
  frontend/angular.json
  frontend/nginx.conf
  frontend/proxy.conf.json
  frontend/src/environments/environment.system-test.ts
  scripts/helm/testcenter/templates/backend/deployment.yaml
  scripts/helm/testcenter/templates/backend/job.yaml
  scripts/helm/testcenter/templates/backend/service.yaml
  scripts/helm/testcenter/templates/broadcasting/deployment.yaml
  scripts/helm/testcenter/templates/cache-server/deployment.yaml
  scripts/helm/testcenter/templates/db/deployment.yaml
  scripts/helm/testcenter/templates/db/service.yaml
  scripts/helm/testcenter/templates/file-server/depoyment.yaml
  scripts/helm/testcenter/templates/frontend/deployment.yaml
  scripts/helm/testcenter/templates/traefik/ingress-route.yaml
  scripts/helm/testcenter/values.yaml
  test/config.docker.json
Due: check-backend-feature-rules, check-e2e-feature-rules, check-frontend-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, build-task-runner, test-backend-unit, test-frontend-unit, test-backend-api, test-backend-initialization, test-e2e

remove unnecessary chown access of root mounted volumes
  backend/entrypoint.sh
  backend/initialize_only.sh
  scripts/helm/testcenter/templates/backend/deployment.yaml
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

use frontend server as reverse proxy to file service
  backend/src/helper/FileService.class.php
  backend/src/helper/SystemConfig.class.php
  docker-compose.dev.yml
  docker-compose.prod.tls.yml
  docker-compose.prod.yml
  file-service/Dockerfile
  file-service/cors.conf
  frontend/Dockerfile
  frontend/nginx.conf
  frontend/proxy.conf.json
  frontend/src/app/test-controller/components/unithost/unithost.component.ts
  frontend/src/app/test-controller/services/backend.service.ts
  scripts/helm/testcenter/templates/traefik/ingress-route.yaml
Due: check-backend-feature-rules, check-file-service-feature-rules, check-frontend-feature-rules, build-backend, build-frontend, build-file-service, build-task-runner, test-backend-unit, test-frontend-unit, test-backend-api, test-file-service-api, test-backend-initialization

bump xsd reference in test-system files (after rebase)
  sampledata/system-test/CY_BKL_Config_default.xml
  sampledata/system-test/CY_BKL_Config_value-1.xml
  sampledata/system-test/CY_BKL_Config_value-2.xml
  sampledata/system-test/CY_BKL_Config_value-3.xml
Due: none

Backend: Tidy up and linting
  backend/src/controller/TestController.class.php
  backend/src/dao/TestDAO.class.php
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

[backend] Enhance update strategy
  scripts/helm/testcenter/values.yaml
Due: none
