Repository iqb-berlin/testcenter: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend, build-frontend, build-broadcasting-service, test-backend-unit, test-frontend-unit, test-broadcasting-service-unit, test-e2e, test-backend-api

build-backend:
  stage: build
  script:
  - apk add make curl
  - curl -SL https://github.com/docker/compose/releases/download/v2.6.0/docker-compose-linux-x86_64 -o /usr/local/bin/docker-compose
  - chmod +x /usr/local/bin/docker-compose
  - make init
  - make build service=testcenter-backend
  ...

build-frontend:
  stage: build
  script:
  - apk add make curl
  - curl -SL https://github.com/docker/compose/releases/download/v2.6.0/docker-compose-linux-x86_64 -o /usr/local/bin/docker-compose
  - chmod +x /usr/local/bin/docker-compose
  - make init
  - make build service=testcenter-frontend
  ...

build-broadcasting-service:
  stage: build
  script:
  - apk add make curl
  - curl -SL https://github.com/docker/compose/releases/download/v2.6.0/docker-compose-linux-x86_64 -o /usr/local/bin/docker-compose
  - chmod +x /usr/local/bin/docker-compose
  - make init
  - make build service=testcenter-broadcasting-service
  ...

test-backend-unit:
  stage: test
  needs:
  - job: build-backend
    artifacts: true
  script:
  - apk add make docker-compose
  - make init
  - docker load -i backend_image.tar
  - make test-backend-unit

test-frontend-unit:
  stage: test
  needs:
  - job: build-frontend
    artifacts: true
  script:
  - apk add make docker-compose
  - make init-env
  - make init-frontend
  - docker load -i frontend_image.tar
  - make test-frontend-unit

test-broadcasting-service-unit:
  stage: test
  needs:
  - job: build-broadcasting-service
    artifacts: true
  script:
  - apk add make docker-compose
  - make init-env
  - docker load -i bs_image.tar
  - make test-broadcasting-service-unit

test-e2e:
  stage: test
  needs:
  - job: build-frontend
    artifacts: true
  - job: build-backend
    artifacts: true
  - job: build-broadcasting-service
    artifacts: true
  script:
  - apk add make
  - docker load -i frontend_image.tar
  - docker load -i backend_image.tar
  - docker load -i bs_image.tar
  ...

test-backend-api:
  stage: test
  needs:
  - job: build-backend
    artifacts: true
  script:
  - apk add make
  - make init
  - make test-backend-api

CI: run e2e tests also on frontend change
  .gitlab-ci.yml
Due: none

CI: Fix missing API documentation
  .gitlab-ci.yml
  README.md
Due: none

Rework installer and updater to not depend on jq
  dist-src/install.sh
  dist-src/manage.sh
Due: none

Add test patch file
  dist-src/patch.sh
Due: none

Rename script from manage to update
  dist-src/update.sh
Due: none

Fix updater to actually download files
  dist-src/update.sh
Due: none

Improve install script
  dist-src/install.sh
Due: none

Improve install documentation
  docs/pages/installation-prod.md
Due: none

Fix paths for new-version script
  docker/docker-compose.dev.yml
  scripts/version.js
Due: none

Update Version-Nr to 13.0.0-rc.3
  dist-src/.env
  docs/CHANGELOG.md
  package.json
  sampledata/Booklet.xml
  sampledata/Booklet2.xml
  sampledata/Booklet3.xml
  sampledata/SysCheck.xml
  sampledata/Testtakers.xml
  sampledata/Unit.xml
  sampledata/Unit2.xml
Due: none

Fix Updater script
  dist-src/update.sh
Due: none

Fix installer to use update.sh instead of manage.sh
  dist-src/install.sh
Due: none

Add backup mechanism to updater
  dist-src/update.sh
Due: none

[Definitions] unit.xsd: <Value> shall have <value> and <label> as content, not a string. #161
  definitions/vo_Unit.xsd
  sampledata/Unit.xml
Due: build-backend, test-backend-unit, test-backend-api

[Definitions] unit.xsd: @format of <Variable> should have less restrictions (and can be empty)
  definitions/vo_Unit.xsd
Due: build-backend, test-backend-unit, test-backend-api

[Definitions] make order of elements under <root> not matter
  definitions/vo_Unit.xsd
Due: build-backend, test-backend-unit, test-backend-api

[Frontend] move tooltip-positions of buttons to below to not overlay the tabs.
  frontend/src/app/workspace-admin/results/results.component.html
  frontend/src/app/workspace-admin/syscheck/syscheck.component.html
Due: build-frontend, test-frontend-unit

[Frontend] Fix the possibility to unpause a test by restarting it from the unit menu.
  frontend/src/app/test-controller/services/test-controller.service.ts
Due: build-frontend, test-frontend-unit

[Backend] Improve return messages when wring schema link was provided in XML.
  backend/src/files/XMLFile.class.php
Due: build-backend, test-backend-unit, test-backend-api

[Backend] Allow <file> equivalent to <File> as it was introduced before as <file>.
  backend/src/files/XMLFileUnit.class.php
  definitions/vo_Unit.xsd
Due: build-backend, test-backend-unit, test-backend-api

[Frontend] Reset app error-state after closing error box.
  frontend/src/app/app.component.ts
Due: build-frontend, test-frontend-unit

[Frontend] Remove bogus and complete useless localStorage-functionality.
  frontend/src/app/app-route-guards.ts
  frontend/src/app/app.component.ts
  frontend/src/app/app.interceptor.ts
  frontend/src/app/group-monitor/booklet/booklet.service.ts
  frontend/src/app/shared/classes/app.config.ts
  frontend/src/app/shared/interfaces/app-config.interfaces.ts
  frontend/src/app/shared/services/maindata/maindata.service.ts
  frontend/src/app/test-controller/components/test-controller/test-controller.component.ts
  frontend/src/app/test-controller/components/test-status/test-status.component.ts
  frontend/src/app/test-controller/components/unithost/unithost.component.ts
  frontend/src/app/test-controller/routing/unit-activate.guard.ts
  frontend/src/app/test-controller/routing/unit-deactivate.guard.ts
  frontend/src/app/test-controller/services/test-loader.service.ts
Due: build-frontend, test-frontend-unit

[Backend] Fix Typo
  backend/src/files/XMLFile.class.php
Due: build-backend, test-backend-unit, test-backend-api

[CI] Build broadcasting-service on frontend change
  .gitlab-ci.yml
Due: none

Set network port in .env config-file
  docker/.env-default
  docker/docker-compose.yml
Due: none

[CI] Add generatd custom text documentation for pages job
  .gitlab-ci.yml
  scripts/create-docs.js
  scripts/make/misc.mk
Due: none

Raise system-test request-timeout to 10sec
  e2e/cypress.e2e.config.js
Due: build-backend, build-frontend, build-broadcasting-service, test-e2e

[Backend] Select players by their (Verona-)metadata instead of by their filename.
  .idea/php.xml
  backend/src/controller/TestController.class.php
  backend/src/dao/WorkspaceDAO.class.php
  backend/src/helper/Version.class.php
  backend/src/workspace/Workspace.class.php
  backend/test/unit/controller/WorkspaceControllerTest.php
  backend/test/unit/dao/WorkspaceDAOTest.php
  backend/test/unit/helper/VersionTest.php
  backend/test/unit/testdata.sql
  backend/test/unit/workspace/WorkspaceTest.php
Due: build-backend, test-backend-unit, test-backend-api

[Frontend] linting
  frontend/src/app/group-monitor/booklet/booklet.service.ts
  frontend/src/app/shared/classes/app.config.ts
  frontend/src/app/shared/interfaces/app-config.interfaces.ts
  frontend/src/app/superadmin/settings/app-config.component.ts
Due: build-frontend, test-frontend-unit

[Definitions] Add type wich was accidentally removed
  definitions/vo_Unit.xsd
Due: build-backend, test-backend-unit, test-backend-api

Update to Version `13.0.0-rc.4`
  docs/CHANGELOG.md
  package.json
  sampledata/Booklet.xml
  sampledata/Booklet2.xml
  sampledata/Booklet3.xml
  sampledata/SysCheck.xml
  sampledata/Testtakers.xml
  sampledata/Unit.xml
  sampledata/Unit2.xml
Due: none

Overhaul install docs
  README.md
  docs/pages/installation-prod.md
  docs/pages/server-setup.md
  docs/pages/trouble-shooting.md
Due: none

Add logout method to superadmin system test
  e2e/cypress/e2e/superadmin.cy.ts
  e2e/cypress/e2e/utils.ts
Due: build-backend, build-frontend, build-broadcasting-service, test-e2e

[CI] Change "needs" to "dependencies"
  .gitlab-ci.yml
Due: none

[CI] Temporarily disable e2e tests
  .gitlab-ci.yml
Due: none

Rename user labels to conventional german "Benutzer"
  definitions/mode-options.json
  e2e/backup/cypress/e2e/superadmin.cy.ts
  frontend/src/app/superadmin/superadmin.component.ts
  frontend/src/app/superadmin/users/newpassword/new-password.component.html
  frontend/src/app/superadmin/users/newuser/new-user.component.html
  frontend/src/app/superadmin/users/users.component.html
  frontend/src/app/superadmin/users/users.component.ts
  frontend/src/app/superadmin/workspaces/workspaces.component.html
Due: build-backend, build-frontend, build-broadcasting-service, test-backend-unit, test-frontend-unit, test-e2e, test-backend-api

[frontend] Improve Settings component layout
  frontend/src/app/superadmin/settings/settings.component.ts
Due: build-frontend, test-frontend-unit

[frontend] Remove unused CSS class
  frontend/src/app/superadmin/settings/settings.component.ts
Due: build-frontend, test-frontend-unit

[Backend] Accept players with deprecated metadata-json-format as currently used by aspect- and abi-player.
  backend/src/files/ResourceFile.class.php
Due: build-backend, test-backend-unit, test-backend-api

Path conditions:
  build-backend: (any of: backend/**/*, database/**/*, definitions/**/*) or (any of: e2e/**/*)
  build-frontend: (any of: frontend/**/*, common/**/*) or (any of: e2e/**/*)
  build-broadcasting-service: (any of: broadcasting-service/**/*, common/**/*) or (any of: e2e/**/*)
  test-backend-unit: any of: backend/**/*, database/**/*, definitions/**/*
  test-frontend-unit: any of: frontend/**/*, common/**/*
  test-broadcasting-service-unit: any of: broadcasting-service/**/*, common/**/*
  test-e2e: any of: e2e/**/*
  test-backend-api: any of: backend/**/*, database/**/*, definitions/**/*
