Repository iqb-berlin/testcenter: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend, build-frontend, build-broadcasting-service, test-backend-unit, test-frontend-unit, test-broadcasting-service-unit, test-e2e, test-backend-api

build-backend:
  stage: build
  script:
  - apk add make curl
  - curl -SL https://github.com/docker/compose/releases/download/v2.6.0/docker-compose-linux-x86_64 -o /usr/local/bin/docker-compose
  - chmod +x /usr/local/bin/docker-compose
  - make init
  - make build service=testcenter-backend
  ...

build-frontend:
  stage: build
  script:
  - apk add make curl
  - curl -SL https://github.com/docker/compose/releases/download/v2.6.0/docker-compose-linux-x86_64 -o /usr/local/bin/docker-compose
  - chmod +x /usr/local/bin/docker-compose
  - make init
  - make build service=testcenter-frontend
  ...

build-broadcasting-service:
  stage: build
  script:
  - apk add make curl
  - curl -SL https://github.com/docker/compose/releases/download/v2.6.0/docker-compose-linux-x86_64 -o /usr/local/bin/docker-compose
  - chmod +x /usr/local/bin/docker-compose
  - make init
  - make build service=testcenter-broadcasting-service
  ...

test-backend-unit:
  stage: test
  needs:
  - job: build-backend
    artifacts: true
  script:
  - apk add make docker-compose
  - make init
  - docker load -i backend_image.tar
  - make test-backend-unit

test-frontend-unit:
  stage: test
  needs:
  - job: build-frontend
    artifacts: true
  script:
  - apk add make docker-compose
  - make init-env
  - make init-frontend
  - docker load -i frontend_image.tar
  - make test-frontend-unit

test-broadcasting-service-unit:
  stage: test
  needs:
  - job: build-broadcasting-service
    artifacts: true
  script:
  - apk add make docker-compose
  - make init-env
  - docker load -i bs_image.tar
  - make test-broadcasting-service-unit

test-e2e:
  stage: test
  needs:
  - job: build-frontend
    artifacts: true
  - job: build-backend
    artifacts: true
  - job: build-broadcasting-service
    artifacts: true
  script:
  - apk add make
  - docker load -i frontend_image.tar
  - docker load -i backend_image.tar
  - docker load -i bs_image.tar
  ...

test-backend-api:
  stage: test
  needs:
  - job: build-backend
    artifacts: true
  script:
  - apk add make
  - make init
  - make test-backend-api

[Backend] Warn on deprecated elements when validating XML
  backend/src/files/XMLFile.class.php
  backend/src/files/XMLFileUnit.class.php
  backend/test/unit/workspace/WorkspaceValidatorTest.php
  sampledata/Unit2.xml
Due: build-backend, test-backend-unit, test-backend-api

[Defintions:Unit] Add new lastChange-attribute where needed.
  definitions/vo_Unit.xsd
  sampledata/Unit.xml
Due: build-backend, test-backend-unit, test-backend-api

[Defintions:Unit] rename "target" attribute of <Dependency> to "for" for readability and set "player" as default value for backwards compatibility.
  backend/src/files/XMLFile.class.php
  backend/src/files/XMLFileUnit.class.php
  definitions/vo_Unit.xsd
  sampledata/Unit2.xml
Due: build-backend, test-backend-unit, test-backend-api

[Defintions:Unit] Fix Regex for "other" variable formats
  definitions/vo_Unit.xsd
Due: build-backend, test-backend-unit, test-backend-api

Update Api-test
  docs/src/api/workspace.spec.yml
Due: none

Make live easier for local development: environment.ts can be manually changed without being overwritten by environment.dev.ts
  .idea/runConfigurations/Backend_Dredd_Tests.xml
  .idea/runConfigurations/Broadcasting_Service_Build___locally.xml
  .idea/runConfigurations/Broadcasting_Service_Coverage___locally.xml
  .idea/runConfigurations/Broadcasting_Service_Start___locally.xml
  .idea/runConfigurations/Broadcasting_Service_Unit_Test___locally.xml
  .idea/runConfigurations/Frontend_Build___locally.xml
  .idea/runConfigurations/Frontend_Code_Coverage___locally.xml
  .idea/runConfigurations/Frontend_Start.xml
  .idea/runConfigurations/backend_api_test.xml
  frontend/angular.json
  frontend/package.json
  package.json
  test/api/dredd-test.js
Due: build-frontend, test-frontend-unit

Rework documentation generation
  .gitlab-ci.yml
  docs/CHANGELOG.md
  docs/Gemfile
  docs/Gemfile.lock
  docs/_config.yml
  docs/dist/booklet-config.md
  docs/dist/custom-texts.md
  docs/dist/developer-guide.md
  docs/dist/installation-dev.md
  docs/dist/installation-local.md
  docs/dist/installation-prod.md
  docs/dist/server-setup.md
  docs/dist/test-mode.md
  docs/dist/trouble-shooting.md
  docs/index.md
Due: none

Fix file path in initialization tests
  backend/test/initialization/functions/functions.sh
Due: build-backend, test-backend-unit, test-backend-api

Remove docs volumes from system tests
  docker/docker-compose.system-test-headless.yml
  docker/docker-compose.system-test-ui.yml
Due: none

Fix system tests by adding init step
  .gitlab-ci.yml
Due: none

Add table header to Installer/Updater
  dist-src/install.sh
  dist-src/manage.sh
Due: none

Update Updater: Show installed version
  dist-src/manage.sh
Due: none

Rename docker setup for locally testing prod to local-prod
  docker/docker-compose.local-prod.yml
  scripts/make/app-control.mk
Due: none

Make frontend nginx config file a volume
  dist-src/docker-compose.prod.yml
  dist-src/install.sh
  docker/docker-compose.dev.yml
Due: none

Update README.md
  README.md
Due: none

IDE settings and docs for local development
  .editorconfig
  .idea/inspectionProfiles/Project_Default.xml
  docs/src/pages/installation-local.md
  test/api/config/dredd_test_config.json
Due: none

[Frontend] Refactor error handling
  backend/.htaccess
  backend/index.php
  frontend/src/app/app-root/code-input/code-input.component.ts
  frontend/src/app/app-root/login/login.component.ts
  frontend/src/app/app-route-guards.ts
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.component.html
  frontend/src/app/app.component.ts
  frontend/src/app/app.error-handler.ts
  frontend/src/app/app.interceptor.ts
  frontend/src/app/app.interfaces.ts
  frontend/src/app/app.module.ts
  frontend/src/app/auth.interceptor.ts
  frontend/src/app/backend.service.ts
  frontend/src/app/error.interceptor.ts
  frontend/src/app/group-monitor/backend.service.ts
  frontend/src/app/retry.interceptor.ts
  frontend/src/app/shared/components/error/error.component.css
  frontend/src/app/shared/components/error/error.component.html
  frontend/src/app/shared/components/error/error.component.ts
  frontend/src/app/shared/services/maindata/maindata.service.ts
  frontend/src/app/shared/services/websocket-backend/websocket-backend.service.ts
  frontend/src/app/shared/shared.module.ts
  frontend/src/app/superadmin/backend.service.ts
  frontend/src/app/superadmin/users/users.component.ts
  frontend/src/app/sys-check/backend.service.ts
  frontend/src/app/test-controller/components/test-controller/test-controller.component.ts
  frontend/src/app/test-controller/components/test-status/test-status.component.css
  frontend/src/app/test-controller/components/test-status/test-status.component.html
  frontend/src/app/test-controller/components/test-status/test-status.component.ts
  frontend/src/app/test-controller/components/unithost/unithost.component.ts
  frontend/src/app/test-controller/services/backend.service.ts
  frontend/src/app/test-controller/services/test-controller.service.ts
  frontend/src/app/test-controller/services/test-loader.service.ts
  frontend/src/app/workspace-admin/backend.service.ts
  frontend/src/app/workspace-admin/workspace.component.ts
  frontend/src/styles.css
Due: build-backend, build-frontend, test-backend-unit, test-frontend-unit, test-backend-api

[Frontend] Make every call in running test to be retried 3 times if failed to make the system more robust against network issues.
  backend/index.php
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.interfaces.ts
  frontend/src/app/app.module.ts
  frontend/src/app/retry.interceptor.ts
Due: build-backend, build-frontend, test-backend-unit, test-frontend-unit, test-backend-api

[Backend] Clear logins of missing Testtakers-File re-initializing
  backend/initialize.php
  backend/src/dao/WorkspaceDAO.class.php
  backend/src/workspace/Workspace.class.php
  backend/test/initialization/tests/general/initialize-again.sh
  docker/docker-compose.initialization-test.yml
  scripts/make/test.mk
Due: build-backend, test-backend-unit, test-backend-api

Fix IDE settings:
  .idea/inspectionProfiles/Project_Default.xml
  .idea/php.xml
  .idea/testcenter.iml
Due: none

[Backend] Return correct date for result-sets.
  backend/src/dao/AdminDAO.class.php
Due: build-backend, test-backend-unit, test-backend-api

[Backend] Fix comparison to not sho a warning
  backend/src/controller/SessionController.class.php
Due: build-backend, test-backend-unit, test-backend-api

[Frontend] Fix tooltips which overlapped tabs.
  frontend/src/app/superadmin/users/users.component.html
  frontend/src/app/superadmin/workspaces/workspaces.component.html
Due: build-frontend, test-frontend-unit

[Frontend] Don't show the block-Title in the code-input-box to make it less confusing.
  frontend/src/app/test-controller/components/unithost/unithost.component.html
Due: build-frontend, test-frontend-unit

[Frontend] Sho unit-title in <title> not sequence-it
  frontend/src/app/test-controller/components/unithost/unithost.component.ts
Due: build-frontend, test-frontend-unit

[Frontend] Fix flickering sidebar issue by using it correctly
  frontend/src/app/test-controller/components/test-controller/test-controller.component.html
  frontend/src/app/test-controller/components/test-controller/test-controller.component.ts
Due: build-frontend, test-frontend-unit

[Frontend] Fix buggy loading behaviour.
  frontend/src/app/backend.service.ts
  frontend/src/app/test-controller/components/unithost/unithost.component.ts
  frontend/src/app/test-controller/routing/test-controller-route-guards.ts
  frontend/src/app/test-controller/routing/unit-route-guards.ts
  frontend/src/app/test-controller/services/test-controller.service.ts
  frontend/src/app/test-controller/services/test-loader.service.ts
  frontend/src/app/test-controller/utils/local-storage.util.ts
Due: build-frontend, test-frontend-unit

[Frontend] Refactor every class in its own file
  frontend/src/app/test-controller/routing/test-controller-deactivate.guard.ts
  frontend/src/app/test-controller/routing/test-controller-error-paused-activate.guard.ts
  frontend/src/app/test-controller/routing/test-controller-routing.module.ts
  frontend/src/app/test-controller/routing/unit-activate.guard.ts
  frontend/src/app/test-controller/routing/unit-deactivate.guard.ts
  frontend/src/app/test-controller/test-controller.module.ts
Due: build-frontend, test-frontend-unit

[Frontend] Restore tests in pause when they were terminated in pause.
  frontend/src/app/group-monitor/test-session/test-session.util.ts
  frontend/src/app/test-controller/interfaces/test-controller.interfaces.ts
  frontend/src/app/test-controller/services/test-controller.service.ts
  frontend/src/app/test-controller/services/test-loader.service.ts
Due: build-frontend, test-frontend-unit

[Backend] Typecast database result date to string to fix unit-test
  .idea/sqldialects.xml
  backend/src/dao/AdminDAO.class.php
Due: build-backend, test-backend-unit, test-backend-api

[e2e] Increase timeout for network check
  e2e/cypress/e2e/sys-check.cy.ts
Due: build-backend, build-frontend, build-broadcasting-service, test-e2e

Fix mount point for data-dir
  docker/docker-compose.yml
Due: none

[Frontend] Lock a timed testlet when leaving, even when it's leaved by a command from group-monitor.
  frontend/src/app/test-controller/components/test-controller/test-controller.component.ts
Due: build-frontend, test-frontend-unit

[Frontend] Refactor error handling in in workspace admin
  backend/src/workspace/Workspace.class.php
  frontend/src/app/app-root/admin-starter/admin-starter.component.ts
  frontend/src/app/backend.service.ts
  frontend/src/app/error.interceptor.ts
  frontend/src/app/workspace-admin/backend.service.ts
  frontend/src/app/workspace-admin/files/files.component.ts
  frontend/src/app/workspace-admin/files/iqb-files-upload/iqb-files-upload.component.ts
  frontend/src/app/workspace-admin/results/results.component.ts
  frontend/src/app/workspace-admin/syscheck/syscheck.component.ts
  frontend/src/app/workspace-admin/workspace.component.ts
  frontend/src/app/workspace-admin/workspacedata.service.ts
Due: build-backend, build-frontend, test-backend-unit, test-frontend-unit, test-backend-api

[Frontend] Remove console.log
  frontend/src/app/test-controller/components/test-controller/test-controller.component.ts
Due: build-frontend, test-frontend-unit

[Backen] Remove echo for debugging
  backend/initialize.php
Due: build-backend, test-backend-unit, test-backend-api

[Backen] Rename initialize test
  backend/test/initialization/tests/general/re-initialize.sh
  scripts/make/test.mk
Due: build-backend, test-backend-unit, test-backend-api

[Frontend] Remove commented line
  frontend/src/app/test-controller/components/unithost/unithost.component.html
Due: build-frontend, test-frontend-unit

Path conditions:
  build-backend: (any of: backend/**/*, database/**/*, definitions/**/*) or (any of: e2e/**/*)
  build-frontend: (any of: frontend/**/*, common/**/*) or (any of: e2e/**/*)
  build-broadcasting-service: (any of: broadcasting-service/**/*, common/**/*) or (any of: e2e/**/*)
  test-backend-unit: any of: backend/**/*, database/**/*, definitions/**/*
  test-frontend-unit: any of: frontend/**/*, common/**/*
  test-broadcasting-service-unit: any of: broadcasting-service/**/*, common/**/*
  test-e2e: any of: e2e/**/*
  test-backend-api: any of: backend/**/*, database/**/*, definitions/**/*
