Repository iqb-berlin/testcenter: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-backend-feature-rules, check-broadcasting-service-feature-rules, check-common-feature-rules, check-e2e-feature-rules, check-file-service-feature-rules, check-frontend-feature-rules, check-task-runner-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, build-task-runner, test-backend-unit, test-frontend-unit, test-broadcasting-service-unit, test-backend-api, test-file-service-api, test-backend-initialization, test-e2e

Path conditions:
  check-backend-feature-rules: any of: backend/**/*, scripts/database/**/*, definitions/**/*
  check-broadcasting-service-feature-rules: any of: broadcasting-service/**/*
  check-common-feature-rules: any of: common/**/*
  check-e2e-feature-rules: any of: e2e/**/*
  check-file-service-feature-rules: any of: file-service/**/*
  check-frontend-feature-rules: any of: frontend/**/*
  check-task-runner-feature-rules: any of: task-runner/**/*
  build-backend: (any of: backend/**/*, scripts/database/**/*, definitions/**/*) or ((any of: task-runner/**/*) or (any of: e2e/**/*))
  build-frontend: (any of: frontend/**/*) or ((any of: common/**/*) or (any of: e2e/**/*))
  build-broadcasting-service: (any of: broadcasting-service/**/*) or ((any of: common/**/*) or (any of: e2e/**/*))
  build-file-service: (any of: file-service/**/*) or ((any of: task-runner/**/*) or (any of: e2e/**/*))
  build-e2e: any of: e2e/**/*
  build-task-runner: (any of: task-runner/**/*) or ((any of: backend/**/*, scripts/database/**/*, definitions/**/*) or (any of: file-service/**/*))
  test-backend-unit: any of: backend/**/*, scripts/database/**/*, definitions/**/*
  test-frontend-unit: (any of: frontend/**/*) or (any of: common/**/*)
  test-broadcasting-service-unit: (any of: broadcasting-service/**/*) or (any of: common/**/*)
  test-backend-api: (any of: backend/**/*, scripts/database/**/*, definitions/**/*) or (any of: task-runner/**/*)
  test-file-service-api: (any of: file-service/**/*) or (any of: task-runner/**/*)
  test-backend-initialization: any of: backend/**/*, scripts/database/**/*, definitions/**/*
  test-e2e: any of: e2e/**/*

add customtext for starter page for hot-mode logins
  definitions/custom-texts.json
  docs/CHANGELOG.md
  frontend/src/app/app-root/starter/starter.component.ts
Due: check-backend-feature-rules, check-frontend-feature-rules, build-backend, build-frontend, build-task-runner, test-backend-unit, test-frontend-unit, test-backend-api, test-backend-initialization

make forceTimeRestrictions overide time settings
  docs/CHANGELOG.md
  frontend/src/app/test-controller/services/test-controller.service.ts
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

refactor gm starter do be different from all other starters
  frontend/src/app/app-root/starter/starter.component.html
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

hide tests in gm-view behind accordion
  definitions/custom-texts.json
  docs/CHANGELOG.md
  docs/pages/custom-texts.md
  frontend/src/app/app-root/starter/starter.component.css
  frontend/src/app/app-root/starter/starter.component.html
  frontend/src/app/app-root/starter/starter.component.ts
  frontend/src/app/app.module.ts
  frontend/src/styles.css
Due: check-backend-feature-rules, check-frontend-feature-rules, build-backend, build-frontend, build-task-runner, test-backend-unit, test-frontend-unit, test-backend-api, test-backend-initialization

Run e2e test suites in parallel
  .gitlab-ci.yml
  e2e/docker-compose.system-test-headless.yml
Due: check-e2e-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, test-e2e

Clean up after running e2e tests
  e2e/docker-compose.system-test-headless.yml
  scripts/make/dev-test.mk
Due: check-e2e-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, test-e2e

Display cypress error messages
  e2e/cypress.config.js
Due: check-e2e-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, test-e2e

Separate cypress 'local' from cypress 'docker' installation
  .dockerignore
  .gitignore
  .gitlab-ci.yml
  e2e/cypress-headless/.gitignore
  e2e/cypress.config.js
  e2e/cypress.headless.config.js
  e2e/cypress/.gitignore
  e2e/docker-compose.system-test-headless.yml
  e2e/src/e2e/Session-Management/hot-restart-mode.cy.ts
  e2e/src/e2e/Session-Management/hot-return-mode.cy.ts
  e2e/src/e2e/Test-Controller/hot-restart.cy.ts
  e2e/src/e2e/Test-Controller/hot-return.cy.ts
  e2e/src/e2e/Test-Controller/review.cy.ts
  e2e/src/e2e/Workspace-Admin/files.cy.ts
  e2e/src/e2e/Workspace-Admin/results.cy.ts
  e2e/src/e2e/study-monitor.cy.ts
  e2e/src/e2e/utils.ts
Due: check-e2e-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, test-e2e

Fix 'Test-Controller/demo' e2e test
  e2e/src/e2e/Test-Controller/demo.cy.ts
Due: check-e2e-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, test-e2e

Increase cypress timeouts
  e2e/cypress.headless.config.js
Due: check-e2e-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, test-e2e

Separate cypress 'local' from cypress 'docker' installation
  .dockerignore
  .gitignore
  .gitlab-ci.yml
  e2e/cypress.config.js
  e2e/cypress.headless.config.js
  e2e/docker-compose.system-test-headless.yml
  e2e/src/e2e/Session-Management/hot-restart-mode.cy.ts
  e2e/src/e2e/Session-Management/hot-return-mode.cy.ts
  e2e/src/e2e/Test-Controller/hot-restart.cy.ts
  e2e/src/e2e/Test-Controller/hot-return.cy.ts
  e2e/src/e2e/Test-Controller/review.cy.ts
  e2e/src/e2e/Workspace-Admin/files.cy.ts
  e2e/src/e2e/Workspace-Admin/results.cy.ts
  e2e/src/e2e/study-monitor.cy.ts
  e2e/src/e2e/utils.ts
Due: check-e2e-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, test-e2e

Separate cypress 'local' from cypress 'docker' installation
  e2e/cypress-headless/.gitignore
  e2e/cypress/.gitignore
Due: check-e2e-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, test-e2e

refactor css to be more maintainable
  frontend/src/app/test-controller/components/test-controller/test-controller.component.html
  frontend/src/styles.css
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

delete links on the login page
  definitions/custom-texts.json
  docs/CHANGELOG.md
  docs/pages/custom-texts.md
  frontend/src/app/app-root/login/login.component.html
Due: check-backend-feature-rules, check-frontend-feature-rules, build-backend, build-frontend, build-task-runner, test-backend-unit, test-frontend-unit, test-backend-api, test-backend-initialization

introduce old_browser_banner
  definitions/custom-texts.json
  docs/CHANGELOG.md
  docs/pages/custom-texts.md
  frontend/src/app/app.component.css
  frontend/src/app/app.component.html
  frontend/src/app/app.component.ts
  frontend/src/app/group-monitor/group-monitor.component.css
  frontend/src/styles.css
Due: check-backend-feature-rules, check-frontend-feature-rules, build-backend, build-frontend, build-task-runner, test-backend-unit, test-frontend-unit, test-backend-api, test-backend-initialization

return the list of supported browsers in the system-config api call
  backend/src/controller/SystemController.class.php
  docs/api/system.spec.yml
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

Update to version 16.1.0
  docs/CHANGELOG.md
  package.json
  sampledata/Booklet.xml
  sampledata/Booklet2.xml
  sampledata/Booklet3.xml
  sampledata/SysCheck.xml
  sampledata/Testtakers.xml
  sampledata/Unit.xml
  sampledata/Unit2.xml
  sampledata/system-test/CY_BKL_Mode_Demo.xml
  sampledata/system-test/CY_BKL_Mode_Review.xml
  sampledata/system-test/CY_BKL_Mode_RunHotRestart.xml
  sampledata/system-test/CY_BKL_Mode_RunHotReturn.xml
  sampledata/system-test/CY_BKL_SessionManagement_HotModi.xml
  sampledata/system-test/CY_Test_Logins.xml
  sampledata/system-test/CY_Unit100.xml
  sampledata/system-test/CY_Unit101.xml
  sampledata/system-test/CY_Unit102.xml
  sampledata/system-test/CY_Unit103.xml
  sampledata/system-test/CY_Unit104.xml
  scripts/database/patches.d/16.1.0.sql
  scripts/helm/helm-install-tc.sh
  scripts/helm/testcenter/Chart.yaml
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

Build pages parallel to docker images
  .gitlab-ci.yml
Due: none

Update Gemfile
  docs/Gemfile
  docs/Gemfile.lock
Due: none

Build jekyll pages with docker
  .dockerignore
  .gitlab-ci.yml
  docs/Dockerfile
Due: none

Add 'make' commands for for 'jekyll build' and 'jekyll serve'
  Makefile
  docs/Dockerfile
  scripts/make/dev.mk
Due: none

fix ci issues
  .gitlab-ci.yml
Due: none

Fix gitlab-ci typo
  .gitlab-ci.yml
Due: none

Add volume for incomming pages artifacts
  .gitlab-ci.yml
Due: none

expand the accordion on default
  docs/CHANGELOG.md
  frontend/src/app/app-root/starter/starter.component.html
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

Update to version 16.1.1
  docs/CHANGELOG.md
  package.json
  sampledata/Booklet.xml
  sampledata/Booklet2.xml
  sampledata/Booklet3.xml
  sampledata/SysCheck.xml
  sampledata/Testtakers.xml
  sampledata/Unit.xml
  sampledata/Unit2.xml
  sampledata/system-test/CY_BKL_Mode_Demo.xml
  sampledata/system-test/CY_BKL_Mode_Review.xml
  sampledata/system-test/CY_BKL_Mode_RunHotRestart.xml
  sampledata/system-test/CY_BKL_Mode_RunHotReturn.xml
  sampledata/system-test/CY_BKL_SessionManagement_HotModi.xml
  sampledata/system-test/CY_Test_Logins.xml
  sampledata/system-test/CY_Unit100.xml
  sampledata/system-test/CY_Unit101.xml
  sampledata/system-test/CY_Unit102.xml
  sampledata/system-test/CY_Unit103.xml
  sampledata/system-test/CY_Unit104.xml
  scripts/helm/helm-install-tc.sh
  scripts/helm/testcenter/Chart.yaml
Due: none

Set log level to 'debug'
  test/api/test.js
Due: none
