Repository iqb-berlin/testcenter: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-backend-feature-rules, check-broadcasting-service-feature-rules, check-common-feature-rules, check-e2e-feature-rules, check-file-service-feature-rules, check-frontend-feature-rules, check-task-runner-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, build-task-runner, test-backend-unit, test-frontend-unit, test-broadcasting-service-unit, test-backend-api, test-file-service-api, test-backend-initialization, test-e2e

check-backend-feature-rules:
  stage: .pre
  interruptible: true
  allow_failure: true
  script:
  - echo $CI_COMMIT_BRANCH
  - echo $CI_PIPELINE_SOURCE
  - if [ -n "$CI_COMMIT_BRANCH" ]; then echo "commit branch string length is nonzero"; else echo "commit branch = '$CI_COMMIT_BRANCH'"; fi
  ...

check-broadcasting-service-feature-rules:
  stage: .pre
  interruptible: true
  allow_failure: true
  script:
  - echo $CI_COMMIT_BRANCH
  - echo $CI_PIPELINE_SOURCE
  - if [ -n "$CI_COMMIT_BRANCH" ]; then echo "commit branch string length is nonzero"; else echo "commit branch = '$CI_COMMIT_BRANCH'"; fi
  ...

check-common-feature-rules:
  stage: .pre
  interruptible: true
  allow_failure: true
  script:
  - echo $CI_COMMIT_BRANCH
  - echo $CI_PIPELINE_SOURCE
  - if [ -n "$CI_COMMIT_BRANCH" ]; then echo "commit branch string length is nonzero"; else echo "commit branch = '$CI_COMMIT_BRANCH'"; fi
  ...

check-e2e-feature-rules:
  stage: .pre
  interruptible: true
  allow_failure: true
  script:
  - echo $CI_COMMIT_BRANCH
  - echo $CI_PIPELINE_SOURCE
  - if [ -n "$CI_COMMIT_BRANCH" ]; then echo "commit branch string length is nonzero"; else echo "commit branch = '$CI_COMMIT_BRANCH'"; fi
  ...

check-file-service-feature-rules:
  stage: .pre
  interruptible: true
  allow_failure: true
  script:
  - echo $CI_COMMIT_BRANCH
  - echo $CI_PIPELINE_SOURCE
  - if [ -n "$CI_COMMIT_BRANCH" ]; then echo "commit branch string length is nonzero"; else echo "commit branch = '$CI_COMMIT_BRANCH'"; fi
  ...

check-frontend-feature-rules:
  stage: .pre
  interruptible: true
  allow_failure: true
  script:
  - echo $CI_COMMIT_BRANCH
  - echo $CI_PIPELINE_SOURCE
  - if [ -n "$CI_COMMIT_BRANCH" ]; then echo "commit branch string length is nonzero"; else echo "commit branch = '$CI_COMMIT_BRANCH'"; fi
  ...

check-task-runner-feature-rules:
  stage: .pre
  interruptible: true
  allow_failure: true
  script:
  - echo $CI_COMMIT_BRANCH
  - echo $CI_PIPELINE_SOURCE
  - if [ -n "$CI_COMMIT_BRANCH" ]; then echo "commit branch string length is nonzero"; else echo "commit branch = '$CI_COMMIT_BRANCH'"; fi
  ...

build-backend:
  stage: build
  variables:
    BACKEND_IMAGE_NAME: ${CI_REGISTRY_IMAGE}/iqbberlin/testcenter-backend
  before_script:
  - ip a | grep mtu
  - docker network inspect bridge | grep mtu
  - docker login --username $CI_DEPENDENCY_PROXY_USER --password $CI_DEPENDENCY_PROXY_PASSWORD $CI_DEPENDENCY_PROXY_SERVER
  ...

build-frontend:
  stage: build
  variables:
    FRONTEND_IMAGE_NAME: ${CI_REGISTRY_IMAGE}/iqbberlin/testcenter-frontend
  before_script:
  - ip a | grep mtu
  - docker network inspect bridge | grep mtu
  - cp frontend/src/environments/environment.dev.ts frontend/src/environments/environment.ts
  ...

build-broadcasting-service:
  stage: build
  variables:
    BROADCASTING_SERVICE_IMAGE_NAME: ${CI_REGISTRY_IMAGE}/iqbberlin/testcenter-broadcasting-service
  before_script:
  - ip a | grep mtu
  - docker network inspect bridge | grep mtu
  ...

Backend: Avoid creation of duplicate units in race condition
  .idea/dataSources.xml
  .idea/sqldialects.xml
  backend/src/controller/TestController.class.php
  backend/src/dao/AdminDAO.class.php
  backend/src/dao/DAO.class.php
  backend/src/dao/InitDAO.class.php
  backend/src/dao/TestDAO.class.php
  backend/src/helper/State.class.php
  backend/test/unit/dao/AdminDAOTest.php
  backend/test/unit/dao/TestDAOTest.php
  backend/test/unit/helper/StateTest.php
  backend/test/unit/testdata.sql
  docs/api/test.spec.yml
  scripts/database/patches.d/15.4.0-beta.sql
  scripts/database/patches.d/next.sql
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

refactor all Services to be ClusterIp (only visible within network, not externally)
  kubernetes/migration/test/be.yml
  kubernetes/migration/test/config.yml
  kubernetes/migration/test/fe.yml
  kubernetes/migration/test/ingress.yml
  kubernetes/migration/test/traefik/02-traefik.yml
Due: none

Update CHANGELOG.md
  docs/CHANGELOG.md
Due: none

Backend: Improve booklet validation
  backend/src/files/XMLFileBooklet.class.php
  backend/test/unit/files/XMLFilesBookletTest.php
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

enable `make init` by calling each target in its own makefile
  Makefile
Due: none

Initialize: List errors if invalid files are found on log
  backend/initialize.php
  backend/src/workspace/Workspace.class.php
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

"jump into" is not activated when logging in directly with username in url (group monitor)
  frontend/src/app/app-route-guards.ts
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

refactor: move the "jump into" logic from directlogin to routeDispatcher guard
  frontend/src/app/app-route-guards.ts
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

GroupMonitor: Undo locking of time-locked block when moved there
  docs/CHANGELOG.md
  frontend/src/app/group-monitor/test-session/test-session.component.html
  frontend/src/app/group-monitor/test-session/timeleft.pipe.ts
  frontend/src/app/test-controller/components/test-controller/test-controller.component.ts
  frontend/src/app/test-controller/services/test-controller.service.ts
  frontend/src/app/test-controller/services/test-loader.service.ts
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

GroupMonitor: Bugfix: When the monitor war started before a test session was started, the monitor had to be reloaded to track the new session.
  backend/src/controller/TestController.class.php
  docs/CHANGELOG.md
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

GroupMonitor: Make text visible on units whose time has come but which are still current (because the result of the navigation was not yet reported back to gm).
  frontend/src/app/group-monitor/test-session/test-session.component.css
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

GroupMonitor: Fix connection status icon
  frontend/src/app/group-monitor/group-monitor.component.css
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

TestController: Log executed commands in TestLog
  docs/CHANGELOG.md
  frontend/src/app/test-controller/components/test-controller/test-controller.component.ts
  frontend/src/app/test-controller/services/command.service.ts
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

GroupMonitor: Add an option to the Group-Monitor-Profile to disable the auto selection of the next block after navigation.
  backend/src/files/XMLFileTesttakers.class.php
  backend/test/unit/files/XMLFilesTesttakersTest.php
  definitions/vo_Testtakers.xsd
  docs/CHANGELOG.md
  frontend/src/app/group-monitor/group-monitor.component.ts
  frontend/src/app/group-monitor/group-monitor.interfaces.ts
  sampledata/Testtakers.xml
Due: check-backend-feature-rules, check-frontend-feature-rules, build-backend, build-frontend, build-task-runner, test-backend-unit, test-frontend-unit, test-backend-api, test-backend-initialization

GroupMonitor: Inform group-Monitors when paused / resumed
  frontend/src/app/test-controller/services/test-controller.service.ts
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

Fix behaviour of initialize.php in the case of an error
  backend/initialize.php
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

Move initialize process into separate service
  backend/Dockerfile
  backend/entrypoint-backend.sh
  backend/entrypoint-initializer.sh
  backend/is_healthy.php
  backend/src/helper/SystemConfig.class.php
  docker-compose.dev.yml
  docker-compose.yml
  scripts/make/dev.mk
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

add 'build' to Makefile
  Makefile
Due: none

add execution rights to entrypoint scripts
  backend/Dockerfile
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

add 'make build' target
  Makefile
Due: none

Backend: Fix error message to contain the correct other workspace if logins or group IDs are already taken on an instance.
  backend/src/dao/WorkspaceDAO.class.php
  docs/CHANGELOG.md
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

CHANGELOG.md
  docs/CHANGELOG.md
Due: none

add current directory to make commands to accomodate new Makefile
  scripts/make/dev-test.mk
  scripts/make/dev.mk
  scripts/make/misc.mk
Due: none

refactor to make helm more variable
  kubernetes/helm/run-helm.sh
  kubernetes/helm/templates/app/be.yml
  kubernetes/helm/templates/app/bs.yml
  kubernetes/helm/templates/app/cs.yml
  kubernetes/helm/templates/app/db.yml
  kubernetes/helm/templates/app/fe.yml
  kubernetes/helm/templates/app/fs.yml
  kubernetes/helm/templates/app/ingress.yml
  kubernetes/helm/templates/app/volume.yml
  kubernetes/helm/templates/traefik/00-account.yml
  kubernetes/helm/templates/traefik/00-role.yml
  kubernetes/helm/templates/traefik/01-role-binding.yml
  kubernetes/helm/templates/traefik/02-traefik-services.yml
  kubernetes/helm/templates/traefik/02-traefik.yml
  kubernetes/helm/templates/traefik/05-tlsoption.yml
  kubernetes/helm/values.yaml
Due: none

[gm] change colors when selecting and marking elements
  frontend/src/app/group-monitor/test-session/test-session.component.css
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

Backend: Fix config for local backend unit tests
  backend/phpunit.xml
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

Backend: Clean relic line that throws warning during unit tests.
  backend/src/files/XMLFileUnit.class.php
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

Backend: Improve error message on fatal during initialize
  backend/src/middleware/ErrorHandler.class.php
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

idea config
  .idea/dataSources.xml
  .idea/sqldialects.xml
Due: none

Backend: update group-id when it was changed in a reuploaded Testtakers-file for started sessions.
  backend/src/dao/SessionDAO.class.php
  backend/test/unit/dao/SessionDAOTest.php
  docs/CHANGELOG.md
  scripts/database/patches.d/next.sql
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

Backend: Update Testdata
  backend/test/unit/dao/AdminDAOTest.php
  backend/test/unit/testdata.sql
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

Backend: Show correct error of applying a patch fails when creating test environment
  backend/src/helper/TestEnvironment.class.php
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

Database: Update to MySQL 8.4
  .gitlab-ci.yml
  .idea/sqldialects.xml
  backend/src/dao/AdminDAO.class.php
  backend/src/dao/DAO.class.php
  backend/test/initialization/docker-compose.initialization-test.yml
  docker-compose.prod.tls.yml
  docker-compose.prod.yml
  docker-compose.yml
  scripts/database/patches.d/15.0.0.sql
  scripts/database/patches.d/next.sql
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

update CHANGELOG.md
  docs/CHANGELOG.md
Due: none

Frontend: Don't remove and reload player between units when it's the same.
  docs/CHANGELOG.md
  frontend/src/app/test-controller/components/unithost/unithost.component.ts
  frontend/src/app/test-controller/services/test-controller.service.ts
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

Fix broken make command
  scripts/make/dev.mk
Due: none

Update package.json & browserlist
  definitions/browsers.json
  package-lock.json
  package.json
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

CHANGELOG
  docs/CHANGELOG.md
Due: none

Path conditions:
  check-backend-feature-rules: any of: backend/**/*, scripts/database/**/*, definitions/**/*
  check-broadcasting-service-feature-rules: any of: broadcasting-service/**/*
  check-common-feature-rules: any of: common/**/*
  check-e2e-feature-rules: any of: e2e/**/*
  check-file-service-feature-rules: any of: file-service/**/*
  check-frontend-feature-rules: any of: frontend/**/*
  check-task-runner-feature-rules: any of: task-runner/**/*
  build-backend: (any of: backend/**/*, scripts/database/**/*, definitions/**/*) or ((any of: task-runner/**/*) or (any of: e2e/**/*))
  build-frontend: (any of: frontend/**/*) or ((any of: common/**/*) or (any of: e2e/**/*))
  build-broadcasting-service: (any of: broadcasting-service/**/*) or ((any of: common/**/*) or (any of: e2e/**/*))
  build-file-service: (any of: file-service/**/*) or ((any of: task-runner/**/*) or (any of: e2e/**/*))
  build-e2e: any of: e2e/**/*
  build-task-runner: (any of: task-runner/**/*) or ((any of: backend/**/*, scripts/database/**/*, definitions/**/*) or (any of: file-service/**/*))
  test-backend-unit: any of: backend/**/*, scripts/database/**/*, definitions/**/*
  test-frontend-unit: (any of: frontend/**/*) or (any of: common/**/*)
  test-broadcasting-service-unit: (any of: broadcasting-service/**/*) or (any of: common/**/*)
  test-backend-api: (any of: backend/**/*, scripts/database/**/*, definitions/**/*) or (any of: task-runner/**/*)
  test-file-service-api: (any of: file-service/**/*) or (any of: task-runner/**/*)
  test-backend-initialization: any of: backend/**/*, scripts/database/**/*, definitions/**/*
  test-e2e: any of: e2e/**/*
