Repository iqb-berlin/testcenter: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend, build-frontend, build-broadcasting-service, test-backend-unit, test-frontend-unit, test-broadcasting-service-unit, test-e2e, test-backend-api

build-backend:
  stage: build
  script:
  - apk add make curl
  - curl -SL https://github.com/docker/compose/releases/download/v2.6.0/docker-compose-linux-x86_64 -o /usr/local/bin/docker-compose
  - chmod +x /usr/local/bin/docker-compose
  - make init
  - make build service=testcenter-backend
  ...

build-frontend:
  stage: build
  script:
  - apk add make curl
  - curl -SL https://github.com/docker/compose/releases/download/v2.6.0/docker-compose-linux-x86_64 -o /usr/local/bin/docker-compose
  - chmod +x /usr/local/bin/docker-compose
  - make init
  - make build service=testcenter-frontend
  ...

build-broadcasting-service:
  stage: build
  script:
  - apk add make curl
  - curl -SL https://github.com/docker/compose/releases/download/v2.6.0/docker-compose-linux-x86_64 -o /usr/local/bin/docker-compose
  - chmod +x /usr/local/bin/docker-compose
  - make init
  - make build service=testcenter-broadcasting-service
  ...

test-backend-unit:
  stage: test
  needs:
  - job: build-backend
    artifacts: true
  script:
  - apk add make docker-compose
  - make init
  - docker load -i backend_image.tar
  - make test-backend-unit

test-frontend-unit:
  stage: test
  needs:
  - job: build-frontend
    artifacts: true
  script:
  - apk add make docker-compose
  - make init-env
  - make init-frontend
  - docker load -i frontend_image.tar
  - make test-frontend-unit

test-broadcasting-service-unit:
  stage: test
  needs:
  - job: build-broadcasting-service
    artifacts: true
  script:
  - apk add make docker-compose
  - make init-env
  - docker load -i bs_image.tar
  - make test-broadcasting-service-unit

test-e2e:
  stage: test
  needs:
  - job: build-frontend
    artifacts: true
  - job: build-backend
    artifacts: true
  - job: build-broadcasting-service
    artifacts: true
  script:
  - apk add make
  - docker load -i frontend_image.tar
  - docker load -i backend_image.tar
  - docker load -i bs_image.tar
  ...

test-backend-api:
  stage: test
  needs:
  - job: build-backend
    artifacts: true
  script:
  - apk add make
  - make init
  - make test-backend-api

BE: Apply new coding style
  backend/src/workspace/SysChecksFolder.class.php
  backend/src/workspace/UploadedFilesHandler.class.php
  backend/src/workspace/WorkspaceCache.class.php
  backend/src/workspace/WorkspaceInitializer.class.php
Due: build-backend, test-backend-unit, test-backend-api

CI: Attempt I to repair unit-tests on CI
  scripts/make/test.mk
Due: none

[Setup] Improve install script
  dist-src/install.sh
Due: none

[Setup] Fix and extend makefile target for package-sync
  scripts/make/misc.mk
Due: none

[Setup] Add Apache virtual host file as volume (in dev)
  docker/docker-compose.dev.yml
Due: none

[Setup] Improve backend-Dockerfile
  docker/backend.Dockerfile
Due: none

Update IDE settings
  .idea/php.xml
Due: none

Be: Fix API-tests by disabling CORS
  backend/config/no-cors.htaccess
  docker/docker-compose.dev.yml
Due: build-backend, test-backend-unit, test-backend-api

Doku: Fix "Modes for test execution"
  definitions/test-mode.json
Due: build-backend, test-backend-unit, test-backend-api

Use alternative syntax for merging multiple sequences
  docker/docker-compose.yml
Due: none

Update docker compose file version to 3.9
  dist-src/docker-compose.prod.tls.yml
  dist-src/docker-compose.prod.yml
  docker/docker-compose.dev.yml
  docker/docker-compose.initialization-test.yml
  docker/docker-compose.local-prod.yml
  docker/docker-compose.system-test-headless.yml
  docker/docker-compose.system-test-ui.yml
  docker/docker-compose.yml
  e2e/backup/docker-compose.system-test-ui.yml
  e2e/backup/docker-compose.system-test.yml
Due: build-backend, build-frontend, build-broadcasting-service, test-e2e

add cypress file upload functionality
  e2e/cypress/support/e2e.ts
  e2e/package-lock.json
  e2e/package.json
Due: build-backend, build-frontend, build-broadcasting-service, test-e2e

some small changes: variablen label, beforeEach calls
  e2e/cypress/e2e/superadmin.cy.ts
Due: build-backend, build-frontend, build-broadcasting-service, test-e2e

add testcases workspaceadmin
  e2e/cypress/e2e/workspace-admin.cy.ts
Due: build-backend, build-frontend, build-broadcasting-service, test-e2e

booklets example files for workspaceadmin testcases
  e2e/cypress/fixtures/Booklet.xml
  e2e/cypress/fixtures/Booklet_sameBookletID.xml
  e2e/cypress/fixtures/Booklet_sameTestlets.xml
  e2e/cypress/fixtures/Booklet_sameUnitIDs.xml
  e2e/cypress/fixtures/Booklet_sameUnitIDs_Alias.xml
Due: build-backend, build-frontend, build-broadcasting-service, test-e2e

formatting adjusted (ESLint), Comments in English, IT-describtion starts with "should"
  e2e/cypress/e2e/superadmin.cy.ts
Due: build-backend, build-frontend, build-broadcasting-service, test-e2e

formatting adjusted (ESLint), Comments in English, there is only one function with the name "LoginAsAdmin", before there was 2 times of functions (LoginAsAdmin and LoginAdmin)
  e2e/cypress/e2e/utils.ts
Due: build-backend, build-frontend, build-broadcasting-service, test-e2e

add deleteFiles-function for workspaceadmin testcases
  e2e/cypress/e2e/utils.ts
Due: build-backend, build-frontend, build-broadcasting-service, test-e2e

SuperAdmin Testfälle hinzugefügt und bestehende umstrukturiert; data-cy Attribut für einen Button hinzugefügt
  e2e/cypress/e2e/superadmin.cy.ts
  e2e/cypress/e2e/utils.ts
  e2e/package-lock.json
  frontend/src/app/superadmin/settings/app-config.component.html
  package-lock.json
Due: build-backend, build-frontend, build-broadcasting-service, test-frontend-unit, test-e2e

Fix idea git path
  .idea/vcs.xml
Due: none

Update gitlab-ci docker version to 23.0
  .gitlab-ci.yml
Due: none

Fix incorrect conditional check
  docs/CHANGELOG.md
  frontend/src/app/app-route-guards.ts
Due: build-frontend, test-frontend-unit

Changing Cypress upload functionality
  e2e/cypress/e2e/workspace-admin.cy.ts
  e2e/cypress/support/e2e.ts
  e2e/package-lock.json
  e2e/package.json
Due: build-backend, build-frontend, build-broadcasting-service, test-e2e

Load resources directly with webservice and circumvent PHP
  .idea/dataSources.xml
  .idea/php.xml
  .idea/testcenter.iml
  backend/composer.json
  backend/config/local.php.ini
  backend/routes.php
  backend/src/controller/SessionController.class.php
  backend/src/controller/TestController.class.php
  backend/src/dao/WorkspaceDAO.class.php
  backend/src/helper/FastAuthService.class.php
  backend/src/workspace/Workspace.class.php
  docker/backend.Dockerfile
  docker/docker-compose.dev.yml
  docker/docker-compose.yml
  docker/files-service.Dockerfile
  frontend/src/app/test-controller/interfaces/test-controller.interfaces.ts
  frontend/src/app/test-controller/services/backend.service.ts
  frontend/src/app/test-controller/services/test-loader.service.ts
  scripts/files-service/auth.lua
  scripts/files-service/nginx.conf
  scripts/files-service/site.conf
Due: build-backend, build-frontend, test-backend-unit, test-frontend-unit, test-backend-api

e2e: Use persistent data-dir for integration tests instead of VFS.
  .gitignore
  .idea/dataSources.xml
  backend/src/helper/TestEnvironment.class.php
  e2e/cypress/e2e/superadmin.cy.ts
  e2e/cypress/e2e/utils.ts
  e2e/cypress/e2e/workspace-admin.cy.ts
Due: build-backend, build-frontend, build-broadcasting-service, test-backend-unit, test-e2e, test-backend-api

e2e: Fix test
  frontend/src/app/superadmin/settings/app-config.component.html
Due: build-frontend, test-frontend-unit

Update to version 14.4.0-rc.1
  dist-src/.env
  docs/CHANGELOG.md
  package.json
  sampledata/Booklet.xml
  sampledata/Booklet2.xml
  sampledata/Booklet3.xml
  sampledata/SysCheck.xml
  sampledata/Testtakers.xml
  sampledata/Unit.xml
  sampledata/Unit2.xml
  scripts/database/patches.d/14.4.0-rc.1.sql
Due: none

Add Testcases for Demo-Mode
  backend/src/workspace/WorkspaceInitializer.class.php
  docs/api/workspace.spec.yml
  e2e/cypress/e2e/Test-Controller/Demo.cy.ts
  e2e/cypress/e2e/utils.ts
  frontend/src/app/test-controller/components/test-controller/test-controller.component.html
  sampledata/CY_BKL_Mode_Demo.xml
  sampledata/CY_ControllerTest_Logins.xml
  sampledata/CY_Unit100.xml
  sampledata/CY_Unit101.xml
  sampledata/CY_Unit102.xml
  sampledata/CY_Unit103.xml
  sampledata/CY_Unit104.xml
Due: build-backend, build-frontend, build-broadcasting-service, test-backend-unit, test-frontend-unit, test-e2e, test-backend-api

Some changes for better detection messages while the test is running
  frontend/src/app/test-controller/routing/unit-deactivate.guard.ts
Due: build-frontend, test-frontend-unit

Removal of the old test module: test controller, because there is a new folderstructure for controller tests
  e2e/cypress/e2e/test-controller.cy.ts
Due: build-backend, build-frontend, build-broadcasting-service, test-e2e

Adjusted delete routine for WorkspaceAdmin-Test and some small changes for Demo-Mode-Test
  e2e/cypress/e2e/Test-Controller/Demo.cy.ts
  e2e/cypress/e2e/utils.ts
  frontend/src/app/workspace-admin/files/files.component.html
Due: build-backend, build-frontend, build-broadcasting-service, test-frontend-unit, test-e2e

BE: Upgrade PHP Version to 8.2.5
  .idea/php.xml
  backend/composer.json
  backend/composer.lock
  docker/backend.Dockerfile
Due: build-backend, test-backend-unit, test-backend-api

BE: Fix broken unit test
  backend/src/helper/TestEnvironment.class.php
  backend/test/unit/dao/DAOTest.php
  scripts/database/full.sql
Due: build-backend, test-backend-unit, test-backend-api

BE: Fix broken tests
  backend/src/helper/TestEnvironment.class.php
  backend/src/workspace/WorkspaceInitializer.class.php
  docs/api/workspace.spec.yml
  e2e/cypress/e2e/utils.ts
  sampledata/system-test/CY_BKL_Mode_Demo.xml
  sampledata/system-test/CY_ControllerTest_Logins.xml
  sampledata/system-test/CY_Unit100.xml
  sampledata/system-test/CY_Unit101.xml
  sampledata/system-test/CY_Unit102.xml
  sampledata/system-test/CY_Unit103.xml
  sampledata/system-test/CY_Unit104.xml
Due: build-backend, build-frontend, build-broadcasting-service, test-backend-unit, test-e2e, test-backend-api

BE: Don't expose PHP and Apache version in response headers
  backend/config/local.php.ini
  backend/config/security.conf
  docker/backend.Dockerfile
Due: build-backend, test-backend-unit, test-backend-api

BE: Fix unit test
  backend/test/unit/workspace/SysChecksFolderTest.php
Due: build-backend, test-backend-unit, test-backend-api

BE: make timing-attacks more difficult
  backend/src/dao/AdminDAO.class.php
Due: build-backend, test-backend-unit, test-backend-api

Path conditions:
  build-backend: (any of: backend/**/*, database/**/*, definitions/**/*) or (any of: e2e/**/*)
  build-frontend: (any of: frontend/**/*, common/**/*) or (any of: e2e/**/*)
  build-broadcasting-service: (any of: broadcasting-service/**/*, common/**/*) or (any of: e2e/**/*)
  test-backend-unit: any of: backend/**/*, database/**/*, definitions/**/*
  test-frontend-unit: any of: frontend/**/*, common/**/*
  test-broadcasting-service-unit: any of: broadcasting-service/**/*, common/**/*
  test-e2e: any of: e2e/**/*
  test-backend-api: any of: backend/**/*, database/**/*, definitions/**/*
