Repository iqb-berlin/testcenter: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend, build-frontend, build-broadcasting-service, test-backend-unit, test-frontend-unit, test-broadcasting-service-unit, test-e2e, test-backend-api

build-backend:
  stage: build
  script:
  - apk add make curl
  - curl -SL https://github.com/docker/compose/releases/download/v2.6.0/docker-compose-linux-x86_64 -o /usr/local/bin/docker-compose
  - chmod +x /usr/local/bin/docker-compose
  - make init
  - make build service=testcenter-backend
  ...

build-frontend:
  stage: build
  script:
  - apk add make curl
  - curl -SL https://github.com/docker/compose/releases/download/v2.6.0/docker-compose-linux-x86_64 -o /usr/local/bin/docker-compose
  - chmod +x /usr/local/bin/docker-compose
  - make init
  - make build service=testcenter-frontend
  ...

build-broadcasting-service:
  stage: build
  script:
  - apk add make curl
  - curl -SL https://github.com/docker/compose/releases/download/v2.6.0/docker-compose-linux-x86_64 -o /usr/local/bin/docker-compose
  - chmod +x /usr/local/bin/docker-compose
  - make init
  - make build service=testcenter-broadcasting-service
  ...

test-backend-unit:
  stage: test
  needs:
  - job: build-backend
    artifacts: true
  script:
  - apk add make docker-compose
  - make init
  - docker load -i backend_image.tar
  - make test-backend-unit

test-frontend-unit:
  stage: test
  needs:
  - job: build-frontend
    artifacts: true
  script:
  - apk add make docker-compose
  - make init-env
  - make init-frontend
  - docker load -i frontend_image.tar
  - make test-frontend-unit

test-broadcasting-service-unit:
  stage: test
  needs:
  - job: build-broadcasting-service
    artifacts: true
  script:
  - apk add make docker-compose
  - make init-env
  - docker load -i bs_image.tar
  - make test-broadcasting-service-unit

test-e2e:
  stage: test
  needs:
  - job: build-frontend
    artifacts: true
  - job: build-backend
    artifacts: true
  - job: build-broadcasting-service
    artifacts: true
  script:
  - apk add make
  - docker load -i frontend_image.tar
  - docker load -i backend_image.tar
  - docker load -i bs_image.tar
  ...

test-backend-api:
  stage: test
  needs:
  - job: build-backend
    artifacts: true
  script:
  - apk add make
  - make init
  - make test-backend-api

fe: Remove handling of 422-errors because it does not exist in API
  frontend/src/app/error.interceptor.ts
Due: build-frontend, test-frontend-unit

fe: Include UserAgent-information into error-report
  frontend/src/app/shared/components/error/error.component.html
  frontend/src/app/shared/components/error/error.component.ts
Due: build-frontend, test-frontend-unit

be: remove obsolete todo
  backend/src/controller/SystemController.class.php
Due: build-backend, test-backend-unit, test-backend-api

fe: Improve visual feedback on loading data.
  frontend/src/app/app-root/monitor-starter/monitor-starter.component.ts
  frontend/src/app/app-root/test-starter/test-starter.component.ts
  frontend/src/app/app.module.ts
  frontend/src/app/shared/services/maindata/maindata.service.ts
  frontend/src/app/superadmin/settings/app-config.component.html
  frontend/src/app/superadmin/superadmin.module.ts
  frontend/src/app/superadmin/users/users.component.html
  frontend/src/app/superadmin/users/users.component.ts
  frontend/src/app/superadmin/workspaces/workspaces.component.html
  frontend/src/app/superadmin/workspaces/workspaces.component.ts
  frontend/src/app/sys-check/sys-check.module.ts
  frontend/src/app/test-controller/components/test-controller/test-controller.component.ts
  frontend/src/app/test-controller/test-controller.module.ts
  frontend/src/app/workspace-admin/files/files.component.html
  frontend/src/app/workspace-admin/files/files.component.ts
  frontend/src/app/workspace-admin/results/results.component.css
  frontend/src/app/workspace-admin/results/results.component.html
  frontend/src/app/workspace-admin/results/results.component.ts
  frontend/src/app/workspace-admin/syscheck/syscheck.component.css
  frontend/src/app/workspace-admin/syscheck/syscheck.component.html
  frontend/src/app/workspace-admin/syscheck/syscheck.component.ts
  frontend/src/app/workspace-admin/workspace.module.ts
Due: build-frontend, test-frontend-unit

fe: Remove duplicate tracking of workspace-id.
  frontend/src/app/workspace-admin/backend.service.ts
  frontend/src/app/workspace-admin/files/files.component.ts
  frontend/src/app/workspace-admin/files/iqb-files-upload/iqb-files-upload.component.ts
  frontend/src/app/workspace-admin/results/results.component.ts
  frontend/src/app/workspace-admin/syscheck/syscheck.component.ts
  frontend/src/app/workspace-admin/workspace.component.ts
  frontend/src/app/workspace-admin/workspacedata.service.ts
Due: build-frontend, test-frontend-unit

fe: Remove commented code
  frontend/src/app/app.component.ts
  frontend/src/app/app.error-handler.ts
  frontend/src/app/error.interceptor.ts
  frontend/src/app/shared/services/maindata/maindata.service.ts
Due: build-frontend, test-frontend-unit

fe: Remove commented code
  frontend/src/app/test-controller/services/test-loader.service.ts
Due: build-frontend, test-frontend-unit

fe: Use default error-handler for saving reviews as well.
  frontend/src/app/test-controller/components/test-controller/test-controller.component.ts
  frontend/src/app/test-controller/services/backend.service.ts
Due: build-frontend, test-frontend-unit

fe: Remove special treatment of errors occurring in lazy-loading mode because that's not necessary.
  frontend/src/app/test-controller/components/test-status/test-status.component.ts
Due: build-frontend, test-frontend-unit

fe: RShow on-console warning regardless of timing-issues.
  frontend/src/app/test-controller/components/test-controller/test-controller.component.ts
  frontend/src/app/test-controller/services/backend.service.ts
Due: build-frontend, test-frontend-unit

fe: Add meaningful behaviour for 503- errors, which occur when the backend is currently in initialize-phase for example.
  .idea/phpunit.xml
  backend/index.php
  frontend/src/app/app.interfaces.ts
  frontend/src/app/backend.service.ts
  frontend/src/app/error.interceptor.ts
  frontend/src/app/shared/components/error/error.component.html
  frontend/src/app/shared/components/error/error.component.ts
Due: build-backend, build-frontend, test-backend-unit, test-frontend-unit, test-backend-api

fe: Make fatal- and temporally-not-available-error-messaged modal.
  frontend/src/app/shared/components/error/error.component.html
  frontend/src/app/shared/components/error/error.component.ts
Due: build-frontend, test-frontend-unit

fe: If a subsequent error occurs while error is already displayed, include it into the error-report.
  .idea/testcenter.iml
  frontend/src/app/app.component.ts
  frontend/src/app/shared/components/error/error.component.html
  frontend/src/app/shared/components/error/error.component.ts
  frontend/src/app/test-controller/components/unithost/unithost.component.ts
Due: build-frontend, test-frontend-unit

fe: Don't fall into infinitive loop if there is an error inside a subscription of appError$.
  .idea/testcenter.iml
  frontend/src/app/app.component.ts
  frontend/src/app/app.error-handler.ts
  frontend/src/app/app.interfaces.ts
  frontend/src/app/shared/components/error/error.component.html
  frontend/src/app/shared/services/maindata/maindata.service.ts
  frontend/src/app/test-controller/components/unithost/unithost.component.ts
Due: build-frontend, test-frontend-unit

fe: Include URL into error-report.
  .idea/testcenter.iml
  frontend/src/app/shared/components/error/error.component.html
  frontend/src/app/shared/components/error/error.component.ts
Due: build-frontend, test-frontend-unit

Fix linting errors
  .idea/jsLibraryMappings.xml
  frontend/src/app/workspace-admin/files/iqb-files-upload/iqb-files-upload.component.ts
Due: build-frontend, test-frontend-unit

fe: Remove app from existing selectors
  frontend/src/app/attachment-manager/components/add-attachment/add-attachment.component.ts
  frontend/src/app/attachment-manager/components/attachment-manager/attachment-manager.component.ts
  frontend/src/app/attachment-manager/components/attachment-overview/attachment-overview.component.html
  frontend/src/app/group-monitor/group-monitor.component.ts
  frontend/src/app/superadmin/settings/app-config.component.ts
  frontend/src/app/superadmin/settings/edit-custom-text.component.ts
  frontend/src/app/superadmin/settings/edit-custom-texts.component.ts
  frontend/src/app/superadmin/settings/settings.component.ts
  frontend/src/app/sys-check/report/save-report/save-report.component.ts
Due: build-frontend, test-frontend-unit

A newer version of cypress 10.8.0
  docker/e2e.Dockerfile
  e2e/package.json
Due: build-backend, build-frontend, build-broadcasting-service, test-e2e

add the booklet for sm hot-mode test
  backend/src/workspace/WorkspaceInitializer.class.php
Due: build-backend, test-backend-unit, test-backend-api

some changes (second ws and logout routine)
  e2e/cypress/e2e/superadmin.cy.ts
Due: build-backend, build-frontend, build-broadcasting-service, test-e2e

Add data-cy for group-monitor
  frontend/src/app/app-root/monitor-starter/monitor-starter.component.html
Due: build-frontend, test-frontend-unit

Add data-cy to choose between ws1 and ws2
  frontend/src/app/superadmin/users/users.component.html
  frontend/src/app/superadmin/workspaces/workspaces.component.html
Due: build-frontend, test-frontend-unit

Small optimizations and modifications Demo/Review
  e2e/cypress/e2e/Test-Controller/Demo.cy.ts
  e2e/cypress/e2e/Test-Controller/Review.cy.ts
Due: build-backend, build-frontend, build-broadcasting-service, test-e2e

Optimization and Modification Utils
  e2e/cypress/e2e/utils.ts
Due: build-backend, build-frontend, build-broadcasting-service, test-e2e

Small changes workspaceAdmin
  e2e/cypress/e2e/workspace-admin.cy.ts
Due: build-backend, build-frontend, build-broadcasting-service, test-e2e

Add testfiles for sessionmanagement run
  e2e/cypress/fixtures/Testtaker_DuplicatedGroup.xml
  e2e/cypress/fixtures/Testtaker_DuplicatedLogin.xml
  sampledata/system-test/CY_BKL_SessionManagement_HotModi.xml
Due: build-backend, build-frontend, build-broadcasting-service, test-e2e

fe: Don't show an error message when test-loading-precess was aborted
  frontend/src/app/app.interfaces.ts
  frontend/src/app/test-controller/classes/missing-booklet-error.class.ts
  frontend/src/app/test-controller/components/test-controller/test-controller.component.ts
  frontend/src/app/test-controller/components/unithost/unithost.component.ts
  frontend/src/app/test-controller/routing/unit-activate.guard.ts
  frontend/src/app/test-controller/routing/unit-deactivate.guard.ts
  frontend/src/app/test-controller/services/test-controller.service.ts
Due: build-frontend, test-frontend-unit

fe: Improve error-message fpr invalid-session errors.
  frontend/src/app/error.interceptor.ts
  frontend/src/app/shared/components/error/error.component.html
  frontend/src/app/shared/components/error/error.component.ts
Due: build-frontend, test-frontend-unit

fe: Improve design and details of the error report
  frontend/src/app/app.error-handler.ts
  frontend/src/app/app.interfaces.ts
  frontend/src/app/auth.interceptor.ts
  frontend/src/app/error.interceptor.ts
  frontend/src/app/retry.interceptor.ts
  frontend/src/app/shared/components/error/error.component.css
  frontend/src/app/shared/components/error/error.component.html
  frontend/src/app/shared/components/error/error.component.ts
  frontend/src/app/test-controller/components/test-controller/test-controller.component.ts
  frontend/src/app/test-controller/components/test-status/test-status.component.html
Due: build-frontend, test-frontend-unit

fe: Fix alert design
  frontend/src/app/shared/components/alert/alert.component.css
Due: build-frontend, test-frontend-unit

fe: Fix typos
  definitions/custom-texts.json
Due: build-backend, test-backend-unit, test-backend-api

fe: Don't swallow identical API errors
  frontend/src/app/shared/services/maindata/maindata.service.ts
Due: build-frontend, test-frontend-unit

fe: Remove various console.logs
  frontend/src/app/app.component.ts
  frontend/src/app/error.interceptor.ts
  frontend/src/app/group-monitor/test-session-manager/test-session-manager.service.ts
  frontend/src/app/retry.interceptor.ts
  frontend/src/app/shared/components/alert/alert.component.spec.ts
  frontend/src/app/sys-check/backend.service.ts
  frontend/src/app/sys-check/unit-check/unit-check.component.ts
  frontend/src/app/test-controller/components/test-controller/test-controller.component.ts
  frontend/src/app/test-controller/components/unithost/unithost.component.ts
  frontend/src/app/test-controller/services/test-controller.service.ts
  frontend/src/app/test-controller/services/test-loader.service.spec.ts
Due: build-frontend, test-frontend-unit

fe: Replace deprecated syntax and functions
  frontend/src/app/error.interceptor.ts
  frontend/src/app/retry.interceptor.ts
  frontend/src/app/test-controller/components/test-controller/test-controller.component.ts
  frontend/src/app/test-controller/services/test-controller.service.ts
Due: build-frontend, test-frontend-unit

fe: Show visual Warning when a navigation-target was requested, which not exists.
  frontend/src/app/backend.service.ts
  frontend/src/app/shared/services/message.service.ts
  frontend/src/app/superadmin/backend.service.ts
  frontend/src/app/sys-check/backend.service.ts
  frontend/src/app/test-controller/routing/unit-activate.guard.ts
  frontend/src/app/test-controller/routing/unit-deactivate.guard.ts
  frontend/src/app/test-controller/services/backend.service.ts
  frontend/src/app/test-controller/services/test-controller.service.ts
Due: build-frontend, test-frontend-unit

fe: update remaining selectors
  frontend/src/app/app-root/admin-starter/admin-starter.component.html
  frontend/src/app/app-root/code-input/code-input.component.html
  frontend/src/app/app-root/legal-notice/legal-notice.component.html
  frontend/src/app/app-root/login/login.component.html
  frontend/src/app/app-root/monitor-starter/monitor-starter.component.html
  frontend/src/app/app-root/status-card/status-card.component.ts
  frontend/src/app/app-root/test-starter/test-starter.component.html
  frontend/src/app/app.component.html
  frontend/src/app/attachment-manager/components/attachment-overview/attachment-overview.component.html
  frontend/src/app/attachment-manager/components/capture-image/capture-image.component.html
  frontend/src/app/group-monitor/group-monitor.component.html
  frontend/src/app/shared/components/alert/alert.component.ts
  frontend/src/app/superadmin/settings/app-config.component.html
  frontend/src/app/sys-check/unit-check/unit-check.component.html
  frontend/src/app/sys-check/unit-check/unit-check.component.ts
  frontend/src/app/test-controller/components/test-controller/test-controller.component.html
  frontend/src/app/test-controller/components/unit-menu/unit-menu.component.ts
  frontend/src/app/workspace-admin/files/files.component.html
  frontend/src/app/workspace-admin/files/iqb-files-upload-queue/iqb-files-upload-queue.component.html
  frontend/src/app/workspace-admin/files/iqb-files-upload-queue/iqb-files-upload-queue.component.ts
  frontend/src/app/workspace-admin/files/iqb-files-upload/iqb-files-upload.component.html
  frontend/src/app/workspace-admin/files/iqb-files-upload/iqb-files-upload.component.ts
Due: build-frontend, test-frontend-unit

fe: Fix unit tests
  frontend/src/app/test-controller/components/test-controller/test-controller.component.spec.ts
  frontend/src/app/test-controller/components/test-controller/test-controller.component.ts
  frontend/src/app/test-controller/services/test-controller.service.spec.ts
  frontend/src/app/test-controller/services/test-loader.service.spec.ts
  frontend/src/app/test-controller/unit-test-data/test-data.ts
Due: build-frontend, test-frontend-unit

ci: fix yaml?
  .gitlab-ci.yml
Due: none

Add a new name for CY-Testtaker-Login.xml
  backend/src/workspace/WorkspaceInitializer.class.php
  e2e/cypress/e2e/Test-Controller/Demo.cy.ts
  e2e/cypress/e2e/Test-Controller/Review.cy.ts
  sampledata/system-test/CY_ControllerTest_Logins.xml
  sampledata/system-test/CY_Test_Logins.xml
Due: build-backend, build-frontend, build-broadcasting-service, test-backend-unit, test-e2e, test-backend-api

Prepare the sessionmanagement test for time restricted logins (Preversion)
  e2e/cypress/e2e/SessionManagement_TimeResLogins.cy.ts
  e2e/cypress/e2e/utils.ts
  frontend/src/app/app.component.html
Due: build-backend, build-frontend, build-broadcasting-service, test-frontend-unit, test-e2e

Path conditions:
  build-backend: (any of: backend/**/*, database/**/*, definitions/**/*) or (any of: e2e/**/*)
  build-frontend: (any of: frontend/**/*, common/**/*) or (any of: e2e/**/*)
  build-broadcasting-service: (any of: broadcasting-service/**/*, common/**/*) or (any of: e2e/**/*)
  test-backend-unit: any of: backend/**/*, database/**/*, definitions/**/*
  test-frontend-unit: any of: frontend/**/*, common/**/*
  test-broadcasting-service-unit: any of: broadcasting-service/**/*, common/**/*
  test-e2e: any of: e2e/**/*
  test-backend-api: any of: backend/**/*, database/**/*, definitions/**/*
