Repository iqb-berlin/testcenter: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-backend-feature-rules, check-broadcasting-service-feature-rules, check-common-feature-rules, check-e2e-feature-rules, check-file-service-feature-rules, check-frontend-feature-rules, check-task-runner-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, build-task-runner, test-backend-unit, test-frontend-unit, test-broadcasting-service-unit, test-backend-api, test-file-service-api, test-backend-initialization, test-e2e

check-backend-feature-rules:
  stage: .pre
  interruptible: true
  allow_failure: true
  script:
  - echo $CI_COMMIT_BRANCH
  - echo $CI_PIPELINE_SOURCE
  - if [ -n "$CI_COMMIT_BRANCH" ]; then echo "commit branch string length is nonzero"; else echo "commit branch = '$CI_COMMIT_BRANCH'"; fi
  ...

check-broadcasting-service-feature-rules:
  stage: .pre
  interruptible: true
  allow_failure: true
  script:
  - echo $CI_COMMIT_BRANCH
  - echo $CI_PIPELINE_SOURCE
  - if [ -n "$CI_COMMIT_BRANCH" ]; then echo "commit branch string length is nonzero"; else echo "commit branch = '$CI_COMMIT_BRANCH'"; fi
  ...

check-common-feature-rules:
  stage: .pre
  interruptible: true
  allow_failure: true
  script:
  - echo $CI_COMMIT_BRANCH
  - echo $CI_PIPELINE_SOURCE
  - if [ -n "$CI_COMMIT_BRANCH" ]; then echo "commit branch string length is nonzero"; else echo "commit branch = '$CI_COMMIT_BRANCH'"; fi
  ...

check-e2e-feature-rules:
  stage: .pre
  interruptible: true
  allow_failure: true
  script:
  - echo $CI_COMMIT_BRANCH
  - echo $CI_PIPELINE_SOURCE
  - if [ -n "$CI_COMMIT_BRANCH" ]; then echo "commit branch string length is nonzero"; else echo "commit branch = '$CI_COMMIT_BRANCH'"; fi
  ...

check-file-service-feature-rules:
  stage: .pre
  interruptible: true
  allow_failure: true
  script:
  - echo $CI_COMMIT_BRANCH
  - echo $CI_PIPELINE_SOURCE
  - if [ -n "$CI_COMMIT_BRANCH" ]; then echo "commit branch string length is nonzero"; else echo "commit branch = '$CI_COMMIT_BRANCH'"; fi
  ...

check-frontend-feature-rules:
  stage: .pre
  interruptible: true
  allow_failure: true
  script:
  - echo $CI_COMMIT_BRANCH
  - echo $CI_PIPELINE_SOURCE
  - if [ -n "$CI_COMMIT_BRANCH" ]; then echo "commit branch string length is nonzero"; else echo "commit branch = '$CI_COMMIT_BRANCH'"; fi
  ...

check-task-runner-feature-rules:
  stage: .pre
  interruptible: true
  allow_failure: true
  script:
  - echo $CI_COMMIT_BRANCH
  - echo $CI_PIPELINE_SOURCE
  - if [ -n "$CI_COMMIT_BRANCH" ]; then echo "commit branch string length is nonzero"; else echo "commit branch = '$CI_COMMIT_BRANCH'"; fi
  ...

build-backend:
  stage: build
  variables:
    BACKEND_IMAGE_NAME: ${CI_REGISTRY_IMAGE}/iqbberlin/testcenter-backend
  before_script:
  - ip a | grep mtu
  - docker network inspect bridge | grep mtu
  - docker login --username $CI_DEPENDENCY_PROXY_USER --password $CI_DEPENDENCY_PROXY_PASSWORD $CI_DEPENDENCY_PROXY_SERVER
  ...

build-frontend:
  stage: build
  variables:
    FRONTEND_IMAGE_NAME: ${CI_REGISTRY_IMAGE}/iqbberlin/testcenter-frontend
  before_script:
  - ip a | grep mtu
  - docker network inspect bridge | grep mtu
  - cp frontend/src/environments/environment.dev.ts frontend/src/environments/environment.ts
  ...

build-broadcasting-service:
  stage: build
  variables:
    BROADCASTING_SERVICE_IMAGE_NAME: ${CI_REGISTRY_IMAGE}/iqbberlin/testcenter-broadcasting-service
  before_script:
  - ip a | grep mtu
  - docker network inspect bridge | grep mtu
  ...

Fix traefik default 'custom values'
  scripts/helm/custom/traefik/custom-values.yaml
Due: none

erste Optimierungen
  e2e/cypress/e2e/Session-Management/hot-restart-mode.cy.ts
  e2e/cypress/e2e/Session-Management/hot-return-mode.cy.ts
  e2e/cypress/e2e/Session-Management/login-possibilities.cy.ts
  e2e/cypress/e2e/Session-Management/testtakers-content.cy.ts
  e2e/cypress/e2e/Session-Management/testtakers-duplicates.cy.ts
  e2e/cypress/e2e/Session-Management/time-restrictions.cy.ts
  e2e/cypress/e2e/Super-Admin/settings.cy.ts
  e2e/cypress/e2e/Super-Admin/user-management.cy.ts
  e2e/cypress/e2e/Sys-Check/sys-check.cy.ts
  frontend/src/app/app-root/starter/starter.component.html
  frontend/src/app/workspace-admin/files/iqb-files-upload-queue/iqb-files-upload-queue.component.html
Due: check-e2e-feature-rules, check-frontend-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, test-frontend-unit, test-e2e

set the state, when starting timer
  docs/CHANGELOG.md
  frontend/src/app/test-controller/components/test-controller/test-controller.component.ts
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

Update to version 15.5.0
  docs/CHANGELOG.md
  package.json
  sampledata/Booklet.xml
  sampledata/Booklet2.xml
  sampledata/Booklet3.xml
  sampledata/SysCheck.xml
  sampledata/Testtakers.xml
  sampledata/Unit.xml
  sampledata/Unit2.xml
  sampledata/system-test/CY_BKL_Mode_Demo.xml
  sampledata/system-test/CY_BKL_Mode_Review.xml
  sampledata/system-test/CY_BKL_Mode_RunHotRestart.xml
  sampledata/system-test/CY_BKL_Mode_RunHotReturn.xml
  sampledata/system-test/CY_BKL_SessionManagement_HotModi.xml
  sampledata/system-test/CY_Test_Logins.xml
  sampledata/system-test/CY_Unit100.xml
  sampledata/system-test/CY_Unit101.xml
  sampledata/system-test/CY_Unit102.xml
  sampledata/system-test/CY_Unit103.xml
  sampledata/system-test/CY_Unit104.xml
Due: none

Backend: Avoid creation of duplicate units in race condition
  .idea/dataSources.xml
  .idea/sqldialects.xml
  backend/src/controller/TestController.class.php
  backend/src/dao/AdminDAO.class.php
  backend/src/dao/DAO.class.php
  backend/src/dao/InitDAO.class.php
  backend/src/dao/TestDAO.class.php
  backend/src/helper/State.class.php
  backend/test/unit/dao/AdminDAOTest.php
  backend/test/unit/dao/TestDAOTest.php
  backend/test/unit/helper/StateTest.php
  backend/test/unit/testdata.sql
  docs/api/test.spec.yml
  scripts/database/patches.d/next.sql
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

update to version 16.0.0-beta
  docs/CHANGELOG.md
  package.json
  sampledata/Booklet.xml
  sampledata/Booklet2.xml
  sampledata/Booklet3.xml
  sampledata/SysCheck.xml
  sampledata/Testtakers.xml
  sampledata/Unit.xml
  sampledata/Unit2.xml
  sampledata/system-test/CY_BKL_Mode_Demo.xml
  sampledata/system-test/CY_BKL_Mode_Review.xml
  sampledata/system-test/CY_BKL_Mode_RunHotRestart.xml
  sampledata/system-test/CY_BKL_Mode_RunHotReturn.xml
  sampledata/system-test/CY_BKL_SessionManagement_HotModi.xml
  sampledata/system-test/CY_Test_Logins.xml
  sampledata/system-test/CY_Unit100.xml
  sampledata/system-test/CY_Unit101.xml
  sampledata/system-test/CY_Unit102.xml
  sampledata/system-test/CY_Unit103.xml
  sampledata/system-test/CY_Unit104.xml
  scripts/database/patches.d/16.0.0-beta.sql
  scripts/helm/helm-install-tc.sh
  scripts/helm/testcenter/Chart.yaml
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

Fix 'docker-compose' tls calls
  scripts/make/prod.mk
  scripts/update.sh
Due: none

Fix traefik 'security-headers' middleware
  docker-compose.dev.yml
  docker-compose.prod.tls.yml
  docker-compose.prod.yml
Due: none

Revise docker environment vars for 'dev' and 'prod'
  .env.dev-template
  .env.prod-template
  docker-compose.dev.yml
  docker-compose.prod.tls.yml
  docker-compose.yml
Due: none

Add migration script for docker env var file
  scripts/migration/16.0.0.sh
Due: none

add execution rights to entrypoint scripts
  backend/Dockerfile
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

add 'build' to Makefile
  Makefile
Due: none

Fix behaviour of initialize.php in the case of an error
  backend/initialize.php
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

Move initialize process into separate service
  backend/Dockerfile
  backend/entrypoint-backend.sh
  backend/entrypoint-initializer.sh
  backend/is_healthy.php
  backend/src/helper/SystemConfig.class.php
  docker-compose.dev.yml
  docker-compose.yml
  scripts/make/dev.mk
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

wip
  scripts/make/dev-test.mk
  scripts/make/dev.mk
Due: none

Revise testcenter 'update' script
  scripts/update.sh
Due: none

Frontend: Include IQB Autocoder Version 3.5.0
  frontend/package-lock.json
  frontend/package.json
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

Fix subdomain routing
  docker-compose.dev.yml
  docker-compose.prod.tls.yml
  docker-compose.prod.yml
Due: none

Allow migration scripts to be executed once after downloading the 'updated' update script
  scripts/update.sh
Due: none

Optimized E2E-Tests:
  e2e/cypress/e2e/Session-Management/login-possibilities.cy.ts
  e2e/cypress/e2e/Session-Management/time-limited access.cy.ts
  e2e/cypress/e2e/Super-Admin/settings.cy.ts
  e2e/cypress/e2e/Super-Admin/user-management.cy.ts
  e2e/cypress/e2e/Super-Admin/workspace-management.cy.ts
  e2e/cypress/e2e/Sys-Check/sys-check.cy.ts
  e2e/cypress/e2e/Test-Controller/adaptivity.cy.ts
  e2e/cypress/e2e/Test-Controller/demo.cy.ts
  e2e/cypress/e2e/Test-Controller/hot-restart.cy.ts
  e2e/cypress/e2e/Test-Controller/hot-return.cy.ts
  e2e/cypress/e2e/Test-Controller/review.cy.ts
  e2e/cypress/e2e/Test-Controller/time-restrictions.cy.ts
  frontend/src/app/app-root/starter/starter.component.html
  frontend/src/app/shared/services/message.service.ts
  frontend/src/app/test-controller/components/test-controller/test-controller.component.ts
  frontend/src/app/test-controller/components/unithost/unithost.component.html
  frontend/src/app/test-controller/components/unithost/unithost.component.ts
Due: check-e2e-feature-rules, check-frontend-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, test-frontend-unit, test-e2e

Frontend: Handle nested restrictions correctly
  frontend/src/app/test-controller/components/unithost/unithost.component.html
  frontend/src/app/test-controller/components/unithost/unithost.component.ts
  frontend/src/app/test-controller/services/test-controller.service.ts
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

Frontend: Don't lock timed blocks in demo and similar modes
  frontend/src/app/test-controller/components/test-controller/test-controller.component.ts
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

update CHANGELOG.md
  docs/CHANGELOG.md
Due: none

add 'Minuten' as unit unlocking time block
  frontend/src/app/group-monitor/time-restriction-dialog/time-restriction-dialog.component.html
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

disable manual input via keyboard
  frontend/src/app/group-monitor/time-restriction-dialog/time-restriction-dialog.component.html
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

fix tooltip for codeToEnter
  definitions/custom-texts.json
  frontend/src/app/group-monitor/test-session/test-session.component.html
  frontend/src/app/test-controller/components/unithost/unithost.component.html
Due: check-backend-feature-rules, check-frontend-feature-rules, build-backend, build-frontend, build-task-runner, test-backend-unit, test-frontend-unit, test-backend-api, test-backend-initialization

optimize more testcases:
  e2e/cypress/e2e/Test-Controller/demo.cy.ts
  e2e/cypress/e2e/Test-Controller/hot-restart.cy.ts
  e2e/cypress/e2e/Test-Controller/hot-return.cy.ts
  e2e/cypress/e2e/Test-Controller/review.cy.ts
  e2e/cypress/e2e/Test-Controller/time-restrictions.cy.ts
Due: check-e2e-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, test-e2e

pull together customtexts, so multiple places depend on the same text, if applicable
  definitions/custom-texts.json
  docs/CHANGELOG.md
  docs/pages/custom-texts.md
  frontend/src/app/group-monitor/components/add-filter-dialog/add-filter-dialog.component.html
  frontend/src/app/group-monitor/group-monitor.component.html
  scripts/database/patches.d/next.sql
Due: check-backend-feature-rules, check-frontend-feature-rules, build-backend, build-frontend, build-task-runner, test-backend-unit, test-frontend-unit, test-backend-api, test-backend-initialization

return value of pipe depends on environment
  frontend/src/app/shared/pipes/customtext/customtext.pipe.ts
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

fix 'ARROWS_ONLY' booklet config to hide innerbox of unit-navigation
  docs/CHANGELOG.md
  frontend/src/app/test-controller/components/test-controller/test-controller.component.html
  frontend/src/app/test-controller/components/unit-nav-bar/unit-nav-bar.component.html
  frontend/src/app/test-controller/components/unit-nav-bar/unit-nav-bar.component.ts
  frontend/src/app/test-controller/test-controller.module.ts
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

optimize more testcases:
  e2e/cypress/e2e/Groupmonitor/Checking elementary functionality.cy.ts
  e2e/cypress/e2e/Super-Admin/settings.cy.ts
  e2e/cypress/e2e/Sys-Check/sys-check.cy.ts
  e2e/cypress/e2e/Test-Controller/hot-restart.cy.ts
  e2e/cypress/e2e/Test-Controller/review.cy.ts
  e2e/cypress/e2e/Workspace-Admin/files.cy.ts
  e2e/cypress/e2e/Workspace-Admin/misc.cy.ts
  e2e/cypress/e2e/Workspace-Admin/results.cy.ts
  e2e/cypress/e2e/Workspace-Admin/system-check.cy.ts
  e2e/cypress/e2e/utils.ts
  frontend/src/app/app-root/status-card/status-card.component.html
  frontend/src/app/test-controller/components/test-status/test-status.component.html
  frontend/src/app/workspace-admin/files/files.component.html
Due: check-e2e-feature-rules, check-frontend-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, test-frontend-unit, test-e2e

Add data-cy attribute for filtersettings
  e2e/cypress/e2e/Groupmonitor/profiles-and-filter.cy.ts
  frontend/src/app/group-monitor/components/add-filter-dialog/add-filter-dialog.component.html
Due: check-e2e-feature-rules, check-frontend-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, test-frontend-unit, test-e2e

optimize testcases hot-modes session management
  e2e/cypress/e2e/Session-Management/hot-restart-mode.cy.ts
  e2e/cypress/e2e/Session-Management/hot-return-mode.cy.ts
Due: check-e2e-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, test-e2e

Path conditions:
  check-backend-feature-rules: any of: backend/**/*, scripts/database/**/*, definitions/**/*
  check-broadcasting-service-feature-rules: any of: broadcasting-service/**/*
  check-common-feature-rules: any of: common/**/*
  check-e2e-feature-rules: any of: e2e/**/*
  check-file-service-feature-rules: any of: file-service/**/*
  check-frontend-feature-rules: any of: frontend/**/*
  check-task-runner-feature-rules: any of: task-runner/**/*
  build-backend: (any of: backend/**/*, scripts/database/**/*, definitions/**/*) or ((any of: task-runner/**/*) or (any of: e2e/**/*))
  build-frontend: (any of: frontend/**/*) or ((any of: common/**/*) or (any of: e2e/**/*))
  build-broadcasting-service: (any of: broadcasting-service/**/*) or ((any of: common/**/*) or (any of: e2e/**/*))
  build-file-service: (any of: file-service/**/*) or ((any of: task-runner/**/*) or (any of: e2e/**/*))
  build-e2e: any of: e2e/**/*
  build-task-runner: (any of: task-runner/**/*) or ((any of: backend/**/*, scripts/database/**/*, definitions/**/*) or (any of: file-service/**/*))
  test-backend-unit: any of: backend/**/*, scripts/database/**/*, definitions/**/*
  test-frontend-unit: (any of: frontend/**/*) or (any of: common/**/*)
  test-broadcasting-service-unit: (any of: broadcasting-service/**/*) or (any of: common/**/*)
  test-backend-api: (any of: backend/**/*, scripts/database/**/*, definitions/**/*) or (any of: task-runner/**/*)
  test-file-service-api: (any of: file-service/**/*) or (any of: task-runner/**/*)
  test-backend-initialization: any of: backend/**/*, scripts/database/**/*, definitions/**/*
  test-e2e: any of: e2e/**/*
