Repository iqb-berlin/testcenter: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-backend-feature-rules, check-broadcasting-service-feature-rules, check-common-feature-rules, check-e2e-feature-rules, check-file-service-feature-rules, check-frontend-feature-rules, check-task-runner-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, build-task-runner, test-backend-unit, test-frontend-unit, test-broadcasting-service-unit, test-backend-api, test-file-service-api, test-backend-initialization, test-e2e

Path conditions:
  check-backend-feature-rules: any of: backend/**/*, scripts/database/**/*, definitions/**/*
  check-broadcasting-service-feature-rules: any of: broadcasting-service/**/*
  check-common-feature-rules: any of: common/**/*
  check-e2e-feature-rules: any of: e2e/**/*
  check-file-service-feature-rules: any of: file-service/**/*
  check-frontend-feature-rules: any of: frontend/**/*
  check-task-runner-feature-rules: any of: task-runner/**/*
  build-backend: (any of: backend/**/*, scripts/database/**/*, definitions/**/*) or ((any of: task-runner/**/*) or (any of: e2e/**/*))
  build-frontend: (any of: frontend/**/*) or ((any of: common/**/*) or (any of: e2e/**/*))
  build-broadcasting-service: (any of: broadcasting-service/**/*) or ((any of: common/**/*) or (any of: e2e/**/*))
  build-file-service: (any of: file-service/**/*) or ((any of: task-runner/**/*) or (any of: e2e/**/*))
  build-e2e: any of: e2e/**/*
  build-task-runner: (any of: task-runner/**/*) or ((any of: backend/**/*, scripts/database/**/*, definitions/**/*) or (any of: file-service/**/*))
  test-backend-unit: any of: backend/**/*, scripts/database/**/*, definitions/**/*
  test-frontend-unit: (any of: frontend/**/*) or (any of: common/**/*)
  test-broadcasting-service-unit: (any of: broadcasting-service/**/*) or (any of: common/**/*)
  test-backend-api: (any of: backend/**/*, scripts/database/**/*, definitions/**/*) or (any of: task-runner/**/*)
  test-file-service-api: (any of: file-service/**/*) or (any of: task-runner/**/*)
  test-backend-initialization: any of: backend/**/*, scripts/database/**/*, definitions/**/*
  test-e2e: any of: e2e/**/*

add unit test for getOrCreateUnitId
  backend/src/dao/TestDAO.class.php
  backend/test/unit/dao/TestDAOTest.php
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

Revise E2E test configuration
  .gitlab-ci.yml
  docker-compose.dev.yml
  e2e/cypress.headless.config.js
  e2e/docker-compose.system-test-headless.yml
  frontend/Dockerfile
  package-lock.json
  scripts/make/dev-test.mk
  scripts/make/dev.mk
Due: check-e2e-feature-rules, check-frontend-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, test-frontend-unit, test-e2e

Add traefik dashboard for dev environment
  docker-compose.dev.yml
  scripts/helm/custom/traefik/custom-values.yaml
  scripts/helm/helm-install-tc.sh
Due: none

Backend: Repair createLoginSession to create group at first if not given, which is necessary now.
  backend/src/dao/SessionDAO.class.php
  backend/test/unit/dao/SessionDAOTest.php
  backend/test/unit/test-helper/CreateGroupTokenTask.php
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

mirror max upload size for php in nginx config
  frontend/nginx.conf
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

Revise API test configuration
  test/docker-compose.api-test.yml
Due: none

Run backend with port '8080' for ordinary user processes
  backend/Dockerfile
  backend/config/vhost.conf
  backend/src/helper/FileService.class.php
  docker-compose.dev.yml
  docker-compose.prod.tls.yml
  docker-compose.prod.yml
  docker-compose.yml
  e2e/cypress.headless.config.js
  frontend/Dockerfile
  frontend/angular.json
  frontend/nginx.conf
  frontend/proxy.conf.json
  frontend/src/environments/environment.system-test.ts
  scripts/helm/testcenter/templates/backend/deployment.yaml
  scripts/helm/testcenter/templates/backend/job.yaml
  scripts/helm/testcenter/templates/backend/service.yaml
  scripts/helm/testcenter/templates/broadcasting/deployment.yaml
  scripts/helm/testcenter/templates/cache-server/deployment.yaml
  scripts/helm/testcenter/templates/db/deployment.yaml
  scripts/helm/testcenter/templates/db/service.yaml
  scripts/helm/testcenter/templates/file-server/depoyment.yaml
  scripts/helm/testcenter/templates/frontend/deployment.yaml
  scripts/helm/testcenter/templates/traefik/ingress-route.yaml
  scripts/helm/testcenter/values.yaml
  test/config.docker.json
Due: check-backend-feature-rules, check-e2e-feature-rules, check-frontend-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, build-task-runner, test-backend-unit, test-frontend-unit, test-backend-api, test-backend-initialization, test-e2e

enable file_service_enabled in .env
  .env.dev-template
  .env.prod-template
  scripts/helm/testcenter/values.yaml
Due: none

update Changelog
  docs/CHANGELOG.md
Due: none

reorder values to better show dependencies
  scripts/helm/testcenter/custom-values.yaml
  scripts/helm/testcenter/values.yaml
Due: none

build file-server ressources only if fs is enabled for backend
  scripts/helm/testcenter/templates/file-server/configmap-nginx.yaml
  scripts/helm/testcenter/templates/file-server/secret.yaml
Due: none

rename environment properties
  .env.dev-template
  .env.prod-template
  backend/src/helper/SystemConfig.class.php
  backend/test/initialization/docker-compose.initialization-test.yml
  docker-compose.yml
  file-service/auth/content.lua
  file-service/auth/redis_connector.lua
  file-service/nginx.conf
  scripts/helm/testcenter/templates/backend/configmap.yaml
  scripts/helm/testcenter/templates/backend/job.yaml
  scripts/helm/testcenter/templates/cache-server/deployment.yaml
  scripts/helm/testcenter/templates/file-server/configmap-nginx.yaml
  scripts/helm/testcenter/templates/file-server/configmap.yaml
  scripts/helm/testcenter/templates/file-server/depoyment.yaml
  scripts/helm/testcenter/values.yaml
  scripts/migration/16.0.0.sh
  test/docker-compose.api-test.yml
Due: check-backend-feature-rules, check-file-service-feature-rules, build-backend, build-file-service, build-task-runner, test-backend-unit, test-backend-api, test-file-service-api, test-backend-initialization

[cache-service] Run cache service rootless
  docker-compose.yml
  scripts/helm/testcenter/templates/cache-server/deployment.yaml
Due: none

update CHANGELOG.md
  docs/CHANGELOG.md
Due: none

[cache-service] Switch off persistence
  docker-compose.yml
  scripts/helm/testcenter/custom-values.yaml
  scripts/helm/testcenter/templates/cache-server/deployment.yaml
  scripts/helm/testcenter/templates/cache-server/persistent-volume-claim.yaml
  scripts/helm/testcenter/values.yaml
Due: none

[file-service] Change local 'backend' and 'file service' ports
  frontend/Dockerfile
  frontend/proxy.conf.json
  scripts/helm/testcenter/templates/file-server/configmap-nginx.yaml
  scripts/helm/testcenter/templates/file-server/secret.yaml
  scripts/helm/testcenter/templates/traefik/ingress-route.yaml
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

add make commands to work locally with data folder
  Makefile
  scripts/make/dev.mk
Due: none

Run 'file service' container rootless
  e2e/cypress.headless.config.js
  file-service/Dockerfile
  file-service/nginx.conf
  scripts/helm/testcenter/templates/file-server/configmap-nginx.yaml
  scripts/helm/testcenter/templates/file-server/depoyment.yaml
  scripts/helm/testcenter/templates/file-server/service.yaml
  test/config.docker.json
Due: check-e2e-feature-rules, check-file-service-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, build-task-runner, test-file-service-api, test-e2e

remove unnecessary chown access of root mounted volumes
  backend/entrypoint.sh
  backend/initialize_only.sh
  scripts/helm/testcenter/templates/backend/deployment.yaml
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

Backend: Show correct error of applying a patch fails when creating test environment
  backend/src/helper/TestEnvironment.class.php
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

[cache-service] Secure connection with authentication
  .env.dev-template
  .env.prod-template
  backend/src/helper/CacheService.class.php
  backend/src/helper/SystemConfig.class.php
  backend/test/initialization/docker-compose.initialization-test.yml
  docker-compose.yml
  file-service/auth/redis_connector.lua
  file-service/nginx.conf
  scripts/helm/helm-install-tc.sh
  scripts/helm/testcenter/custom-values.yaml
  scripts/helm/testcenter/templates/backend/job.yaml
  scripts/helm/testcenter/templates/backend/secret.yaml
  scripts/helm/testcenter/templates/cache-server/configmap.yaml
  scripts/helm/testcenter/templates/cache-server/deployment.yaml
  scripts/helm/testcenter/templates/cache-server/secret.yaml
  scripts/helm/testcenter/templates/db/deployment.yaml
  scripts/helm/testcenter/templates/db/secret.yaml
  scripts/helm/testcenter/templates/file-server/configmap-nginx.yaml
  scripts/helm/testcenter/templates/file-server/depoyment.yaml
  scripts/helm/testcenter/templates/file-server/secret.yaml
  scripts/helm/testcenter/values.yaml
  scripts/install.sh
  scripts/migration/16.0.0.sh
  test/api/test.js
  test/config.docker.json
Due: check-backend-feature-rules, check-file-service-feature-rules, build-backend, build-file-service, build-task-runner, test-backend-unit, test-backend-api, test-file-service-api, test-backend-initialization

run backend dev container as www-data
  backend/Dockerfile
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

Make File Server deployment optional
  scripts/helm/testcenter/templates/file-server/configmap.yaml
  scripts/helm/testcenter/templates/file-server/depoyment.yaml
  scripts/helm/testcenter/templates/file-server/service.yaml
  scripts/helm/testcenter/templates/traefik/ingress-route.yaml
Due: none

rename migration script to 17.0.0
  scripts/migration/17.0.0.sh
Due: none

Database: Update to MySQL 8.4
  .gitlab-ci.yml
  backend/src/dao/AdminDAO.class.php
  backend/src/dao/DAO.class.php
  backend/test/initialization/docker-compose.initialization-test.yml
  docker-compose.prod.tls.yml
  docker-compose.prod.yml
  docker-compose.yml
  scripts/database/patches.d/15.0.0.sql
  scripts/database/patches.d/15.4.0.sql
  scripts/database/patches.d/next.sql
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

Use 'volumes_from' backend for file-service
  docker-compose.dev.yml
  docker-compose.prod.tls.yml
  docker-compose.prod.yml
  docker-compose.yml
  file-service/nginx.conf
  scripts/helm/testcenter/templates/file-server/configmap.yaml
Due: check-file-service-feature-rules, build-file-service, build-task-runner, test-file-service-api

Run frontend containers rootless in production
  frontend/Dockerfile
  frontend/nginx.conf
  scripts/helm/testcenter/templates/frontend/deployment.yaml
  scripts/helm/testcenter/templates/frontend/service.yaml
  scripts/helm/testcenter/templates/traefik/ingress-route.yaml
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

Backend: Update Testdata
  backend/test/unit/dao/AdminDAOTest.php
  backend/test/unit/testdata.sql
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

Update to version 17.0.0
  docs/CHANGELOG.md
  package.json
  sampledata/Booklet.xml
  sampledata/Booklet2.xml
  sampledata/Booklet3.xml
  sampledata/SysCheck.xml
  sampledata/Testtakers.xml
  sampledata/Unit.xml
  sampledata/Unit2.xml
  sampledata/system-test/CY_BKL_Mode_Demo.xml
  sampledata/system-test/CY_BKL_Mode_Review.xml
  sampledata/system-test/CY_BKL_Mode_RunHotRestart.xml
  sampledata/system-test/CY_BKL_Mode_RunHotReturn.xml
  sampledata/system-test/CY_BKL_SessionManagement_HotModi.xml
  sampledata/system-test/CY_Test_Logins.xml
  sampledata/system-test/CY_Unit100.xml
  sampledata/system-test/CY_Unit101.xml
  sampledata/system-test/CY_Unit102.xml
  sampledata/system-test/CY_Unit103.xml
  sampledata/system-test/CY_Unit104.xml
  scripts/helm/helm-install-tc.sh
  scripts/helm/testcenter/Chart.yaml
Due: none

[backend] Enhance update strategy
  scripts/helm/testcenter/values.yaml
Due: none

Add uninstallation of 'backend-container-init' job to 'uninstall_testcenter' function in helm uninstall script
  scripts/helm/helm-uninstall-tc.sh
Due: none

[cache-service] Enable redis port configuration
  backend/src/helper/CacheService.class.php
  backend/src/helper/SystemConfig.class.php
  backend/test/initialization/docker-compose.initialization-test.yml
  docker-compose.yml
  file-service/auth/redis_connector.lua
  file-service/nginx.conf
  scripts/helm/testcenter/templates/backend/job.yaml
  scripts/helm/testcenter/templates/file-server/configmap-nginx.yaml
  scripts/helm/testcenter/templates/file-server/depoyment.yaml
Due: check-backend-feature-rules, check-file-service-feature-rules, build-backend, build-file-service, build-task-runner, test-backend-unit, test-backend-api, test-file-service-api, test-backend-initialization

[cache-service] Refactor docker environment variable settings
  backend/src/helper/SystemConfig.class.php
  backend/test/initialization/docker-compose.initialization-test.yml
  docker-compose.dev.yml
  docker-compose.yml
  scripts/helm/testcenter/templates/backend/job.yaml
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

Backend: fix message
  backend/src/dao/SessionDAO.class.php
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

Make MySQL patch fit
  scripts/database/patches.d/next.sql
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

[setup] Revise version 17.0.0 migration script
  scripts/migration/17.0.0.sh
Due: none

Run backend containers with 'www-data' user in production
  backend/Dockerfile
  scripts/helm/testcenter/templates/backend/deployment.yaml
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

use frontend server as reverse proxy to file service
  backend/src/helper/FileService.class.php
  backend/src/helper/SystemConfig.class.php
  docker-compose.dev.yml
  docker-compose.prod.tls.yml
  docker-compose.prod.yml
  file-service/Dockerfile
  file-service/cors.conf
  frontend/Dockerfile
  frontend/nginx.conf
  frontend/proxy.conf.json
  frontend/src/app/test-controller/components/unithost/unithost.component.ts
  frontend/src/app/test-controller/services/backend.service.ts
  scripts/helm/testcenter/templates/traefik/ingress-route.yaml
Due: check-backend-feature-rules, check-file-service-feature-rules, check-frontend-feature-rules, build-backend, build-frontend, build-file-service, build-task-runner, test-backend-unit, test-frontend-unit, test-backend-api, test-file-service-api, test-backend-initialization

extend initial delay for backend livenessprobe
  scripts/helm/testcenter/templates/backend/deployment.yaml
Due: none
