Repository iqb-berlin/testcenter: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend, build-frontend, build-broadcasting-service, test-backend-unit, test-frontend-unit, test-broadcasting-service-unit, test-e2e, test-backend-api

build-backend:
  stage: build
  script:
  - apk add make curl
  - curl -SL https://github.com/docker/compose/releases/download/v2.6.0/docker-compose-linux-x86_64 -o /usr/local/bin/docker-compose
  - chmod +x /usr/local/bin/docker-compose
  - make init
  - make build service=testcenter-backend
  ...

build-frontend:
  stage: build
  script:
  - apk add make curl
  - curl -SL https://github.com/docker/compose/releases/download/v2.6.0/docker-compose-linux-x86_64 -o /usr/local/bin/docker-compose
  - chmod +x /usr/local/bin/docker-compose
  - make init
  - make build service=testcenter-frontend
  ...

build-broadcasting-service:
  stage: build
  script:
  - apk add make curl
  - curl -SL https://github.com/docker/compose/releases/download/v2.6.0/docker-compose-linux-x86_64 -o /usr/local/bin/docker-compose
  - chmod +x /usr/local/bin/docker-compose
  - make init
  - make build service=testcenter-broadcasting-service
  ...

test-backend-unit:
  stage: test
  needs:
  - job: build-backend
    artifacts: true
  script:
  - apk add make docker-compose
  - make init
  - docker load -i backend_image.tar
  - make test-backend-unit

test-frontend-unit:
  stage: test
  needs:
  - job: build-frontend
    artifacts: true
  script:
  - apk add make docker-compose
  - make init-env
  - make init-frontend
  - docker load -i frontend_image.tar
  - make test-frontend-unit

test-broadcasting-service-unit:
  stage: test
  needs:
  - job: build-broadcasting-service
    artifacts: true
  script:
  - apk add make docker-compose
  - make init-env
  - docker load -i bs_image.tar
  - make test-broadcasting-service-unit

test-e2e:
  stage: test
  needs:
  - job: build-frontend
    artifacts: true
  - job: build-backend
    artifacts: true
  - job: build-broadcasting-service
    artifacts: true
  script:
  - apk add make
  - docker load -i frontend_image.tar
  - docker load -i backend_image.tar
  - docker load -i bs_image.tar
  ...

test-backend-api:
  stage: test
  needs:
  - job: build-backend
    artifacts: true
  script:
  - apk add make
  - make init
  - make test-backend-api

BE: remove unnecessary token refreshment for newly created token
  backend/src/controller/SessionController.class.php
Due: build-backend, test-backend-unit, test-backend-api

BE: Make session tokens unguessable by increasing the entropy.
  backend/src/helper/AttachmentFiles.class.php
  backend/src/helper/Random.class.php
  backend/src/helper/Token.class.php
Due: build-backend, test-backend-unit, test-backend-api

Update to version 14.4.0
  dist-src/.env
  docs/CHANGELOG.md
  package.json
  sampledata/Booklet.xml
  sampledata/Booklet2.xml
  sampledata/Booklet3.xml
  sampledata/SysCheck.xml
  sampledata/Testtakers.xml
  sampledata/Unit.xml
  sampledata/Unit2.xml
  scripts/database/patches.d/14.4.0.sql
Due: none

Update Changelog
  docs/CHANGELOG.md
Due: none

[e2e] Fix missing sampledata folder in e2e test container
  docker/docker-compose.system-test-headless.yml
Due: none

Fix some errors that resulted from merge
  frontend/src/app/auth.interceptor.ts
  frontend/src/app/backend.service.ts
  frontend/src/app/shared/services/maindata/maindata.service.ts
  frontend/tsconfig.json
Due: build-frontend, test-frontend-unit

FE: linting
  e2e/cypress/support/e2e.ts
  frontend/src/app/backend.service.ts
  frontend/src/app/shared/services/customtext/customtext.service.ts
  frontend/src/app/sys-check/report/report.component.ts
  frontend/src/app/test-controller/routing/unit-deactivate.guard.ts
  frontend/src/app/workspace-admin/files/iqb-files-upload-queue/iqb-files-upload-queue.component.ts
  frontend/src/app/workspace-admin/workspace.component.ts
Due: build-backend, build-frontend, build-broadcasting-service, test-frontend-unit, test-e2e

FE: Check for outdated browserversion
  frontend/.browserslistrc
  frontend/browserslist.json
  frontend/package-lock.json
  frontend/package.json
  frontend/scripts/read-browserlist.js
  frontend/src/.browserslistrc
  frontend/src/app/app.component.ts
Due: build-frontend, test-frontend-unit

Adjusted docker compose files
  docker/docker-compose.local-prod.yml
  docker/docker-compose.yml
Due: none

FE: Sho outdated browser-warning on startpage, not as popup.
  definitions/custom-texts.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/app-root/login/login.component.html
  frontend/src/app/app-root/login/login.component.ts
  frontend/src/app/app.component.ts
Due: build-backend, build-frontend, test-backend-unit, test-frontend-unit, test-backend-api

FE: Improve outdated-browser-warning
  common/src/classes/test-mode-data.class.ts
  definitions/browsers.json
  frontend/angular.json
  frontend/browserslist.json
  frontend/package-lock.json
  frontend/package.json
  frontend/scripts/read-browserlist.js
  frontend/src/app/app-root/login/login.component.ts
  package-lock.json
  package.json
  scripts/create-interfaces.js
Due: build-backend, build-frontend, build-broadcasting-service, test-backend-unit, test-frontend-unit, test-broadcasting-service-unit, test-backend-api

FE: Use UAparser wherever UserAgent is read
  frontend/src/app/sys-check/welcome/welcome.component.ts
  frontend/src/app/test-controller/classes/test-controller.classes.ts
Due: build-frontend, test-frontend-unit

e2e: Fix test-suite by using the correct db
  e2e/cypress/e2e/Test-Controller/Demo.cy.ts
Due: build-backend, build-frontend, build-broadcasting-service, test-e2e

fs: reduce logging
  backend/config/local.php.ini
  scripts/files-service/nginx.conf
Due: build-backend, test-backend-unit, test-backend-api

Execution of the routine: Use TestDB adapted
  e2e/cypress/e2e/Test-Controller/Demo.cy.ts
Due: build-backend, build-frontend, build-broadcasting-service, test-e2e

be/fe: Don't show demo-sessions in test-overview.
  .idea/codeStyles/Project.xml
  .idea/testcenter.iml
  backend/src/dao/AdminDAO.class.php
  docs/CHANGELOG.md
  frontend/src/app/test-controller/components/test-controller/test-controller.component.ts
Due: build-backend, build-frontend, test-backend-unit, test-frontend-unit, test-backend-api

fe: Apply new error-handling style to some super-user functions
  frontend/src/app/superadmin/backend.service.ts
  frontend/src/app/superadmin/users/users.component.html
  frontend/src/app/superadmin/users/users.component.ts
  frontend/src/app/superadmin/workspaces/workspaces.component.html
  frontend/src/app/superadmin/workspaces/workspaces.component.ts
Due: build-frontend, test-frontend-unit

Optimization test code.
  e2e/cypress/e2e/Test-Controller/Demo.cy.ts
  e2e/cypress/e2e/superadmin.cy.ts
  e2e/cypress/e2e/utils.ts
  e2e/cypress/e2e/workspace-admin.cy.ts
Due: build-backend, build-frontend, build-broadcasting-service, test-e2e

be: fix unit test
  backend/test/unit/dao/AdminDAOTest.php
Due: build-backend, test-backend-unit, test-backend-api

Use group-based tokens instead of person-based tokens in fastAuth-service (redis store).
  .idea/php.xml
  backend/src/dao/AdminDAO.class.php
  backend/src/dao/SessionDAO.class.php
  backend/src/data-collection/AccessSet.class.php
  backend/src/data-collection/LoginSession.class.php
  backend/src/helper/FastAuthService.class.php
  docker/docker-compose.local-prod.yml
  frontend/src/app/app.interceptor.ts
  frontend/src/app/app.interfaces.ts
  scripts/database/mysql.patches.d/next.sql
Due: build-backend, build-frontend, test-backend-unit, test-frontend-unit, test-backend-api

[Setup] Disable xdebug by default
  docker/backend.Dockerfile
  docker/docker-compose.dev.yml
Due: none

Fe: Refactor error-handling for API errors on super-admin-endpoints
  backend/src/controller/SystemController.class.php
  frontend/src/app/error.interceptor.ts
  frontend/src/app/shared/components/error/error.component.html
  frontend/src/app/superadmin/backend.service.ts
  frontend/src/app/superadmin/settings/app-config.component.ts
  frontend/src/app/superadmin/settings/edit-custom-texts.component.ts
  frontend/src/app/superadmin/superadmin-password-request/superadmin-password-request.component.html
  frontend/src/app/superadmin/superadmin-password-request/superadmin-password-request.component.ts
  frontend/src/app/superadmin/users/users.component.ts
  frontend/src/app/superadmin/workspaces/workspaces.component.ts
Due: build-backend, build-frontend, test-backend-unit, test-frontend-unit, test-backend-api

Fe: Refactor error-handling for API errors on sys-check-endpoints
  frontend/src/app/sys-check/backend.service.ts
  frontend/src/app/sys-check/report/report.component.ts
  frontend/src/app/sys-check/sys-check.component.ts
Due: build-frontend, test-frontend-unit

Fe: Print warning on console for informed testees that can open it
  frontend/src/app/test-controller/components/test-controller/test-controller.component.ts
Due: build-frontend, test-frontend-unit

Fe: Refactor error-warning in test-controller
  definitions/custom-texts.json
  frontend/src/app/shared/components/error/error.component.html
  frontend/src/app/shared/components/error/error.component.ts
  frontend/src/app/test-controller/components/test-status/test-status.component.html
  frontend/src/app/test-controller/components/test-status/test-status.component.ts
Due: build-backend, build-frontend, test-backend-unit, test-frontend-unit, test-backend-api

be: configure xdebug to not spam the logs when not connected
  .idea/php.xml
  .idea/phpunit.xml
  backend/config/docker-php-ext-xdebug.ini
  docker/docker-compose.dev.yml
  docs/pages/developer-guide.md
Due: build-backend, test-backend-unit, test-backend-api

be: Fix session manager breaking on many connections of run-hot-restart mode at the same moment.
  .idea/dataSources.xml
  backend/src/dao/SessionDAO.class.php
  backend/src/helper/Random.class.php
  backend/test/unit/TestDB.class.php
  backend/test/unit/dao/SessionDAOTest.php
  broadcasting-service/src/test-session/test-session.controller.ts
  scripts/database/full.sql
  scripts/database/patches.d/next.sql
Due: build-backend, build-broadcasting-service, test-backend-unit, test-broadcasting-service-unit, test-backend-api

Change of method: LoginTestTaker
  backend/src/workspace/WorkspaceInitializer.class.php
  e2e/cypress/e2e/Test-Controller/Demo.cy.ts
  e2e/cypress/e2e/utils.ts
  sampledata/system-test/CY_ControllerTest_Logins.xml
Due: build-backend, build-frontend, build-broadcasting-service, test-backend-unit, test-e2e, test-backend-api

be: Fix unit test by making random static fpr the test execution
  .idea/phpunit.xml
  backend/test/unit/dao/SessionDAOTest.php
Due: build-backend, test-backend-unit, test-backend-api

be: Update phpUnit to behave with php8.2
  .idea/php.xml
  .idea/phpunit.xml
  backend/composer.json
  backend/composer.lock
  backend/phpunit.xml
Due: build-backend, test-backend-unit, test-backend-api

be: Make Api test be debugabble
  test/api/dredd-hooks.js
Due: none

be: Fix api tests
  backend/src/helper/TestEnvironment.class.php
  docs/api/attachment.spec.yml
  docs/api/workspace.spec.yml
Due: build-backend, test-backend-unit, test-backend-api

Update CHANGELOG.md
  docs/CHANGELOG.md
Due: none

fe: reload button instead of button to terminate test in case of error during test execution
  backend/routes.php
  backend/src/controller/SystemController.class.php
  frontend/src/app/backend.service.ts
  frontend/src/app/shared/services/maindata/maindata.service.ts
  frontend/src/app/test-controller/components/test-status/test-status.component.html
  frontend/src/app/test-controller/components/test-status/test-status.component.ts
Due: build-backend, build-frontend, test-backend-unit, test-frontend-unit, test-backend-api

ci: Build broadcasting-service in case of frontend-changes
  .gitlab-ci.yml
Due: none

Update to version "14.5.0"
  dist-src/.env
  docs/CHANGELOG.md
  package.json
  sampledata/Booklet.xml
  sampledata/Booklet2.xml
  sampledata/Booklet3.xml
  sampledata/SysCheck.xml
  sampledata/Testtakers.xml
  sampledata/Unit.xml
  sampledata/Unit2.xml
  scripts/database/patches.d/14.5.0.sql
Due: none

Removal of review code
  backend/src/workspace/WorkspaceInitializer.class.php
  sampledata/system-test/CY_ControllerTest_Logins.xml
Due: build-backend, test-backend-unit, test-backend-api

setup: fix no-cors config to even set cors headers on errors
  backend/config/no-cors.htaccess
Due: build-backend, test-backend-unit, test-backend-api

be: Display groups with reviews but no responses in stats
  .idea/codeStyles/Project.xml
  backend/src/dao/AdminDAO.class.php
  backend/test/unit/dao/AdminDAOTest.php
  backend/test/unit/dao/SessionDAOTest.php
  backend/test/unit/testdata.sql
Due: build-backend, test-backend-unit, test-backend-api

Path conditions:
  build-backend: (any of: backend/**/*, database/**/*, definitions/**/*) or (any of: e2e/**/*)
  build-frontend: (any of: frontend/**/*, common/**/*) or (any of: e2e/**/*)
  build-broadcasting-service: (any of: broadcasting-service/**/*, common/**/*) or (any of: e2e/**/*)
  test-backend-unit: any of: backend/**/*, database/**/*, definitions/**/*
  test-frontend-unit: any of: frontend/**/*, common/**/*
  test-broadcasting-service-unit: any of: broadcasting-service/**/*, common/**/*
  test-e2e: any of: e2e/**/*
  test-backend-api: any of: backend/**/*, database/**/*, definitions/**/*
