Repository iqb-berlin/testcenter: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend, build-frontend, build-broadcasting-service, test-backend-unit, test-frontend-unit, test-broadcasting-service-unit, test-e2e, test-backend-api

Path conditions:
  build-backend: (any of: backend/**/*, database/**/*, definitions/**/*) or (any of: e2e/**/*)
  build-frontend: (any of: frontend/**/*, common/**/*) or (any of: e2e/**/*)
  build-broadcasting-service: (any of: broadcasting-service/**/*, common/**/*) or (any of: e2e/**/*)
  test-backend-unit: any of: backend/**/*, database/**/*, definitions/**/*
  test-frontend-unit: any of: frontend/**/*, common/**/*
  test-broadcasting-service-unit: any of: broadcasting-service/**/*, common/**/*
  test-e2e: (any of: frontend/**/*, common/**/*) or (any of: e2e/**/*)
  test-backend-api: any of: backend/**/*, database/**/*, definitions/**/*

fs: Add API tests
  .gitignore
  .idea/dataSources.xml
  .idea/jsLibraryMappings.xml
  backend/src/helper/SystemConfig.class.php
  docker/docker-compose.api-test.yml
  docker/docker-compose.dev.yml
  docker/docker-compose.yml
  package-lock.json
  package.json
  scripts/make/test.mk
  scripts/update-specs.js
  test/api/config/dredd_test_config.json
  test/api/hooks.js
  test/api/test.js
  test/config.docker.json
  test/config.json
Due: build-backend, test-backend-unit, test-backend-api

clean up compose files
  docker/docker-compose.dev.yml
  docker/docker-compose.yml
  docker/file-service.Dockerfile
Due: none

ci: add files service to ci
  .gitlab-ci.yml
Due: none

ci: fix ci file
  .gitlab-ci.yml
Due: none

setup: clean up docker-files and fix bogus health check for file-service
  docker/docker-compose.dev.yml
  docker/docker-compose.local-prod.yml
  docker/docker-compose.yml
  scripts/make/app-control.mk
Due: none

be: Fix reading SystemConfig from env.
  backend/src/helper/BroadcastService.class.php
  backend/src/helper/SystemConfig.class.php
Due: build-backend, test-backend-unit, test-backend-api

fe: display html-formatted errors nicely
  frontend/src/app/shared/components/error/error.component.html
Due: build-frontend, test-frontend-unit, test-e2e

be: Correct message in init-script
  backend/initialize.php
Due: build-backend, test-backend-unit, test-backend-api

bs: Don't expose framework.
  broadcasting-service/src/main.ts
Due: build-broadcasting-service, test-broadcasting-service-unit

fs: Optimize nginx config
  docker/docker-compose.dev.yml
  scripts/files-service/nginx.conf
  scripts/files-service/site.conf
Due: none

[infrastructure] Fix security headers
  dist-src/docker-compose.prod.yml
  docker/docker-compose.yml
Due: none

[infrastructure] Remove non-SSL PROD variant
  dist-src/.env
  dist-src/docker-compose.prod.tls.yml
  dist-src/docker-compose.prod.yml
  docker/backend-entrypoint.sh
Due: none

[infrastucture] Rework install script to work with only 1 version
  dist-src/install.sh
  scripts/version.js
Due: none

[infrastructure] Rework update and patch scripts
  dist-src/patch.sh
  dist-src/update.sh
Due: none

fs: Rename folder to file-service from file*s*-service for the sake of consistency
  .gitlab-ci.yml
  docker/docker-compose.dev.yml
  scripts/file-service/auth/auth.lua
  scripts/file-service/auth/redis_connector.lua
  scripts/file-service/nginx.conf
Due: none

fs: Include config into docker file to have it in production as well
  docker/file-service.Dockerfile
Due: none

[frontend] Improve unit navigatin bar styling
  frontend/src/app/test-controller/components/test-controller/test-controller.component.css
  frontend/src/app/test-controller/components/test-controller/test-controller.component.html
Due: build-frontend, test-frontend-unit, test-e2e

Update Changelog for improved navigation bar
  docs/CHANGELOG.md
Due: none

Update to version 14.12.0
  dist-src/.env
  package.json
  sampledata/Booklet.xml
  sampledata/Booklet2.xml
  sampledata/Booklet3.xml
  sampledata/SysCheck.xml
  sampledata/Testtakers.xml
  sampledata/Unit.xml
  sampledata/Unit2.xml
Due: none

setup: Add file-service to prod compose files
  dist-src/docker-compose.prod.tls.yml
  dist-src/docker-compose.prod.yml
Due: none

cs: Add an option to use the cache-service as cache for whole resources, not only for auth data.
  backend/src/controller/SystemController.class.php
  backend/src/controller/TestController.class.php
  backend/src/dao/WorkspaceDAO.class.php
  backend/src/helper/CacheService.class.php
  backend/src/helper/SystemConfig.class.php
  backend/src/workspace/Workspace.class.php
  docker/docker-compose.yml
  frontend/src/app/app-root/legal-notice/legal-notice.component.html
  frontend/src/app/shared/interfaces/service-status.interfaces.ts
  frontend/src/app/shared/services/maindata/maindata.service.ts
  scripts/file-service/auth/auth.lua
  scripts/file-service/auth/content.lua
  scripts/file-service/auth/files_cache.lua
  scripts/file-service/auth/redis_connector.lua
  scripts/file-service/nginx.conf
Due: build-backend, build-frontend, test-backend-unit, test-frontend-unit, test-e2e, test-backend-api

fs: add custom error messages
  scripts/file-service/nginx.conf
Due: none

fs: Forbid direct access to the files without token.
  scripts/file-service/nginx.conf
Due: none

fs/be: Make sure, that a file is always returned with the header "X-Source"
  backend/src/controller/TestController.class.php
  docker/docker-compose.api-test.yml
  docker/docker-compose.yml
  docs/api/resource.spec.yml
  scripts/file-service/auth/content.lua
  scripts/make/test.mk
  test/api/test.js
Due: build-backend, test-backend-unit, test-backend-api

be: Add api test for `[GET] /system/status`
  docs/api/system.spec.yml
Due: none

[frontend] Add CustomText for SysCheck report title placeholder
  definitions/custom-texts.json
  docs/CHANGELOG.md
  frontend/src/app/sys-check/report/save-report/save-report.component.html
Due: build-backend, build-frontend, test-backend-unit, test-frontend-unit, test-e2e, test-backend-api

Rename endpoint for files from `resource` to `file` because it could be used for other files as well at one point.
  backend/routes.php
  backend/src/controller/TestController.class.php
  backend/src/helper/CacheService.class.php
  docs/api/file.spec.yml
  frontend/src/app/test-controller/components/unithost/unithost.component.ts
  frontend/src/app/test-controller/services/backend.service.ts
  scripts/file-service/auth/auth.lua
  scripts/file-service/nginx.conf
Due: build-backend, build-frontend, test-backend-unit, test-frontend-unit, test-e2e, test-backend-api

Be: Always recreate config.ini
  backend/initialize.php
  backend/src/helper/SystemConfig.class.php
  dist-src/.env
  dist-src/install.sh
  docker/.env-default
  docker/default.env
  docker/docker-compose.system-test-headless.yml
  docker/docker-compose.yml
  docs/pages/installation-local.md
  scripts/make/misc.mk
Due: build-backend, test-backend-unit, test-backend-api

cs: don't persist on every change
  docker/docker-compose.yml
Due: none

update CHANGELOG.md
  docs/CHANGELOG.md
Due: none

[frontend] Add missing module/pipe for unit testing CustomText
  frontend/src/app/sys-check/report/save-report/save-report.component.spec.ts
Due: build-frontend, test-frontend-unit, test-e2e

Update to version 14.13.0
  dist-src/.env
  docs/pages/custom-texts.md
  package.json
  sampledata/Booklet.xml
  sampledata/Booklet2.xml
  sampledata/Booklet3.xml
  sampledata/SysCheck.xml
  sampledata/Testtakers.xml
  sampledata/Unit.xml
  sampledata/Unit2.xml
Due: none

be: include teh correct port into the links of the broadcasting service.
  backend/src/helper/SystemConfig.class.php
  docker/docker-compose.yml
Due: build-backend, test-backend-unit, test-backend-api

fe: Repair fallback to polling mode if broadcasting-service is configured but not reachable.
  frontend/src/app/app.error-handler.ts
  frontend/src/app/shared/services/websocket/websocket.service.ts
Due: build-frontend, test-frontend-unit, test-e2e

Update NPM dependencies
  broadcasting-service/package-lock.json
  frontend/package-lock.json
  package-lock.json
Due: build-frontend, build-broadcasting-service, test-frontend-unit, test-broadcasting-service-unit, test-e2e

fe: get rid of scss warning on startup
  frontend/src/iqb-theme1.scss
Due: build-frontend, test-frontend-unit, test-e2e

Update CHANGELOG.md
  docs/CHANGELOG.md
Due: none

fe: Repair unit menu
  frontend/src/app/test-controller/components/test-controller/test-controller.component.css
Due: build-frontend, test-frontend-unit, test-e2e

When one service collapses restart it
  docker/docker-compose.yml
  frontend/config/nginx.conf
  frontend/src/app/error.interceptor.ts
  frontend/src/app/shared/components/error/error.component.ts
  scripts/make/app-control.mk
Due: build-frontend, test-frontend-unit, test-e2e

fs: don't show error on startup
  scripts/file-service/auth/redis_connector.lua
Due: none
