Repository iqb-berlin/testcenter: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-backend-feature-rules, check-broadcasting-service-feature-rules, check-common-feature-rules, check-e2e-feature-rules, check-file-service-feature-rules, check-frontend-feature-rules, check-task-runner-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, build-task-runner, test-backend-unit, test-frontend-unit, test-broadcasting-service-unit, test-backend-api, test-file-service-api, test-backend-initialization, test-e2e

Path conditions:
  check-backend-feature-rules: any of: backend/**/*, scripts/database/**/*, definitions/**/*
  check-broadcasting-service-feature-rules: any of: broadcasting-service/**/*
  check-common-feature-rules: any of: common/**/*
  check-e2e-feature-rules: any of: e2e/**/*
  check-file-service-feature-rules: any of: file-service/**/*
  check-frontend-feature-rules: any of: frontend/**/*
  check-task-runner-feature-rules: any of: task-runner/**/*
  build-backend: (any of: backend/**/*, scripts/database/**/*, definitions/**/*) or ((any of: task-runner/**/*) or (any of: e2e/**/*))
  build-frontend: (any of: frontend/**/*) or ((any of: common/**/*) or (any of: e2e/**/*))
  build-broadcasting-service: (any of: broadcasting-service/**/*) or ((any of: common/**/*) or (any of: e2e/**/*))
  build-file-service: (any of: file-service/**/*) or ((any of: task-runner/**/*) or (any of: e2e/**/*))
  build-e2e: any of: e2e/**/*
  build-task-runner: (any of: task-runner/**/*) or ((any of: backend/**/*, scripts/database/**/*, definitions/**/*) or (any of: file-service/**/*))
  test-backend-unit: any of: backend/**/*, scripts/database/**/*, definitions/**/*
  test-frontend-unit: (any of: frontend/**/*) or (any of: common/**/*)
  test-broadcasting-service-unit: (any of: broadcasting-service/**/*) or (any of: common/**/*)
  test-backend-api: (any of: backend/**/*, scripts/database/**/*, definitions/**/*) or (any of: task-runner/**/*)
  test-file-service-api: (any of: file-service/**/*) or (any of: task-runner/**/*)
  test-backend-initialization: any of: backend/**/*, scripts/database/**/*, definitions/**/*
  test-e2e: any of: e2e/**/*

Update to version 15.4.0
  docs/CHANGELOG.md
  package.json
  sampledata/Booklet.xml
  sampledata/Booklet2.xml
  sampledata/Booklet3.xml
  sampledata/SysCheck.xml
  sampledata/Testtakers.xml
  sampledata/Unit.xml
  sampledata/Unit2.xml
  scripts/database/patches.d/15.4.0-beta.sql
  scripts/database/patches.d/15.4.0.sql
  scripts/database/patches.d/next.sql
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

Make MySQL patch fit
  scripts/database/patches.d/next.sql
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

tls acme (wip)
  kubernetes/migration/test/config.yml
  kubernetes/migration/test/fe.yml
  kubernetes/migration/test/ingress.yml
  kubernetes/migration/test/traefik/02-traefik.yml
  kubernetes/migration/test/traefik/05-tlsoption.yml
Due: none

kubernetes init with tc 15.3 as origin
  kubernetes/migration/be.yml
  kubernetes/migration/bs.yml
  kubernetes/migration/config.yml
  kubernetes/migration/cs.yml
  kubernetes/migration/db.yml
  kubernetes/migration/fe.yml
  kubernetes/migration/fs.yml
  kubernetes/migration/ingress.yml
  kubernetes/migration/volume.yml
Due: none

wip - traefik als ingress
  kubernetes/migration/prod/fe-dev.yml
  kubernetes/migration/test/03-whoami.yml
  kubernetes/migration/test/be.yml
  kubernetes/migration/test/bs.yml
  kubernetes/migration/test/config.yml
  kubernetes/migration/test/cs.yml
  kubernetes/migration/test/db.yml
  kubernetes/migration/test/fe.yml
  kubernetes/migration/test/fs.yml
  kubernetes/migration/test/ingress.yml
  kubernetes/migration/test/volume.yml
  kubernetes/migration/traefik/00-account.yml
  kubernetes/migration/traefik/00-role.yml
  kubernetes/migration/traefik/01-role-binding.yml
  kubernetes/migration/traefik/02-traefik-services.yml
  kubernetes/migration/traefik/02-traefik.yml
Due: none

comments for dev-deploy
  kubernetes/helm/templates/app/fe.yml
  kubernetes/helm/templates/app/ingress.yml
  kubernetes/helm/templates/traefik/05-tlsoption.yml
Due: none

migrate to traefik v2.11
  .env.prod-template
  kubernetes/migration/test/be.yml
  kubernetes/migration/test/config.yml
  kubernetes/migration/test/traefik/00-role.yml
  kubernetes/migration/test/traefik/02-traefik.yml
Due: none

configure cache service
  kubernetes/migration/config.yml
  kubernetes/migration/cs.yml
  kubernetes/migration/ingress.yml
  kubernetes/migration/prod/fe-dev.yml
Due: none

rename from yml to yaml
  kubernetes/helm/templates/app/be.yaml
  kubernetes/helm/templates/app/bs.yaml
  kubernetes/helm/templates/app/cs.yaml
  kubernetes/helm/templates/app/db.yaml
  kubernetes/helm/templates/app/fe.yaml
  kubernetes/helm/templates/app/fs.yaml
  kubernetes/helm/templates/app/ingress.yaml
  kubernetes/helm/templates/app/volume.yaml
  kubernetes/helm/templates/traefik/00-account.yaml
  kubernetes/helm/templates/traefik/00-role.yaml
  kubernetes/helm/templates/traefik/01-role-binding.yaml
  kubernetes/helm/templates/traefik/02-traefik-services.yaml
  kubernetes/helm/templates/traefik/02-traefik.yaml
  kubernetes/helm/templates/traefik/05-tlsoption.yaml
  kubernetes/helm/values.yaml
Due: none

transfer to "tc" namespace
  kubernetes/migration/be.yml
  kubernetes/migration/bs.yml
  kubernetes/migration/config.yml
  kubernetes/migration/cs.yml
  kubernetes/migration/db.yml
  kubernetes/migration/fe.yml
  kubernetes/migration/fs.yml
  kubernetes/migration/ingress.yml
  kubernetes/migration/volume.yml
Due: none

introduce fs security header. fe and be can be called
  kubernetes/migration/be.yml
  kubernetes/migration/bs.yml
  kubernetes/migration/fe-dev.yml
  kubernetes/migration/ingress.yml
Due: none

simplify dns settings for nginx-lua script
  file-service/nginx.conf
Due: check-file-service-feature-rules, build-file-service, build-task-runner, test-file-service-api

das routing funktioniert und kann grundsätzlich die services mit der middleware erreichen
  kubernetes/migration/test/fe.yml
  kubernetes/migration/test/ingress.yml
  kubernetes/migration/test/traefik/00-account.yml
  kubernetes/migration/test/traefik/00-role.yml
  kubernetes/migration/test/traefik/01-role-binding.yml
  kubernetes/migration/test/traefik/02-traefik-services.yml
  kubernetes/migration/test/traefik/02-traefik.yml
Due: none

automatic redirect works. https onl build when value is set to on, yes, true
  kubernetes/helm/run-helm.sh
  kubernetes/helm/templates/app/fe.yml
  kubernetes/helm/templates/app/ingress.yml
  kubernetes/helm/templates/traefik/02-traefik-services.yml
  kubernetes/helm/templates/traefik/02-traefik.yml
  kubernetes/helm/values.yaml
Due: none

transform from Ingress to IngressRoute, www redirect, new middleware
  kubernetes/migration/test/fe.yml
  kubernetes/migration/test/ingress.yml
Due: none

cache service and resolver are now dynamic for docker ond k8
  .env.dev-template
  kubernetes/migration/config.yml
  kubernetes/migration/fs.yml
Due: none

upgrade to image version 15.3.4
  kubernetes/migration/be.yml
  kubernetes/migration/bs.yml
  kubernetes/migration/config.yml
  kubernetes/migration/db.yml
  kubernetes/migration/fe.yml
  kubernetes/migration/fs.yml
Due: none

whoami mit https
  kubernetes/migration/test/whoami/03-whoami.yml
  kubernetes/migration/traefik/02-traefik-services.yml
  kubernetes/migration/traefik/02-traefik.yml
Due: none

refactor to make helm more variable
  kubernetes/helm/run-helm.sh
  kubernetes/helm/templates/app/be.yml
  kubernetes/helm/templates/app/bs.yml
  kubernetes/helm/templates/app/cs.yml
  kubernetes/helm/templates/app/db.yml
  kubernetes/helm/templates/app/fe.yml
  kubernetes/helm/templates/app/fs.yml
  kubernetes/helm/templates/app/ingress.yml
  kubernetes/helm/templates/app/volume.yml
  kubernetes/helm/templates/traefik/00-account.yml
  kubernetes/helm/templates/traefik/00-role.yml
  kubernetes/helm/templates/traefik/01-role-binding.yml
  kubernetes/helm/templates/traefik/02-traefik-services.yml
  kubernetes/helm/templates/traefik/02-traefik.yml
  kubernetes/helm/templates/traefik/05-tlsoption.yml
  kubernetes/helm/values.yaml
Due: none

introduce tls secret
  kubernetes/migration/config.yml
  kubernetes/migration/ingress.yml
Due: none

fe ist aufrufbar
  kubernetes/migration/test/fe.yml
  kubernetes/migration/test/ingress.yml
Due: none

refactor all Services to be ClusterIp (only visible within network, not externally)
  kubernetes/migration/test/be.yml
  kubernetes/migration/test/config.yml
  kubernetes/migration/test/fe.yml
  kubernetes/migration/test/ingress.yml
  kubernetes/migration/test/traefik/02-traefik.yml
Due: none

whoami mit host aufrufbar
  kubernetes/migration/test/whoami/03-whoami.yml
Due: none

enable tls (wip)
  kubernetes/migration/test/config.yml
  kubernetes/migration/test/fe.yml
  kubernetes/migration/test/ingress.yml
Due: none

Backend: Repair createLoginSession to create group at first if not given, which is necessary now.
  backend/src/dao/SessionDAO.class.php
  backend/test/unit/dao/SessionDAOTest.php
  backend/test/unit/test-helper/CreateGroupTokenTask.php
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

Backend: fix message
  backend/src/dao/SessionDAO.class.php
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

initial kubernetes setup
  .env.dev-template
  file-service/nginx.conf
  kubernetes/migration/be.yml
  kubernetes/migration/bs.yml
  kubernetes/migration/config.yml
  kubernetes/migration/cs.yml
  kubernetes/migration/db.yml
  kubernetes/migration/fe.yml
  kubernetes/migration/fs.yml
  kubernetes/migration/ingress.yml
  kubernetes/migration/test/be.yml
  kubernetes/migration/test/bs.yml
  kubernetes/migration/test/config.yml
  kubernetes/migration/test/cs.yml
  kubernetes/migration/test/db.yml
  kubernetes/migration/test/fe.yml
  kubernetes/migration/test/fs.yml
  kubernetes/migration/test/ingress.yml
  kubernetes/migration/test/traefik/00-account.yml
  kubernetes/migration/test/traefik/00-role.yml
  kubernetes/migration/test/traefik/01-role-binding.yml
  kubernetes/migration/test/traefik/02-traefik-services.yml
  kubernetes/migration/test/traefik/02-traefik.yml
  kubernetes/migration/test/volume.yml
  kubernetes/migration/test/whoami/03-whoami.yml
  kubernetes/migration/volume.yml
Due: check-file-service-feature-rules, build-file-service, build-task-runner, test-file-service-api

migrate to IngressRoute
  .env.prod-template
  kubernetes/migration/test/be.yml
  kubernetes/migration/test/config.yml
  kubernetes/migration/test/fe.yml
  kubernetes/migration/test/ingress.yml
  kubernetes/migration/test/traefik/00-role.yml
  kubernetes/migration/test/traefik/02-traefik.yml
  kubernetes/migration/test/traefik/05-tlsoption.yml
Due: none

tidy up
  helm/.helmignore
  helm/Chart.yaml
  helm/templates/app/backend/configmap.yaml
  helm/templates/app/backend/deployment.yaml
  helm/templates/app/backend/service.yaml
  helm/templates/app/broadcasting-service/deployment.yaml
  helm/templates/app/broadcasting-service/service.yaml
  helm/templates/app/cache-service/deployment.yaml
  helm/templates/app/cache-service/persistent-volume-claim.yaml
  helm/templates/app/config/_helpers.tpl
  helm/templates/app/config/secret.yaml
  helm/templates/app/db/deployment.yaml
  helm/templates/app/file-service/depoyment.yaml
  helm/templates/app/frontend/deployment.yaml
  helm/templates/app/frontend/service.yaml
  helm/templates/app/ingress.yaml
  helm/templates/traefik/tlsoption.yaml
  helm/values.yaml
Due: none

Update to version 16.0.0-alpha
  docs/CHANGELOG.md
  package.json
  sampledata/Booklet.xml
  sampledata/Booklet2.xml
  sampledata/Booklet3.xml
  sampledata/SysCheck.xml
  sampledata/Testtakers.xml
  sampledata/Unit.xml
  sampledata/Unit2.xml
Due: none

add new values to complexType "Variabe" -> "types"
  definitions/vo_Unit.xsd
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

Update to version 15.3.5
  dist-src/.env.prod-template
  docs/CHANGELOG.md
  package.json
  sampledata/Booklet.xml
  sampledata/Booklet2.xml
  sampledata/Booklet3.xml
  sampledata/SysCheck.xml
  sampledata/Testtakers.xml
  sampledata/Unit.xml
  sampledata/Unit2.xml
Due: none

update helm to alpha version
  helm/Chart.yaml
  helm/helm-install-tc.sh
Due: none

change anchors to buttons for accessibility
  docs/CHANGELOG.md
  frontend/src/app/app-root/starter/starter.component.html
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

add new values to complexType "Variabe" -> "types"
  definitions/vo_Unit.xsd
  docs/CHANGELOG.md
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization
