Repository iqb-berlin/testcenter: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-backend-feature-rules, check-broadcasting-service-feature-rules, check-common-feature-rules, check-e2e-feature-rules, check-file-service-feature-rules, check-frontend-feature-rules, check-task-runner-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, build-task-runner, test-backend-unit, test-frontend-unit, test-broadcasting-service-unit, test-backend-api, test-file-service-api, test-backend-initialization, test-e2e

Path conditions:
  check-backend-feature-rules: any of: backend/**/*, scripts/database/**/*, definitions/**/*
  check-broadcasting-service-feature-rules: any of: broadcasting-service/**/*
  check-common-feature-rules: any of: common/**/*
  check-e2e-feature-rules: any of: e2e/**/*
  check-file-service-feature-rules: any of: file-service/**/*
  check-frontend-feature-rules: any of: frontend/**/*
  check-task-runner-feature-rules: any of: task-runner/**/*
  build-backend: (any of: backend/**/*, scripts/database/**/*, definitions/**/*) or ((any of: task-runner/**/*) or (any of: e2e/**/*))
  build-frontend: (any of: frontend/**/*) or ((any of: common/**/*) or (any of: e2e/**/*))
  build-broadcasting-service: (any of: broadcasting-service/**/*) or ((any of: common/**/*) or (any of: e2e/**/*))
  build-file-service: (any of: file-service/**/*) or ((any of: task-runner/**/*) or (any of: e2e/**/*))
  build-e2e: any of: e2e/**/*
  build-task-runner: (any of: task-runner/**/*) or ((any of: backend/**/*, scripts/database/**/*, definitions/**/*) or (any of: file-service/**/*))
  test-backend-unit: any of: backend/**/*, scripts/database/**/*, definitions/**/*
  test-frontend-unit: (any of: frontend/**/*) or (any of: common/**/*)
  test-broadcasting-service-unit: (any of: broadcasting-service/**/*) or (any of: common/**/*)
  test-backend-api: (any of: backend/**/*, scripts/database/**/*, definitions/**/*) or (any of: task-runner/**/*)
  test-file-service-api: (any of: file-service/**/*) or (any of: task-runner/**/*)
  test-backend-initialization: any of: backend/**/*, scripts/database/**/*, definitions/**/*
  test-e2e: any of: e2e/**/*

Run backend containers with 'www-data' user in production
  .env.dev-template
  .env.prod-template
  backend/Dockerfile
  docker-compose.yml
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

Run backend with port '8080' for ordinary user processes
  .env.dev-template
  .env.prod-template
  .gitlab-ci.yml
  backend/Dockerfile
  backend/config/vhost.conf
  backend/src/helper/FileService.class.php
  docker-compose.dev.yml
  docker-compose.prod.tls.yml
  docker-compose.prod.yml
  docker-compose.yml
  e2e/cypress.e2e.config.js
  e2e/docker-compose.system-test-headless.yml
  file-service/nginx.conf
  frontend/Dockerfile
  frontend/angular.json
  frontend/nginx.conf
  frontend/proxy.conf.json
  frontend/src/environments/environment.system-test.ts
  scripts/make/dev-test.mk
  scripts/make/dev.mk
  test/config.docker.json
  test/docker-compose.api-test.yml
Due: check-backend-feature-rules, check-e2e-feature-rules, check-file-service-feature-rules, check-frontend-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, build-task-runner, test-backend-unit, test-frontend-unit, test-backend-api, test-file-service-api, test-backend-initialization, test-e2e

Run frontend containers rootless in production
  frontend/Dockerfile
  frontend/nginx.conf
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

[cache-service] Rename 'CACHE_SERVICE_RAM' environment property
  .env.dev-template
  .env.prod-template
  docker-compose.yml
  scripts/helm/testcenter/templates/cache-server/deployment.yaml
  scripts/helm/testcenter/values.yaml
  scripts/migration/16.0.0.sh
Due: none

[file-service] Rename 'CACHE_SERVICE_ADDRESS_FOR_LUA' environment property
  docker-compose.yml
  file-service/auth/redis_connector.lua
  file-service/nginx.conf
  scripts/helm/testcenter/templates/backend/configmap.yaml
  scripts/helm/testcenter/templates/backend/deployment.yaml
  scripts/helm/testcenter/templates/file-server/configmap-nginx.yaml
  scripts/helm/testcenter/templates/file-server/configmap.yaml
  scripts/helm/testcenter/templates/file-server/depoyment.yaml
  scripts/helm/testcenter/values.yaml
Due: check-file-service-feature-rules, build-file-service, build-task-runner, test-file-service-api

[backend] Remove 'dead' Cache Service property
  backend/src/helper/SystemConfig.class.php
  backend/test/initialization/docker-compose.initialization-test.yml
  docker-compose.yml
  scripts/helm/testcenter/templates/backend/configmap.yaml
  scripts/helm/testcenter/templates/backend/deployment.yaml
  scripts/helm/testcenter/values.yaml
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

[cache-service] Enable redis port configuration
  backend/src/helper/CacheService.class.php
  backend/src/helper/SystemConfig.class.php
  backend/test/initialization/docker-compose.initialization-test.yml
  docker-compose.yml
  file-service/auth/redis_connector.lua
  file-service/nginx.conf
  scripts/helm/testcenter/templates/backend/deployment.yaml
  scripts/helm/testcenter/templates/file-server/configmap-nginx.yaml
  scripts/helm/testcenter/templates/file-server/depoyment.yaml
Due: check-backend-feature-rules, check-file-service-feature-rules, build-backend, build-file-service, build-task-runner, test-backend-unit, test-backend-api, test-file-service-api, test-backend-initialization

[backend] Rename 'CACHE_SERVICE_INCLUDE_FILES' environment property
  .env.dev-template
  .env.prod-template
  backend/src/helper/SystemConfig.class.php
  backend/test/initialization/docker-compose.initialization-test.yml
  docker-compose.yml
  file-service/auth/content.lua
  file-service/nginx.conf
  scripts/helm/testcenter/templates/backend/configmap.yaml
  scripts/helm/testcenter/templates/backend/deployment.yaml
  scripts/helm/testcenter/templates/file-server/configmap.yaml
  scripts/helm/testcenter/templates/file-server/depoyment.yaml
  scripts/helm/testcenter/values.yaml
  scripts/migration/16.0.0.sh
  test/docker-compose.api-test.yml
Due: check-backend-feature-rules, check-file-service-feature-rules, build-backend, build-file-service, build-task-runner, test-backend-unit, test-backend-api, test-file-service-api, test-backend-initialization

[cache-service] Refactor docker environment variable settings
  backend/src/helper/SystemConfig.class.php
  backend/test/initialization/docker-compose.initialization-test.yml
  docker-compose.dev.yml
  docker-compose.yml
  scripts/helm/testcenter/templates/backend/deployment.yaml
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

[cache-service] Secure connection with authentication
  .env.dev-template
  .env.prod-template
  backend/src/helper/CacheService.class.php
  backend/src/helper/SystemConfig.class.php
  backend/test/initialization/docker-compose.initialization-test.yml
  docker-compose.yml
  file-service/auth/redis_connector.lua
  file-service/nginx.conf
  scripts/helm/helm-install-tc.sh
  scripts/helm/testcenter/Chart.yaml
  scripts/helm/testcenter/custom-values.yaml
  scripts/helm/testcenter/templates/backend/deployment.yaml
  scripts/helm/testcenter/templates/backend/secret.yaml
  scripts/helm/testcenter/templates/cache-server/configmap.yaml
  scripts/helm/testcenter/templates/cache-server/deployment.yaml
  scripts/helm/testcenter/templates/cache-server/secret.yaml
  scripts/helm/testcenter/templates/db/deployment.yaml
  scripts/helm/testcenter/templates/db/secret.yaml
  scripts/helm/testcenter/templates/file-server/configmap-nginx.yaml
  scripts/helm/testcenter/templates/file-server/depoyment.yaml
  scripts/helm/testcenter/templates/file-server/secret.yaml
  scripts/helm/testcenter/values.yaml
  scripts/install.sh
  scripts/migration/16.0.0.sh
  test/api/test.js
  test/config.docker.json
Due: check-backend-feature-rules, check-file-service-feature-rules, build-backend, build-file-service, build-task-runner, test-backend-unit, test-backend-api, test-file-service-api, test-backend-initialization

[cache-service] Run cache service rootless
  docker-compose.yml
  scripts/helm/testcenter/templates/cache-server/deployment.yaml
Due: none

change the standard behavior of backend service
  backend/Dockerfile
  backend/entrypoint.sh
  docker-compose.yml
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

add init process as job
  backend/Dockerfile
  backend/initialize_only.sh
  scripts/helm/testcenter/custom-values.yaml
  scripts/helm/testcenter/templates/backend/config-persistant-volume-claim.yaml
  scripts/helm/testcenter/templates/backend/deployment.yaml
  scripts/helm/testcenter/templates/backend/job.yaml
  scripts/helm/testcenter/values.yaml
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

general settings cleanup
  scripts/helm/testcenter/templates/backend/config-persistent-volume-claim.yaml
  scripts/helm/testcenter/values.yaml
Due: none

[file-service] Run 'file service' container rootless
  backend/src/helper/FileService.class.php
  backend/src/helper/SystemConfig.class.php
  docker-compose.dev.yml
  docker-compose.prod.tls.yml
  docker-compose.prod.yml
  e2e/cypress.e2e.config.js
  file-service/Dockerfile
  file-service/cors.conf
  file-service/nginx.conf
  frontend/Dockerfile
  frontend/angular.json
  frontend/nginx.conf
  frontend/proxy.conf.json
  frontend/src/app/test-controller/components/unithost/unithost.component.ts
  frontend/src/app/test-controller/services/backend.service.ts
  scripts/helm/testcenter/templates/file-server/depoyment.yaml
  test/config.docker.json
Due: check-backend-feature-rules, check-e2e-feature-rules, check-file-service-feature-rules, check-frontend-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, build-task-runner, test-backend-unit, test-frontend-unit, test-backend-api, test-file-service-api, test-backend-initialization, test-e2e

Names of the test steps reduced to the essentials
  e2e/cypress/e2e/Groupmonitor/Checking elementary functionality.cy.ts
  e2e/cypress/e2e/Groupmonitor/profiles-and-filter.cy.ts
  e2e/cypress/e2e/Session-Management/hot-restart-mode.cy.ts
  e2e/cypress/e2e/Session-Management/hot-return-mode.cy.ts
  e2e/cypress/e2e/Session-Management/login-possibilities.cy.ts
  e2e/cypress/e2e/Session-Management/login-sink.cy.ts
  e2e/cypress/e2e/Session-Management/testtakers-content.cy.ts
  e2e/cypress/e2e/Session-Management/time-limited access.cy.ts
  e2e/cypress/e2e/Super-Admin/settings.cy.ts
  e2e/cypress/e2e/Super-Admin/user-management.cy.ts
  e2e/cypress/e2e/Super-Admin/workspace-management.cy.ts
  e2e/cypress/e2e/Sys-Check/sys-check.cy.ts
  e2e/cypress/e2e/Test-Controller/adaptivity.cy.ts
  e2e/cypress/e2e/Test-Controller/demo.cy.ts
  e2e/cypress/e2e/Test-Controller/hot-restart.cy.ts
  e2e/cypress/e2e/Test-Controller/hot-return.cy.ts
  e2e/cypress/e2e/Test-Controller/review.cy.ts
  e2e/cypress/e2e/Test-Controller/time-restrictions.cy.ts
  e2e/cypress/e2e/Workspace-Admin/files.cy.ts
  e2e/cypress/e2e/Workspace-Admin/misc.cy.ts
  e2e/cypress/e2e/Workspace-Admin/results.cy.ts
  e2e/cypress/e2e/study-monitor.cy.ts
Due: check-e2e-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, test-e2e

Remove workaround for locked block in review- und demo-mode
  e2e/cypress/e2e/Test-Controller/time-restrictions.cy.ts
Due: check-e2e-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, test-e2e

fix test cases
  backend/test/initialization/docker-compose.initialization-test.yml
  backend/test/unit/helper/ServerTest.php
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

introduce env var to control the scheme that is used by client to call the application
  .env.dev-template
  .env.prod-template
  backend/src/helper/BroadcastService.class.php
  backend/src/helper/FileService.class.php
  backend/src/helper/Server.class.php
  backend/src/helper/SystemConfig.class.php
  docker-compose.dev.yml
  docker-compose.yml
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

document SECURE_SITE_SCHEME
  .env.dev-template
  docs/CHANGELOG.md
Due: none

remove unnecessary env variable as input into backend
  .env.dev-template
  .env.prod-template
  backend/src/helper/SystemConfig.class.php
  backend/test/initialization/docker-compose.initialization-test.yml
  docker-compose.yml
  scripts/helm/testcenter/templates/backend/job.yaml
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

adjust install script to SECURE_SITE_SCHEME
  scripts/install.sh
Due: none

adjust helm to SECURE_SITE_SCHEME
  scripts/helm/helm-install-tc.sh
  scripts/helm/testcenter/custom-values.yaml
  scripts/helm/testcenter/templates/backend/configmap.yaml
  scripts/helm/testcenter/templates/backend/job.yaml
  scripts/helm/testcenter/values.yaml
Due: none

Fix code coverage 'PHP Segmentation fault'
  backend/Dockerfile
  backend/test/unit/dao/SessionDAOTest.php
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

fix goto command to read right time given by gm
  docs/CHANGELOG.md
  frontend/src/app/test-controller/components/test-controller/test-controller.component.ts
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

Remove duplicate eslint dependency
  frontend/package.json
  package.json
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

Frontend: Disable temporally fix to "buffer" problem
  frontend/src/app/test-controller/components/unithost/unithost.component.ts
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

E2E: Add regression test
  e2e/cypress/e2e/Test-Controller/regression-test-last-unit-state.cy.ts
  e2e/cypress/e2e/utils.ts
Due: check-e2e-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, test-e2e

Frontend: use unitId as SessionId in communication between player and host.
  frontend/src/app/test-controller/components/unithost/unithost.component.ts
  frontend/src/app/test-controller/interfaces/verona.interfaces.ts
  frontend/src/app/test-controller/services/test-controller.service.ts
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

Frontend: Add library which is suddenly needed to build frontend (but only in docker container).
  frontend/package-lock.json
  frontend/package.json
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

send updateUnitState calls in order, not simultaneously
  frontend/src/app/test-controller/services/test-controller.service.ts
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

Adjustment to longhorn setup
  scripts/helm/helm-install-tc.sh
  scripts/helm/testcenter/Chart.yaml
  scripts/helm/testcenter/templates/backend/job.yaml
Due: none
