Repository iqb-berlin/testcenter: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-backend-feature-rules, check-broadcasting-service-feature-rules, check-common-feature-rules, check-e2e-feature-rules, check-file-service-feature-rules, check-frontend-feature-rules, check-task-runner-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, build-task-runner, test-backend-unit, test-frontend-unit, test-broadcasting-service-unit, test-backend-api, test-file-service-api, test-backend-initialization, test-e2e

check-backend-feature-rules:
  stage: .pre
  interruptible: true
  allow_failure: true
  script:
  - echo $CI_COMMIT_BRANCH
  - echo $CI_PIPELINE_SOURCE
  - if [ -n "$CI_COMMIT_BRANCH" ]; then echo "commit branch string length is nonzero"; else echo "commit branch = '$CI_COMMIT_BRANCH'"; fi
  ...

check-broadcasting-service-feature-rules:
  stage: .pre
  interruptible: true
  allow_failure: true
  script:
  - echo $CI_COMMIT_BRANCH
  - echo $CI_PIPELINE_SOURCE
  - if [ -n "$CI_COMMIT_BRANCH" ]; then echo "commit branch string length is nonzero"; else echo "commit branch = '$CI_COMMIT_BRANCH'"; fi
  ...

check-common-feature-rules:
  stage: .pre
  interruptible: true
  allow_failure: true
  script:
  - echo $CI_COMMIT_BRANCH
  - echo $CI_PIPELINE_SOURCE
  - if [ -n "$CI_COMMIT_BRANCH" ]; then echo "commit branch string length is nonzero"; else echo "commit branch = '$CI_COMMIT_BRANCH'"; fi
  ...

check-e2e-feature-rules:
  stage: .pre
  interruptible: true
  allow_failure: true
  script:
  - echo $CI_COMMIT_BRANCH
  - echo $CI_PIPELINE_SOURCE
  - if [ -n "$CI_COMMIT_BRANCH" ]; then echo "commit branch string length is nonzero"; else echo "commit branch = '$CI_COMMIT_BRANCH'"; fi
  ...

check-file-service-feature-rules:
  stage: .pre
  interruptible: true
  allow_failure: true
  script:
  - echo $CI_COMMIT_BRANCH
  - echo $CI_PIPELINE_SOURCE
  - if [ -n "$CI_COMMIT_BRANCH" ]; then echo "commit branch string length is nonzero"; else echo "commit branch = '$CI_COMMIT_BRANCH'"; fi
  ...

check-frontend-feature-rules:
  stage: .pre
  interruptible: true
  allow_failure: true
  script:
  - echo $CI_COMMIT_BRANCH
  - echo $CI_PIPELINE_SOURCE
  - if [ -n "$CI_COMMIT_BRANCH" ]; then echo "commit branch string length is nonzero"; else echo "commit branch = '$CI_COMMIT_BRANCH'"; fi
  ...

check-task-runner-feature-rules:
  stage: .pre
  interruptible: true
  allow_failure: true
  script:
  - echo $CI_COMMIT_BRANCH
  - echo $CI_PIPELINE_SOURCE
  - if [ -n "$CI_COMMIT_BRANCH" ]; then echo "commit branch string length is nonzero"; else echo "commit branch = '$CI_COMMIT_BRANCH'"; fi
  ...

build-backend:
  stage: build
  variables:
    BACKEND_IMAGE_NAME: ${CI_REGISTRY_IMAGE}/iqbberlin/testcenter-backend
  before_script:
  - ip a | grep mtu
  - docker network inspect bridge | grep mtu
  - docker login --username $CI_DEPENDENCY_PROXY_USER --password $CI_DEPENDENCY_PROXY_PASSWORD $CI_DEPENDENCY_PROXY_SERVER
  ...

build-frontend:
  stage: build
  variables:
    FRONTEND_IMAGE_NAME: ${CI_REGISTRY_IMAGE}/iqbberlin/testcenter-frontend
  before_script:
  - ip a | grep mtu
  - docker network inspect bridge | grep mtu
  - cp frontend/src/environments/environment.dev.ts frontend/src/environments/environment.ts
  ...

build-broadcasting-service:
  stage: build
  variables:
    BROADCASTING_SERVICE_IMAGE_NAME: ${CI_REGISTRY_IMAGE}/iqbberlin/testcenter-broadcasting-service
  before_script:
  - ip a | grep mtu
  - docker network inspect bridge | grep mtu
  ...

Database: Update to MySQL 8.4
  .gitlab-ci.yml
  backend/src/dao/AdminDAO.class.php
  backend/src/dao/DAO.class.php
  backend/test/initialization/docker-compose.initialization-test.yml
  docker-compose.prod.tls.yml
  docker-compose.prod.yml
  docker-compose.yml
  scripts/database/patches.d/15.0.0.sql
  scripts/database/patches.d/15.4.0.sql
  scripts/database/patches.d/next.sql
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

Backend: Update Testdata
  backend/test/unit/dao/AdminDAOTest.php
  backend/test/unit/testdata.sql
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

update CHANGELOG.md
  docs/CHANGELOG.md
Due: none

Backend: Repair createLoginSession to create group at first if not given, which is necessary now.
  backend/src/dao/SessionDAO.class.php
  backend/test/unit/dao/SessionDAOTest.php
  backend/test/unit/test-helper/CreateGroupTokenTask.php
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

Make MySQL patch fit
  scripts/database/patches.d/next.sql
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

Backend: Show correct error of applying a patch fails when creating test environment
  backend/src/helper/TestEnvironment.class.php
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

Backend: fix message
  backend/src/dao/SessionDAO.class.php
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

include sampledata/system-test files in build step
  scripts/version.js
Due: none

GM: add sticky to sticky header
  frontend/src/app/group-monitor/group-monitor.component.css
  frontend/src/app/group-monitor/test-session/test-session.component.css
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

Add Data-cy attributes for gm-filter and profiles e2e-tests
  frontend/src/app/app-root/starter/starter.component.html
  frontend/src/app/group-monitor/components/add-filter-dialog/add-filter-dialog.component.html
  frontend/src/app/group-monitor/group-monitor.component.html
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

Changes: Only one login routine for GM in utils
  e2e/cypress/e2e/study-monitor.cy.ts
  e2e/cypress/e2e/utils.ts
Due: check-e2e-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, test-e2e

e2e-codes für GM profiles and filter
  e2e/cypress/e2e/Groupmonitor/profiles-and-filter.cy.ts
Due: check-e2e-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, test-e2e

pre-version 2e2-test for elementary gm functionality
  e2e/cypress/e2e/Groupmonitor/Checking elementary functionality.cy.ts
  frontend/src/app/group-monitor/test-session/test-session.component.html
Due: check-e2e-feature-rules, check-frontend-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, test-frontend-unit, test-e2e

reformat
  frontend/src/app/group-monitor/group-monitor.component.ts
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

add notification to reopening of time-based closed blocks
  docs/CHANGELOG.md
  frontend/src/app/group-monitor/group-monitor.interfaces.ts
  frontend/src/app/group-monitor/test-session-manager/test-session-manager.service.ts
  frontend/src/app/test-controller/components/test-controller/test-controller.component.ts
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

fix the button text
  docs/CHANGELOG.md
  frontend/src/app/group-monitor/booklet/booklet.service.ts
  frontend/src/app/group-monitor/group-monitor.component.html
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

redirect to r/starter, when a test is not loadable
  frontend/src/app/app-root/login/login.component.ts
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

refactor changeTestLockStatus function
  backend/src/controller/MonitorController.class.php
  backend/src/dao/TestDAO.class.php
  frontend/src/app/group-monitor/test-session-manager/test-session-manager.service.ts
Due: check-backend-feature-rules, check-frontend-feature-rules, build-backend, build-frontend, build-task-runner, test-backend-unit, test-frontend-unit, test-backend-api, test-backend-initialization

add check for correct group before un/locking tests
  backend/src/controller/MonitorController.class.php
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

reformat
  backend/src/dao/TestDAO.class.php
  frontend/src/app/group-monitor/group-monitor.component.ts
  frontend/src/app/group-monitor/test-session-manager/test-session-manager.service.ts
Due: check-backend-feature-rules, check-frontend-feature-rules, build-backend, build-frontend, build-task-runner, test-backend-unit, test-frontend-unit, test-backend-api, test-backend-initialization

refactor small things
  backend/routes.php
  frontend/src/app/group-monitor/backend.service.ts
  frontend/src/app/group-monitor/test-session-manager/test-session-manager.service.ts
  frontend/src/app/test-controller/services/backend.service.ts
Due: check-backend-feature-rules, check-frontend-feature-rules, build-backend, build-frontend, build-task-runner, test-backend-unit, test-frontend-unit, test-backend-api, test-backend-initialization

improve visual feedback when terminating all tests
  frontend/src/app/group-monitor/group-monitor.component.css
  frontend/src/app/group-monitor/group-monitor.component.html
  frontend/src/app/group-monitor/group-monitor.component.ts
  frontend/src/app/group-monitor/group-monitor.module.ts
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

make pending state transparent
  frontend/src/app/group-monitor/group-monitor.component.css
  frontend/src/app/group-monitor/group-monitor.component.html
  frontend/src/app/group-monitor/group-monitor.component.ts
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

remove deselection by clicking on other <td>
  frontend/src/app/group-monitor/test-session/test-session.component.html
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

gm: unselect the element, when switching from 'control all' to 'control single'
  frontend/src/app/group-monitor/group-monitor.component.ts
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

gm: unselect the element, when deselecting with 'check all' function
  frontend/src/app/group-monitor/group-monitor.component.ts
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

deselect the testlet, when checkbox is unchecked
  frontend/src/app/group-monitor/group-monitor.component.html
  frontend/src/app/group-monitor/group-monitor.component.ts
  frontend/src/app/group-monitor/group-monitor.interfaces.ts
  frontend/src/app/group-monitor/test-session-manager/test-session-manager.interfaces.ts
  frontend/src/app/group-monitor/test-session-manager/test-session-manager.service.spec.ts
  frontend/src/app/group-monitor/test-session-manager/test-session-manager.service.ts
  frontend/src/app/group-monitor/test-session/test-session.component.html
  frontend/src/app/group-monitor/test-session/test-session.component.ts
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

add new selection logic
  frontend/src/app/group-monitor/group-monitor.component.ts
  frontend/src/app/group-monitor/group-monitor.interfaces.ts
  frontend/src/app/group-monitor/test-session-manager/test-session-manager.service.spec.ts
  frontend/src/app/group-monitor/test-session-manager/test-session-manager.service.ts
  frontend/src/app/group-monitor/test-session/test-session.component.ts
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

gm: cant select child unit in full view
  frontend/src/app/group-monitor/test-session/test-session.component.html
  frontend/src/app/group-monitor/test-session/test-session.component.ts
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

Update initialize.php
  backend/initialize.php
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

Update Password.class.php
  backend/src/helper/Password.class.php
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

Update new-password.component.html
  frontend/src/app/shared/components/newpassword/new-password.component.html
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

Update new-password.component.ts
  frontend/src/app/shared/components/newpassword/new-password.component.ts
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

Update new-user.component.html
  frontend/src/app/superadmin/users/newuser/new-user.component.html
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

Update new-user.component.ts
  frontend/src/app/superadmin/users/newuser/new-user.component.ts
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

Update superadmin-password-request.component.ts
  frontend/src/app/superadmin/superadmin-password-request/superadmin-password-request.component.ts
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

update the stable value of package.json during create-new-version
  scripts/version.js
Due: none

time restriction dialogbox init
  frontend/src/app/group-monitor/group-monitor.component.ts
  frontend/src/app/group-monitor/group-monitor.module.ts
  frontend/src/app/group-monitor/time-restriction-dialog/time-restriction-dialog.component.css
  frontend/src/app/group-monitor/time-restriction-dialog/time-restriction-dialog.component.html
  frontend/src/app/group-monitor/time-restriction-dialog/time-restriction-dialog.component.ts
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

refactor order of test session manager
  frontend/src/app/group-monitor/group-monitor.component.spec.ts
  frontend/src/app/group-monitor/group-monitor.component.ts
  frontend/src/app/group-monitor/group-monitor.interfaces.ts
  frontend/src/app/group-monitor/test-session-manager/test-session-manager.service.spec.ts
  frontend/src/app/group-monitor/test-session-manager/test-session-manager.service.ts
  frontend/src/app/group-monitor/unit-test-example-data.spec.ts
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

Rename file service artifacts
  helm/templates/app/file-service/configmap.yaml
  helm/templates/app/file-service/depoyment.yaml
  helm/templates/app/file-service/service.yaml
Due: none

Path conditions:
  check-backend-feature-rules: any of: backend/**/*, scripts/database/**/*, definitions/**/*
  check-broadcasting-service-feature-rules: any of: broadcasting-service/**/*
  check-common-feature-rules: any of: common/**/*
  check-e2e-feature-rules: any of: e2e/**/*
  check-file-service-feature-rules: any of: file-service/**/*
  check-frontend-feature-rules: any of: frontend/**/*
  check-task-runner-feature-rules: any of: task-runner/**/*
  build-backend: (any of: backend/**/*, scripts/database/**/*, definitions/**/*) or ((any of: task-runner/**/*) or (any of: e2e/**/*))
  build-frontend: (any of: frontend/**/*) or ((any of: common/**/*) or (any of: e2e/**/*))
  build-broadcasting-service: (any of: broadcasting-service/**/*) or ((any of: common/**/*) or (any of: e2e/**/*))
  build-file-service: (any of: file-service/**/*) or ((any of: task-runner/**/*) or (any of: e2e/**/*))
  build-e2e: any of: e2e/**/*
  build-task-runner: (any of: task-runner/**/*) or ((any of: backend/**/*, scripts/database/**/*, definitions/**/*) or (any of: file-service/**/*))
  test-backend-unit: any of: backend/**/*, scripts/database/**/*, definitions/**/*
  test-frontend-unit: (any of: frontend/**/*) or (any of: common/**/*)
  test-broadcasting-service-unit: (any of: broadcasting-service/**/*) or (any of: common/**/*)
  test-backend-api: (any of: backend/**/*, scripts/database/**/*, definitions/**/*) or (any of: task-runner/**/*)
  test-file-service-api: (any of: file-service/**/*) or (any of: task-runner/**/*)
  test-backend-initialization: any of: backend/**/*, scripts/database/**/*, definitions/**/*
  test-e2e: any of: e2e/**/*
