Repository iqb-berlin/testcenter: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-backend-feature-rules, check-broadcasting-service-feature-rules, check-common-feature-rules, check-e2e-feature-rules, check-file-service-feature-rules, check-frontend-feature-rules, check-task-runner-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, build-task-runner, test-backend-unit, test-frontend-unit, test-broadcasting-service-unit, test-backend-api, test-file-service-api, test-backend-initialization, test-e2e

check-backend-feature-rules:
  stage: .pre
  interruptible: true
  allow_failure: true
  script:
  - echo $CI_COMMIT_BRANCH
  - echo $CI_PIPELINE_SOURCE
  - if [ -n "$CI_COMMIT_BRANCH" ]; then echo "commit branch string length is nonzero"; else echo "commit branch = '$CI_COMMIT_BRANCH'"; fi
  ...

check-broadcasting-service-feature-rules:
  stage: .pre
  interruptible: true
  allow_failure: true
  script:
  - echo $CI_COMMIT_BRANCH
  - echo $CI_PIPELINE_SOURCE
  - if [ -n "$CI_COMMIT_BRANCH" ]; then echo "commit branch string length is nonzero"; else echo "commit branch = '$CI_COMMIT_BRANCH'"; fi
  ...

check-common-feature-rules:
  stage: .pre
  interruptible: true
  allow_failure: true
  script:
  - echo $CI_COMMIT_BRANCH
  - echo $CI_PIPELINE_SOURCE
  - if [ -n "$CI_COMMIT_BRANCH" ]; then echo "commit branch string length is nonzero"; else echo "commit branch = '$CI_COMMIT_BRANCH'"; fi
  ...

check-e2e-feature-rules:
  stage: .pre
  interruptible: true
  allow_failure: true
  script:
  - echo $CI_COMMIT_BRANCH
  - echo $CI_PIPELINE_SOURCE
  - if [ -n "$CI_COMMIT_BRANCH" ]; then echo "commit branch string length is nonzero"; else echo "commit branch = '$CI_COMMIT_BRANCH'"; fi
  ...

check-file-service-feature-rules:
  stage: .pre
  interruptible: true
  allow_failure: true
  script:
  - echo $CI_COMMIT_BRANCH
  - echo $CI_PIPELINE_SOURCE
  - if [ -n "$CI_COMMIT_BRANCH" ]; then echo "commit branch string length is nonzero"; else echo "commit branch = '$CI_COMMIT_BRANCH'"; fi
  ...

check-frontend-feature-rules:
  stage: .pre
  interruptible: true
  allow_failure: true
  script:
  - echo $CI_COMMIT_BRANCH
  - echo $CI_PIPELINE_SOURCE
  - if [ -n "$CI_COMMIT_BRANCH" ]; then echo "commit branch string length is nonzero"; else echo "commit branch = '$CI_COMMIT_BRANCH'"; fi
  ...

check-task-runner-feature-rules:
  stage: .pre
  interruptible: true
  allow_failure: true
  script:
  - echo $CI_COMMIT_BRANCH
  - echo $CI_PIPELINE_SOURCE
  - if [ -n "$CI_COMMIT_BRANCH" ]; then echo "commit branch string length is nonzero"; else echo "commit branch = '$CI_COMMIT_BRANCH'"; fi
  ...

build-backend:
  stage: build
  variables:
    BACKEND_IMAGE_NAME: ${CI_REGISTRY_IMAGE}/iqbberlin/testcenter-backend
  before_script:
  - ip a | grep mtu
  - docker network inspect bridge | grep mtu
  - docker login --username $CI_DEPENDENCY_PROXY_USER --password $CI_DEPENDENCY_PROXY_PASSWORD $CI_DEPENDENCY_PROXY_SERVER
  ...

build-frontend:
  stage: build
  variables:
    FRONTEND_IMAGE_NAME: ${CI_REGISTRY_IMAGE}/iqbberlin/testcenter-frontend
  before_script:
  - ip a | grep mtu
  - docker network inspect bridge | grep mtu
  - cp frontend/src/environments/environment.dev.ts frontend/src/environments/environment.ts
  ...

build-broadcasting-service:
  stage: build
  variables:
    BROADCASTING_SERVICE_IMAGE_NAME: ${CI_REGISTRY_IMAGE}/iqbberlin/testcenter-broadcasting-service
  before_script:
  - ip a | grep mtu
  - docker network inspect bridge | grep mtu
  ...

Group Monitor: Add some filter options
  definitions/custom-texts.json
  definitions/vo_Testtakers.xsd
  docs/pages/custom-texts.md
  frontend/src/app/group-monitor/components/add-filter-dialog/add-filter-dialog.component.html
  frontend/src/app/group-monitor/components/add-filter-dialog/add-filter-dialog.component.ts
  frontend/src/app/group-monitor/group-monitor.interfaces.ts
  frontend/src/app/group-monitor/test-session-manager/test-session-manager.service.ts
  package-lock.json
Due: check-backend-feature-rules, check-frontend-feature-rules, build-backend, build-frontend, build-task-runner, test-backend-unit, test-frontend-unit, test-backend-api, test-backend-initialization

update browserlist
  package-lock.json
  package.json
Due: none

Fix some bugs that where found in the review of the configurable group-monitor
  backend/src/files/XMLFileTesttakers.class.php
  definitions/custom-texts.json
  docs/pages/custom-texts.md
  frontend/src/app/group-monitor/components/add-filter-dialog/add-filter-dialog.component.html
  frontend/src/app/group-monitor/components/add-filter-dialog/add-filter-dialog.component.ts
  frontend/src/app/group-monitor/group-monitor.component.css
  frontend/src/app/group-monitor/group-monitor.component.html
  frontend/src/app/group-monitor/group-monitor.component.ts
  frontend/src/app/group-monitor/group-monitor.interfaces.ts
  frontend/src/app/group-monitor/test-session-manager/test-session-manager.service.ts
Due: check-backend-feature-rules, check-frontend-feature-rules, build-backend, build-frontend, build-task-runner, test-backend-unit, test-frontend-unit, test-backend-api, test-backend-initialization

IDE settings
  .idea/php.xml
  .idea/sqldialects.xml
  scripts/database/patches.d/next.sql
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

Adjust tests
  .idea/php-test-framework.xml
  backend/test/unit/files/XMLFilesTesttakersTest.php
  frontend/src/app/group-monitor/test-session-manager/test-session-manager.service.spec.ts
  sampledata/Testtakers.xml
  scripts/database/full.sql
Due: check-backend-feature-rules, check-frontend-feature-rules, build-backend, build-frontend, build-task-runner, test-backend-unit, test-frontend-unit, test-backend-api, test-backend-initialization

Update to version 15.3.0-alpha
  dist-src/.env
  dist-src/install.sh
  docs/CHANGELOG.md
  package.json
  sampledata/Booklet.xml
  sampledata/Booklet2.xml
  sampledata/Booklet3.xml
  sampledata/SysCheck.xml
  sampledata/Testtakers.xml
  sampledata/Unit.xml
  sampledata/Unit2.xml
  scripts/create-new-version.sh
  scripts/database/patches.d/15.2.0-alpha.sql
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

check systemMode everytime a file upload succeeds
  backend/src/dao/WorkspaceDAO.class.php
  backend/test/unit/controller/WorkspaceControllerTest.php
  e2e/cypress/e2e/sys-check.cy.ts
  e2e/cypress/fixtures/Testtakers_withoutSyscheck.xml
  frontend/src/app/app-root/login/login.component.html
  frontend/src/app/workspace-admin/files/iqb-files-upload/iqb-files-upload.component.ts
  frontend/src/app/workspace-admin/workspace.module.ts
Due: check-backend-feature-rules, check-e2e-feature-rules, check-frontend-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, build-task-runner, test-backend-unit, test-frontend-unit, test-backend-api, test-backend-initialization, test-e2e

Fix unit tests
  broadcasting-service/src/testee/testee.service.spec.ts
Due: check-broadcasting-service-feature-rules, build-broadcasting-service, test-broadcasting-service-unit

Fix unit tests
  frontend/src/app/group-monitor/test-session-manager/test-session-manager.service.spec.ts
  frontend/src/app/group-monitor/test-session-manager/test-session-manager.service.ts
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

IDE settings
  .idea/dataSources.xml
  .idea/php-test-framework.xml
Due: none

Fix what was broken when squashing
  backend/src/dao/SessionDAO.class.php
  sampledata/Testtakers.xml
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

Remove file which should only exist locally
  test/config.json
Due: none

IDEA config
  .idea/php-test-framework.xml
Due: none

Add documentation
  broadcasting-service/Dockerfile
Due: check-broadcasting-service-feature-rules, build-broadcasting-service, test-broadcasting-service-unit

Refine type of test-mode string
  frontend/src/app/app.interfaces.ts
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

Fix broken test
  frontend/src/app/group-monitor/group-monitor.component.spec.ts
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

Update README of Broadcasting Service
  broadcasting-service/README
Due: check-broadcasting-service-feature-rules, build-broadcasting-service, test-broadcasting-service-unit

Update @iqb/responses to 3.1.2
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/test-controller/services/test-loader.service.ts
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

Restore data from previous session after coding scheme is loaded
  frontend/src/app/test-controller/services/test-controller.service.ts
  frontend/src/app/test-controller/services/test-loader.service.ts
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

IDE settings
  .idea/dataSources.xml
Due: none

Improve states view in debug pane
  frontend/src/app/test-controller/components/debug-pane/debug-pane.component.css
  frontend/src/app/test-controller/components/debug-pane/debug-pane.component.html
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

Remove redundant property
  frontend/src/app/group-monitor/test-session/test-session.component.html
  frontend/src/app/test-controller/components/debug-pane/debug-pane.component.ts
  frontend/src/app/test-controller/components/test-controller/test-controller.component.html
  frontend/src/app/test-controller/components/test-controller/test-controller.component.ts
  frontend/src/app/test-controller/components/test-status/test-status.component.ts
  frontend/src/app/test-controller/components/unit-menu/unit-menu.component.ts
  frontend/src/app/test-controller/components/unithost/unithost.component.html
  frontend/src/app/test-controller/components/unithost/unithost.component.ts
  frontend/src/app/test-controller/services/test-controller.service.ts
  frontend/src/app/test-controller/services/test-loader.service.ts
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

Fix failing fe build by adding a type guard for values of test-mode header
  frontend/src/app/app.interfaces.ts
  frontend/src/app/error.interceptor.ts
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

rename sql patch to next.sql
  scripts/database/patches.d/next.sql
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

Definition of testtakers: Only allow a defined set of valued for FilterType in MonitorProfile.
  definitions/vo_Testtakers.xsd
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

Group-Monitor: Adjust css in about display of filters in the menu
  frontend/src/app/group-monitor/group-monitor.component.css
  frontend/src/app/group-monitor/group-monitor.component.html
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

Group-Monitor: Change headline in the "add filter" dialogue to "edit filter" when editing filter.
  frontend/src/app/group-monitor/components/add-filter-dialog/add-filter-dialog.component.html
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

[bugfix] insert the right pagelabel for reviews
  frontend/src/app/test-controller/components/test-controller/test-controller.component.ts
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

Group-Monitor: handle invalid RegExes when Regex-filter is set
  frontend/src/app/group-monitor/components/add-filter-dialog/add-filter-dialog.component.html
  frontend/src/app/group-monitor/components/add-filter-dialog/add-filter-dialog.component.ts
  frontend/src/app/group-monitor/test-session-manager/test-session-manager.service.ts
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

update create version script
  scripts/create-new-version.sh
Due: none

Update to version 15.3.0-alpha2
  dist-src/.env
  dist-src/install.sh
  docs/CHANGELOG.md
  package.json
  sampledata/Booklet.xml
  sampledata/Booklet2.xml
  sampledata/Booklet3.xml
  sampledata/SysCheck.xml
  sampledata/Testtakers.xml
  sampledata/Unit.xml
  sampledata/Unit2.xml
  scripts/database/patches.d/15.3.0-alpha2.sql
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

include watiting instructions in create new version script
  scripts/create-new-version.sh
Due: none

Update new version script
  scripts/create-new-version.sh
Due: none

Update to version 15.3.0-alpha3
  dist-src/.env
  dist-src/install.sh
  docs/CHANGELOG.md
  package.json
  sampledata/Booklet.xml
  sampledata/Booklet2.xml
  sampledata/Booklet3.xml
  sampledata/SysCheck.xml
  sampledata/Testtakers.xml
  sampledata/Unit.xml
  sampledata/Unit2.xml
  scripts/database/patches.d/15.3.0-alpha3.sql
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

Allow connect-src in CSP to GitHub.com in order to repair the send-error-report feature.
  docs/CHANGELOG.md
  frontend/config/nginx.conf
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

Enhance prompts in new version script
  scripts/create-new-version.sh
Due: none

Include adaptive booklet into sample data
  .idea/php-test-framework.xml
  backend/src/workspace/WorkspaceInitializer.class.php
  backend/test/unit/controller/WorkspaceControllerTest.php
  backend/test/unit/files/XMLFilesTesttakersTest.php
  backend/test/unit/helper/FolderTest.php
  backend/test/unit/workspace/WorkspaceCacheTest.php
  backend/test/unit/workspace/WorkspaceTest.php
  sampledata/Booklet2.xml
  sampledata/Testtakers.xml
  sampledata/Unit2.xml
  sampledata/coding-scheme.vocs.json
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

[Setup] Revise install script
  .gitignore
  .gitlab-ci.yml
  config/frontend/nginx.conf
  config/traefik/tls-config.yml
  dist-src/.env.prod-template
  dist-src/Makefile
  dist-src/docker-compose.prod.tls.yml
  dist-src/docker-compose.prod.yml
  dist-src/install.sh
  docker/.env.dev-template
  docker/docker-compose.local-prod.yml
  frontend/Dockerfile
  scripts/create-new-version.sh
  scripts/install.sh
  scripts/make/app-control.mk
  scripts/make/misc.mk
  scripts/make/prod.mk
  scripts/make/test.mk
  scripts/migration/14.11.0.sh
  scripts/migration/15.0.0.sh
  scripts/migration/15.1.0.sh
  scripts/update.sh
  scripts/version.js
  secrets/.gitignore
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

[Setup] Add migration script
  scripts/migration/15.3.0.sh
Due: none

[Setup] Revise production Makefile
  scripts/make/prod.mk
Due: none

Path conditions:
  check-backend-feature-rules: any of: backend/**/*, scripts/database/**/*, definitions/**/*
  check-broadcasting-service-feature-rules: any of: broadcasting-service/**/*
  check-common-feature-rules: any of: common/**/*
  check-e2e-feature-rules: any of: e2e/**/*
  check-file-service-feature-rules: any of: file-service/**/*
  check-frontend-feature-rules: any of: frontend/**/*
  check-task-runner-feature-rules: any of: task-runner/**/*
  build-backend: (any of: backend/**/*, scripts/database/**/*, definitions/**/*) or ((any of: task-runner/**/*) or (any of: e2e/**/*))
  build-frontend: (any of: frontend/**/*) or ((any of: common/**/*) or (any of: e2e/**/*))
  build-broadcasting-service: (any of: broadcasting-service/**/*) or ((any of: common/**/*) or (any of: e2e/**/*))
  build-file-service: (any of: file-service/**/*) or ((any of: task-runner/**/*) or (any of: e2e/**/*))
  build-e2e: any of: e2e/**/*
  build-task-runner: (any of: task-runner/**/*) or ((any of: backend/**/*, scripts/database/**/*, definitions/**/*) or (any of: file-service/**/*))
  test-backend-unit: any of: backend/**/*, scripts/database/**/*, definitions/**/*
  test-frontend-unit: (any of: frontend/**/*) or (any of: common/**/*)
  test-broadcasting-service-unit: (any of: broadcasting-service/**/*) or (any of: common/**/*)
  test-backend-api: (any of: backend/**/*, scripts/database/**/*, definitions/**/*) or (any of: task-runner/**/*)
  test-file-service-api: (any of: file-service/**/*) or (any of: task-runner/**/*)
  test-backend-initialization: any of: backend/**/*, scripts/database/**/*, definitions/**/*
  test-e2e: any of: e2e/**/*
