Repository iqb-berlin/testcenter: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend, build-frontend, build-broadcasting-service, test-backend-unit, test-frontend-unit, test-broadcasting-service-unit, test-e2e, test-backend-api

build-backend:
  stage: build
  script:
  - apk add make curl
  - curl -SL https://github.com/docker/compose/releases/download/v2.6.0/docker-compose-linux-x86_64 -o /usr/local/bin/docker-compose
  - chmod +x /usr/local/bin/docker-compose
  - make init
  - make build service=testcenter-backend
  ...

build-frontend:
  stage: build
  script:
  - apk add make curl
  - curl -SL https://github.com/docker/compose/releases/download/v2.6.0/docker-compose-linux-x86_64 -o /usr/local/bin/docker-compose
  - chmod +x /usr/local/bin/docker-compose
  - make init
  - make build service=testcenter-frontend
  ...

build-broadcasting-service:
  stage: build
  script:
  - apk add make curl
  - curl -SL https://github.com/docker/compose/releases/download/v2.6.0/docker-compose-linux-x86_64 -o /usr/local/bin/docker-compose
  - chmod +x /usr/local/bin/docker-compose
  - make init
  - make build service=testcenter-broadcasting-service
  ...

test-backend-unit:
  stage: test
  needs:
  - job: build-backend
    artifacts: true
  script:
  - apk add make docker-compose
  - make init
  - docker load -i backend_image.tar
  - make test-backend-unit

test-frontend-unit:
  stage: test
  needs:
  - job: build-frontend
    artifacts: true
  script:
  - apk add make docker-compose
  - make init-env
  - make init-frontend
  - docker load -i frontend_image.tar
  - make test-frontend-unit

test-broadcasting-service-unit:
  stage: test
  needs:
  - job: build-broadcasting-service
    artifacts: true
  script:
  - apk add make docker-compose
  - make init-env
  - docker load -i bs_image.tar
  - make test-broadcasting-service-unit

test-e2e:
  stage: test
  needs:
  - job: build-frontend
    artifacts: true
  - job: build-backend
    artifacts: true
  - job: build-broadcasting-service
    artifacts: true
  script:
  - apk add make
  - docker load -i frontend_image.tar
  - docker load -i backend_image.tar
  - docker load -i bs_image.tar
  ...

test-backend-api:
  stage: test
  needs:
  - job: build-backend
    artifacts: true
  script:
  - apk add make
  - make init
  - make test-backend-api

[Backend] Change handling of files with duplicate ID.
  backend/src/dao/WorkspaceDAO.class.php
  backend/src/data-collection/FileData.class.php
  backend/src/files/File.class.php
  backend/src/files/XMLFileBooklet.class.php
  backend/src/files/XMLFileSysCheck.class.php
  backend/src/files/XMLFileTesttakers.class.php
  backend/src/files/XMLFileUnit.class.php
  backend/src/workspace/Workspace.class.php
  backend/src/workspace/WorkspaceCache.class.php
Due: build-backend, test-backend-unit, test-backend-api

[Backend] Add the "File is never used"-warning correctly in validation-report
  backend/src/controller/TestController.class.php
  backend/src/controller/WorkspaceController.class.php
  backend/src/data-collection/FileRelation.class.php
  backend/src/files/ResourceFile.class.php
  backend/src/helper/FileName.class.php
  backend/src/workspace/Workspace.class.php
  backend/src/workspace/WorkspaceCache.class.php
Due: build-backend, test-backend-unit, test-backend-api

[Backend] Fix crossvalidation of newly uploaded files
  backend/src/dao/WorkspaceDAO.class.php
  backend/src/workspace/Workspace.class.php
  backend/src/workspace/WorkspaceCache.class.php
Due: build-backend, test-backend-unit, test-backend-api

[Backend] Resolve and remove smaller and obsolete TODOs
  backend/src/controller/TestController.class.php
  backend/src/dao/WorkspaceDAO.class.php
  backend/src/files/File.class.php
  backend/src/files/XMLFileUnit.class.php
  backend/src/helper/FileName.class.php
  backend/src/workspace/WorkspaceCache.class.php
Due: build-backend, test-backend-unit, test-backend-api

[Backend] Make file-name column in files column case-sensitive
  backend/src/controller/BookletController.class.php
  backend/src/controller/WorkspaceController.class.php
  backend/src/dao/DAO.class.php
  backend/src/files/File.class.php
  backend/src/files/ResourceFile.class.php
  backend/src/files/XMLFile.class.php
  backend/src/files/XMLFileTesttakers.class.php
  backend/src/files/XMLFileUnit.class.php
  backend/src/workspace/Workspace.class.php
  backend/src/workspace/WorkspaceCache.class.php
  scripts/database/mysql.patches.d/next.sql
Due: build-backend, test-backend-unit, test-backend-api

[Backend] Fix the check for duplicate logins.
  backend/src/files/XMLFileTesttakers.class.php
  backend/src/workspace/Workspace.class.php
  backend/src/workspace/WorkspaceCache.class.php
Due: build-backend, test-backend-unit, test-backend-api

[Backend] Fix XML File constructor
  backend/src/files/XMLFile.class.php
Due: build-backend, test-backend-unit, test-backend-api

[Backend] Refactor the File-classes
  backend/src/controller/TestController.class.php
  backend/src/controller/WorkspaceController.class.php
  backend/src/files/File.class.php
  backend/src/files/XMLFile.class.php
  backend/src/files/XMLFileBooklet.class.php
  backend/src/files/XMLFileSysCheck.class.php
  backend/src/files/XMLFileTesttakers.class.php
  backend/src/files/XMLFileUnit.class.php
  backend/src/workspace/Workspace.class.php
Due: build-backend, test-backend-unit, test-backend-api

[Backend] Fix Test DB
  backend/test/database.sql
Due: build-backend, test-backend-unit, test-backend-api

[Backend] Don't confuse FileName and FileId.
  backend/src/controller/TestController.class.php
  backend/src/controller/WorkspaceController.class.php
  backend/src/dao/WorkspaceDAO.class.php
  backend/src/data-collection/FileRelation.class.php
  backend/src/workspace/Workspace.class.php
  backend/src/workspace/WorkspaceCache.class.php
Due: build-backend, test-backend-unit, test-backend-api

[Backend] Fix Dredd-tests
  test/api/dredd-hooks.js
  test/api/dredd-test.js
Due: none

Update CHANGELOG.md
  docs/CHANGELOG.md
Due: none

Update Traefik reverse proxy to latest (2.9)
  docker/docker-compose.system-test-ui.yml
  docker/docker-compose.yml
  e2e/backup/docker-compose.system-test.yml
Due: build-backend, build-frontend, build-broadcasting-service, test-e2e

[Backend] Fix Unit-tests
  .idea/dataSources.xml
  backend/src/controller/TestController.class.php
  backend/src/dao/WorkspaceDAO.class.php
  backend/src/data-collection/FileData.class.php
  backend/src/files/File.class.php
  backend/src/files/ResourceFile.class.php
  backend/src/files/XMLFile.class.php
  backend/src/files/XMLFileTesttakers.class.php
  backend/src/files/XMLFileUnit.class.php
  backend/src/helper/FileName.class.php
  backend/src/helper/Version.class.php
  backend/src/workspace/Workspace.class.php
  backend/test/unit/controller/WorkspaceControllerTest.php
  backend/test/unit/dao/WorkspaceDAOTest.php
  backend/test/unit/files/FileTest.php
  backend/test/unit/files/ResourceFileTest.php
  backend/test/unit/files/XMLFileSysCheckTest.php
  backend/test/unit/files/XMLFileTest.php
  backend/test/unit/files/XMLFilesBookletTest.php
  backend/test/unit/files/XMLFilesTesttakersTest.php
  backend/test/unit/files/XMLFilesUnitTest.php
  backend/test/unit/helper/FileNameTest.php
  backend/test/unit/helper/VersionTest.php
  backend/test/unit/mock-classes/ResourceFileMock.php
  backend/test/unit/mock-classes/WorkspaceCacheMock.php
  backend/test/unit/testdata.sql
  backend/test/unit/workspace/SysChecksFolderTest.php
  backend/test/unit/workspace/WorkspaceTest.php
  backend/test/unit/workspace/WorkspaceValidatorTest.php
Due: build-backend, test-backend-unit, test-backend-api

Add container-scanning to CI pipeline
  .gitlab-ci.yml
Due: none

Fix pages generation by using specific software version
  .gitlab-ci.yml
Due: none

Hide HTTP server header to obfuscate the nginx version
  frontend/config/nginx.conf
Due: build-frontend, test-frontend-unit

update to version 13.0.0
  dist-src/.env
  docs/CHANGELOG.md
  package.json
  sampledata/Booklet.xml
  sampledata/Booklet2.xml
  sampledata/Booklet3.xml
  sampledata/SAMPLE_UNITCONTENTS.HTM
  sampledata/SysCheck.xml
  sampledata/Testtakers.xml
  sampledata/Unit.xml
  sampledata/Unit2.xml
Due: none

[Backend] Fix Unit tests
  backend/src/workspace/Workspace.class.php
  backend/src/workspace/WorkspaceCache.class.php
  backend/test/unit/workspace/WorkspaceTest.php
  backend/test/unit/workspace/WorkspaceValidatorTest.php
Due: build-backend, test-backend-unit, test-backend-api

Restore and update iqb-logo routing exception
  frontend/src/app/test-controller/routing/unit-deactivate.guard.ts
Due: build-frontend, test-frontend-unit

[Backend] Prevent infinite loop when empty file occurs
  backend/src/files/File.class.php
Due: build-backend, test-backend-unit, test-backend-api

[Backend] Take the id in legacy players as it is stated
  backend/src/files/ResourceFile.class.php
Due: build-backend, test-backend-unit, test-backend-api

Fix API-tests by correcting paths
  backend/src/helper/TestEnvironment.class.php
Due: build-backend, test-backend-unit, test-backend-api

update to version 13.3.1
  docs/CHANGELOG.md
Due: none

Fix a condition in customtext-service
  frontend/src/app/shared/services/customtext/customtext.service.ts
Due: build-frontend, test-frontend-unit

[Backend] Repair deletion of SysCheckReports
  backend/src/workspace/SysChecksFolder.class.php
  backend/src/workspace/Workspace.class.php
Due: build-backend, test-backend-unit, test-backend-api

[Backend] Remove obsolete debug-stuff, TODOs and comments
  backend/src/files/File.class.php
  backend/src/workspace/Workspace.class.php
  backend/test/unit/dao/WorkspaceDAOTest.php
  backend/test/unit/files/ResourceFileTest.php
  backend/test/unit/workspace/WorkspaceTest.php
  scripts/database/mysql.patches.d/next.sql
Due: build-backend, test-backend-unit, test-backend-api

[Backend] Make table columns and structure types fitting, set foreign keys and indexes.
  backend/src/workspace/Workspace.class.php
  scripts/database/mysql.patches.d/13.1.0.sql
  scripts/database/mysql.patches.d/next.sql
Due: build-backend, test-backend-unit, test-backend-api

[Backend] Fix file Upload
  backend/src/dao/WorkspaceDAO.class.php
  backend/src/files/File.class.php
  backend/src/workspace/Workspace.class.php
Due: build-backend, test-backend-unit, test-backend-api

[Backend] Fix reading file id
  backend/src/files/File.class.php
  backend/test/unit/files/XMLFileSysCheckTest.php
  backend/test/unit/files/XMLFileTest.php
Due: build-backend, test-backend-unit, test-backend-api

[Backend] Fix unit tests
  backend/test/unit/workspace/WorkspaceTest.php
Due: build-backend, test-backend-unit, test-backend-api

Update CHANGELOG
  docs/CHANGELOG.md
Due: none

Update requirements in docs
  docs/pages/installation-dev.md
Due: none

update to version 14.0.0
  dist-src/.env
  docs/CHANGELOG.md
  package.json
  sampledata/Booklet.xml
  sampledata/Booklet2.xml
  sampledata/Booklet3.xml
  sampledata/SysCheck.xml
  sampledata/Testtakers.xml
  sampledata/Unit.xml
  sampledata/Unit2.xml
Due: none

temporaly remove two test suites that fail bc of the myssql update and there is no time to fix right now
  .gitlab-ci.yml
  scripts/database/mysql.patches.d/14.0.0.sql
Due: none

Path conditions:
  build-backend: (any of: backend/**/*, database/**/*, definitions/**/*) or (any of: e2e/**/*)
  build-frontend: (any of: frontend/**/*, common/**/*) or (any of: e2e/**/*)
  build-broadcasting-service: (any of: broadcasting-service/**/*, common/**/*) or (any of: e2e/**/*)
  test-backend-unit: any of: backend/**/*, database/**/*, definitions/**/*
  test-frontend-unit: any of: frontend/**/*, common/**/*
  test-broadcasting-service-unit: any of: broadcasting-service/**/*, common/**/*
  test-e2e: any of: e2e/**/*
  test-backend-api: any of: backend/**/*, database/**/*, definitions/**/*
