Repository iqb-berlin/testcenter: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend, build-frontend, build-broadcasting-service, test-backend-unit, test-frontend-unit, test-broadcasting-service-unit, test-e2e, test-backend-api

Path conditions:
  build-backend: (any of: backend/**/*, database/**/*, definitions/**/*) or (any of: e2e/**/*)
  build-frontend: (any of: frontend/**/*, common/**/*) or (any of: e2e/**/*)
  build-broadcasting-service: (any of: broadcasting-service/**/*, common/**/*) or (any of: e2e/**/*)
  test-backend-unit: any of: backend/**/*, database/**/*, definitions/**/*
  test-frontend-unit: any of: frontend/**/*, common/**/*
  test-broadcasting-service-unit: any of: broadcasting-service/**/*, common/**/*
  test-e2e: any of: e2e/**/*
  test-backend-api: any of: backend/**/*, database/**/*, definitions/**/*

Fix DB-Patch: clean up tables before modifying them - they get rewritten on initialize anyway
  scripts/database/mysql.patches.d/14.0.0.sql
Due: none

[Backend] Fix exception handling when running patch files
  backend/src/dao/DAO.class.php
Due: build-backend, test-backend-unit, test-backend-api

Update CHANGELOG.md
  docs/CHANGELOG.md
Due: none

Temporarily remove faulty database statement
  scripts/database/mysql.patches.d/14.0.0.sql
Due: none

[Backend] Fix test loading malfunction when file-id and name is not the same.
  backend/src/controller/TestController.class.php
  backend/src/dao/WorkspaceDAO.class.php
  backend/src/data-collection/FileRelation.class.php
Due: build-backend, test-backend-unit, test-backend-api

[Backend] Fix expectations of init-tests.
  backend/test/initialization/expectations/blank_legacy_version_5.yml
  backend/test/initialization/expectations/blank_legacy_version_7.yml
  backend/test/initialization/expectations/blank_version_10.yml
Due: build-backend, test-backend-unit, test-backend-api

[CI] Restore temporary deactivated tests
  .gitlab-ci.yml
Due: none

[Backend] Clean expected attachments from db, when unit is removed
  scripts/database/mysql.patches.d/14.0.0.sql
Due: none

[Backend] Remove e2e-tests, since they are still broken and we want to rewrite them in selenium anyway.
  .gitlab-ci.yml
Due: none

[Backend] Remove trash files
  backend/test/initialization/tests/14.0.0/file-handling.sh
Due: build-backend, test-backend-unit, test-backend-api

Include missing files which belong to last Pull-request.
  docs/CHANGELOG.md
  scripts/database/mysql.patches.d/next.sql
Due: none

update to version 14.0.1
  dist-src/.env
  docs/CHANGELOG.md
  package.json
  sampledata/Booklet.xml
  sampledata/Booklet2.xml
  sampledata/Booklet3.xml
  sampledata/SysCheck.xml
  sampledata/Testtakers.xml
  sampledata/Unit.xml
  sampledata/Unit2.xml
  scripts/database/mysql.patches.d/14.0.1.sql
Due: none

[Backend] Prevent SQL-patches to fail silently
  backend/src/dao/DAO.class.php
Due: build-backend, test-backend-unit, test-backend-api

[Backend] Fix last patch
  scripts/database/mysql.patches.d/14.0.1.sql
Due: none

Rename config/cert_config.yml to ssl-config.yml
  dist-src/docker-compose.prod.tls.yml
  dist-src/install.sh
  dist-src/patch.sh
  dist-src/ssl-config.yml
  docs/CHANGELOG.md
Due: none

Add script to run security scan with trivy
  scripts/security-check.sh
Due: none

Broadcasting-Service: Update minor version of the node-image (docker)
  docker/broadcasting-service.Dockerfile
Due: none

Remove pre-built base image for frontend
  docker/frontend-dev-base.Dockerfile
  docker/frontend.Dockerfile
Due: none

Infrastructure: Change frontend prod image from alpine to default
  docker/frontend.Dockerfile
Due: none

Infrastructure: Update npm packages for runner
  package-lock.json
Due: none

Frontend: Update Angular packages to latest minor and regen package-lock
  frontend/package-lock.json
  frontend/package.json
Due: build-frontend, test-frontend-unit

BS: Audit-fix vulnerable npm packages
  broadcasting-service/package-lock.json
Due: build-broadcasting-service, test-broadcasting-service-unit

Infrastructure: Move security-scan to Makefile
  scripts/make/misc.mk
  scripts/security-check.sh
Due: none

[Backend] prevent duplicate login_sessions
  .idea/dataSources.xml
  backend/src/dao/DAO.class.php
  backend/src/dao/InitDAO.class.php
  backend/src/dao/SessionDAO.class.php
  backend/test/database.sql
  backend/test/unit/dao/SessionDAOTest.php
  scripts/database/mysql.patches.d/next.sql
Due: build-backend, test-backend-unit, test-backend-api

Infrastructure: Remove unused packages from runner and frontend images
  docker/frontend.Dockerfile
  docker/runner.Dockerfile
Due: none

Frontend: Remove unused npm packages
  frontend/package-lock.json
  frontend/package.json
Due: build-frontend, test-frontend-unit

Infrastructure: Add chromium back into frontend
  docker/frontend.Dockerfile
Due: none

[Backend] Prvent duplicate person_sessiosn when two logins ocur in the very same moment
  backend/src/controller/SessionController.class.php
  backend/src/dao/SessionDAO.class.php
  scripts/database/mysql.patches.d/next.sql
Due: build-backend, test-backend-unit, test-backend-api

Infrastructure: Use single setting to enable/disable BS
  dist-src/.env
  dist-src/install.sh
  dist-src/patch.sh
  dist-src/update.sh
  docker/.env-default
  docker/backend-entrypoint.sh
  docker/docker-compose.yml
  docs/CHANGELOG.md
Due: none

[BE] Refactor creation of person_session
  backend/src/controller/SessionController.class.php
  backend/src/dao/InitDAO.class.php
  backend/src/dao/SessionDAO.class.php
  backend/src/helper/TestEnvironment.class.php
  backend/test/database.sql
  backend/test/unit/dao/SessionDAOTest.php
  backend/test/unit/testdata.sql
  scripts/database/mysql.patches.d/next.sql
Due: build-backend, test-backend-unit, test-backend-api

Update ReadMe with info on git usage
  docs/pages/developer-guide.md
Due: none

[Setup] Add dependency-scanning to CI script
  .gitlab-ci.yml
Due: none

[BE] Include last patch again,
  scripts/database/mysql.patches.d/next.sql
Due: none

[FE] Remove BOM from Booklet-Files
  frontend/src/app/group-monitor/booklet/booklet.service.ts
  frontend/src/app/test-controller/services/test-loader.service.ts
Due: build-frontend, test-frontend-unit

Fix maketarget "run-prod-local".
  scripts/make/app-control.mk
Due: none

Include MySQL-config file also in prod!
  dist-src/docker-compose.prod.yml
  dist-src/install.sh
  dist-src/patch.sh
  docker/docker-compose.dev.yml
  docker/docker-compose.local-prod.yml
  docker/docker-compose.yml
Due: none

update to version 14.1.0-rc.1
  dist-src/.env
  docs/CHANGELOG.md
  package.json
  sampledata/Booklet.xml
  sampledata/Booklet2.xml
  sampledata/Booklet3.xml
  sampledata/SysCheck.xml
  sampledata/Testtakers.xml
  sampledata/Unit.xml
  sampledata/Unit2.xml
Due: none

Remove left over file
  scripts/database/mysql.patches.d/next.sql
Due: none

Change Coding Style of PHp to 2 spaces and no blank lines after functions.
  .editorconfig
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
  docs/pages/developer-guide.md
Due: none
