Repository iqb-berlin/testcenter: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend, build-frontend, build-broadcasting-service, test-backend-unit, test-frontend-unit, test-broadcasting-service-unit, test-e2e, test-backend-api

Path conditions:
  build-backend: (any of: backend/**/*, database/**/*, definitions/**/*) or (any of: e2e/**/*)
  build-frontend: (any of: frontend/**/*, common/**/*) or (any of: e2e/**/*)
  build-broadcasting-service: (any of: broadcasting-service/**/*, common/**/*) or (any of: e2e/**/*)
  test-backend-unit: any of: backend/**/*, database/**/*, definitions/**/*
  test-frontend-unit: any of: frontend/**/*, common/**/*
  test-broadcasting-service-unit: any of: broadcasting-service/**/*, common/**/*
  test-e2e: any of: e2e/**/*
  test-backend-api: any of: backend/**/*, database/**/*, definitions/**/*

fe: Upload multiple files with one request
  docs/CHANGELOG.md
Due: none

Update installation-prod.md
  docs/pages/installation-prod.md
Due: none

fe: start booklet immediately for link-login
  frontend/src/app/app-root/login/login.component.ts
  frontend/src/app/app-route-guards.ts
Due: build-frontend, test-frontend-unit

bs: Update outdated package(ts-loader)
  broadcasting-service/package-lock.json
  broadcasting-service/package.json
Due: build-broadcasting-service, test-broadcasting-service-unit

Update README.md
  README.md
Due: none

share some files and ports with host in local-prod mode to make it more useful in dev.
  docker/docker-compose.local-prod.yml
Due: none

fe: Add Content-Security-Policy
  docker/docker-compose.yml
  frontend/config/nginx.conf
Due: build-frontend, test-frontend-unit

fe: Remove toothless sandbox attribute from iframe
  frontend/src/app/sys-check/unit-check/unit-check.component.ts
  frontend/src/app/test-controller/components/unithost/unithost.component.ts
Due: build-frontend, test-frontend-unit

be/e2e: Add second workspace for e2e-tests.
  .idea/dataSources.xml
  backend/src/helper/TestEnvironment.class.php
  backend/src/workspace/WorkspaceInitializer.class.php
Due: build-backend, test-backend-unit, test-backend-api

sample-data: Remove validFor from main sample user because it is extremely annoying.
  sampledata/Testtakers.xml
Due: none

be: Add the possibility to set up the clock in static mode with a new Header "TestClock"
  backend/index.php
  backend/src/helper/TestEnvironment.class.php
Due: build-backend, test-backend-unit, test-backend-api

fe: Don't show time left in the integrated demo mode of the monitor.
  common/src/classes/test-mode-data.class.ts
  definitions/test-mode.json
  docs/index.md
  docs/pages/test-mode.md
  docs/src/test-mode.md
Due: build-backend, build-frontend, build-broadcasting-service, test-backend-unit, test-frontend-unit, test-broadcasting-service-unit, test-backend-api

be: Make multi-file upload disregard file order.
  .idea/phpunit.xml
  backend/src/controller/WorkspaceController.class.php
  backend/src/workspace/Workspace.class.php
  backend/test/unit/controller/WorkspaceControllerTest.php
  backend/test/unit/workspace/WorkspaceTest.php
Due: build-backend, test-backend-unit, test-backend-api

be: Increase maximum of files that can be uploaded at once to 200
  backend/config/local.php.ini
Due: build-backend, test-backend-unit, test-backend-api

be: Fix unit test
  backend/test/unit/files/XMLFilesTesttakersTest.php
Due: build-backend, test-backend-unit, test-backend-api

Update CHANGELOG.md
  docs/CHANGELOG.md
Due: none

be: Improve message on duplicate (login- or group-) ID after file-upload
  backend/src/dao/WorkspaceDAO.class.php
  backend/src/files/XMLFileTesttakers.class.php
  backend/test/unit/VfsForTest.class.php
  backend/test/unit/dao/WorkspaceDAOTest.php
  backend/test/unit/workspace/WorkspaceCacheTest.php
  docs/CHANGELOG.md
Due: build-backend, test-backend-unit, test-backend-api

be: Fix bug that happens when in initialization phase there are duplicate (login-)ids over multiple workspaces.
  backend/src/files/XMLFileTesttakers.class.php
Due: build-backend, test-backend-unit, test-backend-api

fe: Visualize blocks which are locked by timeup in group-monitor.
  .idea/phpunit.xml
  definitions/custom-texts.json
  docs/index.md
  docs/pages/custom-texts.md
  frontend/src/app/group-monitor/test-session/test-session.component.css
  frontend/src/app/group-monitor/test-session/test-session.component.html
Due: build-backend, build-frontend, test-backend-unit, test-frontend-unit, test-backend-api

fe: Refresh the group-monitor once a while to make sure the "idle" state appears.
  docs/CHANGELOG.md
  frontend/src/app/group-monitor/test-session-manager/test-session-manager.service.ts
  frontend/src/app/group-monitor/test-session/test-session.util.ts
Due: build-frontend, test-frontend-unit

Update to version 14.7.0
  dist-src/.env
  docs/CHANGELOG.md
  package.json
  sampledata/Booklet.xml
  sampledata/Booklet2.xml
  sampledata/Booklet3.xml
  sampledata/SysCheck.xml
  sampledata/Testtakers.xml
  sampledata/Unit.xml
  sampledata/Unit2.xml
Due: none

be: Read group_name from logins not from login_sessions when delivering sessions.
  .idea/phpunit.xml
  backend/src/dao/AdminDAO.class.php
Due: build-backend, test-backend-unit, test-backend-api

fe: Restore showing idle-state after 5 minutes.
  frontend/src/app/group-monitor/test-session/test-session.util.ts
Due: build-frontend, test-frontend-unit

fe: Fix unit-tests by making the session refreshment wich occurs every few minutes to check for idle state optional and by handling blocks without restrictions correctly.
  frontend/src/app/group-monitor/group-monitor.config.ts
  frontend/src/app/group-monitor/group-monitor.interfaces.ts
  frontend/src/app/group-monitor/group-monitor.module.ts
  frontend/src/app/group-monitor/test-session-manager/test-session-manager.service.spec.ts
  frontend/src/app/group-monitor/test-session-manager/test-session-manager.service.ts
  frontend/src/app/group-monitor/test-session/test-session.component.html
Due: build-frontend, test-frontend-unit

fe: removed unused imports and other linting
  frontend/src/app/app.interfaces.ts
  frontend/src/app/test-controller/classes/test-controller.classes.ts
  frontend/src/app/test-controller/components/test-controller/test-controller.component.spec.ts
  frontend/src/app/test-controller/components/test-controller/test-controller.component.ts
  frontend/src/app/test-controller/components/unithost/unithost.component.spec.ts
  frontend/src/app/test-controller/services/test-loader.service.ts
  frontend/src/app/workspace-admin/syscheck/syscheck.component.ts
  frontend/src/app/workspace-admin/workspacedata.service.ts
Due: build-frontend, test-frontend-unit

fe: removed deleted file from dockerfile
  docker/frontend.Dockerfile
Due: none

fe: refine error management in test-controller
  backend/src/controller/TestController.class.php
  frontend/src/app/app-root/test-starter/test-starter.component.ts
  frontend/src/app/app.component.ts
  frontend/src/app/app.interfaces.ts
  frontend/src/app/backend.service.ts
  frontend/src/app/shared/services/maindata/maindata.service.ts
  frontend/src/app/shared/services/websocket-backend/websocket-backend.service.ts
  frontend/src/app/test-controller/components/test-status/test-status.component.html
Due: build-backend, build-frontend, test-backend-unit, test-frontend-unit, test-backend-api

fe: Fix delete-responses dialogue
  frontend/src/app/workspace-admin/results/results.component.ts
Due: build-frontend, test-frontend-unit

fe: Fix reaction to wrong password in setSuperUserStatus
  frontend/src/app/superadmin/backend.service.ts
Due: build-frontend, test-frontend-unit

be: get rid of an unneeded class
  backend/src/controller/SystemController.class.php
  backend/src/controller/WorkspaceController.class.php
Due: build-backend, test-backend-unit, test-backend-api

be: get rid of an unneeded class
  backend/src/controller/SystemController.class.php
  backend/src/controller/WorkspaceController.class.php
  backend/src/data-collection/SysCheck.class.php
Due: build-backend, test-backend-unit, test-backend-api

be: remove legacy workaround from times without docker
  .idea/php.xml
  backend/composer.json
  backend/src/controller/SpeedtestController.class.php
Due: build-backend, test-backend-unit, test-backend-api

be: Return correct status code if provided password was wrong at save sys-check report.
  backend/src/controller/WorkspaceController.class.php
Due: build-backend, test-backend-unit, test-backend-api

fe: Refine behaviour after various error situations in sys-check.
  frontend/src/app/sys-check/backend.service.ts
  frontend/src/app/sys-check/sys-check.component.ts
  frontend/src/app/sys-check/welcome/welcome.component.html
Due: build-frontend, test-frontend-unit

fe: Add more consistent behaviour if when double password check fails.
  frontend/src/app/superadmin/backend.service.ts
  frontend/src/app/superadmin/users/users.component.ts
Due: build-frontend, test-frontend-unit

fe: remove unused file
  frontend/src/app/app.interceptor.ts
Due: build-frontend, test-frontend-unit

fe: Fix typos and other details around error-handling in group-monitor.
  .idea/phpunit.xml
  definitions/custom-texts.json
  docs/pages/custom-texts.md
  docs/pages/test-mode.md
  frontend/src/app/group-monitor/backend.service.ts
  frontend/src/app/group-monitor/test-session/test-session.component.html
Due: build-backend, build-frontend, test-backend-unit, test-frontend-unit, test-backend-api

fe: If an error occurs in the finish-study-process, behave good and show error instead of white screen.
  frontend/src/app/group-monitor/group-monitor.component.ts
Due: build-frontend, test-frontend-unit

fe: Improve error-handling in attachment-manager.
  frontend/src/app/attachment-manager/pipes/attachment-title.pipe.ts
  frontend/src/app/attachment-manager/services/backend/backend.service.ts
  frontend/src/app/error.interceptor.ts
Due: build-frontend, test-frontend-unit
