Repository iqb-berlin/testcenter: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-backend-feature-rules, check-broadcasting-service-feature-rules, check-common-feature-rules, check-e2e-feature-rules, check-file-service-feature-rules, check-frontend-feature-rules, check-task-runner-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, build-task-runner, test-backend-unit, test-frontend-unit, test-broadcasting-service-unit, test-backend-api, test-file-service-api, test-backend-initialization, test-e2e

check-backend-feature-rules:
  stage: .pre
  interruptible: true
  allow_failure: true
  script:
  - echo $CI_COMMIT_BRANCH
  - echo $CI_PIPELINE_SOURCE
  - if [ -n "$CI_COMMIT_BRANCH" ]; then echo "commit branch string length is nonzero"; else echo "commit branch = '$CI_COMMIT_BRANCH'"; fi
  ...

check-broadcasting-service-feature-rules:
  stage: .pre
  interruptible: true
  allow_failure: true
  script:
  - echo $CI_COMMIT_BRANCH
  - echo $CI_PIPELINE_SOURCE
  - if [ -n "$CI_COMMIT_BRANCH" ]; then echo "commit branch string length is nonzero"; else echo "commit branch = '$CI_COMMIT_BRANCH'"; fi
  ...

check-common-feature-rules:
  stage: .pre
  interruptible: true
  allow_failure: true
  script:
  - echo $CI_COMMIT_BRANCH
  - echo $CI_PIPELINE_SOURCE
  - if [ -n "$CI_COMMIT_BRANCH" ]; then echo "commit branch string length is nonzero"; else echo "commit branch = '$CI_COMMIT_BRANCH'"; fi
  ...

check-e2e-feature-rules:
  stage: .pre
  interruptible: true
  allow_failure: true
  script:
  - echo $CI_COMMIT_BRANCH
  - echo $CI_PIPELINE_SOURCE
  - if [ -n "$CI_COMMIT_BRANCH" ]; then echo "commit branch string length is nonzero"; else echo "commit branch = '$CI_COMMIT_BRANCH'"; fi
  ...

check-file-service-feature-rules:
  stage: .pre
  interruptible: true
  allow_failure: true
  script:
  - echo $CI_COMMIT_BRANCH
  - echo $CI_PIPELINE_SOURCE
  - if [ -n "$CI_COMMIT_BRANCH" ]; then echo "commit branch string length is nonzero"; else echo "commit branch = '$CI_COMMIT_BRANCH'"; fi
  ...

check-frontend-feature-rules:
  stage: .pre
  interruptible: true
  allow_failure: true
  script:
  - echo $CI_COMMIT_BRANCH
  - echo $CI_PIPELINE_SOURCE
  - if [ -n "$CI_COMMIT_BRANCH" ]; then echo "commit branch string length is nonzero"; else echo "commit branch = '$CI_COMMIT_BRANCH'"; fi
  ...

check-task-runner-feature-rules:
  stage: .pre
  interruptible: true
  allow_failure: true
  script:
  - echo $CI_COMMIT_BRANCH
  - echo $CI_PIPELINE_SOURCE
  - if [ -n "$CI_COMMIT_BRANCH" ]; then echo "commit branch string length is nonzero"; else echo "commit branch = '$CI_COMMIT_BRANCH'"; fi
  ...

build-backend:
  stage: build
  variables:
    BACKEND_IMAGE_NAME: ${CI_REGISTRY_IMAGE}/iqbberlin/testcenter-backend
  before_script:
  - ip a | grep mtu
  - docker network inspect bridge | grep mtu
  - docker login --username $CI_DEPENDENCY_PROXY_USER --password $CI_DEPENDENCY_PROXY_PASSWORD $CI_DEPENDENCY_PROXY_SERVER
  ...

build-frontend:
  stage: build
  variables:
    FRONTEND_IMAGE_NAME: ${CI_REGISTRY_IMAGE}/iqbberlin/testcenter-frontend
  before_script:
  - ip a | grep mtu
  - docker network inspect bridge | grep mtu
  - cp frontend/src/environments/environment.dev.ts frontend/src/environments/environment.ts
  ...

build-broadcasting-service:
  stage: build
  variables:
    BROADCASTING_SERVICE_IMAGE_NAME: ${CI_REGISTRY_IMAGE}/iqbberlin/testcenter-broadcasting-service
  before_script:
  - ip a | grep mtu
  - docker network inspect bridge | grep mtu
  ...

TestController: Don't lock forward/backward buttons if presentation/response complete ist not reached because we can not see why we can not go further, but at least mark it.
  frontend/src/app/test-controller/components/debug-pane/debug-pane.component.ts
  frontend/src/app/test-controller/components/unit-menu/unit-menu.component.html
  frontend/src/app/test-controller/components/unit-nav-bar/unit-nav-bar.component.css
  frontend/src/app/test-controller/components/unit-nav-bar/unit-nav-bar.component.html
  frontend/src/app/test-controller/components/unit-nav-bar/unit-nav-bar.component.ts
  frontend/src/app/test-controller/components/unithost/unithost.component.ts
  frontend/src/app/test-controller/interfaces/test-controller.interfaces.ts
  frontend/src/app/test-controller/pipes/unit-inaccessible.pipe.ts
  frontend/src/app/test-controller/services/test-controller.service.ts
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

System-Tests: Use interceptor in angular instead of Cypress to add teh TestMode-header.
  frontend/src/app/app-root/login/login.component.html
  frontend/src/app/app.module.ts
  frontend/src/app/shared/services/maindata/maindata.service.ts
  frontend/src/app/test-mode.interceptor.ts
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

System-Test: Refactor TestController TestSuite completely
  e2e/cypress/e2e/Test-Controller/RunHotReturn.cy.ts
  e2e/cypress/e2e/utils.ts
Due: check-e2e-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, test-e2e

TestController: Show correct message if a locked unit is displayed (can happen, when there are only locked once left for example).
  definitions/custom-texts.json
  frontend/src/app/test-controller/components/unithost/unithost.component.html
Due: check-backend-feature-rules, check-frontend-feature-rules, build-backend, build-frontend, build-task-runner, test-backend-unit, test-frontend-unit, test-backend-api, test-backend-initialization

TestController: Linting
  frontend/src/app/test-controller/interfaces/test-controller.interfaces.ts
  frontend/src/app/test-controller/services/backend.service.ts
  frontend/src/app/test-controller/services/command.service.ts
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

TestController: Reset TestState correctly
  frontend/src/app/test-controller/services/test-controller.service.ts
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

Frontend: Refactor Starter to avoid redundant backend calls
  frontend/src/app/app-root/starter/starter.component.html
  frontend/src/app/app-root/starter/starter.component.ts
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

linting
  frontend/src/app/test-controller/services/test-controller.service.ts
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

Test-Controller: Return navigationState from closeBuffer to avoid rare race conditions and also only send vopTestStateChangedNotification when actually something changed
  frontend/src/app/test-controller/components/debug-pane/debug-pane.component.ts
  frontend/src/app/test-controller/components/test-controller/test-controller.component.html
  frontend/src/app/test-controller/components/test-controller/test-controller.component.ts
  frontend/src/app/test-controller/components/unit-menu/unit-menu.component.html
  frontend/src/app/test-controller/components/unithost/unithost.component.ts
  frontend/src/app/test-controller/interfaces/test-controller.interfaces.ts
  frontend/src/app/test-controller/interfaces/verona.interfaces.ts
  frontend/src/app/test-controller/routing/unit-activate.guard.ts
  frontend/src/app/test-controller/services/test-controller.service.ts
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

Include simplePlayer 6.0.4
  sampledata/verona-player-simple-6.0.html
Due: none

[Setup] Revise certificates resolver configuration
  config/traefik/tls-acme.yml
  config/traefik/tls-certificates.yml
  config/traefik/tls-options.yml
  dist-src/.env.prod-template
  dist-src/docker-compose.prod.tls.yml
  docker/docker-compose.local-prod.yml
  docker/docker-compose.yml
  scripts/install.sh
  scripts/update.sh
Due: none

[Setup] Add ACME variables settings to install script
  scripts/install.sh
Due: none

[Setup] Add migration file
  scripts/migration/15.4.0.sh
Due: none

add documentation
  docs/pages/installation-prod.md
Due: none

Backend: Fix Unit Test
  backend/test/unit/files/XMLFilesTesttakersTest.php
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

TestController: Don't log focus, if test is terminated
  frontend/src/app/test-controller/components/test-controller/test-controller.component.ts
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

[Setup] Add missing migration features to upcoming migration script
  dist-src/.env.prod-template
  docker/.env.dev-template
  docker/docker-compose.yml
  scripts/migration/15.1.0.sh
  scripts/migration/15.3.0.sh
  scripts/migration/15.4.0.sh
  scripts/update.sh
Due: none

[Setup] Replace 'vackup' command with native docker commands
  scripts/make/prod.mk
  scripts/update.sh
Due: none

make the use of `PORT` .env variable clearer
  backend/src/helper/SystemConfig.class.php
  docker/docker-compose.initialization-test.yml
  docker/docker-compose.yml
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

Update CHANGELOG.md
  docs/CHANGELOG.md
Due: none

Frontend: fix small bug in Resource loading
  frontend/src/app/test-controller/services/test-loader.service.ts
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

IDEA settings
  .idea/sqldialects.xml
  testcenter.iml
Due: none

Frontend: Update "@iqb/responses"
  frontend/package-lock.json
  frontend/package.json
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

Frontend: Repair some Unit tests
  e2e/cypress/e2e/Test-Controller/RunHotReturn.cy.ts
  e2e/cypress/e2e/utils.ts
  frontend/src/app/group-monitor/test-session-manager/test-session-manager.service.spec.ts
  frontend/src/app/group-monitor/test-session/test-session.util.spec.ts
  frontend/src/app/group-monitor/unit-test-example-data.spec.ts
  frontend/src/app/test-controller/services/test-loader.service.spec.ts
  frontend/src/app/test-controller/test/mock-backend.service.ts
  frontend/src/app/test-controller/test/mock-mds.service.ts
  frontend/src/app/test-controller/test/test-data.ts
  frontend/src/app/test-controller/test/unit-test.util.ts
  frontend/src/app/test-controller/util/condition.util.spec.ts
Due: check-e2e-feature-rules, check-frontend-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, test-frontend-unit, test-e2e

GroupMonitor: Fix reading of Attribute "not" in profile
  backend/src/files/XMLFileTesttakers.class.php
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

System-Tests: Basic refactoring of the other test suites
  e2e/cypress/e2e/Session-Management/hot-restart-mode.cy.ts
  e2e/cypress/e2e/Session-Management/hot-return-mode.cy.ts
  e2e/cypress/e2e/Test-Controller/demo.cy.ts
  e2e/cypress/e2e/Test-Controller/restrictions-hot-restart.cy.ts
  e2e/cypress/e2e/Test-Controller/restrictions-hot-return.cy.ts
  e2e/cypress/e2e/Test-Controller/review.cy.ts
  e2e/cypress/e2e/Workspace-Admin/system-check.cy.ts
Due: check-e2e-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, test-e2e

simplify dns resolver settings for nginx-lua script
  docker/docker-compose.yml
  file-service/auth/redis_connector.lua
  file-service/nginx.conf
Due: check-file-service-feature-rules, build-file-service, build-task-runner, test-file-service-api

[FS] add more MIME types to gzip compression
  docs/CHANGELOG.md
  file-service/nginx.conf
Due: check-file-service-feature-rules, build-file-service, build-task-runner, test-file-service-api

TestController: Change default buffer intervals back to smaller ones
  common/src/classes/booklet-config-data.class.ts
  definitions/booklet-config.json
  definitions/browsers.json
  docs/pages/booklet-config.md
  docs/pages/custom-texts.md
  package-lock.json
Due: check-backend-feature-rules, check-common-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-task-runner, test-backend-unit, test-frontend-unit, test-broadcasting-service-unit, test-backend-api, test-backend-initialization

GroupMonitor: Fix subtle bug in filter logic
  frontend/src/app/group-monitor/test-session-manager/test-session-manager.service.ts
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

Frontend: Remove debug.log and comments
  frontend/src/app/test-controller/components/unithost/unithost.component.ts
  frontend/src/app/test-controller/services/test-controller.service.ts
  frontend/src/app/test-controller/services/test-loader.service.ts
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

Initialization tests: Include scheme file into expectations
  backend/test/initialization/expectations/sample_content_present
  backend/test/initialization/tests/general/re-initialize.sh
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

DB: remove full.sql which is generated and should not be commited
  scripts/database/full.sql
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

Frontend: Repair Units Tests
  frontend/src/app/group-monitor/group-monitor.component.spec.ts
  frontend/src/app/group-monitor/test-session-manager/test-session-manager.service.spec.ts
  frontend/src/app/group-monitor/test-session/test-session.component.spec.ts
  frontend/src/app/shared/services/maindata/maindata.service.spec.ts
  frontend/src/app/test-controller/services/test-controller.service.spec.ts
  frontend/src/app/test-controller/services/test-loader.service.spec.ts
  frontend/src/app/test-controller/test/test-data.ts
  frontend/src/app/test-controller/test/unit-test.util.ts
  frontend/src/app/test-controller/test/watcher.util.ts
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

[Setup] Move 'testcenter-task-runner' service from 'dev' to 'api-test' compose file
  .gitlab-ci.yml
  docker/docker-compose.api-test.yml
  docker/docker-compose.dev.yml
  scripts/make/misc.mk
Due: none

[Setup] Move 'docker-compose.api-test.yml' into 'test' directory
  .gitlab-ci.yml
  scripts/make/misc.mk
  scripts/make/test.mk
  test/docker-compose.api-test.yml
Due: none

[Setup] Cancel exclusion of 'docs' directory
  .dockerignore
  .idea/testcenter.iml
Due: none

[Setup] Reorder 'docker compose' services
  dist-src/docker-compose.prod.tls.yml
  dist-src/docker-compose.prod.yml
  docker/docker-compose.dev.yml
  docker/docker-compose.initialization-test.yml
  docker/docker-compose.system-test-headless.yml
  docker/docker-compose.yml
Due: none

[Setup] Revise 'traefik' labels
  dist-src/docker-compose.prod.tls.yml
  dist-src/docker-compose.prod.yml
  docker/docker-compose.dev.yml
  docker/docker-compose.yml
Due: none

[Setup] Adjust backend healthcheck
  docker/docker-compose.yml
Due: none

Path conditions:
  check-backend-feature-rules: any of: backend/**/*, scripts/database/**/*, definitions/**/*
  check-broadcasting-service-feature-rules: any of: broadcasting-service/**/*
  check-common-feature-rules: any of: common/**/*
  check-e2e-feature-rules: any of: e2e/**/*
  check-file-service-feature-rules: any of: file-service/**/*
  check-frontend-feature-rules: any of: frontend/**/*
  check-task-runner-feature-rules: any of: task-runner/**/*
  build-backend: (any of: backend/**/*, scripts/database/**/*, definitions/**/*) or ((any of: task-runner/**/*) or (any of: e2e/**/*))
  build-frontend: (any of: frontend/**/*) or ((any of: common/**/*) or (any of: e2e/**/*))
  build-broadcasting-service: (any of: broadcasting-service/**/*) or ((any of: common/**/*) or (any of: e2e/**/*))
  build-file-service: (any of: file-service/**/*) or ((any of: task-runner/**/*) or (any of: e2e/**/*))
  build-e2e: any of: e2e/**/*
  build-task-runner: (any of: task-runner/**/*) or ((any of: backend/**/*, scripts/database/**/*, definitions/**/*) or (any of: file-service/**/*))
  test-backend-unit: any of: backend/**/*, scripts/database/**/*, definitions/**/*
  test-frontend-unit: (any of: frontend/**/*) or (any of: common/**/*)
  test-broadcasting-service-unit: (any of: broadcasting-service/**/*) or (any of: common/**/*)
  test-backend-api: (any of: backend/**/*, scripts/database/**/*, definitions/**/*) or (any of: task-runner/**/*)
  test-file-service-api: (any of: file-service/**/*) or (any of: task-runner/**/*)
  test-backend-initialization: any of: backend/**/*, scripts/database/**/*, definitions/**/*
  test-e2e: any of: e2e/**/*
