Repository iqb-berlin/testcenter: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend, build-frontend, build-broadcasting-service, test-backend-unit, test-frontent-unit, test-broadcasting-service-unit

.gitlab-ci.yml:

image: docker:20.10

variables:
 DOCKER_TLS_CERTDIR: ""

services:
 - docker:20.10-dind

stages:
  - build
  - test

.backend-change:
  rules:
    - changes:
      - backend/*
      - database/*
      - definitions/*

.frontend-change:
  rules:
    - changes:
      - frontend/*
      - common/*

.bs-change:
  rules:
    - changes:
      - broadcasting-service/*
      - common/*

build-backend:
  stage: build
  script:
    - apk add make curl
    - curl -SL https://github.com/docker/compose/releases/download/v2.6.0/docker-compose-linux-x86_64 -o /usr/local/bin/docker-compose
    - chmod +x /usr/local/bin/docker-compose
    - make init
    - make build service=testcenter-backend
    - docker save iqbberlin/testcenter-backend > backend_image.tar
  artifacts:
    paths:
      - backend_image.tar
    expire_in: 30 minutes
  rules:
    - !reference [.backend-change, rules]

build-frontend:
  stage: build
  script:
    - apk add make curl
    - curl -SL https://github.com/docker/compose/releases/download/v2.6.0/docker-compose-linux-x86_64 -o /usr/local/bin/docker-compose
    - chmod +x /usr/local/bin/docker-compose
    - make init
    - make build service=testcenter-frontend
    - docker save iqbberlin/testcenter-frontend > frontend_image.tar
  artifacts:
    paths:
      - frontend_image.tar
    expire_in: 30 minutes
  rules:
    - !reference [.frontend-change, rules]

build-broadcasting-service:
  stage: build
  script:
    - apk add make curl
    - curl -SL https://github.com/docker/compose/releases/download/v2.6.0/docker-compose-linux-x86_64 -o /usr/local/bin/docker-compose
    - chmod +x /usr/local/bin/docker-compose
    - make init
    - make build service=testcenter-broadcasting-service
    - docker save iqbberlin/testcenter-broadcasting-service > bs_image.tar
  artifacts:
    paths:
      - bs_image.tar
    expire_in: 30 minutes
  rules:
    - !reference [.bs-change, rules]


test-backend-unit:
  stage: test
  rules:
    - !reference [.backend-change, rules]
  dependencies:
    - build-backend
  needs:
    - build-backend
  script:
    - apk add make docker-compose
    - make init-env
    - make download-simple-player
    - docker load -i backend_image.tar
    - make test-backend-unit

test-frontent-unit:
  stage: test
  rules:
    - !reference [.frontend-change, rules]
  dependencies:
    - build-frontend
  needs:
    - build-frontend
  script:
    - apk add make docker-compose
    - make init-env
    - make init-frontend
    - docker load -i frontent_image.tar
    - make test-frontent-unit

test-broadcasting-service-unit:
  stage: test
  rules:
    - !reference [.bs-change, rules]
  dependencies:
    - build-broadcasting-service
  needs:
    - build-broadcasting-service
  script:
    - apk add make docker-compose
    - make init-env
    - docker load -i bs_image.tar
    - make test-broadcasting-service-unit

test-frontend-e2e:
  stage: test
  only:
    - merge_requests
  script:
    - make test-frontend-e2e

test-backend-dredd:
  stage: test
  only:
    - merge_requests
  script:
    - make test-backend-dredd

test-backend-initialization:
  stage: test
  only:
    - merge_requests
  script:
    - make test-backend-initialization-general

update-docs:
  rules:
    - if: $CI_COMMIT_BRANCH == "master"
  script:
    - make update-docs

typo
  .gitlab-ci.yml
Due: none

merge request
  .gitlab-ci.yml
Due: none

switch to chromium
  frontend/src/karma.conf.js
Due: none

frontend?
  frontend/README.md
Due: build-frontend, test-frontent-unit

nochmal fE
  frontend/README.md
Due: build-frontend, test-frontent-unit

Fix path in init-script
  backend/initialize.php
Due: build-backend, test-backend-unit

Make sure that my.cnf has always the correct file-rights.
  Makefile
  docker-compose.initialization-test.yml
  docker-compose.yml
Due: none

Fix init-test
  backend/test/initialization/expectations/sample_content_present
Due: none

Repair patch-installing function after PDO-update
  TODO.monorepo.md
  backend/src/dao/DAO.class.php
  database/mysql.sql
Due: build-backend, test-backend-unit

Update TODO
  TODO.monorepo.md
Due: none

Update TODO
  TODO.monorepo.md
  ci.md
Due: none

Update TODO
  CHANGELOG.md
  TODO.monorepo.md
Due: none

Add information for local installation
  docs/src/pages/installation-local.md
Due: none

Update package-lock.json
  package-lock.json
Due: none

Transform the new-tag script into a new-version script.
  .env-default
  .idea/runConfigurations/New_Version.xml
  Makefile
  docker-compose.dev.yml
  package.json
  runner.Dockerfile
  scripts/helper/exec.js
  scripts/version.js
Due: none

Allow all OPTIONS-Calls
  .idea/php.xml
  backend/index.php
  backend/routes.php
Due: build-backend, test-backend-unit

Import nginx.conf from old-repo
  frontend/docker/nginx.conf
Due: none

Add .env- file which can be used as template for dev-setup as well as for distribution package
  .gitignore
  dist-src/.env
Due: none

fix filerights of my.cnf
  database/my.cnf
Due: build-backend, test-backend-unit

Remove trailing slash in TC_API_URL-environment variable.
  docker-compose.dev.yml
Due: none

tests1
  .gitlab-ci.yml
Due: none

karma
  frontend/src/karma.conf.js
Due: none

syntax
  .gitlab-ci.yml
Due: none

hhhh
  .gitlab-ci.yml
Due: none

remove update docs target
  .gitlab-ci.yml
Due: none

artis
  .gitlab-ci.yml
Due: none

add bs tests
  .gitlab-ci.yml
Due: none

test runner
  .gitlab-ci.yml
Due: none

re-insert default env
  .env-default
  Makefile
Due: none

backend test
  .gitlab-ci.yml
Due: none

update dockerfiles and ci conf
  .gitlab-ci.yml
  broadcasting-service/Dockerfile
  docker/Dockerfile-frontend-dev
  frontend/Dockerfile
  runner.Dockerfile
Due: build-frontend, build-broadcasting-service, test-frontent-unit, test-broadcasting-service-unit

changes 3
  .gitlab-ci.yml
Due: none

maku
  runner.Dockerfile
Due: none

dredd1
  runner.Dockerfile
Due: none

changes 2
  .gitlab-ci.yml
Due: none

update fe docker
  frontend/Dockerfile
Due: build-frontend, test-frontent-unit
