Repository iqb-berlin/testcenter: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend, build-frontend, build-broadcasting-service, test-backend-unit, test-frontend-unit, test-broadcasting-service-unit, test-e2e, test-backend-api

build-backend:
  stage: build
  script:
  - apk add make curl
  - curl -SL https://github.com/docker/compose/releases/download/v2.6.0/docker-compose-linux-x86_64 -o /usr/local/bin/docker-compose
  - chmod +x /usr/local/bin/docker-compose
  - make init
  - make build service=testcenter-backend
  ...

build-frontend:
  stage: build
  script:
  - apk add make curl
  - curl -SL https://github.com/docker/compose/releases/download/v2.6.0/docker-compose-linux-x86_64 -o /usr/local/bin/docker-compose
  - chmod +x /usr/local/bin/docker-compose
  - make init
  - make build service=testcenter-frontend
  ...

build-broadcasting-service:
  stage: build
  script:
  - apk add make curl
  - curl -SL https://github.com/docker/compose/releases/download/v2.6.0/docker-compose-linux-x86_64 -o /usr/local/bin/docker-compose
  - chmod +x /usr/local/bin/docker-compose
  - make init
  - make build service=testcenter-broadcasting-service
  ...

test-backend-unit:
  stage: test
  needs:
  - job: build-backend
    artifacts: true
  script:
  - apk add make docker-compose
  - make init
  - docker load -i backend_image.tar
  - make test-backend-unit

test-frontend-unit:
  stage: test
  needs:
  - job: build-frontend
    artifacts: true
  script:
  - apk add make docker-compose
  - make init-env
  - make init-frontend
  - docker load -i frontend_image.tar
  - make test-frontend-unit

test-broadcasting-service-unit:
  stage: test
  needs:
  - job: build-broadcasting-service
    artifacts: true
  script:
  - apk add make docker-compose
  - make init-env
  - docker load -i bs_image.tar
  - make test-broadcasting-service-unit

test-e2e:
  stage: test
  needs:
  - job: build-frontend
    artifacts: true
  - job: build-backend
    artifacts: true
  - job: build-broadcasting-service
    artifacts: true
  script:
  - apk add make
  - docker load -i frontend_image.tar
  - docker load -i backend_image.tar
  - docker load -i bs_image.tar
  ...

test-backend-api:
  stage: test
  needs:
  - job: build-backend
    artifacts: true
  script:
  - apk add make
  - make init
  - make test-backend-api

[CI] Remove api tests against MySQL because CI fails constantly on them
  .gitlab-ci.yml
Due: none

update to version 14.1.0-rc.2
  dist-src/.env
  docs/CHANGELOG.md
  package.json
  sampledata/Booklet.xml
  sampledata/Booklet2.xml
  sampledata/Booklet3.xml
  sampledata/SysCheck.xml
  sampledata/Testtakers.xml
  sampledata/Unit.xml
  sampledata/Unit2.xml
Due: none

[Backend] Fix unit-tests to work with unpublished version-nr
  backend/test/unit/controller/WorkspaceControllerTest.php
  backend/test/unit/files/FileTest.php
  backend/test/unit/files/XMLFilesBookletTest.php
  backend/test/unit/files/XMLFilesTesttakersTest.php
  backend/test/unit/workspace/SysChecksFolderTest.php
Due: build-backend, test-backend-unit, test-backend-api

update to version
  dist-src/.env
  docs/CHANGELOG.md
  package.json
  sampledata/Booklet.xml
  sampledata/Booklet2.xml
  sampledata/Booklet3.xml
  sampledata/SysCheck.xml
  sampledata/Testtakers.xml
  sampledata/Unit.xml
  sampledata/Unit2.xml
Due: none

update to version 14.1.0-rc.4
  dist-src/.env
  docs/CHANGELOG.md
  package.json
  sampledata/Booklet.xml
  sampledata/Booklet2.xml
  sampledata/Booklet3.xml
  sampledata/SysCheck.xml
  sampledata/Testtakers.xml
  sampledata/Unit.xml
  sampledata/Unit2.xml
Due: none

[Setup] Remove CORS and Cache headers from backend config
  backend/.htaccess
Due: build-backend, test-backend-unit, test-backend-api

[Setup] Add HTTP security headers to reverse proxy (Traefik)
  dist-src/docker-compose.prod.tls.yml
  docker/docker-compose.yml
Due: none

Update to version 14.1.0
  dist-src/.env
  docs/CHANGELOG.md
  package.json
  sampledata/Booklet.xml
  sampledata/Booklet2.xml
  sampledata/Booklet3.xml
  sampledata/SysCheck.xml
  sampledata/Testtakers.xml
  sampledata/Unit.xml
  sampledata/Unit2.xml
Due: none

[FE] Add button "resume-test" to test-status page.
  definitions/custom-texts.json
  frontend/src/app/test-controller/components/test-status/test-status.component.html
  frontend/src/app/test-controller/components/test-status/test-status.component.ts
Due: build-backend, build-frontend, test-backend-unit, test-frontend-unit, test-backend-api

Update CHANGELOG
  docs/CHANGELOG.md
Due: none

Clean some files
  .idea/dataSources.xml
  frontend/package.json
  package.json
  scripts/update-specs.js
Due: build-frontend, test-frontend-unit

Update CHANGELOG.md
  docs/CHANGELOG.md
Due: none

Update Changelog
  docs/CHANGELOG.md
Due: none

Fix test-runner script
  scripts/update-specs.js
Due: none

BE: Replace API-Tests against sqlite with API-tests against MySQL
  .idea/dataSources.xml
  backend/index.php
  backend/initialize.php
  backend/src/dao/DAO.class.php
  backend/src/dao/InitDAO.class.php
  backend/src/data-collection/DBConfig.class.php
  backend/src/helper/AttachmentFiles.class.php
  backend/src/helper/DB.class.php
  backend/src/helper/TestEnvironment.class.php
  backend/src/workspace/WorkspaceInitializer.class.php
  docs/api/speedtest.spec.yml
  test/api/dredd-test.js
Due: build-backend, test-backend-unit, test-backend-api

Fix patch for renamed SSL-config
  dist-src/patch.sh
Due: none

[Setup] Rename ssl-config.yml to tls-config.yml
  dist-src/install.sh
  dist-src/tls-config.yml
Due: none

[Setup] Update Changelog with info about manual changes to config files
  docs/CHANGELOG.md
Due: none

[Setup] Fix patch for new TLS config file
  dist-src/patch.sh
Due: none

Reload page on url parameter change
  frontend/src/app/workspace-admin/workspace.component.ts
Due: build-frontend, test-frontend-unit

Show time left in demo-mode
  common/src/classes/test-mode-data.class.ts
Due: build-frontend, build-broadcasting-service, test-frontend-unit, test-broadcasting-service-unit

Update to version 14.2.0
  dist-src/.env
  docs/CHANGELOG.md
  package.json
  sampledata/Booklet.xml
  sampledata/Booklet2.xml
  sampledata/Booklet3.xml
  sampledata/SysCheck.xml
  sampledata/Testtakers.xml
  sampledata/Unit.xml
  sampledata/Unit2.xml
Due: none

Add settings and docs for local deployment
  .gitignore
  .idea/vcs.xml
  docs/pages/installation-local.md
Due: none

BE: Fix malfunctioning delivery of units with external definition in sys-check.
  backend/src/controller/WorkspaceController.class.php
  docs/CHANGELOG.md
Due: build-backend, test-backend-unit, test-backend-api

[Setup] Fix patch for renamed TLS config file
  dist-src/patch.sh
Due: none

Save timer in tcs maxTimeTimers
  frontend/src/app/test-controller/components/test-controller/test-controller.component.ts
Due: build-frontend, test-frontend-unit

Check existing workspace names before renaming
  backend/src/dao/SuperAdminDAO.class.php
Due: build-backend, test-backend-unit, test-backend-api

BE: Clean up logins after deletion of a workspace...
  backend/test/initialization/expectations/cleared_data_dir
  backend/test/initialization/functions/functions.sh
  backend/test/initialization/tests/14.0.0/file_deletion.sh
  docker/docker-compose.initialization-test.yml
  docs/CHANGELOG.md
  scripts/database/mysql.patches.d/next.sql
Due: build-backend, test-backend-unit, test-backend-api

BE: Fix file deletion
  backend/src/dao/WorkspaceDAO.class.php
  backend/test/initialization/tests/14.0.0/file_deletion.sh
Due: build-backend, test-backend-unit, test-backend-api

BE: Save one file-load when uploading files
  backend/src/workspace/Workspace.class.php
Due: build-backend, test-backend-unit, test-backend-api

BE: Apply new coding style
  backend/src/workspace/Workspace.class.php
Due: build-backend, test-backend-unit, test-backend-api

BE: Apply new coding style
  backend/test/unit/workspace/WorkspaceCacheTest.php
  backend/test/unit/workspace/WorkspaceTest.php
  backend/test/unit/workspace/WorkspaceValidatorTest.php
Due: build-backend, test-backend-unit, test-backend-api

BE: Fix Upload of Testtakers.xml ...
  backend/src/files/XMLFileTesttakers.class.php
  backend/test/unit/workspace/WorkspaceTest.php
Due: build-backend, test-backend-unit, test-backend-api

BE: Apply new coding style
  backend/src/files/XMLFileTesttakers.class.php
Due: build-backend, test-backend-unit, test-backend-api

BE: Fix Reading Testtakers.xml
  backend/src/files/XMLFileTesttakers.class.php
Due: build-backend, test-backend-unit, test-backend-api

BE: Apply new coding style
  backend/test/unit/files/XMLFilesTesttakersTest.php
Due: build-backend, test-backend-unit, test-backend-api

Path conditions:
  build-backend: (any of: backend/**/*, database/**/*, definitions/**/*) or (any of: e2e/**/*)
  build-frontend: (any of: frontend/**/*, common/**/*) or (any of: e2e/**/*)
  build-broadcasting-service: (any of: broadcasting-service/**/*, common/**/*) or (any of: e2e/**/*)
  test-backend-unit: any of: backend/**/*, database/**/*, definitions/**/*
  test-frontend-unit: any of: frontend/**/*, common/**/*
  test-broadcasting-service-unit: any of: broadcasting-service/**/*, common/**/*
  test-e2e: any of: e2e/**/*
  test-backend-api: any of: backend/**/*, database/**/*, definitions/**/*
