Repository iqb-berlin/testcenter: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-backend-feature-rules, check-broadcasting-service-feature-rules, check-common-feature-rules, check-e2e-feature-rules, check-file-service-feature-rules, check-frontend-feature-rules, check-task-runner-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, build-task-runner, test-backend-unit, test-frontend-unit, test-broadcasting-service-unit, test-backend-api, test-file-service-api, test-backend-initialization, test-e2e

Path conditions:
  check-backend-feature-rules: any of: backend/**/*, scripts/database/**/*, definitions/**/*
  check-broadcasting-service-feature-rules: any of: broadcasting-service/**/*
  check-common-feature-rules: any of: common/**/*
  check-e2e-feature-rules: any of: e2e/**/*
  check-file-service-feature-rules: any of: file-service/**/*
  check-frontend-feature-rules: any of: frontend/**/*
  check-task-runner-feature-rules: any of: task-runner/**/*
  build-backend: (any of: backend/**/*, scripts/database/**/*, definitions/**/*) or ((any of: task-runner/**/*) or (any of: e2e/**/*))
  build-frontend: (any of: frontend/**/*) or ((any of: common/**/*) or (any of: e2e/**/*))
  build-broadcasting-service: (any of: broadcasting-service/**/*) or ((any of: common/**/*) or (any of: e2e/**/*))
  build-file-service: (any of: file-service/**/*) or ((any of: task-runner/**/*) or (any of: e2e/**/*))
  build-e2e: any of: e2e/**/*
  build-task-runner: (any of: task-runner/**/*) or ((any of: backend/**/*, scripts/database/**/*, definitions/**/*) or (any of: file-service/**/*))
  test-backend-unit: any of: backend/**/*, scripts/database/**/*, definitions/**/*
  test-frontend-unit: (any of: frontend/**/*) or (any of: common/**/*)
  test-broadcasting-service-unit: (any of: broadcasting-service/**/*) or (any of: common/**/*)
  test-backend-api: (any of: backend/**/*, scripts/database/**/*, definitions/**/*) or (any of: task-runner/**/*)
  test-file-service-api: (any of: file-service/**/*) or (any of: task-runner/**/*)
  test-backend-initialization: any of: backend/**/*, scripts/database/**/*, definitions/**/*
  test-e2e: any of: e2e/**/*

Add migration script for docker env var file
  scripts/migration/16.0.0.sh
Due: none

Revise docker environment vars for 'dev' and 'prod'
  .env.dev-template
  .env.prod-template
  docker-compose.dev.yml
  docker-compose.prod.tls.yml
  docker-compose.yml
Due: none

Fix 'docker-compose' tls calls
  scripts/make/prod.mk
  scripts/update.sh
Due: none

Fix traefik 'security-headers' middleware
  docker-compose.dev.yml
  docker-compose.prod.tls.yml
  docker-compose.prod.yml
Due: none

Fix subdomain routing
  docker-compose.dev.yml
  docker-compose.prod.tls.yml
  docker-compose.prod.yml
Due: none

Run backend containers with 'www-data' user in production
  .env.dev-template
  .env.prod-template
  backend/Dockerfile
  docker-compose.yml
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

Allow migration scripts to be executed once after downloading the 'updated' update script
  scripts/update.sh
Due: none

Revise testcenter 'update' script
  scripts/update.sh
Due: none

Run backend with port '8080' for ordinary user processes
  .gitlab-ci.yml
  backend/Dockerfile
  backend/config/vhost.conf
  backend/src/helper/FileService.class.php
  docker-compose.dev.yml
  docker-compose.prod.tls.yml
  docker-compose.prod.yml
  docker-compose.yml
  e2e/cypress.e2e.config.js
  e2e/docker-compose.system-test-headless.yml
  frontend/Dockerfile
  frontend/angular.json
  frontend/nginx.conf
  frontend/proxy.conf.json
  frontend/src/environments/environment.system-test.ts
  scripts/make/dev-test.mk
  scripts/make/dev.mk
  test/config.docker.json
  test/docker-compose.api-test.yml
Due: check-backend-feature-rules, check-e2e-feature-rules, check-frontend-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, build-task-runner, test-backend-unit, test-frontend-unit, test-backend-api, test-backend-initialization, test-e2e

Update node packages
  package-lock.json
  package.json
Due: none

Workaround Demo and Review-Mode
  e2e/cypress/e2e/Test-Controller/time-restrictions.cy.ts
  e2e/cypress/e2e/readme.md
Due: check-e2e-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, test-e2e

adjust documentation
  docs/CHANGELOG.md
  e2e/cypress/e2e/readme.md
Due: check-e2e-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, test-e2e

fix naming of migration script
  scripts/migration/15.6.0.sh
Due: none

update Autocoder
  docs/CHANGELOG.md
  frontend/package-lock.json
  frontend/package.json
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

Frontend: clear code entry box in case of wrong code
  frontend/src/app/test-controller/components/unithost/unithost.component.ts
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

Frontend: Sho content of `CodeToEnter` when given instead of customtext.
  docs/CHANGELOG.md
  frontend/src/app/test-controller/components/unithost/unithost.component.html
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

adjust documentation
  docs/CHANGELOG.md
Due: none

Update to version 15.6.0
  scripts/database/patches.d/15.6.0.sql
  scripts/migration/15.6.0.sh
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

update to version 15.6.0
  definitions/browsers.json
  docs/CHANGELOG.md
  package-lock.json
  package.json
  sampledata/Booklet.xml
  sampledata/Booklet2.xml
  sampledata/Booklet3.xml
  sampledata/SysCheck.xml
  sampledata/Testtakers.xml
  sampledata/Unit.xml
  sampledata/Unit2.xml
  sampledata/system-test/CY_BKL_Mode_Demo.xml
  sampledata/system-test/CY_BKL_Mode_Review.xml
  sampledata/system-test/CY_BKL_Mode_RunHotRestart.xml
  sampledata/system-test/CY_BKL_Mode_RunHotReturn.xml
  sampledata/system-test/CY_BKL_SessionManagement_HotModi.xml
  sampledata/system-test/CY_Test_Logins.xml
  sampledata/system-test/CY_Unit100.xml
  sampledata/system-test/CY_Unit101.xml
  sampledata/system-test/CY_Unit102.xml
  sampledata/system-test/CY_Unit103.xml
  sampledata/system-test/CY_Unit104.xml
  scripts/database/patches.d/15.6.0.sql
  scripts/migration/15.6.0.sh
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

Rename migration script '15.4.0' to release version '15.5.0'
  scripts/migration/15.5.0.sh
Due: none

Frontend: if last units state change comes with unUnload (as Aspect player 2.8 does), it does get swallowed.
  frontend/src/app/test-controller/components/unithost/unithost.component.ts
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

remove numbering of steps temporarily
  scripts/update.sh
Due: none

fix doubled insertion of ${APP_DIR} in file path
  scripts/update.sh
Due: none

[backend] Remove 'dead' Cache Service property
  backend/src/helper/SystemConfig.class.php
  backend/test/initialization/docker-compose.initialization-test.yml
  docker-compose.yml
  scripts/helm/testcenter/templates/backend/configmap.yaml
  scripts/helm/testcenter/templates/backend/deployment.yaml
  scripts/helm/testcenter/values.yaml
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

[backend] Rename 'CACHE_SERVICE_INCLUDE_FILES' environment property
  .env.dev-template
  .env.prod-template
  backend/src/helper/SystemConfig.class.php
  backend/test/initialization/docker-compose.initialization-test.yml
  docker-compose.yml
  file-service/auth/content.lua
  file-service/nginx.conf
  scripts/helm/testcenter/templates/backend/configmap.yaml
  scripts/helm/testcenter/templates/backend/deployment.yaml
  scripts/helm/testcenter/templates/file-server/configmap.yaml
  scripts/helm/testcenter/templates/file-server/depoyment.yaml
  scripts/helm/testcenter/values.yaml
  scripts/migration/16.0.0.sh
  test/docker-compose.api-test.yml
Due: check-backend-feature-rules, check-file-service-feature-rules, build-backend, build-file-service, build-task-runner, test-backend-unit, test-backend-api, test-file-service-api, test-backend-initialization

[cache-service] Rename 'CACHE_SERVICE_RAM' environment property
  .env.dev-template
  .env.prod-template
  docker-compose.yml
  scripts/helm/testcenter/templates/cache-server/deployment.yaml
  scripts/helm/testcenter/values.yaml
  scripts/migration/16.0.0.sh
Due: none

[file-service] Rename 'CACHE_SERVICE_ADDRESS_FOR_LUA' environment property
  docker-compose.yml
  file-service/auth/redis_connector.lua
  file-service/nginx.conf
  scripts/helm/testcenter/templates/backend/configmap.yaml
  scripts/helm/testcenter/templates/backend/deployment.yaml
  scripts/helm/testcenter/templates/file-server/configmap-nginx.yaml
  scripts/helm/testcenter/templates/file-server/configmap.yaml
  scripts/helm/testcenter/templates/file-server/depoyment.yaml
  scripts/helm/testcenter/values.yaml
Due: check-file-service-feature-rules, build-file-service, build-task-runner, test-file-service-api

[cache-service] Refactor docker environment variable settings
  backend/src/helper/SystemConfig.class.php
  backend/test/initialization/docker-compose.initialization-test.yml
  docker-compose.dev.yml
  docker-compose.yml
  scripts/helm/testcenter/templates/backend/deployment.yaml
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

[cache-service] Enable redis port configuration
  backend/src/helper/CacheService.class.php
  backend/src/helper/SystemConfig.class.php
  backend/test/initialization/docker-compose.initialization-test.yml
  docker-compose.yml
  file-service/auth/redis_connector.lua
  file-service/nginx.conf
  scripts/helm/testcenter/templates/backend/deployment.yaml
  scripts/helm/testcenter/templates/file-server/configmap-nginx.yaml
  scripts/helm/testcenter/templates/file-server/depoyment.yaml
Due: check-backend-feature-rules, check-file-service-feature-rules, build-backend, build-file-service, build-task-runner, test-backend-unit, test-backend-api, test-file-service-api, test-backend-initialization

[cache-service] Secure connection with authentication
  .env.dev-template
  .env.prod-template
  backend/src/helper/CacheService.class.php
  backend/src/helper/SystemConfig.class.php
  backend/test/initialization/docker-compose.initialization-test.yml
  docker-compose.yml
  file-service/auth/redis_connector.lua
  file-service/nginx.conf
  scripts/helm/helm-install-tc.sh
  scripts/helm/testcenter/custom-values.yaml
  scripts/helm/testcenter/templates/backend/deployment.yaml
  scripts/helm/testcenter/templates/backend/secret.yaml
  scripts/helm/testcenter/templates/cache-server/deployment.yaml
  scripts/helm/testcenter/templates/db/deployment.yaml
  scripts/helm/testcenter/templates/db/secret.yaml
  scripts/helm/testcenter/templates/file-server/configmap-nginx.yaml
  scripts/helm/testcenter/templates/file-server/depoyment.yaml
  scripts/helm/testcenter/templates/file-server/secret.yaml
  scripts/helm/testcenter/values.yaml
  scripts/install.sh
  scripts/migration/99.99.99.sh
Due: check-backend-feature-rules, check-file-service-feature-rules, build-backend, build-file-service, build-task-runner, test-backend-unit, test-backend-api, test-file-service-api, test-backend-initialization

make console logs clearer
  scripts/update.sh
Due: none

Fix 'docker-compose' tls calls
  scripts/make/prod.mk
Due: none

Fix update script process step numbering
  scripts/update.sh
Due: none
