Repository iqb-berlin/testcenter: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend, build-frontend, build-broadcasting-service, test-backend-unit, test-frontend-unit, test-broadcasting-service-unit

build-backend:
  stage: build
  script:
  - apk add make curl
  - curl -SL https://github.com/docker/compose/releases/download/v2.6.0/docker-compose-linux-x86_64 -o /usr/local/bin/docker-compose
  - chmod +x /usr/local/bin/docker-compose
  - make init
  - make build service=testcenter-backend
  ...

build-frontend:
  stage: build
  script:
  - apk add make curl
  - curl -SL https://github.com/docker/compose/releases/download/v2.6.0/docker-compose-linux-x86_64 -o /usr/local/bin/docker-compose
  - chmod +x /usr/local/bin/docker-compose
  - make init
  - make build service=testcenter-frontend
  ...

build-broadcasting-service:
  stage: build
  script:
  - apk add make curl
  - curl -SL https://github.com/docker/compose/releases/download/v2.6.0/docker-compose-linux-x86_64 -o /usr/local/bin/docker-compose
  - chmod +x /usr/local/bin/docker-compose
  - make init
  - make build service=testcenter-broadcasting-service
  ...

test-backend-unit:
  stage: test
  needs:
  - job: build-backend
    artifacts: true
  script:
  - apk add make docker-compose
  - make init
  - docker load -i backend_image.tar
  - make test-backend-unit

test-frontend-unit:
  stage: test
  needs:
  - job: build-frontend
    artifacts: true
  script:
  - apk add make docker-compose
  - make init-env
  - make init-frontend
  - docker load -i frontend_image.tar
  - make test-frontend-unit

test-broadcasting-service-unit:
  stage: test
  needs:
  - job: build-broadcasting-service
    artifacts: true
  script:
  - apk add make docker-compose
  - make init-env
  - docker load -i bs_image.tar
  - make test-broadcasting-service-unit

[Attachment-Manager] Extend definition for unit.xml to contain variable-lists.
  backend/src/controller/AttachmentController.class.php
  backend/src/controller/SessionController.class.php
  backend/src/dao/AdminDAO.class.php
  backend/src/dao/TestDAO.class.php
  backend/src/data-collection/RequestedAttachment.class.php
  backend/src/files/XMLFileBooklet.class.php
  backend/src/files/XMLFileUnit.class.php
  backend/src/workspace/BookletsFolder.class.php
  backend/src/workspace/Workspace.class.php
  backend/test/unit/controller/SessionControllerTest.php
  backend/test/unit/workspace/BookletsFolderTest.php
  database/mysql.patches.d/13.0.0.sql
  definitions/vo_Unit.xsd
  frontend/src/app/attachment-manager/components/attachment-overview/attachment-overview.component.html
  frontend/src/app/attachment-manager/components/attachment-overview/attachment-overview.component.ts
  frontend/src/app/attachment-manager/interfaces/users.interfaces.ts
Due: build-backend, test-backend-unit

[Attachment-Manager] Get not only a list of existing attachment but also of missing ones.
  backend/src/controller/SessionController.class.php
  backend/src/dao/AdminDAO.class.php
  backend/src/dao/TestDAO.class.php
  backend/src/dao/WorkspaceDAO.class.php
  backend/src/data-collection/RequestedAttachment.class.php
  backend/src/files/XMLFileBooklet.class.php
  backend/src/files/XMLFileUnit.class.php
  backend/src/workspace/Workspace.class.php
  backend/test/unit/files/XMLFilesBookletTest.php
  broadcasting-service/package-lock.json
  database/mysql.patches.d/13.0.0.sql
Due: build-broadcasting-service, test-broadcasting-service-unit

Rework system tests
  .gitlab-ci.yml
  docker-compose.dev.yml
  docker-compose.system-test.yml
  e2e/cypress.e2e.config.js
  e2e/cypress/plugins/wait-for-server.js
  frontend/angular.json
  frontend/docker/Dockerfile
  frontend/package-lock.json
  frontend/package.json
  frontend/src/environments/environment.system-test.ts
  scripts/make/test.mk
Due: build-frontend, test-frontend-unit

Update IDE files
  .idea/inspectionProfiles/Project_Default.xml
  .idea/php.xml
  .idea/runConfigurations/Backend_Dredd_Tests.xml
  .idea/runConfigurations/Broadcasting_Service_Build___locally.xml
  .idea/runConfigurations/Broadcasting_Service_Coverage___locally.xml
  .idea/runConfigurations/Broadcasting_Service_Start___locally.xml
  .idea/runConfigurations/Broadcasting_Service_Unit_Test___locally.xml
  .idea/runConfigurations/Frontend_Build___locally.xml
  .idea/runConfigurations/Frontend_Code_Coverage___locally.xml
  .idea/runConfigurations/Frontend_Start___locally.xml
  .idea/runConfigurations/Frontend_Unit_Tests___locally.xml
  .idea/runConfigurations/Lint.xml
  .idea/runConfigurations/New_Version.xml
  .idea/runConfigurations/create_docs.xml
  .idea/runConfigurations/create_interfaces.xml
  .idea/testcenter.iml
Due: none

Get rid of unneeded 2nd ua-parser dependency and strange hack in Dockerfile to have UAparser on top-level
  frontend/angular.json
  frontend/docker/Dockerfile
  frontend/package-lock.json
  frontend/package.json
Due: build-frontend, test-frontend-unit

Fix file name in compose-file
  docker-compose.dev.yml
Due: none

[Frontend] Remove srcdoc polyfill from index and unithost
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/test-controller/components/unithost/unithost.component.ts
  frontend/src/environments/environment.dev.ts
  frontend/src/index.html
  frontend/src/polyfills.ts
Due: build-frontend, test-frontend-unit

[Frontend] Remove srcdoc-polyfill dependency from unit-host in SysCheck and make give a meaningful reaction to both unit-hosts for the case if srcdoc is not supported.
  frontend/src/app/sys-check/backend.service.ts
  frontend/src/app/sys-check/report/report.component.ts
  frontend/src/app/sys-check/unit-check/unit-check.component.html
  frontend/src/app/sys-check/unit-check/unit-check.component.ts
  frontend/src/app/test-controller/components/unithost/unithost.component.ts
Due: none

Update & Improve IDE-Settings
  .editorconfig
  .idea/inspectionProfiles/Project_Default.xml
  .idea/runConfigurations/Frontend_Start___locally.xml
Due: none

[Frontend] Remove polyfills required by IE and other evergreen browsers.
  frontend/src/polyfills.ts
Due: none

Fix bogus filename
  docker-compose.dev.yml
Due: none

[Frontend] Remove accidentally cmomited environment-file changes
  frontend/src/environments/environment.dev.ts
Due: none

[Backend] Only accept TESTMODE_REAL_DATA as true, when is it "yes"
  backend/index.php
Due: build-backend, test-backend-unit

Revert system test setup to old state
  docker-compose.system-test-headless.yml
  docker-compose.system-test-ui.yml
  e2e/cypress.config.js
  scripts/make/test.mk
Due: none

[Attachment-Manager] Refactor to allow multiple files to one attachment.
  .idea/inspectionProfiles/Project_Default.xml
  .idea/php.xml
  .idea/runConfigurations.xml
  .idea/sqldialects.xml
  backend/routes.php
  backend/src/controller/AttachmentController.class.php
  backend/src/dao/AdminDAO.class.php
  backend/src/data-collection/Attachment.class.php
  backend/src/data-collection/RequestedAttachment.class.php
  frontend/src/app/attachment-manager/components/attachment-overview/attachment-overview.component.html
  frontend/src/app/attachment-manager/components/attachment-overview/attachment-overview.component.ts
  frontend/src/app/attachment-manager/components/capture-image/capture-image.component.html
  frontend/src/app/attachment-manager/components/capture-image/capture-image.component.ts
  frontend/src/app/attachment-manager/interfaces/users.interfaces.ts
  frontend/src/app/attachment-manager/services/backend/backend.service.ts
Due: build-backend, test-backend-unit

[Attachment-Manager] Change attachment-deletions, so it does only delete one attachment from the array and not whole dataPart anymore - except it was the last one.
  .idea/sqldialects.xml
  backend/src/controller/AttachmentController.class.php
  backend/src/dao/AdminDAO.class.php
  backend/src/dao/TestDAO.class.php
  frontend/src/app/attachment-manager/components/attachment-overview/attachment-overview.component.ts
  frontend/src/app/attachment-manager/services/backend/backend.service.ts
Due: none

Remove TODO-lists from repo
  TODO.monorepo.md
  feature.todo.txt
Due: none

[Attachment-Manager] Use iqb-standard@1.0 as ResponseDataType
  backend/src/controller/AttachmentController.class.php
Due: none

Fix broadcasting-service build
  broadcasting-service/docker/Dockerfile
  broadcasting-service/docker/entrypoint.sh
Due: none

Rework system tests
  .gitignore
  docker-compose.system-test-headless.yml
  docker-compose.system-test-ui.yml
  e2e/cypress/e2e/test-controller.cy.ts
  e2e/cypress/e2e/utils.ts
  e2e/package-lock.json
  e2e/package.json
  scripts/make/test.mk
Due: none

Fix frontend Dockerfile to work with older docker-compose versions
  frontend/docker/Dockerfile
Due: none

Rework installer and updater scripts
  dist-src/.env
  dist-src/Makefile-TLS
  dist-src/config/cert_config.yml
  dist-src/docker-compose.prod.yml
  dist-src/install.sh
  dist-src/manage.sh
  dist-src/migrate.sh
Due: none

Update CI script
  .gitlab-ci.yml
Due: none

[Attachment-Manager] Refactor UI to be mobile friendly
  .idea/inspectionProfiles/Project_Default.xml
  frontend/src/app/attachment-manager/attachment-manager.module.ts
  frontend/src/app/attachment-manager/components/add-attachment/add-attachment.component.html
  frontend/src/app/attachment-manager/components/add-attachment/add-attachment.component.ts
  frontend/src/app/attachment-manager/components/attachment-overview/attachment-overview.component.css
  frontend/src/app/attachment-manager/components/attachment-overview/attachment-overview.component.html
  frontend/src/app/attachment-manager/components/attachment-overview/attachment-overview.component.ts
  frontend/src/app/attachment-manager/components/capture-image/capture-image.component.css
  frontend/src/app/attachment-manager/components/capture-image/capture-image.component.html
  frontend/src/app/attachment-manager/components/capture-image/capture-image.component.ts
  frontend/src/app/group-monitor/group-monitor.component.css
  frontend/src/monitor-layout.css
Due: none

[Attachment-Manager] Add button to download all attachment-page-templates of a group at once
  backend/routes.php
  backend/src/controller/AttachmentController.class.php
  backend/src/dao/AdminDAO.class.php
  backend/src/data-collection/Attachment.class.php
  backend/src/helper/AttachmentTemplate.class.php
  backend/src/helper/ZIP.class.php
  frontend/src/app/attachment-manager/components/add-attachment/add-attachment.component.html
  frontend/src/app/attachment-manager/components/attachment-overview/attachment-overview.component.html
  frontend/src/app/attachment-manager/components/attachment-overview/attachment-overview.component.ts
  frontend/src/app/attachment-manager/services/backend/backend.service.ts
  frontend/src/monitor-layout.css
Due: build-backend, test-backend-unit

[Attachment-Manager] Show variableId in attachment overview
  frontend/src/app/attachment-manager/components/attachment-overview/attachment-overview.component.html
  frontend/src/app/attachment-manager/components/attachment-overview/attachment-overview.component.ts
  frontend/src/app/attachment-manager/interfaces/users.interfaces.ts
Due: none

Meet new unit data requirements
  definitions/vo_Unit.xsd
Due: build-backend, test-backend-unit

[Broadcasting-Service] Fix IDE settings for local development
  .idea/runConfigurations/Broadcasting_Service_Start___locally.xml
  broadcasting-service/package.json
  package.json
Due: build-broadcasting-service, test-broadcasting-service-unit

[Broadcasting-Service] Use URL-param for the auth-token instead of the URL itself because newer NestJs version handles @WebSocketGateway without path-option like empty path and there is no wildcard.
  backend/src/helper/BroadcastService.class.php
  broadcasting-service/src/common/websocket.gateway.ts
  docker-compose.yml
Due: none

Fix docker paths
  docker/backend.Dockerfile
  docker/docker-compose.dev.yml
  docker/docker-compose.prod.yml
Due: none

Add backend config files
  .gitignore
  backend/config/docker-php-ext-xdebug.ini
  backend/config/local.php.ini
  backend/config/vhost.conf
Due: none

Fix docker paths
  docker/docker-compose.initialization-test.yml
  docker/docker-compose.system-test-headless.yml
Due: none

Move API tests back to docs folder
  docker/docker-compose.initialization-test.yml
  docker/runner-entrypoint.sh
  docs/src/api/@components.spec.yml
  docs/src/api/README.md
  docs/src/api/booklet.spec.yml
  docs/src/api/index.html
  docs/src/api/monitor.spec.yml
  docs/src/api/session.spec.yml
  docs/src/api/speedtest.spec.yml
  docs/src/api/system.spec.yml
  docs/src/api/test.spec.yml
  docs/src/api/user.spec.yml
  docs/src/api/workspace.spec.yml
  package.json
  scripts/make/test.mk
Due: none

Fix more docker paths
  docker/docker-compose.dev.yml
  docker/docker-compose.initialization-test.yml
  scripts/make/misc.mk
Due: none

Overhaul runner Dockerfile
  docker/runner.Dockerfile
Due: none

Move sqlite script back to original location so backend tests run again
  scripts/database/sqlite.sql
Due: none

Disable backend-API and e2e tests in CI
  .gitlab-ci.yml
Due: none

Fix prod build in CI
  .gitlab-ci.yml
Due: none

Fix bs-service docker filename
  docker/broadcasting-service.Dockerfile
  docker/docker-compose.dev.yml
Due: none

Path conditions:
  build-backend: any of: backend/*, database/*, definitions/*
  build-frontend: any of: frontend/*, common/*
  build-broadcasting-service: any of: broadcasting-service/*, common/*
  test-backend-unit: any of: backend/*, database/*, definitions/*
  test-frontend-unit: any of: frontend/*, common/*
  test-broadcasting-service-unit: any of: broadcasting-service/*, common/*
