Repository iqb-berlin/testcenter: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-backend-feature-rules, check-broadcasting-service-feature-rules, check-common-feature-rules, check-e2e-feature-rules, check-file-service-feature-rules, check-frontend-feature-rules, check-task-runner-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, build-task-runner, test-backend-unit, test-frontend-unit, test-broadcasting-service-unit, test-backend-api, test-file-service-api, test-backend-initialization, test-e2e

check-backend-feature-rules:
  stage: .pre
  interruptible: true
  allow_failure: true
  script:
  - echo $CI_COMMIT_BRANCH
  - echo $CI_PIPELINE_SOURCE
  - if [ -n "$CI_COMMIT_BRANCH" ]; then echo "commit branch string length is nonzero"; else echo "commit branch = '$CI_COMMIT_BRANCH'"; fi
  ...

check-broadcasting-service-feature-rules:
  stage: .pre
  interruptible: true
  allow_failure: true
  script:
  - echo $CI_COMMIT_BRANCH
  - echo $CI_PIPELINE_SOURCE
  - if [ -n "$CI_COMMIT_BRANCH" ]; then echo "commit branch string length is nonzero"; else echo "commit branch = '$CI_COMMIT_BRANCH'"; fi
  ...

check-common-feature-rules:
  stage: .pre
  interruptible: true
  allow_failure: true
  script:
  - echo $CI_COMMIT_BRANCH
  - echo $CI_PIPELINE_SOURCE
  - if [ -n "$CI_COMMIT_BRANCH" ]; then echo "commit branch string length is nonzero"; else echo "commit branch = '$CI_COMMIT_BRANCH'"; fi
  ...

check-e2e-feature-rules:
  stage: .pre
  interruptible: true
  allow_failure: true
  script:
  - echo $CI_COMMIT_BRANCH
  - echo $CI_PIPELINE_SOURCE
  - if [ -n "$CI_COMMIT_BRANCH" ]; then echo "commit branch string length is nonzero"; else echo "commit branch = '$CI_COMMIT_BRANCH'"; fi
  ...

check-file-service-feature-rules:
  stage: .pre
  interruptible: true
  allow_failure: true
  script:
  - echo $CI_COMMIT_BRANCH
  - echo $CI_PIPELINE_SOURCE
  - if [ -n "$CI_COMMIT_BRANCH" ]; then echo "commit branch string length is nonzero"; else echo "commit branch = '$CI_COMMIT_BRANCH'"; fi
  ...

check-frontend-feature-rules:
  stage: .pre
  interruptible: true
  allow_failure: true
  script:
  - echo $CI_COMMIT_BRANCH
  - echo $CI_PIPELINE_SOURCE
  - if [ -n "$CI_COMMIT_BRANCH" ]; then echo "commit branch string length is nonzero"; else echo "commit branch = '$CI_COMMIT_BRANCH'"; fi
  ...

check-task-runner-feature-rules:
  stage: .pre
  interruptible: true
  allow_failure: true
  script:
  - echo $CI_COMMIT_BRANCH
  - echo $CI_PIPELINE_SOURCE
  - if [ -n "$CI_COMMIT_BRANCH" ]; then echo "commit branch string length is nonzero"; else echo "commit branch = '$CI_COMMIT_BRANCH'"; fi
  ...

build-backend:
  stage: build
  variables:
    BACKEND_IMAGE_NAME: ${CI_REGISTRY_IMAGE}/iqbberlin/testcenter-backend
  before_script:
  - ip a | grep mtu
  - docker network inspect bridge | grep mtu
  - docker login --username $CI_DEPENDENCY_PROXY_USER --password $CI_DEPENDENCY_PROXY_PASSWORD $CI_DEPENDENCY_PROXY_SERVER
  ...

build-frontend:
  stage: build
  variables:
    FRONTEND_IMAGE_NAME: ${CI_REGISTRY_IMAGE}/iqbberlin/testcenter-frontend
  before_script:
  - ip a | grep mtu
  - docker network inspect bridge | grep mtu
  - cp frontend/src/environments/environment.dev.ts frontend/src/environments/environment.ts
  ...

build-broadcasting-service:
  stage: build
  variables:
    BROADCASTING_SERVICE_IMAGE_NAME: ${CI_REGISTRY_IMAGE}/iqbberlin/testcenter-broadcasting-service
  before_script:
  - ip a | grep mtu
  - docker network inspect bridge | grep mtu
  ...

Group-Monitor: Allow the addition and removal of columns for booklet states
  frontend/src/app/group-monitor/group-monitor.component.html
  frontend/src/app/group-monitor/group-monitor.component.ts
  frontend/src/app/group-monitor/group-monitor.interfaces.ts
  frontend/src/app/group-monitor/test-session/test-session.component.html
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

Group-Monitor: Some small fixes in regard of adaptivity
  definitions/custom-texts.json
  frontend/src/app/group-monitor/test-session-manager/test-session-manager.service.ts
  frontend/src/app/group-monitor/test-session/test-session.component.html
Due: check-backend-feature-rules, check-frontend-feature-rules, build-backend, build-frontend, build-task-runner, test-backend-unit, test-frontend-unit, test-backend-api, test-backend-initialization

Extend XSD to preconfigurate adaptivity-related display-settings of group monitor
  backend/src/files/XMLFileTesttakers.class.php
  definitions/vo_Testtakers.xsd
  frontend/src/app/group-monitor/group-monitor.component.ts
  sampledata/Testtakers.xml
Due: check-backend-feature-rules, check-frontend-feature-rules, build-backend, build-frontend, build-task-runner, test-backend-unit, test-frontend-unit, test-backend-api, test-backend-initialization

Init tests: Remove "set -e" which was (wrongly) introduced to maintain error code from failing tests.
  backend/test/initialization/tests/general/db-versions.sh
  backend/test/initialization/tests/general/install-db-patches.sh
  backend/test/initialization/tests/general/no-db-but-files.sh
  backend/test/initialization/tests/general/re-initialize.sh
  backend/test/initialization/tests/general/vanilla-installation.sh
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

Init Tests: Maintain error code if test is run in subshell
  backend/test/initialization/tests/general/install-db-patches.sh
  backend/test/initialization/tests/general/re-initialize.sh
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

Init Tests: Adjust expectation of Test to consider the recently introduced 15th sample-data-testtaker `test-group-monitor-2`
  backend/test/initialization/tests/general/re-initialize.sh
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

CI/CD: Consider Init Tests again
  .gitlab-ci.yml
Due: none

[Setup] Add migration script
  scripts/migration/15.3.0.sh
Due: none

[Setup] Revise install script
  .dockerignore
  .gitignore
  .gitlab-ci.yml
  config/frontend/nginx.conf
  config/traefik/tls-config.yml
  dist-src/.env.prod-template
  dist-src/Makefile
  dist-src/docker-compose.prod.tls.yml
  dist-src/docker-compose.prod.yml
  dist-src/install.sh
  docker/.env.dev-template
  docker/docker-compose.local-prod.yml
  frontend/Dockerfile
  scripts/create-new-version.sh
  scripts/install.sh
  scripts/make/app-control.mk
  scripts/make/misc.mk
  scripts/make/prod.mk
  scripts/make/test.mk
  scripts/migration/14.11.0.sh
  scripts/migration/15.0.0.sh
  scripts/migration/15.1.0.sh
  scripts/update.sh
  scripts/version.js
  secrets/.gitignore
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

[Setup] Adjust db healthckeck parameters
  docker/docker-compose.yml
Due: none

[Setup] Revise production Makefile
  scripts/make/prod.mk
Due: none

[Setup] Remove mounting of nginx frontend configuration
  dist-src/docker-compose.prod.yml
  docker/docker-compose.local-prod.yml
  frontend/Dockerfile
  frontend/nginx.conf
  scripts/install.sh
  scripts/migration/15.3.0.sh
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

Delete exclusion for 'node_modules' directories and mark them as 'resources root'
  .idea/testcenter.iml
Due: none

Delete content URL for 'frontend/node_modules'
  .idea/testcenter.iml
Due: none

[Setup] Revamp update script
  dist-src/update_new.sh
Due: none

[Setup] Rename script and move it to the scripts directory
  scripts/update.sh
Due: none

[Setup] Add update script self-upgrade and migration features
  scripts/update.sh
Due: none

[Setup] Add update script backup functionality
  scripts/update.sh
Due: none

[Setup] Bugfix and refactor update script
  scripts/update.sh
Due: none

Update and rename kleine-verbesserung.md to dev-ticket.md
  .github/ISSUE_TEMPLATE/dev-ticket.md
  .github/ISSUE_TEMPLATE/kleine-verbesserung.md
Due: none

Update dev-ticket.md
  .github/ISSUE_TEMPLATE/dev-ticket.md
Due: none

reset network test result whenever you leave the current systemcheck
  frontend/src/app/app-root/starter/starter.component.ts
  frontend/src/app/sys-check/network-check/network-check.component.ts
  frontend/src/app/sys-check/questionnaire/questionnaire.component.ts
  frontend/src/app/sys-check/report/report.component.html
  frontend/src/app/sys-check/report/report.component.ts
  frontend/src/app/sys-check/sys-check-data.service.ts
  frontend/src/app/sys-check/sys-check.component.ts
  frontend/src/app/sys-check/unit-check/unit-check.component.ts
  frontend/src/app/sys-check/welcome/welcome.component.html
  frontend/src/app/sys-check/welcome/welcome.component.ts
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

refactor FileDeletionReport into own class
  backend/src/controller/WorkspaceController.class.php
  backend/src/data-collection/FileDeletionReport.php
  backend/src/workspace/SysChecksFolder.class.php
  backend/src/workspace/Workspace.class.php
  backend/test/unit/controller/WorkspaceControllerTest.php
  backend/test/unit/workspace/WorkspaceTest.php
  frontend/src/app/workspace-admin/files/files.interfaces.ts
Due: check-backend-feature-rules, check-frontend-feature-rules, build-backend, build-frontend, build-task-runner, test-backend-unit, test-frontend-unit, test-backend-api, test-backend-initialization

rename labels for systemcheck welcome screen
  frontend/src/app/sys-check/report/report.component.html
  frontend/src/app/sys-check/sys-check-data.service.ts
  frontend/src/app/sys-check/welcome/welcome.component.css
  frontend/src/app/sys-check/welcome/welcome.component.html
  frontend/src/app/sys-check/welcome/welcome.component.ts
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

add "alwaysNewSession" mode to the "sys-check-login" login-mode
  backend/src/helper/Mode.class.php
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

fix the missing FileDeletionReport fields when deleting systemcheckReports
  backend/src/workspace/SysChecksFolder.class.php
  backend/src/workspace/Workspace.class.php
  docs/CHANGELOG.md
  docs/api/workspace.spec.yml
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

redirect to appropriate destination, when reloading within a syscheck route
  frontend/src/app/sys-check/sys-check-routing.module.ts
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

CHANGELOG
  docs/CHANGELOG.md
Due: none

typo
  e2e/cypress/e2e/sys-check.cy.ts
Due: check-e2e-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, test-e2e

[Setup] Add IDEA run configuration for php container debugging
  .idea/runConfigurations/Backend_Debug_php_container.xml
Due: none

[Setup] Delete content URL for 'frontend/node_modules'
  .idea/testcenter.iml
Due: none

[Setup] Add IDEA run configuration for backend unit tests in a php container
  .idea/runConfigurations/Backend_Unit_Tests_php_container.xml
Due: none

[Setup] Delete exclusion for 'node_modules' directories and mark them as 'resources root'
  .idea/testcenter.iml
Due: none

[Setup] Add IDEA run configuration for testcenter-db container
  .idea/runConfigurations/Testcenter_DB.xml
Due: none

[Setup] Ignore IDEA php and java project settings
  .gitignore
  .idea/.gitignore
  .idea/php-docker-settings.xml
  .idea/php-test-framework.xml
  .idea/php.xml
Due: none

Path conditions:
  check-backend-feature-rules: any of: backend/**/*, scripts/database/**/*, definitions/**/*
  check-broadcasting-service-feature-rules: any of: broadcasting-service/**/*
  check-common-feature-rules: any of: common/**/*
  check-e2e-feature-rules: any of: e2e/**/*
  check-file-service-feature-rules: any of: file-service/**/*
  check-frontend-feature-rules: any of: frontend/**/*
  check-task-runner-feature-rules: any of: task-runner/**/*
  build-backend: (any of: backend/**/*, scripts/database/**/*, definitions/**/*) or ((any of: task-runner/**/*) or (any of: e2e/**/*))
  build-frontend: (any of: frontend/**/*) or ((any of: common/**/*) or (any of: e2e/**/*))
  build-broadcasting-service: (any of: broadcasting-service/**/*) or ((any of: common/**/*) or (any of: e2e/**/*))
  build-file-service: (any of: file-service/**/*) or ((any of: task-runner/**/*) or (any of: e2e/**/*))
  build-e2e: any of: e2e/**/*
  build-task-runner: (any of: task-runner/**/*) or ((any of: backend/**/*, scripts/database/**/*, definitions/**/*) or (any of: file-service/**/*))
  test-backend-unit: any of: backend/**/*, scripts/database/**/*, definitions/**/*
  test-frontend-unit: (any of: frontend/**/*) or (any of: common/**/*)
  test-broadcasting-service-unit: (any of: broadcasting-service/**/*) or (any of: common/**/*)
  test-backend-api: (any of: backend/**/*, scripts/database/**/*, definitions/**/*) or (any of: task-runner/**/*)
  test-file-service-api: (any of: file-service/**/*) or (any of: task-runner/**/*)
  test-backend-initialization: any of: backend/**/*, scripts/database/**/*, definitions/**/*
  test-e2e: any of: e2e/**/*
