Repository iqb-berlin/testcenter: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-backend-feature-rules, check-broadcasting-service-feature-rules, check-common-feature-rules, check-e2e-feature-rules, check-file-service-feature-rules, check-frontend-feature-rules, check-task-runner-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, build-task-runner, test-backend-unit, test-frontend-unit, test-broadcasting-service-unit, test-backend-api, test-file-service-api, test-backend-initialization, test-e2e

Path conditions:
  check-backend-feature-rules: any of: backend/**/*, scripts/database/**/*, definitions/**/*
  check-broadcasting-service-feature-rules: any of: broadcasting-service/**/*
  check-common-feature-rules: any of: common/**/*
  check-e2e-feature-rules: any of: e2e/**/*
  check-file-service-feature-rules: any of: file-service/**/*
  check-frontend-feature-rules: any of: frontend/**/*
  check-task-runner-feature-rules: any of: task-runner/**/*
  build-backend: (any of: backend/**/*, scripts/database/**/*, definitions/**/*) or ((any of: task-runner/**/*) or (any of: e2e/**/*))
  build-frontend: (any of: frontend/**/*) or ((any of: common/**/*) or (any of: e2e/**/*))
  build-broadcasting-service: (any of: broadcasting-service/**/*) or ((any of: common/**/*) or (any of: e2e/**/*))
  build-file-service: (any of: file-service/**/*) or ((any of: task-runner/**/*) or (any of: e2e/**/*))
  build-e2e: any of: e2e/**/*
  build-task-runner: (any of: task-runner/**/*) or ((any of: backend/**/*, scripts/database/**/*, definitions/**/*) or (any of: file-service/**/*))
  test-backend-unit: any of: backend/**/*, scripts/database/**/*, definitions/**/*
  test-frontend-unit: (any of: frontend/**/*) or (any of: common/**/*)
  test-broadcasting-service-unit: (any of: broadcasting-service/**/*) or (any of: common/**/*)
  test-backend-api: (any of: backend/**/*, scripts/database/**/*, definitions/**/*) or (any of: task-runner/**/*)
  test-file-service-api: (any of: file-service/**/*) or (any of: task-runner/**/*)
  test-backend-initialization: any of: backend/**/*, scripts/database/**/*, definitions/**/*
  test-e2e: any of: e2e/**/*

Revise E2E test configuration
  .gitlab-ci.yml
  docker-compose.dev.yml
  e2e/cypress.headless.config.js
  e2e/docker-compose.system-test-headless.yml
  frontend/Dockerfile
  package-lock.json
  scripts/make/dev-test.mk
  scripts/make/dev.mk
Due: check-e2e-feature-rules, check-frontend-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, test-frontend-unit, test-e2e

disable enable_file_service in env files (at this point)
  .env.dev-template
  .env.prod-template
Due: none

Run frontend containers rootless in production
  frontend/Dockerfile
  frontend/nginx.conf
  scripts/helm/testcenter/templates/frontend/deployment.yaml
  scripts/helm/testcenter/templates/frontend/service.yaml
  scripts/helm/testcenter/templates/traefik/ingress-route.yaml
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

[cache-service] Secure connection with authentication
  .env.dev-template
  .env.prod-template
  backend/src/helper/CacheService.class.php
  backend/src/helper/SystemConfig.class.php
  backend/test/initialization/docker-compose.initialization-test.yml
  docker-compose.yml
  file-service/auth/redis_connector.lua
  file-service/nginx.conf
  scripts/helm/helm-install-tc.sh
  scripts/helm/testcenter/templates/backend/job.yaml
  scripts/helm/testcenter/templates/backend/secret.yaml
  scripts/helm/testcenter/templates/cache-server/configmap.yaml
  scripts/helm/testcenter/templates/cache-server/deployment.yaml
  scripts/helm/testcenter/templates/cache-server/secret.yaml
  scripts/helm/testcenter/templates/db/deployment.yaml
  scripts/helm/testcenter/templates/db/secret.yaml
  scripts/helm/testcenter/templates/file-server/configmap-nginx.yaml
  scripts/helm/testcenter/templates/file-server/depoyment.yaml
  scripts/helm/testcenter/templates/file-server/secret.yaml
  scripts/helm/testcenter/values.yaml
  scripts/install.sh
  scripts/migration/16.0.0.sh
  test/api/test.js
  test/config.docker.json
Due: check-backend-feature-rules, check-file-service-feature-rules, build-backend, build-file-service, build-task-runner, test-backend-unit, test-backend-api, test-file-service-api, test-backend-initialization

delete unnecessary volume mounts in tests
  test/docker-compose.api-test.yml
Due: none

mirror max upload size for php in nginx config
  frontend/nginx.conf
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

Add traefik dashboard for dev environment
  docker-compose.dev.yml
  scripts/helm/custom/traefik/custom-values.yaml
Due: none

fix volumeMount of file server in k8s
  scripts/helm/testcenter/templates/file-server/depoyment.yaml
Due: none

extend initial delay for backend livenessprobe
  scripts/helm/testcenter/templates/backend/deployment.yaml
Due: none

test 'test-backend-initialization' with 'fresh' backend dev image
  .gitlab-ci.yml
Due: none

Make MySQL patch fit
  scripts/database/patches.d/next.sql
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

rename migration script to 17.0.0
  scripts/migration/17.0.0.sh
Due: none

Backend: Export unitState und testState consequently as object
  backend/src/dao/AdminDAO.class.php
  backend/src/data-collection/SessionChangeMessage.class.php
  backend/test/unit/dao/AdminDAOTest.php
  docs/api/monitor.spec.yml
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

[cache-service] Refactor docker environment variable settings
  backend/src/helper/SystemConfig.class.php
  backend/test/initialization/docker-compose.initialization-test.yml
  docker-compose.dev.yml
  docker-compose.yml
  scripts/helm/testcenter/templates/backend/job.yaml
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

[file-service] Change local 'backend' and 'file service' ports
  frontend/Dockerfile
  frontend/proxy.conf.json
  scripts/helm/testcenter/templates/file-server/configmap-nginx.yaml
  scripts/helm/testcenter/templates/file-server/secret.yaml
  scripts/helm/testcenter/templates/traefik/ingress-route.yaml
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

Update version of the base images
  .gitlab-ci.yml
  backend/Dockerfile
  broadcasting-service/Dockerfile
  docker-compose.yml
  e2e/Dockerfile
  frontend/Dockerfile
  scripts/helm/testcenter/templates/file-server/deployment.yaml
  scripts/helm/testcenter/values.yaml
Due: check-backend-feature-rules, check-broadcasting-service-feature-rules, check-e2e-feature-rules, check-frontend-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, build-task-runner, test-backend-unit, test-frontend-unit, test-broadcasting-service-unit, test-backend-api, test-backend-initialization, test-e2e

reorder values to better show dependencies
  scripts/helm/testcenter/values.yaml
Due: none

[setup] Make update process independent of the docker env file name
  scripts/make/prod.mk
  scripts/migration/17.0.0.sh
  scripts/update.sh
Due: none

Backend: Update Testdata
  backend/test/unit/dao/AdminDAOTest.php
  backend/test/unit/testdata.sql
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

Run 'file service' container rootless
  e2e/cypress.headless.config.js
  file-service/Dockerfile
  file-service/nginx.conf
  scripts/helm/testcenter/templates/file-server/configmap-nginx.yaml
  scripts/helm/testcenter/templates/file-server/depoyment.yaml
  scripts/helm/testcenter/templates/file-server/service.yaml
  test/config.docker.json
Due: check-e2e-feature-rules, check-file-service-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, build-task-runner, test-file-service-api, test-e2e

Frontend: Add library which is suddenly needed to build frontend (but only in docker container).
  .idea/dataSources.xml
  .idea/sqldialects.xml
  backend/src/controller/TestController.class.php
  backend/src/dao/AdminDAO.class.php
  backend/src/dao/DAO.class.php
  backend/src/dao/InitDAO.class.php
  backend/src/dao/TestDAO.class.php
  backend/src/helper/State.class.php
  backend/test/unit/dao/AdminDAOTest.php
  backend/test/unit/dao/TestDAOTest.php
  backend/test/unit/helper/StateTest.php
  backend/test/unit/testdata.sql
  docs/api/test.spec.yml
  scripts/database/patches.d/15.4.0.sql
  scripts/database/patches.d/next.sql
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

update mysql version to 8.4 in pipeline
  .gitlab-ci.yml
Due: none

Backend: Repair createLoginSession to create group at first if not given, which is necessary now.
  backend/src/dao/SessionDAO.class.php
  backend/test/unit/dao/SessionDAOTest.php
  backend/test/unit/test-helper/CreateGroupTokenTask.php
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

rename backend job
  scripts/helm/testcenter/templates/backend/job.yaml
Due: none

clean up rebase
  scripts/helm/custom/traefik/custom-values.yaml
  scripts/helm/helm-install-tc.sh
Due: none

Revise API test configuration
  test/docker-compose.api-test.yml
Due: none

Database: Update to MySQL 8.4
  .gitlab-ci.yml
  backend/src/dao/AdminDAO.class.php
  backend/src/dao/DAO.class.php
  backend/test/initialization/docker-compose.initialization-test.yml
  docker-compose.prod.tls.yml
  docker-compose.prod.yml
  docker-compose.yml
  scripts/database/patches.d/15.0.0.sql
  scripts/database/patches.d/15.4.0.sql
  scripts/database/patches.d/next.sql
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

Final Version Part 3
  e2e/src/e2e/Booklet-Config/value-3.cy.ts
  sampledata/system-test/CY_BKL_Config_value-3.xml
Due: check-e2e-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, test-e2e

Rename docker compose volumes
  docker-compose.yml
  scripts/update.sh
Due: none

Optimization test for testlet restriction leave parameter
  backend/src/workspace/WorkspaceInitializer.class.php
  e2e/src/e2e/Test-Controller/time-restrictions.cy.ts
  sampledata/system-test/CY_BKL_RestrictionLeaveValue-1.xml
  sampledata/system-test/CY_BKL_RestrictionLeaveValue-2.xml
  sampledata/system-test/CY_BKL_RestrictionLeaveValue-3.xml
  sampledata/system-test/CY_BKL_TestletRestrictionParam_1.xml
  sampledata/system-test/CY_BKL_TestletRestrictionParam_2.xml
  sampledata/system-test/CY_BKL_TestletRestrictionParam_3.xml
  sampledata/system-test/CY_Test_Logins.xml
Due: check-backend-feature-rules, check-e2e-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization, test-e2e

Add tests for restriction parameter: DenyNavigationOnIncomplete.
  backend/src/workspace/WorkspaceInitializer.class.php
  e2e/src/e2e/Test-Controller/nav-restriction.cy.ts
  sampledata/system-test/CY_BKL_RestrictionNavValue-1.xml
  sampledata/system-test/CY_BKL_RestrictionNavValue-2.xml
  sampledata/system-test/CY_BKL_RestrictionNavValue-3.xml
  sampledata/system-test/CY_Test_Logins.xml
Due: check-backend-feature-rules, check-e2e-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization, test-e2e

add more E2E-Tests for Bookletconfig Parameter
  e2e/src/e2e/Booklet-Config/value-3.cy.ts
  sampledata/system-test/CY_BKL_Config_value-3.xml
Due: check-e2e-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, test-e2e

Add test for LockAfterLeaving Parameter
  backend/src/workspace/WorkspaceInitializer.class.php
  e2e/src/e2e/Test-Controller/leave-block-restriction.cy.ts
  sampledata/system-test/CY_BKL_RestrLockAfterLeave-1.xml
  sampledata/system-test/CY_BKL_RestrLockAfterLeave-2.xml
  sampledata/system-test/CY_Test_Logins.xml
Due: check-backend-feature-rules, check-e2e-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization, test-e2e

Run backend containers with 'www-data' user in production
  backend/Dockerfile
  scripts/helm/testcenter/templates/backend/deployment.yaml
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization
