Repository iqb-berlin/testcenter: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend, build-frontend, build-broadcasting-service, test-backend-unit, test-frontend-unit, test-broadcasting-service-unit, test-e2e, test-backend-api

build-backend:
  stage: build
  script:
  - apk add make curl
  - curl -SL https://github.com/docker/compose/releases/download/v2.6.0/docker-compose-linux-x86_64 -o /usr/local/bin/docker-compose
  - chmod +x /usr/local/bin/docker-compose
  - make init
  - make build service=testcenter-backend
  ...

build-frontend:
  stage: build
  script:
  - apk add make curl
  - curl -SL https://github.com/docker/compose/releases/download/v2.6.0/docker-compose-linux-x86_64 -o /usr/local/bin/docker-compose
  - chmod +x /usr/local/bin/docker-compose
  - make init
  - make build service=testcenter-frontend
  ...

build-broadcasting-service:
  stage: build
  script:
  - apk add make curl
  - curl -SL https://github.com/docker/compose/releases/download/v2.6.0/docker-compose-linux-x86_64 -o /usr/local/bin/docker-compose
  - chmod +x /usr/local/bin/docker-compose
  - make init
  - make build service=testcenter-broadcasting-service
  ...

test-backend-unit:
  stage: test
  needs:
  - job: build-backend
    artifacts: true
  script:
  - apk add make docker-compose
  - make init
  - docker load -i backend_image.tar
  - make test-backend-unit

test-frontend-unit:
  stage: test
  needs:
  - job: build-frontend
    artifacts: true
  script:
  - apk add make docker-compose
  - make init-env
  - make init-frontend
  - docker load -i frontend_image.tar
  - make test-frontend-unit

test-broadcasting-service-unit:
  stage: test
  needs:
  - job: build-broadcasting-service
    artifacts: true
  script:
  - apk add make docker-compose
  - make init-env
  - docker load -i bs_image.tar
  - make test-broadcasting-service-unit

test-e2e:
  stage: test
  needs:
  - job: build-frontend
    artifacts: true
  - job: build-backend
    artifacts: true
  - job: build-broadcasting-service
    artifacts: true
  script:
  - apk add make
  - docker load -i frontend_image.tar
  - docker load -i backend_image.tar
  - docker load -i bs_image.tar
  ...

test-backend-api:
  stage: test
  needs:
  - job: build-backend
    artifacts: true
  script:
  - apk add make
  - make init
  - make test-backend-api

Update to version 14.5.1
  dist-src/.env
  docs/CHANGELOG.md
  package.json
  sampledata/Booklet.xml
  sampledata/Booklet2.xml
  sampledata/Booklet3.xml
  sampledata/SysCheck.xml
  sampledata/Testtakers.xml
  sampledata/Unit.xml
  sampledata/Unit2.xml
Due: none

be: create new endpoint for logout
  backend/routes.php
  backend/src/controller/SessionController.class.php
  backend/src/dao/AdminDAO.class.php
  backend/src/dao/SessionDAO.class.php
  docs/api/components.spec.yml
  docs/api/session.spec.yml
  scripts/database/patches.d/next.sql
  test/api/dredd-hooks.js
Due: build-backend, test-backend-unit, test-backend-api

fe: logout when the "reload session"-button is hit
  frontend/src/app/app-root/admin-starter/admin-starter.component.ts
  frontend/src/app/app-root/code-input/code-input.component.html
  frontend/src/app/app-root/code-input/code-input.component.ts
  frontend/src/app/app-root/monitor-starter/monitor-starter.component.ts
  frontend/src/app/app-root/test-starter/test-starter.component.ts
  frontend/src/app/shared/services/backend.service.ts
  frontend/src/app/shared/services/maindata/maindata.service.ts
  frontend/src/app/shared/shared.module.ts
Due: build-frontend, test-frontend-unit

fe: fix unit tests
  frontend/src/app/group-monitor/group-monitor.component.spec.ts
  frontend/src/app/test-controller/components/unithost/unithost.component.spec.ts
Due: build-frontend, test-frontend-unit

fe: remove warning from unit test
  frontend/src/app/workspace-admin/workspacedata.service.spec.ts
Due: build-frontend, test-frontend-unit

be: Re-enable caching of api-calls for calls that return 410.
  backend/.htaccess
Due: build-backend, test-backend-unit, test-backend-api

update CHANGELOG.md
  docs/CHANGELOG.md
Due: none

fe: Fix malfunctioning test-loading after being logged in as workspace-admin.
  docs/CHANGELOG.md
  frontend/src/app/test-controller/routing/unit-deactivate.guard.ts
  frontend/src/app/workspace-admin/files/files.component.ts
  frontend/src/app/workspace-admin/results/results.component.ts
  frontend/src/app/workspace-admin/syscheck/syscheck.component.ts
  frontend/src/app/workspace-admin/workspace.component.ts
  frontend/src/app/workspace-admin/workspacedata.service.ts
Due: build-frontend, test-frontend-unit

fe: remove spinner and drastically reduce dependencies to MainDataService
  .idea/testcenter.iml
  frontend/src/app/app-root/admin-starter/admin-starter.component.ts
  frontend/src/app/app-root/code-input/code-input.component.ts
  frontend/src/app/app-root/login/login.component.ts
  frontend/src/app/app-root/sys-check-starter/sys-check-starter.component.ts
  frontend/src/app/app-root/test-starter/test-starter.component.ts
  frontend/src/app/app.component.html
  frontend/src/app/app.component.ts
  frontend/src/app/shared/services/maindata/maindata.service.ts
  frontend/src/app/superadmin/users/users.component.ts
  frontend/src/app/superadmin/workspaces/workspaces.component.ts
  frontend/src/app/sys-check/sys-check.component.ts
  frontend/src/app/workspace-admin/files/files.component.ts
  frontend/src/app/workspace-admin/results/results.component.ts
  frontend/src/app/workspace-admin/syscheck/syscheck.component.ts
  frontend/src/app/workspace-admin/workspacedata.service.ts
Due: build-frontend, test-frontend-unit

add idea configs
  .idea/phpunit.xml
  .idea/runConfigurations/Frontend_Unit_Test.xml
Due: none

be: give unit tests more time because they constantly time out on CI
  .idea/php.xml
  backend/test/unit/TestDB.class.php
Due: build-backend, test-backend-unit, test-backend-api

fe: Add booklet-parameter for controlling when time-left warnings should appear
  .idea/phpunit.xml
  common/src/classes/booklet-config-data.class.ts
  common/src/classes/test-mode-data.class.ts
  definitions/booklet-config.json
  definitions/custom-texts.json
  frontend/src/app/test-controller/components/test-controller/test-controller.component.ts
  frontend/src/app/test-controller/services/test-controller.service.ts
  frontend/src/app/test-controller/services/test-loader.service.ts
Due: build-backend, build-frontend, build-broadcasting-service, test-backend-unit, test-frontend-unit, test-broadcasting-service-unit, test-backend-api

be: fix typo
  .idea/phpunit.xml
  backend/test/unit/TestDB.class.php
Due: build-backend, test-backend-unit, test-backend-api

fe: add other option for new booklet parameter
  common/src/classes/booklet-config-data.class.ts
  definitions/booklet-config.json
Due: build-backend, build-frontend, build-broadcasting-service, test-backend-unit, test-frontend-unit, test-broadcasting-service-unit, test-backend-api

docs: Fix docs creation and allow booklet-configs without fixed options like the new one `unit_time_left_warnings`.
  common/src/classes/booklet-config-data.class.ts
  definitions/booklet-config.json
  docs/index.md
  docs/pages/booklet-config.md
  docs/pages/custom-texts.md
  docs/pages/test-mode.md
  docs/pages/test-session-super-states.html
  docs/src/booklet-config.md
  docs/src/custom-texts.md
  docs/src/developer-guide.md
  docs/src/test-mode.md
  docs/src/test-session-super-states.html
  scripts/create-docs.js
  scripts/create-interfaces.js
Due: build-backend, build-frontend, build-broadcasting-service, test-backend-unit, test-frontend-unit, test-broadcasting-service-unit, test-backend-api

Changes the logoutTestTaker method and adjusts the demo mode test
  e2e/cypress/e2e/Test-Controller/Demo.cy.ts
  e2e/cypress/e2e/utils.ts
Due: build-backend, build-frontend, build-broadcasting-service, test-e2e

fe/docs: Round up new booklet-parameter `unit_time_left_warnings`
  definitions/booklet-config.json
  definitions/custom-texts.json
  docs/CHANGELOG.md
  docs/pages/booklet-config.md
  docs/pages/custom-texts.md
  frontend/src/app/test-controller/components/test-controller/test-controller.component.ts
  frontend/src/app/test-controller/services/test-loader.service.ts
Due: build-backend, build-frontend, test-backend-unit, test-frontend-unit, test-backend-api

be: fix potential vulnerability in login endpoint
  backend/src/controller/SessionController.class.php
  docs/CHANGELOG.md
Due: build-backend, test-backend-unit, test-backend-api

fe: Change selection behaviour in group-monitor: group monitor can not interact with pending sessions anymore. Locked sessions don't get selected when select-all is checked.
  docs/CHANGELOG.md
  frontend/src/app/group-monitor/group-monitor.component.spec.ts
  frontend/src/app/group-monitor/test-session-manager/test-session-manager.service.ts
  frontend/src/app/group-monitor/test-session/test-session.component.css
  frontend/src/app/group-monitor/test-session/test-session.component.html
  frontend/src/app/group-monitor/test-session/test-session.component.ts
Due: build-frontend, test-frontend-unit

fe: Fix not disappearing messages.
  docs/CHANGELOG.md
  frontend/src/app/group-monitor/group-monitor.component.ts
Due: build-frontend, test-frontend-unit

be: fix database dump for tests
  scripts/database/full.sql
Due: none

e2e: share common-folder as well in test-system, so you don't have to rebuild for having current codebase
  docker/docker-compose.system-test-ui.yml
Due: none

Minor customization by review mode test design
  e2e/cypress/e2e/workspace-admin.cy.ts
Due: build-backend, build-frontend, build-broadcasting-service, test-e2e

Troubleshooting in demo mode test
  e2e/cypress/e2e/Test-Controller/Demo.cy.ts
Due: build-backend, build-frontend, build-broadcasting-service, test-e2e

Review-Mode Testcases
  backend/src/workspace/WorkspaceInitializer.class.php
  e2e/cypress/e2e/Test-Controller/Review.cy.ts
  e2e/cypress/e2e/utils.ts
  frontend/src/app/test-controller/components/test-controller/test-controller.component.html
  frontend/src/app/workspace-admin/results/results.component.html
  sampledata/system-test/CY_BKL_Mode_Review.xml
  sampledata/system-test/CY_ControllerTest_Logins.xml
Due: build-backend, build-frontend, build-broadcasting-service, test-backend-unit, test-frontend-unit, test-e2e, test-backend-api

fe: Make locked units visible as locked and disabled in unit menus
  frontend/src/app/test-controller/components/test-controller/test-controller.component.css
  frontend/src/app/test-controller/components/test-controller/test-controller.component.html
  frontend/src/app/test-controller/components/test-controller/test-controller.component.ts
  frontend/src/app/test-controller/components/unit-menu/unit-menu.component.css
  frontend/src/app/test-controller/components/unit-menu/unit-menu.component.html
  frontend/src/app/test-controller/components/unit-menu/unit-menu.component.ts
  frontend/src/app/test-controller/services/test-controller.service.ts
Due: build-frontend, test-frontend-unit

fe: Skip locked units when navigating forth and back
  .idea/testcenter.iml
  frontend/src/app/test-controller/classes/test-controller.classes.ts
  frontend/src/app/test-controller/components/test-controller/test-controller.component.ts
  frontend/src/app/test-controller/components/unithost/unithost.component.ts
  frontend/src/app/test-controller/routing/unit-activate.guard.ts
  frontend/src/app/test-controller/routing/unit-deactivate.guard.ts
  frontend/src/app/test-controller/services/test-controller.service.ts
  frontend/src/app/test-controller/unit-test-data/test-data-constructors.ts
  frontend/src/app/test-controller/unit-test-data/test-data.ts
Due: build-frontend, test-frontend-unit

Update to version 14.6.0
  dist-src/.env
  docs/CHANGELOG.md
  package.json
  sampledata/Booklet.xml
  sampledata/Booklet2.xml
  sampledata/Booklet3.xml
  sampledata/SysCheck.xml
  sampledata/Testtakers.xml
  sampledata/Unit.xml
  sampledata/Unit2.xml
  scripts/database/full.sql
  scripts/database/patches.d/14.6.0.sql
Due: none

docs: remove extremely outdated paragraph
  docs/pages/booklet-config.md
  docs/src/booklet-config.md
  scripts/database/patches.d/next.sql
Due: none

fe: add test for Tetslet.getUnitAt
  .idea/phpunit.xml
  frontend/src/app/test-controller/classes/testlet.class.spec.ts
  frontend/src/app/test-controller/components/test-controller/test-controller.component.spec.ts
  frontend/src/app/test-controller/unit-test-data/test-data.ts
Due: build-frontend, test-frontend-unit

fe: rename class
  frontend/src/app/test-controller/classes/test-controller.classes.ts
  frontend/src/app/test-controller/components/unithost/unithost.component.ts
  frontend/src/app/test-controller/routing/unit-activate.guard.ts
  frontend/src/app/test-controller/routing/unit-deactivate.guard.ts
  frontend/src/app/test-controller/services/test-controller.service.ts
Due: build-frontend, test-frontend-unit

add useful idea config
  .idea/runConfigurations/Tests__testcenter_frontend_.xml
Due: none

be/fe: New role `monitor study`
  .idea/php.xml
  backend/routes.php
  backend/src/controller/MonitorController.class.php
  backend/src/controller/SessionController.class.php
  backend/src/dao/InitDAO.class.php
  backend/src/dao/SessionDAO.class.php
  backend/src/data-collection/AccessSet.class.php
  backend/src/helper/Mode.class.php
  backend/src/middleware/IsGroupMonitor.class.php
  backend/test/unit/controller/SessionControllerTest.php
  backend/test/unit/dao/SessionDAOTest.php
  backend/test/unit/files/XMLFilesTesttakersTest.php
  common/src/classes/test-mode-data.class.ts
  definitions/test-mode.json
  definitions/vo_Testtakers.xsd
  docs/CHANGELOG.md
  docs/api/monitor.spec.yml
  docs/api/test.spec.yml
  docs/pages/booklet-config.md
  docs/pages/test-mode.md
  frontend/src/app/group-monitor/backend.service.ts
  frontend/src/app/group-monitor/test-session-manager/test-session-manager.service.ts
  sampledata/Testtakers.xml
  test/api/dredd-hooks.js
Due: build-backend, build-frontend, build-broadcasting-service, test-backend-unit, test-frontend-unit, test-broadcasting-service-unit, test-backend-api

be/fe: Improve starter for monitor roles
  .idea/php.xml
  .idea/testcenter.iml
  backend/autoload.php
  backend/src/dao/SessionDAO.class.php
  backend/src/data-collection/AccessSet.class.php
  backend/src/data-collection/ExpirationState.class.php
  backend/src/data-collection/ExpirationStateType.enum.php
  backend/src/data-collection/Group.class.php
  backend/src/data-collection/GroupArray.class.php
  backend/src/helper/TimeStamp.class.php
  backend/test/unit/controller/SessionControllerTest.php
  backend/test/unit/dao/AdminDAOTest.php
  backend/test/unit/dao/SessionDAOTest.php
  backend/test/unit/files/XMLFilesTesttakersTest.php
  backend/test/unit/helper/TimeStampTest.php
  backend/test/unit/workspace/WorkspaceCacheTest.php
  backend/test/unit/workspace/WorkspaceTest.php
  definitions/custom-texts.json
  docs/pages/custom-texts.md
  frontend/src/app/app-root/monitor-starter/monitor-starter.component.html
  frontend/src/app/app.interfaces.ts
  frontend/src/app/shared/pipes/customtext/customtext.pipe.ts
Due: build-backend, build-frontend, test-backend-unit, test-frontend-unit, test-backend-api

fe: linting
  frontend/src/app/shared/services/customtext/customtext.service.ts
Due: build-frontend, test-frontend-unit

fe: start booklet immediately after login when there is only one
  docs/CHANGELOG.md
  frontend/src/app/app-root/code-input/code-input.component.ts
  frontend/src/app/app-root/login/login.component.ts
Due: build-frontend, test-frontend-unit

fe: Update how flags in authData is accessed to be more general
  frontend/src/app/app-root/login/login.component.ts
Due: build-frontend, test-frontend-unit

be: update initialization-test
  .idea/phpunit.xml
  backend/test/initialization/tests/general/re-initialize.sh
Due: build-backend, test-backend-unit, test-backend-api

fe: workspace admin uploads are all done in one request
  frontend/src/app/workspace-admin/files/iqb-files-upload-queue/iqb-files-upload-queue.component.html
  frontend/src/app/workspace-admin/files/iqb-files-upload/iqb-files-upload.component.html
  frontend/src/app/workspace-admin/files/iqb-files-upload/iqb-files-upload.component.ts
Due: build-frontend, test-frontend-unit

Path conditions:
  build-backend: (any of: backend/**/*, database/**/*, definitions/**/*) or (any of: e2e/**/*)
  build-frontend: (any of: frontend/**/*, common/**/*) or (any of: e2e/**/*)
  build-broadcasting-service: (any of: broadcasting-service/**/*, common/**/*) or (any of: e2e/**/*)
  test-backend-unit: any of: backend/**/*, database/**/*, definitions/**/*
  test-frontend-unit: any of: frontend/**/*, common/**/*
  test-broadcasting-service-unit: any of: broadcasting-service/**/*, common/**/*
  test-e2e: any of: e2e/**/*
  test-backend-api: any of: backend/**/*, database/**/*, definitions/**/*
