Repository iqb-berlin/testcenter: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend, build-frontend, build-broadcasting-service, test-backend-unit, test-frontend-unit, test-broadcasting-service-unit, test-e2e, test-backend-api

build-backend:
  stage: build
  before_script:
  - ip a | grep mtu
  - docker network inspect bridge | grep mtu
  script:
  - apk add make
  - make init
  - make build service=testcenter-backend
  - docker save iqbberlin/testcenter-backend > backend_image.tar
  artifacts:
    paths:
    - backend_image.tar
    expire_in: 30 minutes

build-frontend:
  stage: build
  before_script:
  - ip a | grep mtu
  - docker network inspect bridge | grep mtu
  script:
  - apk add make
  - make init
  - make build service=testcenter-frontend
  - docker save iqbberlin/testcenter-frontend > frontend_image.tar
  artifacts:
    paths:
    - frontend_image.tar
    expire_in: 30 minutes

build-broadcasting-service:
  stage: build
  before_script:
  - ip a | grep mtu
  - docker network inspect bridge | grep mtu
  script:
  - apk add make
  - make init
  - make build service=testcenter-broadcasting-service
  - docker save iqbberlin/testcenter-broadcasting-service > bs_image.tar
  artifacts:
    paths:
    - bs_image.tar
  ...

test-backend-unit:
  stage: test
  dependencies:
  - build-backend
  before_script:
  - ip a | grep mtu
  - docker network inspect bridge | grep mtu
  script:
  - apk add make
  - make init
  - docker load -i backend_image.tar
  - make test-backend-unit-coverage
  artifacts:
    paths:
    - docs/dist/test-coverage-backend-unit/*
  ...

test-frontend-unit:
  stage: test
  dependencies:
  - build-frontend
  before_script:
  - ip a | grep mtu
  - docker network inspect bridge | grep mtu
  script:
  - apk add make
  - make init-env
  - make init-frontend
  - docker load -i frontend_image.tar
  - make test-frontend-unit-coverage
  artifacts:
    paths:
  ...

test-broadcasting-service-unit:
  stage: test
  dependencies:
  - build-broadcasting-service
  before_script:
  - ip a | grep mtu
  - docker network inspect bridge | grep mtu
  script:
  - apk add make
  - make init-env
  - docker load -i bs_image.tar
  - make test-broadcasting-service-unit-coverage
  artifacts:
    paths:
  ...

test-e2e:
  stage: test
  allow_failure: true
  dependencies:
  - build-frontend
  - build-backend
  - build-broadcasting-service
  before_script:
  - ip a | grep mtu
  - docker network inspect bridge | grep mtu
  script:
  - apk add make
  - docker load -i frontend_image.tar
  - docker load -i backend_image.tar
  ...

test-backend-api:
  stage: test
  dependencies:
  - build-backend
  before_script:
  - ip a | grep mtu
  - docker network inspect bridge | grep mtu
  script:
  - apk add make
  - make init
  - docker load -i backend_image.tar
  - make test-backend-api

be: return correct error codes when initialize failed or is already running.
  backend/.htaccess
  backend/config/vhost.conf
  backend/index.php
  backend/initialize.php
Due: build-backend, test-backend-unit, test-backend-api

fe: Fix some UI bugs in group-monitor
  .idea/testcenter.iml
  frontend/src/app/group-monitor/group-monitor.component.html
  frontend/src/app/group-monitor/group-monitor.component.ts
  frontend/src/app/group-monitor/test-session/test-session.component.html
Due: build-frontend, test-frontend-unit, test-e2e

fe: Disable access log
  frontend/config/nginx.conf
Due: build-frontend, test-frontend-unit, test-e2e

fe: Allow environment variables in config file
  docker/docker-compose.dev.yml
  docker/docker-compose.local-prod.yml
  docker/frontend.Dockerfile
Due: none

Remove build step wich is not necessary anymore apparently
  docker/frontend.Dockerfile
Due: none

fe: An iframe which has both allow-scripts and allow-same-origin for its sandbox attribute can remove its sandboxing.
  frontend/src/app/test-controller/components/unithost/unithost.component.ts
Due: build-frontend, test-frontend-unit, test-e2e

db: Wrap db in own docker image to include my.cnf.
  .gitlab-ci.yml
  dist-src/docker-compose.prod.yml
  docker/database.Dockerfile
  docker/docker-compose.dev.yml
  docker/docker-compose.initialization-test.yml
  docker/docker-compose.local-prod.yml
  docker/docker-compose.system-test-headless.yml
  docker/docker-compose.system-test-ui.yml
  docker/docker-compose.yml
Due: none

fe: disable access-log again
  frontend/config/nginx.conf
Due: build-frontend, test-frontend-unit, test-e2e

fs: Return nginx config to default
  scripts/file-service/nginx.conf
Due: none

be: Use fpassthru and other native PHP functions instead of Slim
  backend/src/controller/TestController.class.php
Due: build-backend, test-backend-unit, test-backend-api

env: rename MYSQL_SALT to PASSWORD_SALT
  backend/src/helper/SystemConfig.class.php
  dist-src/.env
  docker/default.env
  docker/docker-compose.yml
Due: build-backend, test-backend-unit, test-backend-api

repair various tests
  .gitlab-ci.yml
  backend/test/unit/controller/SessionControllerTest.php
  backend/test/unit/files/XMLFileTest.php
  scripts/make/test.mk
  test/api/test.js
Due: build-backend, test-backend-unit, test-backend-api

fe: fix unit tests
  frontend/src/app/group-monitor/group-monitor.component.spec.ts
  frontend/src/app/shared/services/maindata/maindata.service.spec.ts
  frontend/src/app/sys-check/questionnaire/questionnaire.component.spec.ts
  frontend/src/app/test-controller/components/test-controller/test-controller.component.spec.ts
  frontend/src/app/test-controller/interfaces/test-controller.interfaces.ts
  frontend/src/app/test-controller/services/test-controller.service.ts
  frontend/src/app/test-controller/unit-test-data/mock-backend.service.ts
  frontend/src/app/test-controller/unit-test-data/test-data.ts
  frontend/src/app/workspace-admin/files/files.component.spec.ts
  frontend/src/app/workspace-admin/files/files.component.ts
  frontend/src/app/workspace-admin/results/results.component.spec.ts
Due: build-frontend, test-frontend-unit, test-e2e

be: Fix update sql scheme script
  backend/test/update-sql-scheme.php
Due: build-backend, test-backend-unit, test-backend-api

Update CHANGELOG
  docs/CHANGELOG.md
Due: none

Update to version 15.0.0-rc1
  dist-src/install.sh
  docs/CHANGELOG.md
  package.json
  sampledata/Booklet.xml
  sampledata/Booklet2.xml
  sampledata/Booklet3.xml
  sampledata/SysCheck.xml
  sampledata/Testtakers.xml
  sampledata/Unit.xml
  sampledata/Unit2.xml
  scripts/database/patches.d/15.0.0-rc1.sql
Due: none

Fix superadmin checkbox behaviour
  frontend/src/app/superadmin/users/users.component.css
  frontend/src/app/superadmin/users/users.component.html
  frontend/src/app/superadmin/users/users.component.ts
  frontend/src/app/superadmin/workspaces/workspaces.component.css
  frontend/src/app/superadmin/workspaces/workspaces.component.html
  frontend/src/app/superadmin/workspaces/workspaces.component.ts
Due: build-frontend, test-frontend-unit, test-e2e

Fix tooptip typo
  frontend/src/app/superadmin/workspaces/workspaces.component.html
Due: build-frontend, test-frontend-unit, test-e2e

e2e: Fix e2e-tests:
  backend/src/helper/CacheService.class.php
  backend/src/workspace/WorkspaceInitializer.class.php
  docker/docker-compose.dev.yml
  docker/docker-compose.system-test-headless.yml
  docker/docker-compose.system-test-ui.yml
  e2e/cypress.config.js
  e2e/cypress.e2e.config.js
  e2e/cypress/e2e/Session-Management/hot-return-mode.cy.ts
  e2e/cypress/e2e/Session-Management/login-possibilities.cy.ts
  e2e/cypress/e2e/Test-Controller/Demo.cy.ts
  e2e/cypress/e2e/Test-Controller/Review.cy.ts
  e2e/cypress/e2e/superadmin.cy.ts
  e2e/cypress/e2e/utils.ts
  sampledata/introduction-unit.htm
  scripts/file-service/nginx.conf
Due: build-backend, build-frontend, build-broadcasting-service, test-backend-unit, test-e2e, test-backend-api

fe: Remove multi-select from superadmin view
  frontend/src/app/superadmin/users/users.component.html
  frontend/src/app/superadmin/users/users.component.ts
  frontend/src/app/superadmin/workspaces/workspaces.component.html
  frontend/src/app/superadmin/workspaces/workspaces.component.ts
Due: build-frontend, test-frontend-unit, test-e2e

[env] Remove auto-restart of Docker services
  docker/docker-compose.yml
Due: none

[env] Rework installer and updater
  dist-src/docker-compose.prod.tls.yml
  dist-src/install.sh
  dist-src/patches/14.11.0.sh
  dist-src/patches/15.0.0.sh
  dist-src/update.sh
Due: none

[env] Add missing version setting
  dist-src/.env
Due: none

[ci] Disable broken backend initialization test
  .gitlab-ci.yml
Due: none

[env] Update versions for Traefik, nginx (frontend) and Debian
  docker/docker-compose.yml
  docker/file-service.Dockerfile
  docker/frontend.Dockerfile
Due: none

[env] Fix missing docker repo push for new services
  .gitlab-ci.yml
Due: none

Fix install script
  dist-src/install.sh
Due: none

[env] Fix missing env variables and add security headers to file-service
  dist-src/.env
  dist-src/docker-compose.prod.yml
  docker/docker-compose.yml
Due: none

[env] Remove default nginx config from frontend image
  docker/frontend.Dockerfile
Due: none

[ci] Fix missing docker image tags for prod
  .gitlab-ci.yml
Due: none

Revert "[env] Remove default nginx config from frontend image"
  docker/frontend.Dockerfile
Due: none

refactor checkbox in superadmin component
  frontend/src/app/superadmin/users/users.component.html
  frontend/src/app/superadmin/users/users.component.ts
  frontend/src/app/superadmin/workspaces/workspaces.component.html
  frontend/src/app/superadmin/workspaces/workspaces.component.ts
Due: build-frontend, test-frontend-unit, test-e2e

Use flex/flex-directions for syscheck mc-elements
  frontend/src/app/sys-check/questionnaire/questionnaire.component.css
Due: build-frontend, test-frontend-unit, test-e2e

[fs] Update container base image and remove unused plugins
  docker/file-service.Dockerfile
  scripts/file-service/nginx.conf
Due: none

[e2e] Refactor e2e tests:
  .dockerignore
  .idea/testcenter.iml
  backend/src/helper/SystemConfig.class.php
  broadcasting-service/healthcheck.js
  cypress/fixtures/example.json
  cypress/support/commands.ts
  cypress/support/e2e.ts
  docker/broadcasting-service.Dockerfile
  docker/docker-compose.dev.yml
  docker/docker-compose.system-test-headless.yml
  docker/docker-compose.system-test-ui.yml
  docker/docker-compose.yml
  docker/file-service.Dockerfile
  e2e/cypress.config.js
  e2e/cypress.e2e.config.js
  e2e/cypress/e2e/Session-Management/hot-return-mode.cy.ts
  e2e/cypress/e2e/Test-Controller/Demo.cy.ts
  e2e/cypress/e2e/Test-Controller/Review.cy.ts
  e2e/cypress/e2e/utils.ts
  e2e/cypress/plugins/wait-for-server.js
  e2e/cypress/support/commands.js
  e2e/cypress/support/inViewport.js
  e2e/package-lock.json
  e2e/package.json
  e2e/run-e2e.sh
  frontend/src/app/shared/components/error/error.component.html
  frontend/src/environments/environment.system-test.ts
  scripts/file-service/nginx.conf
  scripts/file-service/no-cors.conf
  scripts/make/test.mk
Due: build-backend, build-frontend, build-broadcasting-service, test-backend-unit, test-frontend-unit, test-broadcasting-service-unit, test-e2e, test-backend-api

[CI] Put the publishing step for the new images onto "build-{service}-prod"-tasks instead of the build tasks.
  .gitlab-ci.yml
Due: none

[env] Add what was accidentally deleted when merging.
  docker/docker-compose.yml
Due: none

[e2e] update cypress version to 13.3.0
  docker/e2e.Dockerfile
  e2e/package-lock.json
  e2e/package.json
Due: build-backend, build-frontend, build-broadcasting-service, test-e2e

[docker] Remove healthchecks again
  broadcasting-service/healthcheck.js
  docker/broadcasting-service.Dockerfile
  docker/docker-compose.dev.yml
  docker/docker-compose.system-test-headless.yml
  docker/docker-compose.yml
  e2e/cypress.config.js
  e2e/cypress.e2e.config.js
  e2e/cypress/e2e/Session-Management/hot-restart-mode.cy.ts
  e2e/cypress/e2e/Session-Management/hot-return-mode.cy.ts
  e2e/cypress/e2e/utils.ts
  e2e/cypress/plugins/create-coverage-report.js
  e2e/cypress/plugins/wait-for-server.js
  e2e/run-e2e.sh
Due: build-backend, build-frontend, build-broadcasting-service, test-broadcasting-service-unit, test-e2e

Path conditions:
  build-backend: (any of: backend/**/*, database/**/*, definitions/**/*) or (any of: e2e/**/*)
  build-frontend: (any of: frontend/**/*, common/**/*) or (any of: e2e/**/*)
  build-broadcasting-service: (any of: broadcasting-service/**/*, common/**/*) or (any of: e2e/**/*)
  test-backend-unit: any of: backend/**/*, database/**/*, definitions/**/*
  test-frontend-unit: any of: frontend/**/*, common/**/*
  test-broadcasting-service-unit: any of: broadcasting-service/**/*, common/**/*
  test-e2e: (any of: frontend/**/*, common/**/*) or (any of: e2e/**/*)
  test-backend-api: any of: backend/**/*, database/**/*, definitions/**/*
