Repository iqb-berlin/testcenter: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend, build-frontend, build-broadcasting-service, test-backend-unit, test-frontend-unit, test-broadcasting-service-unit, test-e2e, test-backend-api

Path conditions:
  build-backend: (any of: backend/**/*, database/**/*, definitions/**/*) or (any of: e2e/**/*)
  build-frontend: (any of: frontend/**/*, common/**/*) or (any of: e2e/**/*)
  build-broadcasting-service: (any of: broadcasting-service/**/*, common/**/*) or (any of: e2e/**/*)
  test-backend-unit: any of: backend/**/*, database/**/*, definitions/**/*
  test-frontend-unit: any of: frontend/**/*, common/**/*
  test-broadcasting-service-unit: any of: broadcasting-service/**/*, common/**/*
  test-e2e: any of: e2e/**/*
  test-backend-api: any of: backend/**/*, database/**/*, definitions/**/*

fe: Update Angular Material to 16
  frontend/package-lock.json
  frontend/package.json
Due: build-frontend, test-frontend-unit

fe: linting
  frontend/src/app/app-root/monitor-starter/monitor-starter.component.html
  frontend/src/app/app-root/test-starter/test-starter.component.ts
  frontend/src/app/app-route-guards.ts
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.error-handler.ts
  frontend/src/app/app.interfaces.ts
  frontend/src/app/app.module.ts
  frontend/src/app/group-monitor/booklet/booklet.util.ts
  frontend/src/app/group-monitor/group-monitor.component.spec.ts
  frontend/src/app/group-monitor/test-session-manager/test-session-manager.service.spec.ts
  frontend/src/app/group-monitor/test-session/super-states.js
  frontend/src/app/shared/classes/test-mode.class.ts
  frontend/src/app/shared/components/alert/alert.component.ts
  frontend/src/app/shared/components/confirm-dialog/confirm-dialog.component.spec.ts
  frontend/src/app/shared/components/error/error.component.ts
  frontend/src/app/shared/interfaces/app-config.interfaces.ts
  frontend/src/app/shared/services/websocket-backend/websocket-backend.service.ts
  frontend/src/app/superadmin/settings/app-config.component.ts
  frontend/src/app/superadmin/superadmin-password-request/superadmin-password-request.component.spec.ts
  frontend/src/app/superadmin/superadmin.module.ts
  frontend/src/app/superadmin/users/newpassword/new-password.component.spec.ts
  frontend/src/app/superadmin/users/newuser/new-user.component.spec.ts
  frontend/src/app/superadmin/workspaces/editworkspace/editworkspace.component.spec.ts
  frontend/src/app/superadmin/workspaces/newworkspace/newworkspace.component.spec.ts
  frontend/src/app/superadmin/workspaces/newworkspace/newworkspace.component.ts
  frontend/src/app/sys-check/network-check/network-check.component.ts
  frontend/src/app/sys-check/network-check/tc-speed-chart.component.ts
  frontend/src/app/sys-check/report/save-report/save-report.component.spec.ts
  frontend/src/app/sys-check/sys-check-routing.module.ts
  frontend/src/app/test-controller/components/review-dialog/review-dialog.component.spec.ts
  frontend/src/app/test-controller/routing/test-controller-deactivate.guard.ts
  frontend/src/app/test-controller/routing/test-controller-error-paused-activate.guard.ts
  frontend/src/app/test-controller/routing/unit-activate.guard.ts
  frontend/src/app/test-controller/routing/unit-deactivate.guard.ts
  frontend/src/app/test-controller/services/test-loader.service.spec.ts
  frontend/src/app/workspace-admin/files/iqb-files-upload-queue/iqb-files-upload-queue.component.ts
  frontend/src/app/workspace-admin/files/iqb-files-upload/iqb-files-upload.component.ts
  frontend/src/app/workspace-admin/workspacedata.service.spec.ts
  frontend/src/app/workspace-admin/workspacedata.service.ts
  frontend/tsconfig.json
Due: build-frontend, test-frontend-unit

fe: use mart-card correctly with mat-header and remove redundant individual styles
  frontend/src/app/app-root/admin-starter/admin-starter.component.html
  frontend/src/app/app-root/admin-starter/admin-starter.component.ts
  frontend/src/app/app-root/code-input/code-input.component.ts
  frontend/src/app/app-root/legal-notice/legal-notice.component.html
  frontend/src/app/app-root/login/login.component.html
  frontend/src/app/app-root/login/login.component.ts
  frontend/src/app/app-root/monitor-starter/monitor-starter.component.css
  frontend/src/app/app-root/monitor-starter/monitor-starter.component.html
  frontend/src/app/app-root/route-dispatcher/route-dispatcher.component.html
  frontend/src/app/app-root/sys-check-starter/sys-check-starter.component.css
  frontend/src/app/app-root/sys-check-starter/sys-check-starter.component.html
  frontend/src/app/app-root/test-starter/test-starter.component.css
  frontend/src/app/app-root/test-starter/test-starter.component.html
  frontend/src/app/shared/components/error/error.component.css
  frontend/src/app/shared/components/error/error.component.html
  frontend/src/app/superadmin/superadmin.component.html
  frontend/src/app/sys-check/sys-check.component.css
  frontend/src/app/sys-check/unit-check/unit-check.component.html
  frontend/src/app/sys-check/welcome/welcome.component.html
  frontend/src/app/test-controller/components/test-status/test-status.component.css
  frontend/src/app/test-controller/components/test-status/test-status.component.html
  frontend/src/app/test-controller/components/unithost/unithost.component.css
  frontend/src/app/test-controller/components/unithost/unithost.component.html
  frontend/src/app/workspace-admin/files/files.component.css
  frontend/src/app/workspace-admin/workspace.component.html
  frontend/src/iqb-theme1.scss
Due: build-frontend, test-frontend-unit

fe: Fix starter button layout
  frontend/src/app/app-root/monitor-starter/monitor-starter.component.css
  frontend/src/app/app-root/monitor-starter/monitor-starter.component.html
  frontend/src/app/app-root/test-starter/test-starter.component.css
  frontend/src/app/app-root/test-starter/test-starter.component.html
  frontend/src/iqb-theme1.scss
Due: build-frontend, test-frontend-unit

fe: repair unit menus
  frontend/src/app/test-controller/components/test-controller/test-controller.component.css
  frontend/src/app/test-controller/components/unit-menu/unit-menu.component.css
  frontend/src/app/test-controller/components/unit-menu/unit-menu.component.html
Due: build-frontend, test-frontend-unit

fe: Add captions for buttons with only an icon, because this is not supported by the new material cdk version.
  .idea/phpunit.xml
  frontend/src/app/app-root/test-starter/test-starter.component.html
  frontend/src/app/attachment-manager/components/attachment-overview/attachment-overview.component.html
  frontend/src/app/workspace-admin/files/files.component.html
  frontend/src/app/workspace-admin/results/results.component.html
  frontend/src/app/workspace-admin/syscheck/syscheck.component.html
  frontend/src/iqb-theme1.scss
Due: build-frontend, test-frontend-unit

fe: Fix ui quirks from the material update
  frontend/src/app/app-root/admin-starter/admin-starter.component.ts
  frontend/src/app/app-root/legal-notice/legal-notice.component.html
  frontend/src/app/app-root/login/login.component.html
  frontend/src/app/app-root/login/login.component.ts
  frontend/src/app/app-root/sys-check-starter/sys-check-starter.component.css
  frontend/src/app/app-root/sys-check-starter/sys-check-starter.component.html
  frontend/src/app/sys-check/network-check/network-check.component.html
  frontend/src/app/sys-check/network-check/network-check.component.ts
  frontend/src/app/sys-check/questionnaire/questionnaire.component.html
  frontend/src/app/sys-check/report/report.component.html
  frontend/src/app/sys-check/welcome/welcome.component.html
  frontend/src/app/test-controller/components/review-dialog/review-dialog.component.ts
  frontend/src/app/test-controller/components/unithost/unithost.component.html
  frontend/src/iqb-theme1.scss
Due: build-frontend, test-frontend-unit

be: Fix display of test running and locked in test overview
  backend/src/dao/SessionDAO.class.php
  docs/CHANGELOG.md
Due: build-backend, test-backend-unit, test-backend-api

fe: Fix style of online-badge
  frontend/src/app/group-monitor/group-monitor.component.css
  frontend/src/app/group-monitor/group-monitor.component.html
Due: build-frontend, test-frontend-unit

fe: Fix style of message-dialog component
  frontend/src/app/app-root/code-input/code-input.component.html
  frontend/src/app/app-root/code-input/code-input.component.ts
  frontend/src/app/shared/components/message-dialog/message-dialog.component.css
  frontend/src/app/shared/components/message-dialog/message-dialog.component.html
  frontend/src/app/shared/components/message-dialog/message-dialog.component.ts
  frontend/src/app/shared/interfaces/message-dialog.interfaces.ts
  frontend/src/app/shared/shared.module.ts
  frontend/src/app/superadmin/users/users.component.ts
  frontend/src/app/superadmin/workspaces/workspaces.component.ts
  frontend/src/app/workspace-admin/files/files.component.ts
Due: build-frontend, test-frontend-unit

Fix broken Dockerfile paths
  scripts/make/misc.mk
Due: none

fe: Typescript Strict Part I
  frontend/src/app/app-root/code-input/code-input.component.ts
  frontend/src/app/app-route-guards.ts
  frontend/src/app/app.error-handler.ts
  frontend/src/app/app.interfaces.ts
  frontend/src/app/attachment-manager/components/attachment-manager/attachment-manager.component.ts
  frontend/src/app/attachment-manager/components/attachment-overview/attachment-overview.component.ts
  frontend/src/app/attachment-manager/components/capture-image/capture-image.component.ts
  frontend/src/app/attachment-manager/services/backend/backend.service.ts
  frontend/src/app/backend.service.ts
  frontend/src/app/error.interceptor.ts
  frontend/src/app/group-monitor/booklet/booklet.service.ts
  frontend/src/app/group-monitor/booklet/booklet.util.spec.ts
  frontend/src/app/group-monitor/booklet/booklet.util.ts
  frontend/src/app/group-monitor/group-monitor.component.ts
  frontend/src/app/group-monitor/group-monitor.interfaces.ts
  frontend/src/app/shared/classes/app.config.ts
  frontend/src/app/shared/classes/booklet-config.class.ts
  frontend/src/app/shared/components/alert/alert.component.ts
  frontend/src/app/shared/components/confirm-dialog/confirm-dialog.component.spec.ts
  frontend/src/app/shared/components/error/error.component.ts
  frontend/src/app/shared/services/backend.service.ts
  frontend/src/app/shared/services/bug-report.service.ts
  frontend/src/app/shared/services/customtext/customtext.service.spec.ts
  frontend/src/app/shared/services/customtext/customtext.service.ts
  frontend/src/app/shared/shared.module.ts
  frontend/src/app/superadmin/settings/app-config.component.ts
  frontend/src/app/superadmin/settings/edit-custom-text.component.ts
  frontend/src/app/superadmin/settings/edit-custom-texts.component.ts
  frontend/src/app/test-controller/services/backend.service.ts
  frontend/src/app/test-controller/services/command.service.ts
  frontend/src/app/workspace-admin/backend.service.ts
  frontend/src/app/workspace-admin/files/files.component.ts
  frontend/tsconfig.json
Due: build-frontend, test-frontend-unit

fe: Typescript Strict Part II
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/app-root/login/login.component.html
  frontend/src/app/app-root/login/login.component.ts
  frontend/src/app/group-monitor/group-monitor.component.ts
  frontend/src/app/group-monitor/group-monitor.interfaces.ts
  frontend/src/app/workspace-admin/files/iqb-files-upload-input-for/iqb-files-upload-input-for.directive.ts
  frontend/src/app/workspace-admin/files/iqb-files-upload-queue/iqb-files-upload-queue.component.ts
  frontend/src/app/workspace-admin/files/iqb-files-upload/iqb-files-upload.component.ts
Due: build-frontend, test-frontend-unit

frontend: unify starter components into one
  frontend/src/app/app-root/admin-starter/admin-starter.component.html
  frontend/src/app/app-root/admin-starter/admin-starter.component.ts
  frontend/src/app/app-root/monitor-starter/monitor-starter.component.css
  frontend/src/app/app-root/monitor-starter/monitor-starter.component.html
  frontend/src/app/app-root/monitor-starter/monitor-starter.component.ts
  frontend/src/app/app-root/test-starter/test-starter.component.html
  frontend/src/app/app-root/test-starter/test-starter.component.ts
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.module.ts
  frontend/src/app/starter/starter.component.css
  frontend/src/app/starter/starter.component.html
  frontend/src/app/starter/starter.component.ts
Due: build-frontend, test-frontend-unit

e2e: remove backup since it's confusing the IDE and we have git for that
  e2e/backup/cypress/coverage.webpack.ts
  e2e/backup/cypress/e2e/app-root.cy.ts
  e2e/backup/cypress/e2e/superadmin.cy.ts
  e2e/backup/cypress/e2e/sys-check.cy.ts
  e2e/backup/cypress/e2e/test-controller.cy.ts
  e2e/backup/cypress/e2e/utils.ts
  e2e/backup/cypress/e2e/workspace-admin.cy.ts
  e2e/backup/cypress/plugins/create-coverage-report.js
  e2e/backup/cypress/plugins/delete-folder.js
  e2e/backup/cypress/plugins/wait-for-backend.js
  e2e/backup/cypress/support/commands.ts
  e2e/backup/cypress/support/e2e.ts
  e2e/backup/cypress/support/inViewport.js
  e2e/backup/cypress/tsconfig.json
  e2e/backup/docker-compose.system-test-ui.yml
  e2e/backup/docker-compose.system-test.yml
Due: build-backend, build-frontend, build-broadcasting-service, test-e2e

fe: Typescript Strict Part IV
  frontend/src/app/group-monitor/test-session-manager/test-session-manager.service.ts
  frontend/src/app/group-monitor/test-session/test-session.util.spec.ts
  frontend/src/app/group-monitor/test-session/test-session.util.ts
  frontend/src/app/superadmin/settings/app-config.component.ts
Due: build-frontend, test-frontend-unit

fe: Typescript Strict Part V
  frontend/src/app/group-monitor/unit-test-example-data.spec.ts
  frontend/src/app/sys-check/unit-check/unit-check.component.ts
  frontend/src/app/test-controller/routing/unit-deactivate.guard.ts
Due: build-frontend, test-frontend-unit

Update Cypress to 12.17.1
  docker/e2e.Dockerfile
  e2e/package-lock.json
  e2e/package.json
Due: build-backend, build-frontend, build-broadcasting-service, test-e2e

fe: Typescript Strict Part VI
  frontend/src/app/group-monitor/test-session-manager/test-session-manager.service.ts
  frontend/src/app/group-monitor/test-session/test-session.component.ts
  frontend/src/app/group-monitor/test-session/test-session.util.ts
  frontend/src/app/group-monitor/unit-test-example-data.spec.ts
  frontend/src/app/shared/interfaces/customtext.interfaces.ts
  frontend/src/app/shared/objects/customTextDefaults.ts
  frontend/src/app/shared/services/customtext/customtext.service.spec.ts
  frontend/src/app/shared/services/customtext/customtext.service.ts
  frontend/src/app/shared/shared.module.ts
  frontend/src/app/superadmin/settings/edit-custom-texts.component.ts
  frontend/src/app/sys-check/welcome/welcome.component.ts
  frontend/src/app/test-controller/components/unithost/unithost.component.ts
  frontend/src/app/test-controller/interfaces/test-controller.interfaces.ts
  frontend/src/app/test-controller/services/test-controller.service.ts
  frontend/src/app/test-controller/services/test-loader.service.ts
  frontend/src/app/test-controller/unit-test-data/watcher.ts
Due: build-frontend, test-frontend-unit

fe: Typescript Strict Part VII
  frontend/src/app/app-root/login/login.component.html
  frontend/src/app/group-monitor/test-session/test-session.component.html
  frontend/src/app/sys-check/unit-check/unit-check.component.html
  frontend/src/app/test-controller/components/unithost/unithost.component.html
  frontend/src/app/test-controller/components/unithost/unithost.component.ts
  frontend/src/app/test-controller/services/test-controller.service.ts
Due: build-frontend, test-frontend-unit

fe: Fix broken routing
  .idea/misc.xml
  frontend/src/app/app.component.html
  frontend/src/app/test-controller/routing/unit-deactivate.guard.ts
Due: build-frontend, test-frontend-unit

fe: Fix broken detection of test-mode-capabilities
  frontend/src/app/shared/classes/test-mode.class.ts
Due: build-frontend, test-frontend-unit

fe: Linting
  frontend/src/app/group-monitor/test-session/test-session.util.ts
  frontend/src/app/shared/objects/customTextDefaults.ts
  frontend/src/app/sys-check/welcome/welcome.component.ts
  frontend/src/app/test-controller/interfaces/test-controller.interfaces.ts
  frontend/src/app/test-controller/routing/unit-deactivate.guard.ts
  frontend/src/app/test-controller/services/test-loader.service.ts
Due: build-frontend, test-frontend-unit

fe: Fix unit sidebar menu
  frontend/src/app/test-controller/components/unit-menu/unit-menu.component.css
Due: build-frontend, test-frontend-unit

fe: Fix layout of upload report
  frontend/src/app/workspace-admin/files/files.component.html
  frontend/src/app/workspace-admin/files/iqb-files-upload-queue/iqb-files-upload-queue.component.html
  frontend/src/app/workspace-admin/files/iqb-files-upload/iqb-files-upload.component.html
Due: build-frontend, test-frontend-unit

fe: Fix layout of workspace-monitor
  frontend/src/app/superadmin/users/users.component.css
  frontend/src/app/superadmin/users/users.component.html
  frontend/src/app/superadmin/workspaces/workspaces.component.css
  frontend/src/app/superadmin/workspaces/workspaces.component.html
Due: build-frontend, test-frontend-unit

fe: Fix bug that occurred when there were no files on a workspace
  frontend/src/app/workspace-admin/files/files.component.ts
Due: build-frontend, test-frontend-unit

fe: Fix bugs in SysCheck
  frontend/src/app/sys-check/network-check/tc-speed-chart.component.ts
  frontend/src/app/sys-check/unit-check/unit-check.component.ts
Due: build-frontend, test-frontend-unit

fe: Fix SysCheck questionnaire
  frontend/src/app/shared/components/error/error.component.html
  frontend/src/app/sys-check/questionnaire/questionnaire.component.html
  frontend/src/app/sys-check/questionnaire/questionnaire.component.ts
  frontend/src/app/sys-check/report/save-report/save-report.component.css
  frontend/src/app/sys-check/report/save-report/save-report.component.html
  frontend/src/app/sys-check/report/save-report/save-report.component.ts
Due: build-frontend, test-frontend-unit

fe: don't initialize @viewChild elements with empty object
  frontend/src/app/app-root/code-input/code-input.component.ts
  frontend/src/app/attachment-manager/components/attachment-overview/attachment-overview.component.ts
  frontend/src/app/attachment-manager/components/capture-image/capture-image.component.ts
  frontend/src/app/group-monitor/group-monitor.component.ts
  frontend/src/app/superadmin/workspaces/workspaces.component.ts
  frontend/src/app/sys-check/network-check/network-check.component.ts
  frontend/src/app/sys-check/network-check/tc-speed-chart.component.ts
  frontend/src/app/sys-check/unit-check/unit-check.component.ts
  frontend/src/app/test-controller/components/test-controller/test-controller.component.ts
  frontend/src/app/test-controller/components/unithost/unithost.component.ts
  frontend/src/app/workspace-admin/files/files.component.ts
  frontend/src/app/workspace-admin/files/iqb-files-upload-queue/iqb-files-upload-queue.component.ts
  frontend/src/app/workspace-admin/results/results.component.ts
  frontend/src/app/workspace-admin/syscheck/syscheck.component.ts
Due: build-frontend, test-frontend-unit

fe: Fix unit menu layout in Chrome
  frontend/src/app/test-controller/components/test-controller/test-controller.component.css
Due: build-frontend, test-frontend-unit

fe: Fix unit tests and details they pointed out
  frontend/src/app/group-monitor/booklet/booklet.util.ts
  frontend/src/app/group-monitor/test-session/test-session.util.spec.ts
  frontend/src/app/shared/components/message-dialog/message-dialog.component.spec.ts
  frontend/src/app/shared/components/message-dialog/message-dialog.component.ts
  frontend/src/app/shared/services/customtext/customtext.service.spec.ts
  frontend/src/app/test-controller/services/test-loader.service.spec.ts
  frontend/src/app/test-controller/services/test-loader.service.ts
  frontend/src/app/test-controller/unit-test-data/mock-backend.service.ts
  frontend/src/app/test-controller/unit-test-data/test-data.ts
  frontend/src/app/test-controller/unit-test-data/watcher.util.spec.ts
  frontend/src/app/test-controller/unit-test-data/watcher.util.ts
  frontend/src/app/workspace-admin/files/files.component.spec.ts
Due: build-frontend, test-frontend-unit

e2e: Update CyPress to 12.17.1
  docker/e2e.Dockerfile
  e2e/cypress.config.js
  e2e/cypress.e2e.config.js
  e2e/cypress/e2e/Test-Controller/Demo.cy.ts
  e2e/cypress/e2e/Test-Controller/Review.cy.ts
  e2e/package-lock.json
  e2e/package.json
Due: build-backend, build-frontend, build-broadcasting-service, test-e2e

be: Repair expiration-check of validFor-value of person-sessions.
  backend/src/dao/SessionDAO.class.php
  docs/CHANGELOG.md
Due: build-backend, test-backend-unit, test-backend-api

e2e: Fix and adjust e2e-tests. Part I
  e2e/cypress/e2e/Session-Management/hot-restart-mode.cy.ts
  e2e/cypress/e2e/Session-Management/hot-return-mode.cy.ts
  e2e/cypress/e2e/Session-Management/time-restrictions.cy.ts
  e2e/cypress/e2e/superadmin.cy.ts
  e2e/cypress/e2e/utils.ts
  e2e/cypress/plugins/delete-folder.js
  frontend/src/app/app-root/login/login.component.html
  frontend/src/app/app-root/login/login.component.ts
  frontend/src/app/shared/services/maindata/maindata.service.ts
  frontend/src/app/superadmin/workspaces/workspaces.component.html
  package-lock.json
Due: build-backend, build-frontend, build-broadcasting-service, test-frontend-unit, test-e2e

e2e: Adaptt breaking change in tslib to find global object "cy" in IDE.
  e2e/cypress/tsconfig.json
Due: build-backend, build-frontend, build-broadcasting-service, test-e2e

fe: Fix files tab UI in workspace-admin:
  frontend/src/app/workspace-admin/files/files.component.html
Due: build-frontend, test-frontend-unit

e2e: Fix and adjust the rest of the tests
  cypress.config.ts
  cypress/fixtures/example.json
  cypress/support/commands.ts
  cypress/support/e2e.ts
  e2e/cypress/e2e/Session-Management/hot-return-mode.cy.ts
  e2e/cypress/e2e/Test-Controller/Demo.cy.ts
  e2e/cypress/e2e/Test-Controller/Review.cy.ts
  e2e/cypress/e2e/superadmin.cy.ts
  e2e/cypress/e2e/utils.ts
  e2e/cypress/e2e/workspace-admin.cy.ts
Due: build-backend, build-frontend, build-broadcasting-service, test-e2e
