Repository iqb-berlin/testcenter: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend, build-db, build-frontend, build-broadcasting-service, build-file-service, test-backend-unit, test-frontend-unit, test-broadcasting-service-unit, test-e2e, test-backend-api, test-file-service-api

Path conditions:
  build-backend: (any of: backend/**/*, scripts/database/**/*, definitions/**/*) or (any of: e2e/**/*)
  build-db: any of: backend/**/*, scripts/database/**/*, definitions/**/*
  build-frontend: (any of: frontend/**/*, common/**/*) or (any of: e2e/**/*)
  build-broadcasting-service: (any of: broadcasting-service/**/*, common/**/*) or (any of: e2e/**/*)
  build-file-service: any of: scripts/file-service/**/*
  test-backend-unit: any of: backend/**/*, scripts/database/**/*, definitions/**/*
  test-frontend-unit: any of: frontend/**/*, common/**/*
  test-broadcasting-service-unit: any of: broadcasting-service/**/*, common/**/*
  test-e2e: (any of: frontend/**/*, common/**/*) or (any of: e2e/**/*)
  test-backend-api: any of: backend/**/*, scripts/database/**/*, definitions/**/*
  test-file-service-api: any of: scripts/file-service/**/*

[be] Repair init-tests
  .gitlab-ci.yml
  .idea/dataSources.xml
  backend/test/initialization/functions/functions.sh
  backend/test/initialization/tests/12.0.2/fix_12_0_0.sh
  backend/test/initialization/tests/12.3.3/login_name_spelling.sh
  backend/test/initialization/tests/12.3.3/long_file_name.sh
  backend/test/initialization/tests/general/install-db-patches.sh
  docker/docker-compose.initialization-test.yml
Due: build-backend, build-db, test-backend-unit, test-backend-api

[ci] Fix CI file typo
  .gitlab-ci.yml
Due: none

[e2e] Re-enable video-capture
  e2e/cypress.e2e.config.js
Due: build-backend, build-frontend, build-broadcasting-service, test-e2e

[env] Enable TLS for local-prod
  docker/docker-compose.local-prod.yml
Due: none

[env] Enable TLS by default, so prod don't need the TLS_ENABLED variable.
  backend/src/helper/SystemConfig.class.php
  docker/docker-compose.local-prod.yml
Due: build-backend, build-db, test-backend-unit, test-backend-api

[env] Fix internal URIs between backend and file-/broadcasting-service: internal links are always http, never https.
  backend/src/helper/BroadcastService.class.php
  backend/src/helper/FileService.class.php
Due: build-backend, build-db, test-backend-unit, test-backend-api

[env] include install.sh in version script
  scripts/create-new-version.sh
Due: none

Update to version 15.0.0-rc2
  dist-src/.env
  dist-src/install.sh
  docs/CHANGELOG.md
  package.json
  sampledata/Booklet.xml
  sampledata/Booklet2.xml
  sampledata/Booklet3.xml
  sampledata/SysCheck.xml
  sampledata/Testtakers.xml
  sampledata/Unit.xml
  sampledata/Unit2.xml
Due: none

[fs] Enable IPv6
  scripts/file-service/nginx.conf
Due: build-file-service, test-file-service-api

[CI] Attempt to fix tests
  docker/docker-compose.dev.yml
Due: none

fe: remove stateReportPolicy
  common/src/classes/booklet-config-data.class.ts
  common/src/classes/test-mode-data.class.ts
  definitions/booklet-config.json
  definitions/browsers.json
  docs/pages/booklet-config.md
  e2e/cypress/fixtures/Booklet.xml
  e2e/cypress/fixtures/Booklet_sameBookletID.xml
  e2e/cypress/fixtures/Booklet_sameTestlets.xml
  e2e/cypress/fixtures/Booklet_sameUnitIDs.xml
  e2e/cypress/fixtures/Booklet_sameUnitIDs_Alias.xml
  frontend/src/app/sys-check/unit-check/unit-check.component.ts
  frontend/src/app/test-controller/components/unithost/unithost.component.spec.ts
  frontend/src/app/test-controller/components/unithost/unithost.component.ts
  frontend/src/app/test-controller/interfaces/verona.interfaces.ts
  sampledata/Booklet.xml
Due: build-backend, build-db, build-frontend, build-broadcasting-service, test-backend-unit, test-frontend-unit, test-broadcasting-service-unit, test-e2e, test-backend-api

Update to version 15.0.0-rc3
  dist-src/.env
  dist-src/install.sh
  docs/CHANGELOG.md
  package.json
  sampledata/Booklet.xml
  sampledata/Booklet2.xml
  sampledata/Booklet3.xml
  sampledata/SysCheck.xml
  sampledata/Testtakers.xml
  sampledata/Unit.xml
  sampledata/Unit2.xml
Due: none

[ci] fix initialisation test
  .gitlab-ci.yml
Due: none

[be] Fix init-tests an CI, second guess
  .gitlab-ci.yml
Due: none

[fe] Re-enable retries for test-controller-calls
  frontend/src/app/retry.interceptor.ts
Due: build-frontend, test-frontend-unit, test-e2e

[be] Increase max_execution_time for upload-endpoint
  .idea/testcenter.iml
  backend/src/controller/WorkspaceController.class.php
Due: build-backend, build-db, test-backend-unit, test-backend-api

[be] Give correct error response on fatal errors.
  .idea/php.xml
  backend/index.php
  backend/src/middleware/ErrorHandler.class.php
Due: build-backend, build-db, test-backend-unit, test-backend-api

[fe] Give visual feedback while a file uploaded successfully but the backend still needs time to process it.
  frontend/src/app/workspace-admin/files/iqb-files-upload/iqb-files-upload.component.html
  frontend/src/app/workspace-admin/files/iqb-files.scss
Due: build-frontend, test-frontend-unit, test-e2e

[be] Only show fatal error message if error is really fatal
  backend/index.php
Due: build-backend, build-db, test-backend-unit, test-backend-api

[be] Aggregate errors and warnings in file report, when a file have more than 5.
  backend/src/files/File.class.php
  backend/test/unit/files/FileTest.php
Due: build-backend, build-db, test-backend-unit, test-backend-api

[be] Clean up table login_session_groups correctly after deleting whole workspace.
  backend/src/dao/AdminDAO.class.php
  backend/src/dao/SessionDAO.class.php
  scripts/database/patches.d/15.0.0-rc1.sql
Due: build-backend, build-db, test-backend-unit, test-backend-api

Build File-service for e2e-tests
  .gitlab-ci.yml
Due: none

[fe] Open CSP to allow blob in image src
  frontend/config/nginx.conf
Due: build-frontend, test-frontend-unit, test-e2e

Add missing dependency to step test-e2e
  .gitlab-ci.yml
Due: none

[be] fix unit test
  backend/test/unit/dao/SessionDAOTest.php
Due: build-backend, build-db, test-backend-unit, test-backend-api

Update to version 15.0.0-rc4
  dist-src/.env
  dist-src/install.sh
  docs/CHANGELOG.md
  package.json
  sampledata/Booklet.xml
  sampledata/Booklet2.xml
  sampledata/Booklet3.xml
  sampledata/SysCheck.xml
  sampledata/Testtakers.xml
  sampledata/Unit.xml
  sampledata/Unit2.xml
Due: none

[be] Upgrade PHP patch version and packages
  .idea/php.xml
  backend/composer.json
  backend/composer.lock
  docker/backend.Dockerfile
  scripts/make/misc.mk
Due: build-backend, build-db, test-backend-unit, test-backend-api

[be] Write regression test for duplicate-group-token bug.
  backend/test/unit/dao/SessionDAOTest.php
  backend/test/unit/test-helper/CreateGroupTokenTask.php
Due: build-backend, build-db, test-backend-unit, test-backend-api

Testwise increase timer to maybe fix CI issue
  test/api/test.js
Due: none

[be] Fix duplicate group token bug:
  backend/src/dao/SessionDAO.class.php
  backend/test/unit/dao/SessionDAOTest.php
  backend/test/unit/test-helper/CreateGroupTokenTask.php
Due: build-backend, build-db, test-backend-unit, test-backend-api

Improve logging of API-Tests
  test/api/test.js
Due: none

[be] Fix Database structure dump
  backend/src/dao/DAO.class.php
  scripts/database/full.sql
Due: build-backend, build-db, test-backend-unit, test-backend-api

Update to version 15.0.0-rc5
  dist-src/.env
  dist-src/install.sh
  docs/CHANGELOG.md
  package.json
  sampledata/Booklet.xml
  sampledata/Booklet2.xml
  sampledata/Booklet3.xml
  sampledata/SysCheck.xml
  sampledata/Testtakers.xml
  sampledata/Unit.xml
  sampledata/Unit2.xml
  scripts/create-new-version.sh
  scripts/version.js
Due: none

[be] Fix unit tests
  backend/test/unit/dao/SessionDAOTest.php
  backend/test/unit/testdata.sql
Due: build-backend, build-db, test-backend-unit, test-backend-api

Update to version 15.0.0-rc6
  dist-src/.env
  dist-src/install.sh
  docs/CHANGELOG.md
  package.json
  sampledata/Booklet.xml
  sampledata/Booklet2.xml
  sampledata/Booklet3.xml
  sampledata/SysCheck.xml
  sampledata/Testtakers.xml
  sampledata/Unit.xml
  sampledata/Unit2.xml
Due: none

[be] Block workspace for upload/delete- actions while upload/delete-actions are running.
  backend/routes.php
  backend/src/middleware/IsWorkspaceBlocked.class.php
  docs/CHANGELOG.md
  docs/api/workspace.spec.yml
Due: build-backend, build-db, test-backend-unit, test-backend-api

[ci] fix build target
  .gitlab-ci.yml
Due: none

Update to version 15.0.0-rc7
  dist-src/.env
  dist-src/install.sh
  docs/CHANGELOG.md
  package.json
  sampledata/Booklet.xml
  sampledata/Booklet2.xml
  sampledata/Booklet3.xml
  sampledata/SysCheck.xml
  sampledata/Testtakers.xml
  sampledata/Unit.xml
  sampledata/Unit2.xml
Due: none

[be] Small fix on warning
  backend/src/files/File.class.php
Due: build-backend, build-db, test-backend-unit, test-backend-api

[be] Allow more Database connections
  scripts/database/my.cnf
Due: build-backend, build-db, test-backend-unit, test-backend-api
