Repository iqb-berlin/testcenter: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend, build-frontend, build-broadcasting-service, test-backend-unit, test-frontend-unit, test-broadcasting-service-unit, test-e2e, test-backend-api

build-backend:
  stage: build
  script:
  - apk add make curl
  - curl -SL https://github.com/docker/compose/releases/download/v2.6.0/docker-compose-linux-x86_64 -o /usr/local/bin/docker-compose
  - chmod +x /usr/local/bin/docker-compose
  - make init
  - make build service=testcenter-backend
  ...

build-frontend:
  stage: build
  script:
  - apk add make curl
  - curl -SL https://github.com/docker/compose/releases/download/v2.6.0/docker-compose-linux-x86_64 -o /usr/local/bin/docker-compose
  - chmod +x /usr/local/bin/docker-compose
  - make init
  - make build service=testcenter-frontend
  ...

build-broadcasting-service:
  stage: build
  script:
  - apk add make curl
  - curl -SL https://github.com/docker/compose/releases/download/v2.6.0/docker-compose-linux-x86_64 -o /usr/local/bin/docker-compose
  - chmod +x /usr/local/bin/docker-compose
  - make init
  - make build service=testcenter-broadcasting-service
  ...

test-backend-unit:
  stage: test
  needs:
  - job: build-backend
    artifacts: true
  script:
  - apk add make docker-compose
  - make init
  - docker load -i backend_image.tar
  - make test-backend-unit

test-frontend-unit:
  stage: test
  needs:
  - job: build-frontend
    artifacts: true
  script:
  - apk add make docker-compose
  - make init-env
  - make init-frontend
  - docker load -i frontend_image.tar
  - make test-frontend-unit

test-broadcasting-service-unit:
  stage: test
  needs:
  - job: build-broadcasting-service
    artifacts: true
  script:
  - apk add make docker-compose
  - make init-env
  - docker load -i bs_image.tar
  - make test-broadcasting-service-unit

test-e2e:
  stage: test
  needs:
  - job: build-frontend
    artifacts: true
  - job: build-backend
    artifacts: true
  - job: build-broadcasting-service
    artifacts: true
  script:
  - apk add make
  - docker load -i frontend_image.tar
  - docker load -i backend_image.tar
  - docker load -i bs_image.tar
  ...

test-backend-api:
  stage: test
  needs:
  - job: build-backend
    artifacts: true
  script:
  - apk add make
  - make init
  - make test-backend-api

[Backend] Refactor File so it does not store ValidationReport in another format as it is actually used.
  backend/src/controller/WorkspaceController.class.php
  backend/src/data-collection/FileData.class.php
  backend/src/data-collection/ValidationReportEntry.class.php
  backend/src/files/File.class.php
  backend/src/files/XMLFile.class.php
Due: build-backend, test-backend-unit, test-backend-api

[Backend] Refactor Workspace reading, so that all files get stored and derived data like logins afterwards, so we have the full workspace already mirrored when calculating the derived data.
  backend/src/dao/WorkspaceDAO.class.php
  backend/src/files/XMLFileUnit.class.php
  backend/src/workspace/Workspace.class.php
Due: build-backend, test-backend-unit, test-backend-api

[Backend] Refactor WorkspaceDAo to know its workspace id and path instead of take it as parameter in every single call.
  backend/src/controller/Controller.class.php
  backend/src/controller/WorkspaceController.class.php
  backend/src/dao/WorkspaceDAO.class.php
  backend/src/workspace/Workspace.class.php
Due: build-backend, test-backend-unit, test-backend-api

Add outline to user input form-fields. Resolves #74
  frontend/src/app/app-root/code-input/code-input.component.html
  frontend/src/app/app-root/login/login.component.html
  frontend/src/app/test-controller/components/unithost/unithost.component.html
Due: build-frontend, test-frontend-unit

[Backend] Refactor WorkspaceDAO: Store and restore Verona-Metadata correctly again, get rid of FileSpecialInfo field & class and duplication od label and descriptions-properties.
  backend/initialize.php
  backend/src/controller/WorkspaceController.class.php
  backend/src/dao/WorkspaceDAO.class.php
  backend/src/data-collection/FileData.class.php
  backend/src/data-collection/FileSpecialInfo.class.php
  backend/src/data-collection/VeronaModuleMeta.class.php
  backend/src/files/File.class.php
  backend/src/files/ResourceFile.class.php
  backend/src/files/XMLFileBooklet.class.php
  backend/src/files/XMLFileTesttakers.class.php
  backend/src/files/XMLFileUnit.class.php
  backend/src/helper/TestEnvironment.class.php
  backend/src/helper/Version.class.php
  backend/src/workspace/Workspace.class.php
  backend/test/unit/helper/VersionTest.php
  scripts/database/mysql.patches.d/next.sql
Due: build-backend, test-backend-unit, test-backend-api

[Backend] Refactor File-Model: Merge with
  backend/src/controller/WorkspaceController.class.php
  backend/src/dao/WorkspaceDAO.class.php
  backend/src/data-collection/FileData.class.php
  backend/src/data-collection/FileSpecialInfo.class.php
  backend/src/data-collection/VeronaModuleMeta.class.php
  backend/src/files/File.class.php
  backend/src/files/ResourceFile.class.php
  backend/src/helper/Version.class.php
  backend/src/workspace/Workspace.class.php
  backend/test/unit/helper/VersionTest.php
Due: build-backend, test-backend-unit, test-backend-api

Show the clear button once all uploads are finished. Resolves #67
  frontend/src/app/workspace-admin/files/iqb-files-upload-queue/iqb-files-upload-queue.component.html
  frontend/src/app/workspace-admin/files/iqb-files-upload-queue/iqb-files-upload-queue.component.ts
Due: build-frontend, test-frontend-unit

Hide the ok button on new upload
  frontend/src/app/workspace-admin/files/iqb-files-upload-queue/iqb-files-upload-queue.component.ts
Due: build-frontend, test-frontend-unit

Update CHANGELOG.md
  docs/CHANGELOG.md
Due: none

Enlarge database field for unit response data (GeoGebra can produce huge blobs).
  scripts/database/mysql.patches.d/next.sql
Due: none

Reset questionaireReport length when leaving the syscheck report
  frontend/src/app/sys-check/report/report.component.ts
Due: build-frontend, test-frontend-unit

Update to version 13.2.1
  dist-src/.env
  docs/CHANGELOG.md
  package.json
  sampledata/Booklet.xml
  sampledata/Booklet2.xml
  sampledata/Booklet3.xml
  sampledata/SysCheck.xml
  sampledata/Testtakers.xml
  sampledata/Unit.xml
  sampledata/Unit2.xml
  scripts/database/mysql.patches.d/13.2.1.sql
Due: none

Temporarily include audit tools
  audit.sh
  audit/get_files.sh
  audit/load_booklet.sh
Due: none

Reset all questionaire answers when users is on the welcome page of a system check
  frontend/src/app/sys-check/report/report.component.ts
  frontend/src/app/sys-check/welcome/welcome.component.ts
Due: build-frontend, test-frontend-unit

Fix linting errors
  frontend/src/app/workspace-admin/files/iqb-files-upload-queue/iqb-files-upload-queue.component.ts
Due: build-frontend, test-frontend-unit

Add memory usage to audit script
  audit.sh
Due: none

[Backend] Don't load Booklets or Units from file, when they are restored from DB.
  backend/src/files/XMLFile.class.php
  backend/src/files/XMLFileUnit.class.php
Due: build-backend, test-backend-unit, test-backend-api

Update audit script
  audit.sh
  audit/get_files.sh
  audit/load_booklet.sh
Due: none

Remove audit script from repo
  audit.sh
  audit/get_files.sh
  audit/load_booklet.sh
Due: none

[Backend] Don't throw errors when restore Files from DB
  backend/src/data-collection/FileData.class.php
  backend/src/files/XMLFileUnit.class.php
Due: build-backend, test-backend-unit, test-backend-api

[Backend] Make the output of `[GET] /workspace/ws_id/files` backwards compatible
  backend/src/controller/WorkspaceController.class.php
Due: build-backend, test-backend-unit, test-backend-api

[Backend] When reading in all files we store also the relations. But after the files are stored, so we can already resolve the relations.
  backend/src/dao/WorkspaceDAO.class.php
  backend/src/data-collection/FileRelation.class.php
  backend/src/files/XMLFileBooklet.class.php
  backend/src/files/XMLFileSysCheck.class.php
  backend/src/files/XMLFileTesttakers.class.php
  backend/src/files/XMLFileUnit.class.php
  backend/src/workspace/Workspace.class.php
  backend/src/workspace/WorkspaceValidator.class.php
Due: build-backend, test-backend-unit, test-backend-api

Update to Version 13.2.2
  dist-src/.env
  docs/CHANGELOG.md
  package.json
  sampledata/Booklet.xml
  sampledata/Booklet2.xml
  sampledata/Booklet3.xml
  sampledata/SysCheck.xml
  sampledata/Testtakers.xml
  sampledata/Unit.xml
  sampledata/Unit2.xml
  scripts/database/mysql.patches.d/13.2.1.sql
Due: none

Syscheck questionare header value from textnode
  frontend/src/app/sys-check/questionnaire/questionnaire.component.html
Due: build-frontend, test-frontend-unit

Add word-break for list elements. Resolves #150
  frontend/src/app/sys-check/report/report.component.css
Due: build-frontend, test-frontend-unit

Add restoreDefault function to customtext.service
  frontend/src/app/app-root/test-starter/test-starter.component.ts
  frontend/src/app/shared/services/customtext/customtext.service.ts
  frontend/src/app/shared/services/maindata/maindata.service.ts
Due: build-frontend, test-frontend-unit

Add tlk text as customText. The customtext key is called tlk-text
  frontend/src/app/app-root/monitor-starter/monitor-starter.component.html
Due: build-frontend, test-frontend-unit

Remove exception for routing when clicking on iqb-logo
  frontend/src/app/test-controller/routing/unit-deactivate.guard.ts
Due: build-frontend, test-frontend-unit

[Backend] Repair file relation storage
  backend/src/dao/WorkspaceDAO.class.php
Due: build-backend, test-backend-unit, test-backend-api

Re-enable customTexts for booklets. Update booklet xsd and unit test in the backend regarding the xsd
  backend/test/unit/files/XMLFileTest.php
  definitions/vo_Booklet.xsd
  frontend/src/app/test-controller/services/test-loader.service.ts
Due: build-backend, build-frontend, test-backend-unit, test-frontend-unit, test-backend-api

Improve updter script to not reset all TLS settings when changing
  dist-src/update.sh
Due: none

Restore customTexts to default values after terminating a test
  frontend/src/app/shared/services/customtext/customtext.service.ts
  frontend/src/app/shared/services/maindata/maindata.service.ts
  frontend/src/app/test-controller/components/test-status/test-status.component.ts
  frontend/src/app/test-controller/components/unit-menu/unit-menu.component.ts
Due: build-frontend, test-frontend-unit

[Backend] Fix query
  backend/src/dao/AdminDAO.class.php
Due: build-backend, test-backend-unit, test-backend-api

Changed customText key to gm_tlk_selection_text and added label and default value to the custom-text.json
  definitions/custom-texts.json
  frontend/src/app/app-root/monitor-starter/monitor-starter.component.html
Due: build-backend, build-frontend, test-backend-unit, test-frontend-unit, test-backend-api

Remove unnecessary console.log
  frontend/src/app/test-controller/routing/unit-deactivate.guard.ts
Due: build-frontend, test-frontend-unit

[Backend] Fix and optimize Endpoints for getting units and booklets
  backend/src/controller/BookletController.class.php
  backend/src/controller/TestController.class.php
  backend/src/controller/WorkspaceController.class.php
  backend/src/dao/WorkspaceDAO.class.php
  backend/src/data-collection/FileRelation.class.php
  backend/src/data-collection/FileRelationshipType.class.php
  backend/src/files/File.class.php
  backend/src/files/ResourceFile.class.php
  backend/src/files/XMLFile.class.php
  backend/src/files/XMLFileBooklet.class.php
  backend/src/files/XMLFileSysCheck.class.php
  backend/src/files/XMLFileTesttakers.class.php
  backend/src/files/XMLFileUnit.class.php
  backend/src/workspace/BookletsFolder.class.php
  backend/src/workspace/Workspace.class.php
  backend/test/unit/files/XMLFilesUnitTest.php
  backend/test/unit/workspace/BookletsFolderTest.php
  scripts/database/mysql.patches.d/next.sql
Due: build-backend, test-backend-unit, test-backend-api

[Backend] Fix API-tests against MySQL
  backend/src/helper/TestEnvironment.class.php
  test/api/dredd-hooks.js
Due: build-backend, test-backend-unit, test-backend-api

[Backend] remove already solved TODOs
  backend/routes.php
Due: build-backend, test-backend-unit, test-backend-api

[Backend] Repair patchLock-Endpoint
  backend/src/controller/TestController.class.php
Due: build-backend, test-backend-unit, test-backend-api

[Backend] Remove debug stuff
  backend/src/dao/InitDAO.class.php
Due: build-backend, test-backend-unit, test-backend-api

Path conditions:
  build-backend: (any of: backend/**/*, database/**/*, definitions/**/*) or (any of: e2e/**/*)
  build-frontend: (any of: frontend/**/*, common/**/*) or (any of: e2e/**/*)
  build-broadcasting-service: (any of: broadcasting-service/**/*, common/**/*) or (any of: e2e/**/*)
  test-backend-unit: any of: backend/**/*, database/**/*, definitions/**/*
  test-frontend-unit: any of: frontend/**/*, common/**/*
  test-broadcasting-service-unit: any of: broadcasting-service/**/*, common/**/*
  test-e2e: any of: e2e/**/*
  test-backend-api: any of: backend/**/*, database/**/*, definitions/**/*
