Repository iqb-berlin/testcenter: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend, build-db, build-frontend, build-broadcasting-service, build-file-service, test-backend-unit, test-frontend-unit, test-broadcasting-service-unit, test-e2e, test-backend-api, test-file-service-api

Path conditions:
  build-backend: (any of: backend/**/*, scripts/database/**/*, definitions/**/*) or (any of: e2e/**/*)
  build-db: any of: backend/**/*, scripts/database/**/*, definitions/**/*
  build-frontend: (any of: frontend/**/*, common/**/*) or (any of: e2e/**/*)
  build-broadcasting-service: (any of: broadcasting-service/**/*, common/**/*) or (any of: e2e/**/*)
  build-file-service: any of: scripts/file-service/**/*
  test-backend-unit: any of: backend/**/*, scripts/database/**/*, definitions/**/*
  test-frontend-unit: any of: frontend/**/*, common/**/*
  test-broadcasting-service-unit: any of: broadcasting-service/**/*, common/**/*
  test-e2e: (any of: frontend/**/*, common/**/*) or (any of: e2e/**/*)
  test-backend-api: any of: backend/**/*, scripts/database/**/*, definitions/**/*
  test-file-service-api: any of: scripts/file-service/**/*

optimization and adjusments
  e2e/cypress/e2e/Test-Controller/Demo.cy.ts
  e2e/cypress/e2e/Test-Controller/Review.cy.ts
  e2e/cypress/e2e/superadmin.cy.ts
  e2e/cypress/e2e/utils.ts
  e2e/cypress/e2e/workspace-admin.cy.ts
  frontend/src/app/shared/components/confirm-dialog/confirm-dialog.component.html
  frontend/src/app/test-controller/components/review-dialog/review-dialog.component.html
  frontend/src/app/test-controller/components/unithost/unithost.component.html
Due: build-backend, build-frontend, build-broadcasting-service, test-frontend-unit, test-e2e

optimzation/ adjustments sessionm. hot-modes
  e2e/cypress/e2e/Session-Management/hot-restart-mode.cy.ts
  e2e/cypress/e2e/Session-Management/hot-return-mode.cy.ts
Due: build-backend, build-frontend, build-broadcasting-service, test-e2e

optimzation sessionm. testt. dublicates
  e2e/cypress/e2e/Session-Management/testtakers-duplicates.cy.ts
Due: build-backend, build-frontend, build-broadcasting-service, test-e2e

be: Fix broken unit-tests
  backend/src/helper/TestEnvironment.class.php
  backend/test/unit/TestDB.class.php
  backend/test/unit/files/XMLFileTest.php
Due: build-backend, build-db, test-backend-unit, test-backend-api

fe: Add warning in locked-block-view
  definitions/custom-texts.json
  docs/pages/custom-texts.md
  frontend/src/app/test-controller/components/unithost/unithost.component.html
Due: build-backend, build-db, build-frontend, test-backend-unit, test-frontend-unit, test-e2e, test-backend-api

update packages
  package-lock.json
  package.json
Due: none

make: small syntax improvement
  scripts/make/misc.mk
Due: none

fe: Fix loophole in time restriction
  frontend/src/app/test-controller/routing/unit-deactivate.guard.ts
Due: build-frontend, test-frontend-unit, test-e2e

add more cy-data attributes
  e2e/cypress/e2e/Test-Controller/Demo.cy.ts
  e2e/cypress/e2e/Test-Controller/Review.cy.ts
  frontend/src/app/test-controller/components/unithost/unithost.component.html
Due: build-backend, build-frontend, build-broadcasting-service, test-frontend-unit, test-e2e

Replacing a wait with data-cy attribute
  e2e/cypress/e2e/Test-Controller/Demo.cy.ts
  e2e/cypress/e2e/Test-Controller/Review.cy.ts
  sampledata/system-test/CY_Unit101.xml
Due: build-backend, build-frontend, build-broadcasting-service, test-e2e

Improve Syscheck
  frontend/src/app/app-root/code-input/code-input.component.html
  frontend/src/app/app-root/login/login.component.html
  frontend/src/app/app-root/starter/starter.component.html
  frontend/src/app/shared/components/error/error.component.html
  frontend/src/app/sys-check/network-check/network-check.component.html
  frontend/src/app/sys-check/network-check/network-check.component.ts
  frontend/src/app/sys-check/questionnaire/questionnaire.component.css
  frontend/src/app/sys-check/questionnaire/questionnaire.component.html
  frontend/src/app/sys-check/questionnaire/questionnaire.component.ts
  frontend/src/app/sys-check/report/report.component.css
  frontend/src/app/sys-check/report/report.component.html
  frontend/src/app/sys-check/report/report.component.ts
  frontend/src/app/test-controller/components/test-status/test-status.component.html
  frontend/src/app/test-controller/components/unithost/unithost.component.html
  frontend/src/iqb-theme1.scss
  sampledata/SysCheck.xml
Due: build-frontend, test-frontend-unit, test-e2e

[e2e] Fix SysCheck tests
  e2e/cypress/e2e/sys-check.cy.ts
  e2e/cypress/e2e/utils.ts
  frontend/src/app/sys-check/questionnaire/questionnaire.component.html
Due: build-backend, build-frontend, build-broadcasting-service, test-frontend-unit, test-e2e

[backend] Fix unit test for changed SysCheck example-file
  backend/test/unit/files/XMLFileSysCheckTest.php
Due: build-backend, build-db, test-backend-unit, test-backend-api

[frontend] Fix behaviour on finish-test
  frontend/src/app/test-controller/services/test-controller.service.ts
Due: build-frontend, test-frontend-unit, test-e2e

Restore correct mime-type-header when loading resources
  backend/src/controller/TestController.class.php
  backend/src/helper/FileExt.class.php
  docs/api/file.spec.yml
  docs/api/test.spec.yml
  docs/api/workspace.spec.yml
  scripts/file-service/nginx.conf
  test/api/hooks.js
Due: build-backend, build-db, build-file-service, test-backend-unit, test-backend-api, test-file-service-api

frontend: Add optional fullscreen-mode
  .idea/php.xml
  common/src/classes/booklet-config-data.class.ts
  definitions/booklet-config.json
  definitions/custom-texts.json
  docs/CHANGELOG.md
  docs/pages/booklet-config.md
  docs/pages/custom-texts.md
  frontend/src/app/app.component.ts
  frontend/src/app/shared/services/maindata/maindata.service.ts
  frontend/src/app/test-controller/components/test-controller/test-controller.component.html
  frontend/src/app/test-controller/components/test-controller/test-controller.component.ts
  package-lock.json
  package.json
Due: build-backend, build-db, build-frontend, build-broadcasting-service, test-backend-unit, test-frontend-unit, test-broadcasting-service-unit, test-e2e, test-backend-api

Fix small issue in makescript
  scripts/make/misc.mk
Due: none

[frontend] fix some linting errors
  frontend/src/app/shared/services/maindata/maindata.service.ts
  frontend/src/app/test-controller/components/test-controller/test-controller.component.ts
Due: build-frontend, test-frontend-unit, test-e2e

[e2e] Small syntax improvment
  e2e/cypress/e2e/utils.ts
Due: build-backend, build-frontend, build-broadcasting-service, test-e2e

[frontend] Centralize test align in unit menu buttons
  frontend/src/app/test-controller/components/test-controller/test-controller.component.css
Due: build-frontend, test-frontend-unit, test-e2e

[frontend] Attempt to handle the mysterious heisenbug stat sometimes there is "status" in the url instead of a test-id.
  frontend/src/app/test-controller/components/test-controller/test-controller.component.ts
Due: build-frontend, test-frontend-unit, test-e2e

[frontend] Improve block-is-locked-screen
  .idea/php.xml
  definitions/custom-texts.json
  docs/pages/custom-texts.md
  frontend/src/app/test-controller/components/unithost/unithost.component.html
  scripts/make/misc.mk
Due: build-backend, build-db, build-frontend, test-backend-unit, test-frontend-unit, test-e2e, test-backend-api

[env] Use unprivileged users within Docker containers
  docker/backend-entrypoint.sh
  docker/backend.Dockerfile
  docker/broadcasting-service.Dockerfile
  docker/database.Dockerfile
  docker/file-service.Dockerfile
  docker/frontend.Dockerfile
Due: none

[env] Makefile cleanup
  docker/default.env
  scripts/make/app-control.mk
  scripts/make/misc.mk
  scripts/make/test.mk
Due: none

[env] Fix healthcheck for DB
  docker/docker-compose.dev.yml
Due: none

[env] Fix init test image refs
  docker/docker-compose.initialization-test.yml
Due: none

[env] Use cached docker image for development and CI
  docker/docker-compose.dev.yml
Due: none

[env] Fix missing volumes
  docker/docker-compose.dev.yml
Due: none

[env] Overhaul CI script
  .gitlab-ci.yml
  scripts/gitlab-ci/docs.yml
  scripts/gitlab-ci/tests.yml
Due: none

Update to version 15.0.0
  dist-src/.env
  dist-src/install.sh
  docs/CHANGELOG.md
  docs/pages/custom-texts.md
  package.json
  sampledata/Booklet.xml
  sampledata/Booklet2.xml
  sampledata/Booklet3.xml
  sampledata/SysCheck.xml
  sampledata/Testtakers.xml
  sampledata/Unit.xml
  sampledata/Unit2.xml
Due: none

[db] Fix patch file name
  scripts/database/patches.d/15.0.0.sql
Due: build-backend, build-db, test-backend-unit, test-backend-api

[Backend] Small fixes in init-tests
  backend/test/initialization/tests/general/re-initialize.sh
  docker/docker-compose.initialization-test.yml
Due: build-backend, build-db, test-backend-unit, test-backend-api

[Backend] Include conditions for adaptive testing to booklet specification
  backend/test/unit/files/XMLFilesBookletTest.php
  definitions/vo_Booklet.xsd
Due: build-backend, build-db, test-backend-unit, test-backend-api

[Frontend] Major refactoring of Test-Controller to avoid duplicate structures I
  docker/docker-compose.dev.yml
  frontend/src/app/group-monitor/booklet/booklet.service.ts
  frontend/src/app/group-monitor/booklet/booklet.util.ts
  frontend/src/app/group-monitor/group-monitor.interfaces.ts
  frontend/src/app/group-monitor/test-session-manager/test-session-manager.service.spec.ts
  frontend/src/app/group-monitor/test-session/test-session.component.ts
  frontend/src/app/group-monitor/test-session/test-session.util.spec.ts
  frontend/src/app/group-monitor/unit-test-example-data.spec.ts
  frontend/src/app/shared/interfaces/booklet.interfaces.ts
  frontend/src/app/shared/services/bookletParser.service.ts
  frontend/src/app/shared/shared.module.ts
  frontend/src/app/test-controller/classes/test-controller.classes.ts
  frontend/src/app/test-controller/components/test-controller/test-controller.component.ts
  frontend/src/app/test-controller/components/unithost/unithost.component.html
  frontend/src/app/test-controller/components/unithost/unithost.component.ts
  frontend/src/app/test-controller/interfaces/test-controller.interfaces.ts
  frontend/src/app/test-controller/routing/unit-activate.guard.ts
  frontend/src/app/test-controller/routing/unit-deactivate.guard.ts
  frontend/src/app/test-controller/services/test-controller.service.ts
  frontend/src/app/test-controller/services/test-loader.service.ts
Due: build-frontend, test-frontend-unit, test-e2e

[setup] Fix file rights for backend data dir
  dist-src/docker-compose.prod.yml
  docker/backend-entrypoint.sh
  docker/backend.Dockerfile
  docker/docker-compose.yml
  scripts/make/app-control.mk
Due: none

[setup] Remove USER from file service
  docker/file-service.Dockerfile
Due: none

[setup] Refactor Docker healthchecks
  docker/docker-compose.dev.yml
  docker/docker-compose.yml
Due: none

[Frontend] Major refactoring of Test-Controller to avoid duplicate structures II
  frontend/src/app/app.module.ts
  frontend/src/app/group-monitor/booklet/booklet.service.ts
  frontend/src/app/shared/interfaces/booklet.interfaces.ts
  frontend/src/app/shared/services/booklet-parser.service.ts
  frontend/src/app/test-controller/components/debug-pane/debug-pane.component.css
  frontend/src/app/test-controller/components/debug-pane/debug-pane.component.html
  frontend/src/app/test-controller/components/debug-pane/debug-pane.component.ts
  frontend/src/app/test-controller/components/test-controller/test-controller.component.css
  frontend/src/app/test-controller/components/test-controller/test-controller.component.html
  frontend/src/app/test-controller/components/test-controller/test-controller.component.ts
  frontend/src/app/test-controller/components/unithost/unithost.component.html
  frontend/src/app/test-controller/components/unithost/unithost.component.ts
  frontend/src/app/test-controller/interfaces/test-controller.interfaces.ts
  frontend/src/app/test-controller/services/test-loader.service.ts
  frontend/src/app/test-controller/test-controller.module.ts
Due: build-frontend, test-frontend-unit, test-e2e

add more data-cy attributes
  e2e/cypress/e2e/Test-Controller/Review.cy.ts
  frontend/src/app/test-controller/components/test-controller/test-controller.component.html
  sampledata/system-test/CY_Unit100.xml
Due: build-backend, build-frontend, build-broadcasting-service, test-frontend-unit, test-e2e
