Repository iqb-berlin/testcenter: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend, build-db, build-frontend, build-broadcasting-service, build-file-service, test-backend-unit, test-frontend-unit, test-broadcasting-service-unit, test-e2e, test-backend-api, test-file-service-api

Path conditions:
  build-backend: (any of: backend/**/*, scripts/database/**/*, definitions/**/*) or (any of: e2e/**/*)
  build-db: any of: backend/**/*, scripts/database/**/*, definitions/**/*
  build-frontend: (any of: frontend/**/*, common/**/*) or (any of: e2e/**/*)
  build-broadcasting-service: (any of: broadcasting-service/**/*, common/**/*) or (any of: e2e/**/*)
  build-file-service: any of: scripts/file-service/**/*
  test-backend-unit: any of: backend/**/*, scripts/database/**/*, definitions/**/*
  test-frontend-unit: any of: frontend/**/*, common/**/*
  test-broadcasting-service-unit: any of: broadcasting-service/**/*, common/**/*
  test-e2e: (any of: frontend/**/*, common/**/*) or (any of: e2e/**/*)
  test-backend-api: any of: backend/**/*, scripts/database/**/*, definitions/**/*
  test-file-service-api: any of: scripts/file-service/**/*

[fs] Optimize Redis connection pooling
  scripts/file-service/auth/redis_connector.lua
Due: build-file-service, test-file-service-api

[be] Add workerpool settings for Apache
  backend/config/workers.conf
  docker/backend.Dockerfile
Due: build-backend, build-db, test-backend-unit, test-backend-api

[setup] Remove Timeouts for Traefik
  docker/docker-compose.dev.yml
Due: none

[docs] Update installation guide
  docs/pages/installation-dev.md
Due: none

[fe] Add error handling for 504 errors.
  frontend/src/app/error.interceptor.ts
Due: build-frontend, test-frontend-unit, test-e2e

Include current package-lock.json
  package-lock.json
Due: none

[BE] Set TLS_ENABLED on true by default for prod.
  docker/docker-compose.dev.yml
  docker/docker-compose.yml
Due: none

[fe] Remove console warning
  frontend/src/app/test-controller/components/test-controller/test-controller.component.ts
Due: build-frontend, test-frontend-unit, test-e2e

[e2e] Make them run on CI again
  .dockerignore
Due: none

[be] Combine inserts
  backend/src/dao/WorkspaceDAO.class.php
  backend/test/unit/dao/WorkspaceDAOTest.php
Due: build-backend, build-db, test-backend-unit, test-backend-api

[be] Don't look initialize script forever on error.
  backend/initialize.php
Due: build-backend, build-db, test-backend-unit, test-backend-api

Update to version 15.0.0-rc8
  dist-src/.env
  dist-src/install.sh
  docs/CHANGELOG.md
  package.json
  sampledata/Booklet.xml
  sampledata/Booklet2.xml
  sampledata/Booklet3.xml
  sampledata/SysCheck.xml
  sampledata/Testtakers.xml
  sampledata/Unit.xml
  sampledata/Unit2.xml
Due: none

Update README.md
  README.md
Due: none

Fix backend unit test and wrong assignment
  backend/test/unit/workspace/WorkspaceCacheTest.php
  common/src/classes/test-mode-data.class.ts
Due: build-backend, build-db, build-frontend, build-broadcasting-service, test-backend-unit, test-frontend-unit, test-broadcasting-service-unit, test-e2e, test-backend-api

Update fe/bs node version and remove fibers pkg
  docker/broadcasting-service.Dockerfile
  docker/frontend.Dockerfile
  frontend/package.json
Due: build-frontend, test-frontend-unit, test-e2e

Update prod install guide
  docs/pages/installation-prod.md
Due: none

Improve README and documentation pages
  README.md
  docs/_config.yml
  docs/pages/test-session-super-states.html
Due: none

[be] Fix bug in session management:
  backend/src/controller/SessionController.class.php
  backend/src/dao/SessionDAO.class.php
  docs/CHANGELOG.md
Due: build-backend, build-db, test-backend-unit, test-backend-api

fe: Fix bug and show CustomTexts from SysCheck.XML in SysCheck
  docs/CHANGELOG.md
  frontend/src/app/sys-check/sys-check.component.ts
Due: build-frontend, test-frontend-unit, test-e2e

fe: Add customtexts to save-report-dialogue in syscheck.
  definitions/custom-texts.json
  docs/CHANGELOG.md
  docs/pages/custom-texts.md
  frontend/src/app/sys-check/report/save-report/save-report.component.html
  frontend/src/app/sys-check/report/save-report/save-report.component.ts
Due: build-backend, build-db, build-frontend, test-backend-unit, test-frontend-unit, test-e2e, test-backend-api

Update to version 14.14.0
  dist-src/.env
  package-lock.json
  package.json
  sampledata/Booklet.xml
  sampledata/Booklet2.xml
  sampledata/Booklet3.xml
  sampledata/SysCheck.xml
  sampledata/Testtakers.xml
  sampledata/Unit.xml
  sampledata/Unit2.xml
Due: none

fe: Add missing package-lock.json
  frontend/package-lock.json
Due: build-frontend, test-frontend-unit, test-e2e

e2e: remove superadmin checkbox test
  e2e/cypress/e2e/superadmin.cy.ts
Due: build-backend, build-frontend, build-broadcasting-service, test-e2e

fe: Fix bugs and improve outdated browser warning:
  .idea/testcenter.iml
  common/src/classes/test-mode-data.class.ts
  definitions/browsers.json
  definitions/custom-texts.json
  definitions/test-mode.json
  docker/docker-compose.dev.yml
  docs/index.md
  frontend/package-lock.json
  frontend/src/app/app-root/login/login.component.html
  frontend/src/app/app-root/login/login.component.ts
  package-lock.json
  package.json
  scripts/make/misc.mk
Due: build-backend, build-db, build-frontend, build-broadcasting-service, test-backend-unit, test-frontend-unit, test-broadcasting-service-unit, test-e2e, test-backend-api

Remove unless file and refresh docs pages
  cypress.config.ts
  docs/pages/custom-texts.md
  docs/pages/test-mode.md
  docs/pages/test-session-super-states.html
Due: none

Remove unless dependency
  frontend/package-lock.json
  frontend/package.json
Due: build-frontend, test-frontend-unit, test-e2e

Fix position of page 'developer guide'
  docs/pages/developer-guide.md
Due: none

Be: Fix bug in session management
  backend/src/dao/SessionDAO.class.php
Due: build-backend, build-db, test-backend-unit, test-backend-api

Be: Remove false bug in session management
  backend/src/dao/SessionDAO.class.php
Due: build-backend, build-db, test-backend-unit, test-backend-api

Task-Runner: Include missing dependency
  package-lock.json
  package.json
Due: none

make: Fix target `create-interfaces`
  scripts/make/misc.mk
Due: none

fe: update list of supported browsers
  definitions/browsers.json
Due: build-backend, build-db, test-backend-unit, test-backend-api

Update to version 15.0.0-rc9
  dist-src/.env
  dist-src/install.sh
  docs/CHANGELOG.md
  package.json
  sampledata/Booklet.xml
  sampledata/Booklet2.xml
  sampledata/Booklet3.xml
  sampledata/SysCheck.xml
  sampledata/Testtakers.xml
  sampledata/Unit.xml
  sampledata/Unit2.xml
Due: none

fe: Fix linting errors
  frontend/src/app/superadmin/users/users.component.ts
  frontend/src/app/superadmin/workspaces/workspaces.component.ts
Due: build-frontend, test-frontend-unit, test-e2e

fe: Superadmin: replace all buttons with fab
  frontend/src/app/superadmin/settings/app-config.component.html
  frontend/src/app/superadmin/users/users.component.css
  frontend/src/app/superadmin/users/users.component.html
  frontend/src/app/superadmin/users/users.component.ts
  frontend/src/app/superadmin/workspaces/workspaces.component.css
  frontend/src/app/superadmin/workspaces/workspaces.component.html
  frontend/src/app/superadmin/workspaces/workspaces.component.ts
Due: build-frontend, test-frontend-unit, test-e2e

fe: Improve super-admin settings page layout
  frontend/src/app/superadmin/settings/app-config.component.html
Due: build-frontend, test-frontend-unit, test-e2e

[frontend] Fix error hiding in super admin settings
  frontend/src/app/superadmin/settings/app-config.component.ts
Due: build-frontend, test-frontend-unit, test-e2e

fe: set subscriptSizing to dynamic for test-controller form-field
  frontend/src/app/test-controller/test-controller.module.ts
Due: build-frontend, test-frontend-unit, test-e2e

be: Improve handling of files which are there but can not be read (eg symbolic links)
  backend/src/files/File.class.php
Due: build-backend, build-db, test-backend-unit, test-backend-api

fe: Avoid racing conditions when Appconfig does not come fast enough after reload.
  frontend/src/app/app.component.ts
  frontend/src/app/shared/services/maindata/maindata.service.ts
  frontend/src/app/superadmin/settings/app-config.component.ts
Due: build-frontend, test-frontend-unit, test-e2e
