Repository iqb-berlin/testcenter: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend, build-frontend, build-broadcasting-service, build-file-service

Path conditions:
  build-backend: (any of: backend/**/*, scripts/database/**/*, definitions/**/*) or (any of: e2e/**/*)
  build-frontend: (any of: frontend/**/*, common/**/*) or (any of: e2e/**/*)
  build-broadcasting-service: (any of: broadcasting-service/**/*, common/**/*) or (any of: e2e/**/*)
  build-file-service: (any of: scripts/file-service/**/*) or (any of: e2e/**/*)

[Setup] Move task-runner Dockerfile to task-runner service dir
  docker/docker-compose.dev.yml
  docker/docker-compose.initialization-test.yml
  task-runner/Dockerfile
Due: none

[Setup] Rename 'runner' dockerfile to 'task-runner'
  docker/docker-compose.dev.yml
  docker/docker-compose.initialization-test.yml
  docker/task-runner.Dockerfile
Due: none

[Setup] Revise file service dockerfile
  docker/file-service.Dockerfile
Due: none

[Setup] Revise runner dockerfile
  docker/docker-compose.dev.yml
  docker/docker-compose.initialization-test.yml
  docker/runner.Dockerfile
  scripts/make/misc.mk
Due: none

[Setup] Revise e2e dockerfile
  docker/docker-compose.system-test-headless.yml
  docker/e2e.Dockerfile
Due: none

[Setup] Move e2e Dockerfile to e2e service dir
  docker/docker-compose.system-test-headless.yml
  e2e/Dockerfile
Due: build-backend, build-frontend, build-broadcasting-service, build-file-service

[Setup] Revise 'make commands' in app control
  .idea/php-test-framework.xml
  scripts/make/app-control.mk
Due: none

[Setup] Move frontend Dockerfile to frontend service dir
  .gitlab-ci.yml
  docker/docker-compose.dev.yml
  docker/docker-compose.local-prod.yml
  frontend/Dockerfile
Due: build-frontend

[Setup] Revise frontend dockerfile
  docker/docker-compose.dev.yml
  docker/frontend.Dockerfile
  scripts/make/misc.mk
Due: none

Repair task `make create-interfaces`
  docker/docker-compose.dev.yml
Due: none

Repair init test
  backend/test/massive-test-data.php
Due: build-backend

Unit XSD: Add optional attribute `alias` to `<Variable>`-element in variable-list.
  .idea/php-test-framework.xml
  definitions/vo_Unit.xsd
  sampledata/Unit.xml
Due: build-backend

IDEA config: Restore Database connections
  .idea/dataSources.xml
Due: none

Move gitlab-ci sub scripts to common (hidden) '.gitlab-ci' directory
  .gitlab-ci.yml
  .gitlab-ci/docs.gitlab-ci.yml
  .gitlab-ci/tests.gitlab-ci.yml
Due: none

Enhance global variables
  .gitlab-ci.yml
  scripts/make/misc.mk
Due: none

Beginning of implementation of filters
  .idea/testcenter.iml
  frontend/src/app/group-monitor/components/table-filter-box/table-filter-box.component.css
  frontend/src/app/group-monitor/components/table-filter-box/table-filter-box.component.html
  frontend/src/app/group-monitor/components/table-filter-box/table-filter-box.component.ts
  frontend/src/app/group-monitor/group-monitor.component.html
  frontend/src/app/group-monitor/group-monitor.component.ts
  frontend/src/app/group-monitor/group-monitor.interfaces.ts
  frontend/src/app/group-monitor/group-monitor.module.ts
  frontend/src/app/group-monitor/test-session-manager/test-session-manager.service.ts
Due: build-frontend

Add add_filter_dialog
  .idea/dataSources.xml
  .idea/php-test-framework.xml
  Makefile
  definitions/custom-texts.json
  frontend/src/app/group-monitor/components/add-filter-dialog/add-filter-dialog.component.css
  frontend/src/app/group-monitor/components/add-filter-dialog/add-filter-dialog.component.html
  frontend/src/app/group-monitor/components/add-filter-dialog/add-filter-dialog.component.ts
  frontend/src/app/group-monitor/components/table-filter-box/table-filter-box.component.css
  frontend/src/app/group-monitor/components/table-filter-box/table-filter-box.component.html
  frontend/src/app/group-monitor/components/table-filter-box/table-filter-box.component.ts
  frontend/src/app/group-monitor/group-monitor.component.html
  frontend/src/app/group-monitor/group-monitor.component.ts
  frontend/src/app/group-monitor/group-monitor.interfaces.ts
  frontend/src/app/group-monitor/group-monitor.module.ts
  frontend/src/app/group-monitor/test-session-manager/test-session-manager.service.ts
  package-lock.json
  package.json
Due: build-backend, build-frontend

edit filter
  frontend/src/app/group-monitor/components/add-filter-dialog/add-filter-dialog.component.ts
  frontend/src/app/group-monitor/group-monitor.component.css
  frontend/src/app/group-monitor/group-monitor.component.html
  frontend/src/app/group-monitor/group-monitor.component.ts
  frontend/src/app/group-monitor/group-monitor.interfaces.ts
  frontend/src/app/group-monitor/test-session-manager/test-session-manager.service.ts
Due: build-frontend

Advanced Mode
  frontend/src/app/group-monitor/components/add-filter-dialog/add-filter-dialog.component.html
  frontend/src/app/group-monitor/components/add-filter-dialog/add-filter-dialog.component.ts
  frontend/src/app/group-monitor/group-monitor.component.ts
  frontend/src/app/group-monitor/group-monitor.interfaces.ts
Due: build-frontend

Advanced Mode
  frontend/src/app/group-monitor/components/add-filter-dialog/add-filter-dialog.component.ts
  frontend/src/app/group-monitor/group-monitor.component.ts
  frontend/src/app/group-monitor/test-session-manager/test-session-manager.service.ts
Due: build-frontend

Add searchbox
  frontend/src/app/group-monitor/group-monitor.component.html
  frontend/src/app/group-monitor/group-monitor.component.ts
  frontend/src/app/group-monitor/group-monitor.interfaces.ts
  frontend/src/app/group-monitor/group-monitor.module.ts
  frontend/src/app/group-monitor/test-session-manager/test-session-manager.service.ts
  frontend/src/monitor-layout.css
Due: build-frontend

Revise master branch pipelines
  .gitlab-ci.yml
  .gitlab-ci/docs.gitlab-ci.yml
  .gitlab-ci/feature-pipelines.gitlab-ci.yml
  .gitlab-ci/master-pipelines.gitlab-ci.yml
  .gitlab-ci/tests.gitlab-ci.yml
  docker/docker-compose.dev.yml
  scripts/make/app-control.mk
  task-runner/Dockerfile
  test/config.docker.json
  test/config.json
Due: none

Define profiles
  .idea/dataSources.xml
  .idea/php.xml
  .idea/sqldialects.xml
  .idea/testcenter.iml
  backend/routes.php
  backend/src/controller/MonitorController.class.php
  backend/src/dao/SessionDAO.class.php
  backend/src/dao/WorkspaceDAO.class.php
  backend/src/data-collection/AccessSet.class.php
  backend/src/data-collection/Login.class.php
  backend/src/data-collection/LoginArray.class.php
  backend/src/files/XMLFileTesttakers.class.php
  definitions/vo_Booklet.xsd
  definitions/vo_Testtakers.xsd
  frontend/src/app/app-root/starter/starter.component.html
  frontend/src/app/app-root/starter/starter.component.ts
  frontend/src/app/app.interfaces.ts
  frontend/src/app/group-monitor/backend.service.ts
  frontend/src/app/group-monitor/components/add-filter-dialog/add-filter-dialog.component.ts
  frontend/src/app/group-monitor/group-monitor-routing.module.ts
  frontend/src/app/group-monitor/group-monitor.component.ts
  frontend/src/app/group-monitor/group-monitor.interfaces.ts
  frontend/src/app/group-monitor/test-session-manager/test-session-manager.service.ts
  frontend/src/app/workspace-admin/workspace.component.ts
  scripts/database/patches.d/next.sql
Due: build-backend, build-frontend

Revise release pipelines
  .gitlab-ci.yml
  .gitlab-ci/(pre-)release-pipelines.gitlab-ci.yml
Due: none

Revise master branch pipelines
  .gitlab-ci.yml
  .gitlab-ci/docs.gitlab-ci.yml
  .gitlab-ci/master-pipelines.gitlab-ci.yml
  .gitlab-ci/tests.gitlab-ci.yml
  docker/docker-compose.dev.yml
  scripts/make/app-control.mk
  task-runner/Dockerfile
  test/config.docker.json
  test/config.json
Due: none

Revise release pipelines
  .gitlab-ci.yml
  .gitlab-ci/master-pipelines.gitlab-ci.yml
Due: none

Add some filter options
  definitions/custom-texts.json
  definitions/vo_Testtakers.xsd
  docs/pages/custom-texts.md
  frontend/src/app/group-monitor/components/add-filter-dialog/add-filter-dialog.component.html
  frontend/src/app/group-monitor/components/add-filter-dialog/add-filter-dialog.component.ts
  frontend/src/app/group-monitor/group-monitor.interfaces.ts
  frontend/src/app/group-monitor/test-session-manager/test-session-manager.service.ts
  package-lock.json
Due: build-backend, build-frontend

Revise feature branch pipelines
  .gitlab-ci.yml
  broadcasting-service/README
  common/README
  definitions/README
Due: build-backend, build-frontend, build-broadcasting-service

Process testcenter versions dynamically
  .gitlab-ci.yml
Due: none

Process testcenter versions dynamically
  .gitlab-ci.yml
  package.json
Due: none
