Repository iqb-berlin/testcenter: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-backend-feature-rules, check-broadcasting-service-feature-rules, check-common-feature-rules, check-e2e-feature-rules, check-file-service-feature-rules, check-frontend-feature-rules, check-task-runner-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, build-task-runner, test-backend-unit, test-frontend-unit, test-broadcasting-service-unit, test-backend-api, test-file-service-api, test-backend-initialization, test-e2e

check-backend-feature-rules:
  stage: .pre
  interruptible: true
  allow_failure: true
  script:
  - echo $CI_COMMIT_BRANCH
  - echo $CI_PIPELINE_SOURCE
  - if [ -n "$CI_COMMIT_BRANCH" ]; then echo "commit branch string length is nonzero"; else echo "commit branch = '$CI_COMMIT_BRANCH'"; fi
  ...

check-broadcasting-service-feature-rules:
  stage: .pre
  interruptible: true
  allow_failure: true
  script:
  - echo $CI_COMMIT_BRANCH
  - echo $CI_PIPELINE_SOURCE
  - if [ -n "$CI_COMMIT_BRANCH" ]; then echo "commit branch string length is nonzero"; else echo "commit branch = '$CI_COMMIT_BRANCH'"; fi
  ...

check-common-feature-rules:
  stage: .pre
  interruptible: true
  allow_failure: true
  script:
  - echo $CI_COMMIT_BRANCH
  - echo $CI_PIPELINE_SOURCE
  - if [ -n "$CI_COMMIT_BRANCH" ]; then echo "commit branch string length is nonzero"; else echo "commit branch = '$CI_COMMIT_BRANCH'"; fi
  ...

check-e2e-feature-rules:
  stage: .pre
  interruptible: true
  allow_failure: true
  script:
  - echo $CI_COMMIT_BRANCH
  - echo $CI_PIPELINE_SOURCE
  - if [ -n "$CI_COMMIT_BRANCH" ]; then echo "commit branch string length is nonzero"; else echo "commit branch = '$CI_COMMIT_BRANCH'"; fi
  ...

check-file-service-feature-rules:
  stage: .pre
  interruptible: true
  allow_failure: true
  script:
  - echo $CI_COMMIT_BRANCH
  - echo $CI_PIPELINE_SOURCE
  - if [ -n "$CI_COMMIT_BRANCH" ]; then echo "commit branch string length is nonzero"; else echo "commit branch = '$CI_COMMIT_BRANCH'"; fi
  ...

check-frontend-feature-rules:
  stage: .pre
  interruptible: true
  allow_failure: true
  script:
  - echo $CI_COMMIT_BRANCH
  - echo $CI_PIPELINE_SOURCE
  - if [ -n "$CI_COMMIT_BRANCH" ]; then echo "commit branch string length is nonzero"; else echo "commit branch = '$CI_COMMIT_BRANCH'"; fi
  ...

check-task-runner-feature-rules:
  stage: .pre
  interruptible: true
  allow_failure: true
  script:
  - echo $CI_COMMIT_BRANCH
  - echo $CI_PIPELINE_SOURCE
  - if [ -n "$CI_COMMIT_BRANCH" ]; then echo "commit branch string length is nonzero"; else echo "commit branch = '$CI_COMMIT_BRANCH'"; fi
  ...

build-backend:
  stage: build
  variables:
    BACKEND_IMAGE_NAME: ${CI_REGISTRY_IMAGE}/iqbberlin/testcenter-backend
  before_script:
  - ip a | grep mtu
  - docker network inspect bridge | grep mtu
  - docker login --username $CI_DEPENDENCY_PROXY_USER --password $CI_DEPENDENCY_PROXY_PASSWORD $CI_DEPENDENCY_PROXY_SERVER
  ...

build-frontend:
  stage: build
  variables:
    FRONTEND_IMAGE_NAME: ${CI_REGISTRY_IMAGE}/iqbberlin/testcenter-frontend
  before_script:
  - ip a | grep mtu
  - docker network inspect bridge | grep mtu
  - cp frontend/src/environments/environment.dev.ts frontend/src/environments/environment.ts
  ...

build-broadcasting-service:
  stage: build
  variables:
    BROADCASTING_SERVICE_IMAGE_NAME: ${CI_REGISTRY_IMAGE}/iqbberlin/testcenter-broadcasting-service
  before_script:
  - ip a | grep mtu
  - docker network inspect bridge | grep mtu
  ...

Fix duplicate docker pulls of broadcasting service image
  .gitlab-ci.yml
Due: none

Fix 'socket hang up' on first test error
  test/api/test.js
Due: none

Remove 'task-runner-backend' image after each backend api test run
  scripts/make/dev-test.mk
Due: none

Fix 'testcenter-task-runner-backend' double build in GitLab CI
  .gitlab-ci.yml
Due: none

Api Tests: Replace deprecated libraray request with axios
  package-lock.json
  package.json
  test/api/test.js
Due: none

update Changelog
  docs/CHANGELOG.md
Due: none

Update to version 17.0.0
  docs/CHANGELOG.md
  package.json
  sampledata/Booklet.xml
  sampledata/Booklet2.xml
  sampledata/Booklet3.xml
  sampledata/SysCheck.xml
  sampledata/Testtakers.xml
  sampledata/Unit.xml
  sampledata/Unit2.xml
  sampledata/system-test/CY_BKL_Mode_Demo.xml
  sampledata/system-test/CY_BKL_Mode_Review.xml
  sampledata/system-test/CY_BKL_Mode_RunHotRestart.xml
  sampledata/system-test/CY_BKL_Mode_RunHotReturn.xml
  sampledata/system-test/CY_BKL_SessionManagement_HotModi.xml
  sampledata/system-test/CY_Test_Logins.xml
  sampledata/system-test/CY_Unit100.xml
  sampledata/system-test/CY_Unit101.xml
  sampledata/system-test/CY_Unit102.xml
  sampledata/system-test/CY_Unit103.xml
  sampledata/system-test/CY_Unit104.xml
  scripts/helm/helm-install-tc.sh
  scripts/helm/testcenter/Chart.yaml
Due: none

Add 'HEALTHCHECK_TCP_PORT' for kubernetes healthchecks
  .gitlab-ci.yml
Due: none

[file-service] Run 'file service' container rootless
  backend/src/helper/FileService.class.php
  backend/src/helper/SystemConfig.class.php
  docker-compose.dev.yml
  docker-compose.prod.tls.yml
  docker-compose.prod.yml
  e2e/cypress.headless.config.js
  file-service/Dockerfile
  file-service/cors.conf
  file-service/nginx.conf
  frontend/Dockerfile
  frontend/angular.json
  frontend/nginx.conf
  frontend/proxy.conf.json
  frontend/src/app/test-controller/components/unithost/unithost.component.ts
  frontend/src/app/test-controller/services/backend.service.ts
  scripts/helm/testcenter/templates/file-server/configmap.yaml
  scripts/helm/testcenter/templates/file-server/depoyment.yaml
  scripts/helm/testcenter/templates/file-server/service.yaml
  scripts/helm/testcenter/templates/traefik/ingress-route.yaml
  test/config.docker.json
Due: check-backend-feature-rules, check-e2e-feature-rules, check-file-service-feature-rules, check-frontend-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, build-task-runner, test-backend-unit, test-frontend-unit, test-backend-api, test-file-service-api, test-backend-initialization, test-e2e

Run backend with port '8080' for ordinary user processes
  .env.dev-template
  .env.prod-template
  .gitlab-ci.yml
  backend/Dockerfile
  backend/config/vhost.conf
  backend/src/helper/FileService.class.php
  docker-compose.dev.yml
  docker-compose.prod.tls.yml
  docker-compose.prod.yml
  docker-compose.yml
  e2e/cypress.headless.config.js
  e2e/docker-compose.system-test-headless.yml
  file-service/nginx.conf
  frontend/Dockerfile
  frontend/angular.json
  frontend/nginx.conf
  frontend/proxy.conf.json
  frontend/src/environments/environment.system-test.ts
  scripts/helm/testcenter/templates/backend/deployment.yaml
  scripts/helm/testcenter/templates/backend/service.yaml
  scripts/helm/testcenter/templates/file-server/configmap.yaml
  scripts/helm/testcenter/templates/traefik/ingress-route.yaml
  scripts/make/dev-test.mk
  scripts/make/dev.mk
  test/config.docker.json
  test/docker-compose.api-test.yml
Due: check-backend-feature-rules, check-e2e-feature-rules, check-file-service-feature-rules, check-frontend-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, build-task-runner, test-backend-unit, test-frontend-unit, test-backend-api, test-file-service-api, test-backend-initialization, test-e2e

Run backend containers with 'www-data' user in production
  .env.dev-template
  .env.prod-template
  backend/Dockerfile
  docker-compose.yml
  scripts/helm/testcenter/templates/backend/deployment.yaml
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

[backend] Rename 'CACHE_SERVICE_INCLUDE_FILES' environment property
  .env.dev-template
  .env.prod-template
  backend/src/helper/SystemConfig.class.php
  backend/test/initialization/docker-compose.initialization-test.yml
  docker-compose.yml
  file-service/auth/content.lua
  file-service/nginx.conf
  scripts/helm/testcenter/templates/backend/configmap.yaml
  scripts/helm/testcenter/templates/backend/job.yaml
  scripts/helm/testcenter/templates/file-server/configmap.yaml
  scripts/helm/testcenter/templates/file-server/depoyment.yaml
  scripts/helm/testcenter/values.yaml
  scripts/migration/16.0.0.sh
  test/docker-compose.api-test.yml
Due: check-backend-feature-rules, check-file-service-feature-rules, build-backend, build-file-service, build-task-runner, test-backend-unit, test-backend-api, test-file-service-api, test-backend-initialization

[backend] Remove 'dead' Cache Service property
  backend/src/helper/SystemConfig.class.php
  backend/test/initialization/docker-compose.initialization-test.yml
  docker-compose.yml
  scripts/helm/testcenter/templates/backend/configmap.yaml
  scripts/helm/testcenter/templates/backend/job.yaml
  scripts/helm/testcenter/values.yaml
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

[cache-service] Secure connection with authentication
  .env.dev-template
  .env.prod-template
  backend/src/helper/CacheService.class.php
  backend/src/helper/SystemConfig.class.php
  backend/test/initialization/docker-compose.initialization-test.yml
  docker-compose.yml
  file-service/auth/redis_connector.lua
  file-service/nginx.conf
  scripts/helm/helm-install-tc.sh
  scripts/helm/testcenter/custom-values.yaml
  scripts/helm/testcenter/templates/backend/job.yaml
  scripts/helm/testcenter/templates/backend/secret.yaml
  scripts/helm/testcenter/templates/cache-server/configmap.yaml
  scripts/helm/testcenter/templates/cache-server/deployment.yaml
  scripts/helm/testcenter/templates/cache-server/secret.yaml
  scripts/helm/testcenter/templates/db/deployment.yaml
  scripts/helm/testcenter/templates/db/secret.yaml
  scripts/helm/testcenter/templates/file-server/configmap-nginx.yaml
  scripts/helm/testcenter/templates/file-server/depoyment.yaml
  scripts/helm/testcenter/templates/file-server/secret.yaml
  scripts/helm/testcenter/values.yaml
  scripts/install.sh
  scripts/migration/16.0.0.sh
  test/api/test.js
  test/config.docker.json
Due: check-backend-feature-rules, check-file-service-feature-rules, build-backend, build-file-service, build-task-runner, test-backend-unit, test-backend-api, test-file-service-api, test-backend-initialization

[cache-service] Run cache service rootless
  docker-compose.yml
  scripts/helm/testcenter/templates/cache-server/deployment.yaml
Due: none

[cache-service] Enable redis port configuration
  backend/src/helper/CacheService.class.php
  backend/src/helper/SystemConfig.class.php
  backend/test/initialization/docker-compose.initialization-test.yml
  docker-compose.yml
  file-service/auth/redis_connector.lua
  file-service/nginx.conf
  scripts/helm/testcenter/templates/backend/job.yaml
  scripts/helm/testcenter/templates/file-server/configmap-nginx.yaml
  scripts/helm/testcenter/templates/file-server/depoyment.yaml
Due: check-backend-feature-rules, check-file-service-feature-rules, build-backend, build-file-service, build-task-runner, test-backend-unit, test-backend-api, test-file-service-api, test-backend-initialization

[cache-service] Refactor docker environment variable settings
  backend/src/helper/SystemConfig.class.php
  backend/test/initialization/docker-compose.initialization-test.yml
  docker-compose.dev.yml
  docker-compose.yml
  scripts/helm/testcenter/templates/backend/job.yaml
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

[cache-service] Rename 'CACHE_SERVICE_RAM' environment property
  .env.dev-template
  .env.prod-template
  docker-compose.yml
  scripts/helm/testcenter/templates/cache-server/deployment.yaml
  scripts/helm/testcenter/values.yaml
  scripts/migration/16.0.0.sh
Due: none

[file-service] Rename 'CACHE_SERVICE_ADDRESS_FOR_LUA' environment property
  docker-compose.yml
  file-service/auth/redis_connector.lua
  file-service/nginx.conf
  scripts/helm/testcenter/templates/backend/configmap.yaml
  scripts/helm/testcenter/templates/backend/job.yaml
  scripts/helm/testcenter/templates/file-server/configmap-nginx.yaml
  scripts/helm/testcenter/templates/file-server/configmap.yaml
  scripts/helm/testcenter/templates/file-server/depoyment.yaml
  scripts/helm/testcenter/values.yaml
Due: check-file-service-feature-rules, build-file-service, build-task-runner, test-file-service-api

fix custom text 'gm_show_monitor'
  docs/CHANGELOG.md
  frontend/src/app/app-root/starter/starter.component.html
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

Add 'docker push' Makefile
  Makefile
  scripts/make/push.mk
Due: none

Run frontend containers rootless in production
  frontend/Dockerfile
  frontend/nginx.conf
  scripts/helm/testcenter/Chart.yaml
  scripts/helm/testcenter/templates/frontend/deployment.yaml
  scripts/helm/testcenter/templates/frontend/service.yaml
  scripts/helm/testcenter/templates/traefik/ingress-route.yaml
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

[helm] Switch file-server off
  scripts/helm/testcenter/templates/backend/configmap.yaml
  scripts/helm/testcenter/values.yaml
Due: none

Run frontend containers rootless in production
  frontend/Dockerfile
  frontend/nginx.conf
  scripts/helm/testcenter/templates/frontend/deployment.yaml
  scripts/helm/testcenter/templates/frontend/service.yaml
  scripts/helm/testcenter/templates/traefik/ingress-route.yaml
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

migrate duplicate tests in db
  docs/CHANGELOG.md
  scripts/database/patches.d/16.1.0.sql
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

Run frontend containers rootless in production
  frontend/Dockerfile
  frontend/nginx.conf
  scripts/helm/helm-uninstall-tc.sh
  scripts/helm/testcenter/Chart.yaml
  scripts/helm/testcenter/templates/frontend/deployment.yaml
  scripts/helm/testcenter/templates/frontend/service.yaml
  scripts/helm/testcenter/templates/traefik/ingress-route.yaml
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

Disable 'file-service' per default
  .env.dev-template
  .env.prod-template
  scripts/helm/testcenter/values.yaml
Due: none

Run backend containers with 'www-data' user in production
  backend/Dockerfile
  scripts/helm/testcenter/templates/backend/deployment.yaml
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

Use 'volumes_from' backend for file-service
  docker-compose.yml
Due: none

Run backend with port '8080' for ordinary user processes
  .env.dev-template
  .env.prod-template
  backend/Dockerfile
  backend/config/vhost.conf
  backend/src/helper/FileService.class.php
  docker-compose.dev.yml
  docker-compose.prod.tls.yml
  docker-compose.prod.yml
  docker-compose.yml
  e2e/cypress.headless.config.js
  file-service/nginx.conf
  frontend/Dockerfile
  frontend/angular.json
  frontend/nginx.conf
  frontend/proxy.conf.json
  frontend/src/environments/environment.system-test.ts
  scripts/helm/testcenter/templates/backend/deployment.yaml
  scripts/helm/testcenter/templates/backend/service.yaml
  scripts/helm/testcenter/templates/file-server/configmap.yaml
  scripts/helm/testcenter/templates/traefik/ingress-route.yaml
  test/config.docker.json
Due: check-backend-feature-rules, check-e2e-feature-rules, check-file-service-feature-rules, check-frontend-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, build-task-runner, test-backend-unit, test-frontend-unit, test-backend-api, test-file-service-api, test-backend-initialization, test-e2e

Revise E2E test configuration
  .gitlab-ci.yml
  docker-compose.dev.yml
  e2e/docker-compose.system-test-headless.yml
  frontend/Dockerfile
  scripts/make/dev-test.mk
  scripts/make/dev.mk
Due: check-e2e-feature-rules, check-frontend-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, test-frontend-unit, test-e2e

Revise API test configuration
  test/docker-compose.api-test.yml
Due: none

Add traefik dashboard for dev environment
  docker-compose.dev.yml
Due: none

Update to version 16.1.2
  definitions/browsers.json
  docs/CHANGELOG.md
  package-lock.json
  package.json
  sampledata/Booklet.xml
  sampledata/Booklet2.xml
  sampledata/Booklet3.xml
  sampledata/SysCheck.xml
  sampledata/Testtakers.xml
  sampledata/Unit.xml
  sampledata/Unit2.xml
  sampledata/system-test/CY_BKL_Mode_Demo.xml
  sampledata/system-test/CY_BKL_Mode_Review.xml
  sampledata/system-test/CY_BKL_Mode_RunHotRestart.xml
  sampledata/system-test/CY_BKL_Mode_RunHotReturn.xml
  sampledata/system-test/CY_BKL_SessionManagement_HotModi.xml
  sampledata/system-test/CY_Test_Logins.xml
  sampledata/system-test/CY_Unit100.xml
  sampledata/system-test/CY_Unit101.xml
  sampledata/system-test/CY_Unit102.xml
  sampledata/system-test/CY_Unit103.xml
  sampledata/system-test/CY_Unit104.xml
  scripts/helm/helm-install-tc.sh
  scripts/helm/testcenter/Chart.yaml
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

Add uninstallation of 'backend-container-init' job to 'uninstall_testcenter' function in helm uninstall script
  scripts/helm/helm-uninstall-tc.sh
Due: none

Use 'volumes_from' backend for file-service
  docker-compose.dev.yml
  docker-compose.prod.tls.yml
  docker-compose.prod.yml
  docker-compose.yml
  file-service/nginx.conf
  scripts/helm/testcenter/templates/file-server/configmap.yaml
Due: check-file-service-feature-rules, build-file-service, build-task-runner, test-file-service-api

Path conditions:
  check-backend-feature-rules: any of: backend/**/*, scripts/database/**/*, definitions/**/*
  check-broadcasting-service-feature-rules: any of: broadcasting-service/**/*
  check-common-feature-rules: any of: common/**/*
  check-e2e-feature-rules: any of: e2e/**/*
  check-file-service-feature-rules: any of: file-service/**/*
  check-frontend-feature-rules: any of: frontend/**/*
  check-task-runner-feature-rules: any of: task-runner/**/*
  build-backend: (any of: backend/**/*, scripts/database/**/*, definitions/**/*) or ((any of: task-runner/**/*) or (any of: e2e/**/*))
  build-frontend: (any of: frontend/**/*) or ((any of: common/**/*) or (any of: e2e/**/*))
  build-broadcasting-service: (any of: broadcasting-service/**/*) or ((any of: common/**/*) or (any of: e2e/**/*))
  build-file-service: (any of: file-service/**/*) or ((any of: task-runner/**/*) or (any of: e2e/**/*))
  build-e2e: any of: e2e/**/*
  build-task-runner: (any of: task-runner/**/*) or ((any of: backend/**/*, scripts/database/**/*, definitions/**/*) or (any of: file-service/**/*))
  test-backend-unit: any of: backend/**/*, scripts/database/**/*, definitions/**/*
  test-frontend-unit: (any of: frontend/**/*) or (any of: common/**/*)
  test-broadcasting-service-unit: (any of: broadcasting-service/**/*) or (any of: common/**/*)
  test-backend-api: (any of: backend/**/*, scripts/database/**/*, definitions/**/*) or (any of: task-runner/**/*)
  test-file-service-api: (any of: file-service/**/*) or (any of: task-runner/**/*)
  test-backend-initialization: any of: backend/**/*, scripts/database/**/*, definitions/**/*
  test-e2e: any of: e2e/**/*
