Repository iqb-berlin/testcenter: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend, build-frontend, build-broadcasting-service, test-backend-unit, test-frontend-unit, test-broadcasting-service-unit

build-backend:
  stage: build
  script:
  - apk add make curl
  - curl -SL https://github.com/docker/compose/releases/download/v2.6.0/docker-compose-linux-x86_64 -o /usr/local/bin/docker-compose
  - chmod +x /usr/local/bin/docker-compose
  - make init
  - make build service=testcenter-backend
  ...

build-frontend:
  stage: build
  script:
  - apk add make curl
  - curl -SL https://github.com/docker/compose/releases/download/v2.6.0/docker-compose-linux-x86_64 -o /usr/local/bin/docker-compose
  - chmod +x /usr/local/bin/docker-compose
  - make init
  - make build service=testcenter-frontend
  ...

build-broadcasting-service:
  stage: build
  script:
  - apk add make curl
  - curl -SL https://github.com/docker/compose/releases/download/v2.6.0/docker-compose-linux-x86_64 -o /usr/local/bin/docker-compose
  - chmod +x /usr/local/bin/docker-compose
  - make init
  - make build service=testcenter-broadcasting-service
  ...

test-backend-unit:
  stage: test
  needs:
  - job: build-backend
    artifacts: true
  script:
  - apk add make docker-compose
  - make init
  - docker load -i backend_image.tar
  - make test-backend-unit

test-frontend-unit:
  stage: test
  needs:
  - job: build-frontend
    artifacts: true
  script:
  - apk add make docker-compose
  - make init-env
  - make init-frontend
  - docker load -i frontend_image.tar
  - make test-frontend-unit

test-broadcasting-service-unit:
  stage: test
  needs:
  - job: build-broadcasting-service
    artifacts: true
  script:
  - apk add make docker-compose
  - make init-env
  - docker load -i bs_image.tar
  - make test-broadcasting-service-unit

Update package.json
  package.json
Due: none

[broadcast] Set Typescript strict mode and refactor websocket types
  broadcasting-service/src/common/websocket.gateway.spec.ts
  broadcasting-service/src/common/websocket.gateway.ts
  broadcasting-service/tsconfig.json
  common/src/interfaces/test-session-change.interface.ts
Due: build-broadcasting-service, test-broadcasting-service-unit

Update linter package to 2.1.0
  package-lock.json
  package.json
Due: none

Directory cleanup
  backend/docker/Dockerfile
  broadcasting-service/.gitlab-ci.yml
  broadcasting-service/docker/Dockerfile
  docker-compose.dev.yml
  docker-compose.initialization-test.yml
  docker-compose.prod.yml
  docker-compose.system-test.yml
  frontend/.gitlab-ci.yml
  frontend/docker/Dockerfile
Due: build-frontend, build-broadcasting-service, test-frontend-unit, test-broadcasting-service-unit

Refactor bcastservice docker setup
  Makefile
  broadcasting-service/docker/Dockerfile
  broadcasting-service/docker/nest-cli.json
  broadcasting-service/nest-cli.json
  broadcasting-service/tsconfig.build.json
  broadcasting-service/tsconfig.json
  broadcasting-service/tsconfig.spec.json
  docker-compose.dev.yml
Due: build-broadcasting-service, test-broadcasting-service-unit

Update CI pipeline script
  .gitlab-ci.yml
Due: none

[bcasting] Update npm packages
  broadcasting-service/package-lock.json
  broadcasting-service/package.json
  broadcasting-service/src/app.module.ts
  broadcasting-service/src/testee/testee.service.spec.ts
  broadcasting-service/src/testee/testee.service.ts
Due: build-broadcasting-service, test-broadcasting-service-unit

Use compose for running bs and frontend unit tests
  Makefile
Due: none

Refactor frontend docker setup
  docker-compose.dev.yml
  frontend/docker/Dockerfile
  frontend/docker/entrypoint.sh
Due: none

[frontend] Update most npm packages
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/app.component.ts
  frontend/src/app/shared/services/customtext/customtext.service.ts
  frontend/src/iqb-theme1.scss
Due: build-frontend, test-frontend-unit

[frontend] Fix and refactor ReviewDialogComponent
  frontend/src/app/test-controller/components/review-dialog/review-dialog.component.html
  frontend/src/app/test-controller/components/review-dialog/review-dialog.component.ts
  frontend/src/app/test-controller/components/test-controller/test-controller.component.ts
Due: none

Split Makefile in sub scripts and extends npm file copy command
  Makefile
  scripts/make/app-control.mk
  scripts/make/test.mk
Due: none

[frontend] Fix unit tests and disable one failing for now
  frontend/src/app/test-controller/services/test-loader.service.spec.ts
  frontend/src/app/test-controller/unit-test-data/watcher.ts
Due: none

[frontend] Update webpack package and remove istanbul-instrumenter-loader
  frontend/cypress/coverage.webpack.ts
  frontend/package-lock.json
  frontend/package.json
Due: build-frontend, test-frontend-unit

[frontend] Dedupe npm packages
  frontend/package-lock.json
Due: build-frontend, test-frontend-unit

[frontend] Fix CSS warnings
  frontend/src/app/app-root/code-input/code-input.component.ts
  frontend/src/app/app-root/login/login.component.ts
Due: none

Move the rest of the Makefile targets to separate file
  Makefile
  scripts/make/misc.mk
Due: none

[Frontend/Group-Monitor] Add prototypal image capture dialog
  frontend/src/app/group-monitor/add-attachment-dialog/add-attachment-dialog.component.css
  frontend/src/app/group-monitor/add-attachment-dialog/add-attachment-dialog.component.html
  frontend/src/app/group-monitor/add-attachment-dialog/add-attachment-dialog.component.ts
  frontend/src/app/group-monitor/group-monitor.component.html
  frontend/src/app/group-monitor/group-monitor.component.ts
  frontend/src/app/group-monitor/group-monitor.module.ts
Due: none

[frontend] Fix missing snackbar module in shared module
  frontend/src/app/shared/shared.module.ts
Due: none

Rework system tests
  .gitignore
  docker-compose.dev.yml
  e2e/Dockerfile
  e2e/backup/cypress/coverage.webpack.ts
  e2e/backup/cypress/e2e/app-root.cy.ts
  e2e/backup/cypress/e2e/superadmin.cy.ts
  e2e/backup/cypress/e2e/sys-check.cy.ts
  e2e/backup/cypress/e2e/test-controller.cy.ts
  e2e/backup/cypress/e2e/utils.ts
  e2e/backup/cypress/e2e/workspace-admin.cy.ts
  e2e/backup/cypress/plugins/create-coverage-report.js
  e2e/backup/cypress/plugins/delete-folder.js
  e2e/backup/cypress/plugins/wait-for-backend.js
  e2e/backup/cypress/support/commands.ts
  e2e/backup/cypress/support/e2e.ts
  e2e/backup/cypress/support/inViewport.js
  e2e/backup/cypress/tsconfig.json
  e2e/backup/docker-compose.system-test-ui.yml
  e2e/backup/docker-compose.system-test.yml
  e2e/cypress.config.js
  e2e/cypress/e2e/app-root.cy.ts
  e2e/cypress/e2e/superadmin.cy.ts
  e2e/cypress/e2e/sys-check.cy.ts
  e2e/cypress/e2e/test-controller.cy.ts
  e2e/cypress/e2e/utils.ts
  e2e/cypress/e2e/workspace-admin.cy.ts
  e2e/cypress/plugins/create-coverage-report.js
  e2e/cypress/plugins/delete-folder.js
  e2e/cypress/plugins/wait-for-backend.js
  e2e/cypress/results/output.xml
  e2e/cypress/support/commands.js
  e2e/cypress/support/e2e.ts
  e2e/cypress/support/inViewport.js
  e2e/cypress/tsconfig.json
  e2e/package-lock.json
  e2e/package.json
  frontend/cypress.config.js
  frontend/src/environments/environment.system-test.ts
  scripts/make/test.mk
Due: build-frontend, test-frontend-unit

[Frontend/Group-Monitor] Improve image-capture function to react on the QR-code placed in the right place.
  frontend/src/app/group-monitor/add-attachment-dialog/add-attachment-dialog.component.css
  frontend/src/app/group-monitor/add-attachment-dialog/add-attachment-dialog.component.html
  frontend/src/app/group-monitor/add-attachment-dialog/add-attachment-dialog.component.ts
  frontend/src/app/group-monitor/group-monitor.module.ts
Due: none

[Frontend/Group-Monitor] Fix Camera selection
  frontend/src/app/group-monitor/add-attachment-dialog/add-attachment-dialog.component.html
  frontend/src/app/group-monitor/add-attachment-dialog/add-attachment-dialog.component.ts
Due: none

[Frontend/Group-Monitor] Refactor image-capture component
  frontend/src/app/group-monitor/add-attachment-dialog/add-attachment-dialog.component.ts
  frontend/src/app/group-monitor/add-attachment-dialog/attachment.interfaces.ts
Due: none

[Frontend/Group-Monitor] Move image-capture component to separate sub-module
  frontend/src/app/app-root/monitor-starter/monitor-starter.component.html
  frontend/src/app/app-root/monitor-starter/monitor-starter.component.ts
  frontend/src/app/app-routing.module.ts
  frontend/src/app/attachment-manager/attachment-manager-routing.module.ts
  frontend/src/app/attachment-manager/attachment-manager.module.ts
  frontend/src/app/attachment-manager/components/attachment-manager/attachment-manager.component.css
  frontend/src/app/attachment-manager/components/attachment-manager/attachment-manager.component.html
  frontend/src/app/attachment-manager/components/attachment-manager/attachment-manager.component.ts
  frontend/src/app/attachment-manager/components/capture-image/capture-image.component.css
  frontend/src/app/attachment-manager/components/capture-image/capture-image.component.html
  frontend/src/app/attachment-manager/components/capture-image/capture-image.component.ts
  frontend/src/app/attachment-manager/interfaces/users.interfaces.ts
  frontend/src/app/attachment-manager/interfaces/video.interfaces.ts
  frontend/src/app/attachment-manager/services/backend/backend.service.ts
  frontend/src/app/backend.service.ts
  frontend/src/app/group-monitor/group-monitor.component.html
  frontend/src/app/group-monitor/group-monitor.component.ts
Due: none

Update entrypoint.sh
  backend/docker/entrypoint.sh
Due: none

[Frontend/Attachment-Manager] Move Attachment Management to separate submodule ii
  frontend/src/app/attachment-manager/attachment-manager-routing.module.ts
  frontend/src/app/attachment-manager/attachment-manager.module.ts
  frontend/src/app/attachment-manager/components/attachment-manager/attachment-manager.component.html
  frontend/src/app/attachment-manager/components/attachment-manager/attachment-manager.component.ts
  frontend/src/app/attachment-manager/components/attachment-overview/attachment-overview.component.html
  frontend/src/app/attachment-manager/components/attachment-overview/attachment-overview.component.ts
  frontend/src/app/attachment-manager/components/capture-image/capture-image.component.css
  frontend/src/app/attachment-manager/components/capture-image/capture-image.component.html
  frontend/src/app/attachment-manager/components/capture-image/capture-image.component.ts
  frontend/src/app/attachment-manager/routing/attachment-manager-routing.module.ts
  frontend/src/app/group-monitor/group-monitor.component.css
  frontend/src/app/group-monitor/group-monitor.component.ts
  frontend/src/monitor-layout.css
Due: none

[Frontend/Attachment-Manager]Basic implementation of image-attachment upload
  backend/routes.php
  backend/src/controller/SessionController.class.php
  backend/src/controller/TestController.class.php
  backend/src/middleware/MayModifyAttachments.class.php
  frontend/src/app/attachment-manager/components/capture-image/capture-image.component.html
  frontend/src/app/attachment-manager/components/capture-image/capture-image.component.ts
  frontend/src/app/attachment-manager/interfaces/users.interfaces.ts
  frontend/src/app/attachment-manager/services/backend/backend.service.ts
Due: build-backend, test-backend-unit

[Attachment-Manager] Implement Image/Attachment uploading
  backend/routes.php
  backend/src/controller/AttachmentController.class.php
  backend/src/controller/TestController.class.php
  backend/src/dao/AdminDAO.class.php
  backend/src/dao/TestDAO.class.php
  backend/src/data-collection/AccessSet.class.php
  backend/src/helper/JSON.class.php
  frontend/src/app/attachment-manager/attachment-manager.module.ts
  frontend/src/app/attachment-manager/components/attachment-overview/attachment-overview.component.html
  frontend/src/app/attachment-manager/components/capture-image/capture-image.component.html
  frontend/src/app/attachment-manager/components/capture-image/capture-image.component.ts
  frontend/src/app/attachment-manager/interfaces/users.interfaces.ts
  frontend/src/app/attachment-manager/services/backend/backend.service.ts
Due: build-backend, test-backend-unit

Update selectors for e2e tests and add respective attributes for selectors
  e2e/cypress/e2e/app-root.cy.ts
  e2e/cypress/e2e/superadmin.cy.ts
  e2e/cypress/e2e/sys-check.cy.ts
  e2e/cypress/e2e/test-controller.cy.ts
  e2e/cypress/e2e/utils.ts
  e2e/cypress/e2e/workspace-admin.cy.ts
  frontend/src/app/app-root/admin-starter/admin-starter.component.html
  frontend/src/app/app-root/code-input/code-input.component.html
  frontend/src/app/app-root/monitor-starter/monitor-starter.component.html
  frontend/src/app/app-root/test-starter/test-starter.component.html
  frontend/src/app/app.component.html
  frontend/src/app/superadmin/superadmin-password-request/superadmin-password-request.component.html
  frontend/src/app/superadmin/users/newuser/new-user.component.html
  frontend/src/app/superadmin/users/users.component.html
  frontend/src/app/sys-check/questionnaire/questionnaire.component.html
  frontend/src/app/test-controller/components/test-controller/test-controller.component.html
  frontend/src/app/test-controller/components/test-status/test-status.component.html
  frontend/src/app/test-controller/components/unit-menu/unit-menu.component.html
  frontend/src/app/test-controller/components/unithost/unithost.component.html
  frontend/src/app/workspace-admin/files/files.component.html
  frontend/src/app/workspace-admin/results/results.component.html
  frontend/src/app/workspace-admin/syscheck/syscheck.component.html
  frontend/src/app/workspace-admin/workspace.component.html
  sampledata/introduction-unit.htm
Due: none

[Attachment-Manager] Implement Image/Attachment uploading
  backend/routes.php
  backend/src/controller/AttachmentController.class.php
  backend/src/controller/TestController.class.php
  backend/src/dao/AdminDAO.class.php
  backend/src/dao/TestDAO.class.php
  backend/src/data-collection/AccessSet.class.php
  backend/src/helper/JSON.class.php
  backend/src/workspace/Workspace.class.php
  frontend/src/app/attachment-manager/attachment-manager.module.ts
  frontend/src/app/attachment-manager/components/attachment-overview/attachment-overview.component.html
  frontend/src/app/attachment-manager/components/capture-image/capture-image.component.html
  frontend/src/app/attachment-manager/components/capture-image/capture-image.component.ts
  frontend/src/app/attachment-manager/interfaces/users.interfaces.ts
  frontend/src/app/attachment-manager/services/backend/backend.service.ts
Due: build-backend, test-backend-unit

[Attachment-Manager] Implement basic attachment listing
  backend/src/controller/AttachmentController.class.php
  backend/src/dao/AdminDAO.class.php
  frontend/src/app/attachment-manager/attachment-manager.module.ts
  frontend/src/app/attachment-manager/components/attachment-overview/attachment-overview.component.html
  frontend/src/app/attachment-manager/components/attachment-overview/attachment-overview.component.ts
  frontend/src/app/attachment-manager/interfaces/users.interfaces.ts
  frontend/src/app/attachment-manager/services/backend/backend.service.ts
Due: none

[Attachment-Manager] Add style for attachment listing
  frontend/src/app/attachment-manager/components/attachment-overview/attachment-overview.component.css
Due: none

[Attachment-Manager] Add possibility to look at attachments
  backend/routes.php
  backend/src/controller/AttachmentController.class.php
  backend/src/dao/AdminDAO.class.php
  feature.todo.txt
  frontend/src/app/attachment-manager/components/attachment-overview/attachment-overview.component.css
  frontend/src/app/attachment-manager/components/attachment-overview/attachment-overview.component.html
  frontend/src/app/attachment-manager/components/attachment-overview/attachment-overview.component.ts
  frontend/src/app/attachment-manager/services/backend/backend.service.ts
Due: build-backend, test-backend-unit

[Attachment-Manager] Add possibility to delete attachments
  backend/routes.php
  backend/src/controller/AttachmentController.class.php
  backend/src/dao/AdminDAO.class.php
  frontend/src/app/attachment-manager/components/attachment-overview/attachment-overview.component.html
  frontend/src/app/attachment-manager/components/attachment-overview/attachment-overview.component.ts
  frontend/src/app/attachment-manager/interfaces/users.interfaces.ts
  frontend/src/app/attachment-manager/services/backend/backend.service.ts
Due: build-backend, test-backend-unit

[Attachment-Manager] Make Attachmentment-Table sortable and other small improvements
  backend/src/controller/AttachmentController.class.php
  frontend/src/app/attachment-manager/attachment-manager.module.ts
  frontend/src/app/attachment-manager/components/attachment-overview/attachment-overview.component.css
  frontend/src/app/attachment-manager/components/attachment-overview/attachment-overview.component.html
  frontend/src/app/attachment-manager/components/attachment-overview/attachment-overview.component.ts
Due: none

[Attachment-Manager] Add an option to print the attachment-page
  backend/routes.php
  backend/src/controller/AttachmentController.class.php
  backend/src/dao/AdminDAO.class.php
  frontend/src/app/attachment-manager/components/attachment-overview/attachment-overview.component.html
  frontend/src/app/attachment-manager/components/attachment-overview/attachment-overview.component.ts
  frontend/src/app/attachment-manager/components/capture-image/capture-image.component.html
  frontend/src/app/attachment-manager/interfaces/users.interfaces.ts
  frontend/src/app/attachment-manager/services/backend/backend.service.ts
Due: build-backend, test-backend-unit

[Attachment-Manager] UI improvements
  backend/src/controller/AttachmentController.class.php
  frontend/src/app/app-root/monitor-starter/monitor-starter.component.html
  frontend/src/app/attachment-manager/components/attachment-overview/attachment-overview.component.html
  frontend/src/app/attachment-manager/components/attachment-overview/attachment-overview.component.ts
  frontend/src/app/attachment-manager/components/capture-image/capture-image.component.html
  frontend/src/app/attachment-manager/interfaces/users.interfaces.ts
Due: none

[Attachment-Manager] Add a group check to the endpoints
  backend/composer.json
  backend/composer.lock
  backend/src/controller/AttachmentController.class.php
  backend/src/dao/AdminDAO.class.php
  backend/src/dao/TestDAO.class.php
  frontend/src/environments/environment.dev.ts
  mysql.patches.d/12.4.3.sql
Due: build-backend, test-backend-unit

[Attachment-Manager] Fix query
  backend/src/controller/AttachmentController.class.php
  backend/src/dao/TestDAO.class.php
Due: none

Path conditions:
  build-backend: any of: backend/*, database/*, definitions/*
  build-frontend: any of: frontend/*, common/*
  build-broadcasting-service: any of: broadcasting-service/*, common/*
  test-backend-unit: any of: backend/*, database/*, definitions/*
  test-frontend-unit: any of: frontend/*, common/*
  test-broadcasting-service-unit: any of: broadcasting-service/*, common/*
