Repository iqb-berlin/testcenter: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend, build-frontend, build-broadcasting-service, test-backend-unit, test-frontend-unit, test-broadcasting-service-unit

Path conditions:
  build-backend: any of: backend/*, database/*, definitions/*
  build-frontend: any of: frontend/*, common/*
  build-broadcasting-service: any of: broadcasting-service/*, common/*
  test-backend-unit: any of: backend/*, database/*, definitions/*
  test-frontend-unit: any of: frontend/*, common/*
  test-broadcasting-service-unit: any of: broadcasting-service/*, common/*

[integration-tests] Rename utils-file to not be misinterpreted as specs-file.
  frontend/cypress/e2e/app-root.cy.ts
  frontend/cypress/e2e/superadmin.cy.ts
  frontend/cypress/e2e/sys-check.cy.ts
  frontend/cypress/e2e/test-controller.cy.ts
  frontend/cypress/e2e/utils.ts
  frontend/cypress/e2e/workspace-admin.cy.ts
Due: none

Update Packages
  .idea/php.xml
  .idea/testcenter.iml
  frontend/package-lock.json
Due: build-frontend, test-frontend-unit

Document Makefile
  Makefile
Due: none

[Broadcasting-Service] Add build step for production-image
  broadcasting-service/Dockerfile
  broadcasting-service/docker/nest-cli.json
Due: build-broadcasting-service, test-broadcasting-service-unit

[Frontend] Endpoint Path (double // is no longer tolerated)
  frontend/src/app/group-monitor/backend.service.ts
Due: none

[Broadcasting-Service] Add prod step and container.
  broadcasting-service/Dockerfile
Due: build-broadcasting-service, test-broadcasting-service-unit

[Frontend] Fix path in Prod-Container
  frontend/Dockerfile
Due: build-frontend, test-frontend-unit

Repair local-prod mode
  docker-compose.prod.yml
Due: none

Add documentation
  Makefile
  README.md
  TODO.monorepo.md
  backend/README
  backend/README.md
  broadcasting-service/README
  broadcasting-service/README.md
  common/README
  definitions/README
  docs/src/pages/developer-guide.md
  frontend/README
  frontend/README.md
Due: build-backend, build-frontend, build-broadcasting-service, test-backend-unit, test-frontend-unit, test-broadcasting-service-unit

[Backend] Repair api-test by re-adding expired admin to testdata.
  backend/src/dao/InitDAO.class.php
  backend/src/helper/TestEnvironment.class.php
Due: none

[Task-Runner] Update package-lock.json
  package-lock.json
Due: none

[Backend] Fix specs for endpoint `[GET] /workspace/:ws_id/results`
  docs/src/api/workspace.spec.yml
Due: none

Fix filename in compose-file
  docker-compose.dev.yml
Due: none

Update Docs
  docs/dist/developer-guide.md
  docs/dist/installation-local.md
  docs/index.md
Due: none

[System-Test] Fix file-paths in compose-files
  Makefile
  docker-compose.dev.yml
  docker-compose.initialization-test.yml
  docker-compose.prod.yml
  docker-compose.system-test-ui.yml
  docker-compose.system-test.yml
  frontend/docker/entrypoint.sh
Due: none

Fix env-default to contain user_id_placeholder and user_group_placeholder
  .env-default
  Makefile
Due: none

Update TODO.monorepo.md
  TODO.monorepo.md
Due: none

Repair system-tests
  docker-compose.system-test-ui.yml
Due: none

Repair initialization-tests
  Makefile
  docker-compose.initialization-test.yml
Due: none

Add documentation
  docs/src/api/README.md
Due: none

[Frontend] Move CyPress dependencies to base container
  docker/Dockerfile-frontend-dev
  docker/frontend-dev-base.Dockerfile
  frontend/Dockerfile
Due: build-frontend, test-frontend-unit

[Backend] Fix api-tests: The Zip-metadata could not have been read in TestMode due to VFS, so fast API-tests using VFS and real-data API-tests using FS created different results.
  backend/src/helper/ZIP.class.php
  docker-compose.initialization-test.yml
  docs/src/api/workspace.spec.yml
Due: none

[Broadcasting-Service] Update Compodoc-documentation
  docs/dist/compodoc-broadcasting-service/changelog.html
  docs/dist/compodoc-broadcasting-service/classes/ErrorHandler.html
  docs/dist/compodoc-broadcasting-service/classes/WebsocketGateway.html
  docs/dist/compodoc-broadcasting-service/controllers/CommandController.html
  docs/dist/compodoc-broadcasting-service/controllers/MonitorController.html
  docs/dist/compodoc-broadcasting-service/controllers/SystemController.html
  docs/dist/compodoc-broadcasting-service/controllers/TestSessionController.html
  docs/dist/compodoc-broadcasting-service/controllers/TesteeController.html
  docs/dist/compodoc-broadcasting-service/coverage.html
  docs/dist/compodoc-broadcasting-service/graph/dependencies.svg
  docs/dist/compodoc-broadcasting-service/index.html
  docs/dist/compodoc-broadcasting-service/injectables/TestSessionService.html
  docs/dist/compodoc-broadcasting-service/injectables/TesteeService.html
  docs/dist/compodoc-broadcasting-service/interfaces/Command.html
  docs/dist/compodoc-broadcasting-service/interfaces/Monitor.html
  docs/dist/compodoc-broadcasting-service/interfaces/Testee.html
  docs/dist/compodoc-broadcasting-service/js/menu-wc.js
  docs/dist/compodoc-broadcasting-service/js/menu-wc_es5.js
  docs/dist/compodoc-broadcasting-service/js/menu.js
  docs/dist/compodoc-broadcasting-service/js/search/search_index.js
  docs/dist/compodoc-broadcasting-service/miscellaneous/functions.html
  docs/dist/compodoc-broadcasting-service/miscellaneous/typealiases.html
  docs/dist/compodoc-broadcasting-service/miscellaneous/variables.html
  docs/dist/compodoc-broadcasting-service/modules.html
  docs/dist/compodoc-broadcasting-service/modules/AppModule.html
  docs/dist/compodoc-broadcasting-service/modules/AppModule/dependencies.svg
  docs/dist/compodoc-broadcasting-service/overview.html
  docs/dist/compodoc-broadcasting-service/styles/compodoc.css
Due: none

[Backend] Update api-specs
  docs/dist/api/specs.yml
Due: none

[Broadcasting-Service] Update code coverage report
  docs/dist/test-coverage-broadcasting-service-unit/clover.xml
  docs/dist/test-coverage-broadcasting-service-unit/lcov-report/command/command.controller.ts.html
  docs/dist/test-coverage-broadcasting-service-unit/lcov-report/command/command.interface.ts.html
  docs/dist/test-coverage-broadcasting-service-unit/lcov-report/command/index.html
  docs/dist/test-coverage-broadcasting-service-unit/lcov-report/common/index.html
  docs/dist/test-coverage-broadcasting-service-unit/lcov-report/common/websocket.gateway.ts.html
  docs/dist/test-coverage-broadcasting-service-unit/lcov-report/index.html
  docs/dist/test-coverage-broadcasting-service-unit/lcov-report/monitor/index.html
  docs/dist/test-coverage-broadcasting-service-unit/lcov-report/monitor/monitor.controller.ts.html
  docs/dist/test-coverage-broadcasting-service-unit/lcov-report/monitor/monitor.interface.ts.html
  docs/dist/test-coverage-broadcasting-service-unit/lcov-report/test-session/index.html
  docs/dist/test-coverage-broadcasting-service-unit/lcov-report/test-session/test-session.controller.ts.html
  docs/dist/test-coverage-broadcasting-service-unit/lcov-report/test-session/test-session.service.ts.html
  docs/dist/test-coverage-broadcasting-service-unit/lcov-report/testee/index.html
  docs/dist/test-coverage-broadcasting-service-unit/lcov-report/testee/testee.controller.ts.html
  docs/dist/test-coverage-broadcasting-service-unit/lcov-report/testee/testee.interface.ts.html
  docs/dist/test-coverage-broadcasting-service-unit/lcov-report/testee/testee.service.ts.html
Due: none

[Frontend][Broadcasting-Service] Fix unit-test Maketargets. Default entrypoint has to be used now, because the files have to be copied from app-temp to app.
  Makefile
  broadcasting-service/docker/entrypoint.sh
  docker-compose.dev.yml
  docker-compose.unit-test.yml
Due: none

[Frontend] Add missing Dependency for Code-Coverage Report
  frontend/package-lock.json
  frontend/package.json
Due: build-frontend, test-frontend-unit

Optimize query to fight performance issues
  backend/src/dao/SessionDAO.class.php
Due: none

[Database] Add patchfile for 12.4.3
  database/mysql.patches.d/12.4.3.sql
Due: none

Create some missing indexes although the performance gain is not very spectacular
  mysql.patches.d/12.4.3.sql
Due: none

chnage order of unions
  backend/src/dao/SessionDAO.class.php
Due: none

Optimize queries even more.
  database/mysql.patches.d/12.4.3.sql
  mysql.patches.d/12.4.3.sql
Due: none

Give specific response, when deleted user's session is called.
  backend/src/dao/SessionDAO.class.php
Due: none

[Broadcasting-Service] Fix run mode
  broadcasting-service/Dockerfile
  docker-compose.dev.yml
Due: build-broadcasting-service, test-broadcasting-service-unit
