Repository iqb-berlin/testcenter: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-backend-feature-rules, check-broadcasting-service-feature-rules, check-common-feature-rules, check-e2e-feature-rules, check-file-service-feature-rules, check-frontend-feature-rules, check-task-runner-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, build-task-runner, test-backend-unit, test-frontend-unit, test-broadcasting-service-unit, test-backend-api, test-file-service-api, test-backend-initialization, test-e2e

Path conditions:
  check-backend-feature-rules: any of: backend/**/*, scripts/database/**/*, definitions/**/*
  check-broadcasting-service-feature-rules: any of: broadcasting-service/**/*
  check-common-feature-rules: any of: common/**/*
  check-e2e-feature-rules: any of: e2e/**/*
  check-file-service-feature-rules: any of: file-service/**/*
  check-frontend-feature-rules: any of: frontend/**/*
  check-task-runner-feature-rules: any of: task-runner/**/*
  build-backend: (any of: backend/**/*, scripts/database/**/*, definitions/**/*) or ((any of: task-runner/**/*) or (any of: e2e/**/*))
  build-frontend: (any of: frontend/**/*) or ((any of: common/**/*) or (any of: e2e/**/*))
  build-broadcasting-service: (any of: broadcasting-service/**/*) or ((any of: common/**/*) or (any of: e2e/**/*))
  build-file-service: (any of: file-service/**/*) or ((any of: task-runner/**/*) or (any of: e2e/**/*))
  build-e2e: any of: e2e/**/*
  build-task-runner: (any of: task-runner/**/*) or ((any of: backend/**/*, scripts/database/**/*, definitions/**/*) or (any of: file-service/**/*))
  test-backend-unit: any of: backend/**/*, scripts/database/**/*, definitions/**/*
  test-frontend-unit: (any of: frontend/**/*) or (any of: common/**/*)
  test-broadcasting-service-unit: (any of: broadcasting-service/**/*) or (any of: common/**/*)
  test-backend-api: (any of: backend/**/*, scripts/database/**/*, definitions/**/*) or (any of: task-runner/**/*)
  test-file-service-api: (any of: file-service/**/*) or (any of: task-runner/**/*)
  test-backend-initialization: any of: backend/**/*, scripts/database/**/*, definitions/**/*
  test-e2e: any of: e2e/**/*

[Setup] Adjust db healthckeck parameters
  docker/docker-compose.yml
Due: none

Delete scripts/database/patches.d/15.3.0-alpha2.sql
  scripts/database/patches.d/15.3.0-alpha2.sql
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

Update IDEA settings
  .idea/dataSources.xml
  .idea/jsLibraryMappings.xml
  .idea/php-docker-settings.xml
  .idea/php.xml
  .idea/phpunit.xml
Due: none

Update PHP dependencies
  backend/composer.lock
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

Update node dependencies
  package-lock.json
Due: none

Fix 'testcenter-initialization-test-backend' service image name
  .gitlab-ci.yml
  docker/docker-compose.initialization-test.yml
Due: none

Process errors at 'test-backend-initialization' tests
  .gitlab-ci.yml
  backend/test/initialization/tests/general/db-versions.sh
  backend/test/initialization/tests/general/install-db-patches.sh
  backend/test/initialization/tests/general/no-db-but-files.sh
  backend/test/initialization/tests/general/re-initialize.sh
  backend/test/initialization/tests/general/vanilla-installation.sh
  scripts/make/test.mk
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

exclude fe assets, include be configs in idea project
  .idea/testcenter.iml
Due: none

fix url "jumps right into test" for tests, when there is only one booklet
  e2e/cypress/e2e/Session-Management/login-possibilities.cy.ts
  frontend/src/app/app-route-guards.ts
  sampledata/system-test/CY_Test_Logins.xml
Due: check-e2e-feature-rules, check-frontend-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, test-frontend-unit, test-e2e

add "jump into test" functionality to sysCheck logins from URL
  backend/src/controller/SessionController.class.php
  backend/src/dao/SessionDAO.class.php
  e2e/cypress/e2e/Session-Management/login-possibilities.cy.ts
  frontend/src/app/app-root/login/login.component.ts
  frontend/src/app/app-route-guards.ts
  frontend/src/app/app.interfaces.ts
  sampledata/system-test/CY_Test_Logins.xml
Due: check-backend-feature-rules, check-e2e-feature-rules, check-frontend-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, build-task-runner, test-backend-unit, test-frontend-unit, test-backend-api, test-backend-initialization, test-e2e

"cancel sys-check"-button redirects to /r
  frontend/src/app/sys-check/report/report.component.html
  frontend/src/app/sys-check/report/report.component.spec.ts
  frontend/src/app/sys-check/report/report.component.ts
  frontend/src/app/sys-check/sys-check.module.ts
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

send sysCheckReport immediately, if logged in
  frontend/src/app/sys-check/report/report.component.ts
  frontend/src/app/sys-check/sys-check.interfaces.ts
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

use the login and password as credentials for SysCheckReport, once logged in
  backend/routes.php
  backend/src/controller/WorkspaceController.class.php
  backend/src/data-collection/SysCheckReport.class.php
  backend/src/middleware/HandleOptionalToken.class.php
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

redirect after successful sysCheckReport saving
  e2e/cypress/e2e/sys-check.cy.ts
  frontend/src/app/sys-check/report/report.component.ts
Due: check-e2e-feature-rules, check-frontend-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, test-frontend-unit, test-e2e

save and output responses in sysCheckReport
  backend/src/data-collection/SysCheckReport.class.php
  backend/src/files/SysCheckReportFile.class.php
  backend/src/workspace/Report.php
  backend/src/workspace/SysChecksFolder.class.php
  backend/test/unit/files/SysCheckReportFileTest.php
  backend/test/unit/workspace/ReportTest.php
  docs/api/components.spec.yml
  docs/api/workspace.spec.yml
  frontend/src/app/sys-check/report/report.component.spec.ts
  frontend/src/app/sys-check/report/report.component.ts
  frontend/src/app/sys-check/sys-check-data.service.ts
  frontend/src/app/sys-check/sys-check.interfaces.ts
  frontend/src/app/sys-check/unit-check/unit-check.component.ts
  sampledata/SysCheck-Report.json
Due: check-backend-feature-rules, check-frontend-feature-rules, build-backend, build-frontend, build-task-runner, test-backend-unit, test-frontend-unit, test-backend-api, test-backend-initialization

adjust php server setting to new be container structure
  .idea/php.xml
Due: none

refactor Report Class
  backend/src/controller/WorkspaceController.class.php
  backend/src/data-collection/ReportType.php
  backend/src/workspace/LogReportOutput.php
  backend/src/workspace/Report.php
  backend/src/workspace/ReportOutputFactory.php
  backend/src/workspace/ResponseReportOutput.php
  backend/src/workspace/ReviewReportOutput.php
  backend/src/workspace/SysCheckReportOutput.php
  backend/test/unit/controller/WorkspaceControllerTest.php
  backend/test/unit/workspace/ReportTest.php
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

CHANGELOG
  docs/CHANGELOG.md
Due: none

fix so that content_type of workspace can change back and forth
  backend/src/dao/WorkspaceDAO.class.php
  backend/src/data-collection/SysCheckMode.php
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

set content_type of workspace to mixed when a Testtakers File is deleted
  backend/src/controller/WorkspaceController.class.php
  backend/src/dao/WorkspaceDAO.class.php
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

check systemMode everytime a file upload succeeds
  backend/src/dao/WorkspaceDAO.class.php
  backend/test/unit/controller/WorkspaceControllerTest.php
  e2e/cypress/e2e/sys-check.cy.ts
  e2e/cypress/fixtures/Testtakers_withoutSyscheck.xml
  frontend/src/app/app-root/login/login.component.html
  frontend/src/app/workspace-admin/files/iqb-files-upload/iqb-files-upload.component.ts
  frontend/src/app/workspace-admin/workspace.module.ts
Due: check-backend-feature-rules, check-e2e-feature-rules, check-frontend-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, build-task-runner, test-backend-unit, test-frontend-unit, test-backend-api, test-backend-initialization, test-e2e

[bugfix] insert the right pagelabel for reviews
  frontend/src/app/test-controller/components/test-controller/test-controller.component.ts
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

add "alwaysNewSession" mode to the "sys-check-login" login-mode
  backend/src/helper/Mode.class.php
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

[Setup] Allow failures at 'test-backend-initialization' ci/cd job
  .gitlab-ci.yml
Due: none

Fix Bug: When a login had only one booklet, login attempts threw a sql error.
  backend/src/dao/SessionDAO.class.php
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

In group monitor add columns for bookletStates
  frontend/src/app/group-monitor/booklet/booklet.service.ts
  frontend/src/app/group-monitor/group-monitor.component.html
  frontend/src/app/group-monitor/group-monitor.component.ts
  frontend/src/app/group-monitor/group-monitor.interfaces.ts
  frontend/src/app/group-monitor/test-session-manager/test-session-manager.service.ts
  frontend/src/app/group-monitor/test-session/test-session.component.css
  frontend/src/app/group-monitor/test-session/test-session.component.html
  frontend/src/app/group-monitor/test-session/test-session.component.ts
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

add originalUnitId to api doc
  docs/CHANGELOG.md
  docs/api/workspace.spec.yml
Due: none

In group monitor add possibility to filter over booklet states
  frontend/src/app/group-monitor/components/add-filter-dialog/add-filter-dialog.component.html
  frontend/src/app/group-monitor/components/add-filter-dialog/add-filter-dialog.component.ts
  frontend/src/app/group-monitor/group-monitor.interfaces.ts
  frontend/src/app/group-monitor/test-session-manager/test-session-manager.service.ts
  frontend/src/app/group-monitor/test-session/position.pipe.ts
  frontend/src/app/group-monitor/test-session/test-session.component.html
  frontend/src/app/group-monitor/test-session/test-session.util.ts
  frontend/src/app/group-monitor/test-session/testletvisible.pipe.ts
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

rename labels for systemcheck welcome screen
  frontend/src/app/sys-check/sys-check-data.service.ts
  frontend/src/app/sys-check/welcome/welcome.component.css
  frontend/src/app/sys-check/welcome/welcome.component.html
  frontend/src/app/sys-check/welcome/welcome.component.ts
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

redirect to appropriate destination, when reloading within a syscheck route
  frontend/src/app/sys-check/sys-check-routing.module.ts
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

reset network test result whenever you leave the current systemcheck
  frontend/src/app/app-root/starter/starter.component.ts
  frontend/src/app/sys-check/network-check/network-check.component.ts
  frontend/src/app/sys-check/questionnaire/questionnaire.component.ts
  frontend/src/app/sys-check/report/report.component.html
  frontend/src/app/sys-check/report/report.component.ts
  frontend/src/app/sys-check/sys-check-data.service.ts
  frontend/src/app/sys-check/sys-check.component.ts
  frontend/src/app/sys-check/unit-check/unit-check.component.ts
  frontend/src/app/sys-check/welcome/welcome.component.html
  frontend/src/app/sys-check/welcome/welcome.component.ts
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

changelog
  docs/CHANGELOG.md
Due: none

Update to version 15.2.1
  dist-src/.env
  dist-src/install.sh
  docs/CHANGELOG.md
  package.json
  sampledata/Booklet.xml
  sampledata/Booklet2.xml
  sampledata/Booklet3.xml
  sampledata/SysCheck.xml
  sampledata/Testtakers.xml
  sampledata/Unit.xml
  sampledata/Unit2.xml
Due: none

fix the missing FileDeletionReport fields when deleting systemcheckReports
  backend/src/workspace/SysChecksFolder.class.php
  backend/src/workspace/Workspace.class.php
  docs/CHANGELOG.md
  docs/api/workspace.spec.yml
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

refactor FileDeletionReport into own class
  backend/src/controller/WorkspaceController.class.php
  backend/src/data-collection/FileDeletionReport.php
  backend/src/workspace/SysChecksFolder.class.php
  backend/src/workspace/Workspace.class.php
  backend/test/unit/controller/WorkspaceControllerTest.php
  backend/test/unit/workspace/WorkspaceTest.php
  frontend/src/app/workspace-admin/files/files.interfaces.ts
Due: check-backend-feature-rules, check-frontend-feature-rules, build-backend, build-frontend, build-task-runner, test-backend-unit, test-frontend-unit, test-backend-api, test-backend-initialization

Group Monitor: Some improvements in Filter dialogue regarding booklet states
  frontend/src/app/group-monitor/components/add-filter-dialog/add-filter-dialog.component.ts
  frontend/src/app/group-monitor/group-monitor.component.ts
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit
