Repository iqb-berlin/testcenter: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-backend-feature-rules, check-broadcasting-service-feature-rules, check-common-feature-rules, check-e2e-feature-rules, check-file-service-feature-rules, check-frontend-feature-rules, check-task-runner-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, build-task-runner, test-backend-unit, test-frontend-unit, test-broadcasting-service-unit, test-backend-api, test-file-service-api, test-backend-initialization, test-e2e

check-backend-feature-rules:
  stage: .pre
  interruptible: true
  allow_failure: true
  script:
  - echo $CI_COMMIT_BRANCH
  - echo $CI_PIPELINE_SOURCE
  - if [ -n "$CI_COMMIT_BRANCH" ]; then echo "commit branch string length is nonzero"; else echo "commit branch = '$CI_COMMIT_BRANCH'"; fi
  ...

check-broadcasting-service-feature-rules:
  stage: .pre
  interruptible: true
  allow_failure: true
  script:
  - echo $CI_COMMIT_BRANCH
  - echo $CI_PIPELINE_SOURCE
  - if [ -n "$CI_COMMIT_BRANCH" ]; then echo "commit branch string length is nonzero"; else echo "commit branch = '$CI_COMMIT_BRANCH'"; fi
  ...

check-common-feature-rules:
  stage: .pre
  interruptible: true
  allow_failure: true
  script:
  - echo $CI_COMMIT_BRANCH
  - echo $CI_PIPELINE_SOURCE
  - if [ -n "$CI_COMMIT_BRANCH" ]; then echo "commit branch string length is nonzero"; else echo "commit branch = '$CI_COMMIT_BRANCH'"; fi
  ...

check-e2e-feature-rules:
  stage: .pre
  interruptible: true
  allow_failure: true
  script:
  - echo $CI_COMMIT_BRANCH
  - echo $CI_PIPELINE_SOURCE
  - if [ -n "$CI_COMMIT_BRANCH" ]; then echo "commit branch string length is nonzero"; else echo "commit branch = '$CI_COMMIT_BRANCH'"; fi
  ...

check-file-service-feature-rules:
  stage: .pre
  interruptible: true
  allow_failure: true
  script:
  - echo $CI_COMMIT_BRANCH
  - echo $CI_PIPELINE_SOURCE
  - if [ -n "$CI_COMMIT_BRANCH" ]; then echo "commit branch string length is nonzero"; else echo "commit branch = '$CI_COMMIT_BRANCH'"; fi
  ...

check-frontend-feature-rules:
  stage: .pre
  interruptible: true
  allow_failure: true
  script:
  - echo $CI_COMMIT_BRANCH
  - echo $CI_PIPELINE_SOURCE
  - if [ -n "$CI_COMMIT_BRANCH" ]; then echo "commit branch string length is nonzero"; else echo "commit branch = '$CI_COMMIT_BRANCH'"; fi
  ...

check-task-runner-feature-rules:
  stage: .pre
  interruptible: true
  allow_failure: true
  script:
  - echo $CI_COMMIT_BRANCH
  - echo $CI_PIPELINE_SOURCE
  - if [ -n "$CI_COMMIT_BRANCH" ]; then echo "commit branch string length is nonzero"; else echo "commit branch = '$CI_COMMIT_BRANCH'"; fi
  ...

build-backend:
  stage: build
  variables:
    BACKEND_IMAGE_NAME: ${CI_REGISTRY_IMAGE}/iqbberlin/testcenter-backend
  before_script:
  - ip a | grep mtu
  - docker network inspect bridge | grep mtu
  - docker login --username $CI_DEPENDENCY_PROXY_USER --password $CI_DEPENDENCY_PROXY_PASSWORD $CI_DEPENDENCY_PROXY_SERVER
  ...

build-frontend:
  stage: build
  variables:
    FRONTEND_IMAGE_NAME: ${CI_REGISTRY_IMAGE}/iqbberlin/testcenter-frontend
  before_script:
  - ip a | grep mtu
  - docker network inspect bridge | grep mtu
  - cp frontend/src/environments/environment.dev.ts frontend/src/environments/environment.ts
  ...

build-broadcasting-service:
  stage: build
  variables:
    BROADCASTING_SERVICE_IMAGE_NAME: ${CI_REGISTRY_IMAGE}/iqbberlin/testcenter-broadcasting-service
  before_script:
  - ip a | grep mtu
  - docker network inspect bridge | grep mtu
  ...

update mysql version to 8.4 in pipeline
  .gitlab-ci.yml
Due: none

update CHANGELOG.md
  docs/CHANGELOG.md
Due: none

bump xsd reference in test-system files (after rebase)
  sampledata/system-test/CY_BKL_Config_default.xml
  sampledata/system-test/CY_BKL_Config_value-1.xml
  sampledata/system-test/CY_BKL_Config_value-2.xml
  sampledata/system-test/CY_BKL_Config_value-3.xml
Due: none

[setup] Make update process independent of the docker env file name
  scripts/make/prod.mk
  scripts/migration/17.0.0.sh
  scripts/update.sh
Due: none

Pre-Version Part 2 (just for backup)
  e2e/src/e2e/Booklet-Config/value-1.cy.ts
  e2e/src/e2e/Booklet-Config/value-2.cy.ts
  sampledata/system-test/CY_BKL_Config_value-2.xml
Due: check-e2e-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, test-e2e

reverse adding connect-db make command
  Makefile
  scripts/make/dev.mk
Due: none

add <TimeMax leave="allowed"> in Booklet
  definitions/vo_Booklet.xsd
  docs/CHANGELOG.md
  frontend/src/app/shared/interfaces/booklet.interfaces.ts
  frontend/src/app/test-controller/services/test-controller.service.ts
Due: check-backend-feature-rules, check-frontend-feature-rules, build-backend, build-frontend, build-task-runner, test-backend-unit, test-frontend-unit, test-backend-api, test-backend-initialization

Final Version Part 2
  e2e/src/e2e/Booklet-Config/defaults.cy.ts
  e2e/src/e2e/Booklet-Config/value-1.cy.ts
  e2e/src/e2e/Booklet-Config/value-2.cy.ts
  frontend/src/app/test-controller/components/unit-menu/unit-menu.component.html
  sampledata/system-test/CY_BKL_Config_default.xml
  sampledata/system-test/CY_BKL_Config_value-1.xml
  sampledata/system-test/CY_BKL_Config_value-2.xml
  sampledata/system-test/CY_BKL_Config_value-3.xml
Due: check-e2e-feature-rules, check-frontend-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, test-frontend-unit, test-e2e

clean up reload behavior
  frontend/src/app/shared/services/maindata/maindata.service.ts
  frontend/src/app/sys-check/sys-check-routing.module.ts
  frontend/src/app/test-controller/components/test-controller/test-controller.component.ts
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

fix setting of table workspace column content_type
  backend/src/controller/WorkspaceController.class.php
  backend/src/dao/WorkspaceDAO.class.php
  backend/src/files/XMLFileTesttakers.class.php
  backend/src/workspace/Workspace.class.php
  backend/test/unit/workspace/WorkspaceTest.php
  docs/CHANGELOG.md
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

tests for attribute: leave
  backend/src/workspace/WorkspaceInitializer.class.php
  e2e/src/e2e/Test-Controller/time-restrictions.cy.ts
  sampledata/system-test/CY_BKL_TestletRestrictionParam_1.xml
  sampledata/system-test/CY_BKL_TestletRestrictionParam_2.xml
  sampledata/system-test/CY_BKL_TestletRestrictionParam_3.xml
  sampledata/system-test/CY_Test_Logins.xml
Due: check-backend-feature-rules, check-e2e-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization, test-e2e

update Changelog
  docs/CHANGELOG.md
Due: none

Backend: Show correct error of applying a patch fails when creating test environment
  backend/src/helper/TestEnvironment.class.php
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

Backend: Repair createLoginSession to create group at first if not given, which is necessary now.
  backend/src/dao/SessionDAO.class.php
  backend/test/unit/dao/SessionDAOTest.php
  backend/test/unit/test-helper/CreateGroupTokenTask.php
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

Run backend with port '8080' for ordinary user processes
  backend/Dockerfile
  backend/config/vhost.conf
  backend/src/helper/FileService.class.php
  docker-compose.dev.yml
  docker-compose.prod.tls.yml
  docker-compose.prod.yml
  docker-compose.yml
  e2e/cypress.headless.config.js
  frontend/Dockerfile
  frontend/angular.json
  frontend/nginx.conf
  frontend/proxy.conf.json
  frontend/src/environments/environment.system-test.ts
  scripts/helm/testcenter/templates/backend/deployment.yaml
  scripts/helm/testcenter/templates/backend/job.yaml
  scripts/helm/testcenter/templates/backend/service.yaml
  scripts/helm/testcenter/templates/broadcasting/deployment.yaml
  scripts/helm/testcenter/templates/cache-server/deployment.yaml
  scripts/helm/testcenter/templates/db/deployment.yaml
  scripts/helm/testcenter/templates/db/service.yaml
  scripts/helm/testcenter/templates/file-server/depoyment.yaml
  scripts/helm/testcenter/templates/frontend/deployment.yaml
  scripts/helm/testcenter/templates/traefik/ingress-route.yaml
  scripts/helm/testcenter/values.yaml
  test/config.docker.json
Due: check-backend-feature-rules, check-e2e-feature-rules, check-frontend-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, build-task-runner, test-backend-unit, test-frontend-unit, test-backend-api, test-backend-initialization, test-e2e

rename migration script to 17.0.0
  scripts/migration/17.0.0.sh
Due: none

mirror max upload size for php in nginx config
  frontend/nginx.conf
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

Use 'volumes_from' backend for file-service
  docker-compose.dev.yml
  docker-compose.prod.tls.yml
  docker-compose.prod.yml
  docker-compose.yml
  file-service/nginx.conf
  scripts/helm/testcenter/templates/file-server/configmap.yaml
Due: check-file-service-feature-rules, build-file-service, build-task-runner, test-file-service-api

[cache-service] Secure connection with authentication
  .env.dev-template
  .env.prod-template
  backend/src/helper/CacheService.class.php
  backend/src/helper/SystemConfig.class.php
  backend/test/initialization/docker-compose.initialization-test.yml
  docker-compose.yml
  file-service/auth/redis_connector.lua
  file-service/nginx.conf
  scripts/helm/helm-install-tc.sh
  scripts/helm/testcenter/templates/backend/job.yaml
  scripts/helm/testcenter/templates/backend/secret.yaml
  scripts/helm/testcenter/templates/cache-server/configmap.yaml
  scripts/helm/testcenter/templates/cache-server/deployment.yaml
  scripts/helm/testcenter/templates/cache-server/secret.yaml
  scripts/helm/testcenter/templates/db/deployment.yaml
  scripts/helm/testcenter/templates/db/secret.yaml
  scripts/helm/testcenter/templates/file-server/configmap-nginx.yaml
  scripts/helm/testcenter/templates/file-server/depoyment.yaml
  scripts/helm/testcenter/templates/file-server/secret.yaml
  scripts/helm/testcenter/values.yaml
  scripts/install.sh
  scripts/migration/16.0.0.sh
  test/api/test.js
  test/config.docker.json
Due: check-backend-feature-rules, check-file-service-feature-rules, build-backend, build-file-service, build-task-runner, test-backend-unit, test-backend-api, test-file-service-api, test-backend-initialization

Add traefik dashboard for dev environment
  docker-compose.dev.yml
  scripts/helm/custom/traefik/custom-values.yaml
Due: none

Backend: Create Unit if not exists when saving unit review.
  backend/src/dao/TestDAO.class.php
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

Frontend: Add library which is suddenly needed to build frontend (but only in docker container).
  .idea/dataSources.xml
  .idea/sqldialects.xml
  backend/src/controller/TestController.class.php
  backend/src/dao/AdminDAO.class.php
  backend/src/dao/DAO.class.php
  backend/src/dao/InitDAO.class.php
  backend/src/dao/TestDAO.class.php
  backend/src/helper/State.class.php
  backend/test/unit/dao/AdminDAOTest.php
  backend/test/unit/dao/TestDAOTest.php
  backend/test/unit/helper/StateTest.php
  backend/test/unit/testdata.sql
  docs/api/test.spec.yml
  scripts/database/patches.d/15.4.0.sql
  scripts/database/patches.d/next.sql
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

[cache-service] Refactor docker environment variable settings
  backend/src/helper/SystemConfig.class.php
  backend/test/initialization/docker-compose.initialization-test.yml
  docker-compose.dev.yml
  docker-compose.yml
  scripts/helm/testcenter/templates/backend/job.yaml
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

enable file_service_enabled in .env
  .env.dev-template
  .env.prod-template
  scripts/helm/testcenter/values.yaml
Due: none

Make MySQL patch fit
  scripts/database/patches.d/next.sql
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

use frontend server as reverse proxy to file service
  backend/src/helper/FileService.class.php
  backend/src/helper/SystemConfig.class.php
  docker-compose.dev.yml
  docker-compose.prod.tls.yml
  docker-compose.prod.yml
  file-service/Dockerfile
  file-service/cors.conf
  frontend/Dockerfile
  frontend/nginx.conf
  frontend/proxy.conf.json
  frontend/src/app/test-controller/components/unithost/unithost.component.ts
  frontend/src/app/test-controller/services/backend.service.ts
  scripts/helm/testcenter/templates/traefik/ingress-route.yaml
Due: check-backend-feature-rules, check-file-service-feature-rules, check-frontend-feature-rules, build-backend, build-frontend, build-file-service, build-task-runner, test-backend-unit, test-frontend-unit, test-backend-api, test-file-service-api, test-backend-initialization

Backend: Export unitState und testState consequently as object
  backend/src/dao/AdminDAO.class.php
  backend/src/data-collection/SessionChangeMessage.class.php
  backend/test/unit/dao/AdminDAOTest.php
  docs/api/monitor.spec.yml
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

run backend dev container as www-data
  backend/Dockerfile
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

add make commands to work locally with data folder
  Makefile
  scripts/make/dev.mk
Due: none

rename environment properties
  .env.dev-template
  .env.prod-template
  backend/src/helper/SystemConfig.class.php
  backend/test/initialization/docker-compose.initialization-test.yml
  docker-compose.yml
  file-service/auth/content.lua
  file-service/auth/redis_connector.lua
  file-service/nginx.conf
  scripts/helm/testcenter/templates/backend/configmap.yaml
  scripts/helm/testcenter/templates/backend/job.yaml
  scripts/helm/testcenter/templates/cache-server/deployment.yaml
  scripts/helm/testcenter/templates/file-server/configmap-nginx.yaml
  scripts/helm/testcenter/templates/file-server/configmap.yaml
  scripts/helm/testcenter/templates/file-server/depoyment.yaml
  scripts/helm/testcenter/values.yaml
  scripts/migration/16.0.0.sh
  test/docker-compose.api-test.yml
Due: check-backend-feature-rules, check-file-service-feature-rules, build-backend, build-file-service, build-task-runner, test-backend-unit, test-backend-api, test-file-service-api, test-backend-initialization

[cache-service] Enable redis port configuration
  backend/src/helper/CacheService.class.php
  backend/src/helper/SystemConfig.class.php
  backend/test/initialization/docker-compose.initialization-test.yml
  docker-compose.yml
  file-service/auth/redis_connector.lua
  file-service/nginx.conf
  scripts/helm/testcenter/templates/backend/job.yaml
  scripts/helm/testcenter/templates/file-server/configmap-nginx.yaml
  scripts/helm/testcenter/templates/file-server/depoyment.yaml
Due: check-backend-feature-rules, check-file-service-feature-rules, build-backend, build-file-service, build-task-runner, test-backend-unit, test-backend-api, test-file-service-api, test-backend-initialization

Revise E2E test configuration
  .gitlab-ci.yml
  docker-compose.dev.yml
  e2e/cypress.headless.config.js
  e2e/docker-compose.system-test-headless.yml
  frontend/Dockerfile
  package-lock.json
  scripts/make/dev-test.mk
  scripts/make/dev.mk
Due: check-e2e-feature-rules, check-frontend-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, test-frontend-unit, test-e2e

rename backend job
  scripts/helm/testcenter/templates/backend/job.yaml
Due: none

Backend: Update Testdata
  backend/test/unit/dao/AdminDAOTest.php
  backend/test/unit/testdata.sql
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

Update to version 17.0.0
  package.json
  sampledata/Booklet.xml
  sampledata/Booklet2.xml
  sampledata/Booklet3.xml
  sampledata/SysCheck.xml
  sampledata/Testtakers.xml
  sampledata/Unit.xml
  sampledata/Unit2.xml
  sampledata/system-test/CY_BKL_Mode_Demo.xml
  sampledata/system-test/CY_BKL_Mode_Review.xml
  sampledata/system-test/CY_BKL_Mode_RunHotRestart.xml
  sampledata/system-test/CY_BKL_Mode_RunHotReturn.xml
  sampledata/system-test/CY_BKL_SessionManagement_HotModi.xml
  sampledata/system-test/CY_Test_Logins.xml
  sampledata/system-test/CY_Unit100.xml
  sampledata/system-test/CY_Unit101.xml
  sampledata/system-test/CY_Unit102.xml
  sampledata/system-test/CY_Unit103.xml
  sampledata/system-test/CY_Unit104.xml
  scripts/helm/helm-install-tc.sh
  scripts/helm/testcenter/Chart.yaml
Due: none

[file-service] Change local 'backend' and 'file service' ports
  frontend/Dockerfile
  frontend/proxy.conf.json
  scripts/helm/testcenter/templates/file-server/configmap-nginx.yaml
  scripts/helm/testcenter/templates/file-server/secret.yaml
  scripts/helm/testcenter/templates/traefik/ingress-route.yaml
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

Path conditions:
  check-backend-feature-rules: any of: backend/**/*, scripts/database/**/*, definitions/**/*
  check-broadcasting-service-feature-rules: any of: broadcasting-service/**/*
  check-common-feature-rules: any of: common/**/*
  check-e2e-feature-rules: any of: e2e/**/*
  check-file-service-feature-rules: any of: file-service/**/*
  check-frontend-feature-rules: any of: frontend/**/*
  check-task-runner-feature-rules: any of: task-runner/**/*
  build-backend: (any of: backend/**/*, scripts/database/**/*, definitions/**/*) or ((any of: task-runner/**/*) or (any of: e2e/**/*))
  build-frontend: (any of: frontend/**/*) or ((any of: common/**/*) or (any of: e2e/**/*))
  build-broadcasting-service: (any of: broadcasting-service/**/*) or ((any of: common/**/*) or (any of: e2e/**/*))
  build-file-service: (any of: file-service/**/*) or ((any of: task-runner/**/*) or (any of: e2e/**/*))
  build-e2e: any of: e2e/**/*
  build-task-runner: (any of: task-runner/**/*) or ((any of: backend/**/*, scripts/database/**/*, definitions/**/*) or (any of: file-service/**/*))
  test-backend-unit: any of: backend/**/*, scripts/database/**/*, definitions/**/*
  test-frontend-unit: (any of: frontend/**/*) or (any of: common/**/*)
  test-broadcasting-service-unit: (any of: broadcasting-service/**/*) or (any of: common/**/*)
  test-backend-api: (any of: backend/**/*, scripts/database/**/*, definitions/**/*) or (any of: task-runner/**/*)
  test-file-service-api: (any of: file-service/**/*) or (any of: task-runner/**/*)
  test-backend-initialization: any of: backend/**/*, scripts/database/**/*, definitions/**/*
  test-e2e: any of: e2e/**/*
