Repository iqb-berlin/testcenter: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend, build-frontend, build-broadcasting-service, test-backend-unit, test-frontend-unit, test-broadcasting-service-unit, test-e2e, test-backend-api

Path conditions:
  build-backend: (any of: backend/**/*, database/**/*, definitions/**/*) or (any of: e2e/**/*)
  build-frontend: (any of: frontend/**/*, common/**/*) or (any of: e2e/**/*)
  build-broadcasting-service: (any of: broadcasting-service/**/*, common/**/*) or (any of: e2e/**/*)
  test-backend-unit: any of: backend/**/*, database/**/*, definitions/**/*
  test-frontend-unit: any of: frontend/**/*, common/**/*
  test-broadcasting-service-unit: any of: broadcasting-service/**/*, common/**/*
  test-e2e: any of: e2e/**/*
  test-backend-api: any of: backend/**/*, database/**/*, definitions/**/*

Update to version 14.3.0
  dist-src/.env
  docs/CHANGELOG.md
  package.json
  sampledata/Booklet.xml
  sampledata/Booklet2.xml
  sampledata/Booklet3.xml
  sampledata/SysCheck.xml
  sampledata/Testtakers.xml
  sampledata/Unit.xml
  sampledata/Unit2.xml
  scripts/database/mysql.patches.d/14.3.0.sql
Due: none

Update CHANGELOG.md
  docs/CHANGELOG.md
Due: none

Assign feature to next version
  docs/CHANGELOG.md
Due: none

BE: Don't fail on old config file
  backend/initialize.php
  backend/src/data-collection/DataCollection.class.php
  backend/src/data-collection/InstallationArguments.class.php
Due: build-backend, test-backend-unit, test-backend-api

BE: Apply new coding style
  backend/src/data-collection/DBConfig.class.php
  backend/src/helper/DB.class.php
  backend/src/helper/TestEnvironment.class.php
Due: build-backend, test-backend-unit, test-backend-api

BE: Fix reading timestamp
  backend/src/dao/AdminDAO.class.php
Due: build-backend, test-backend-unit, test-backend-api

BE: Use MySQL for unit-tests as well
  backend/src/dao/InitDAO.class.php
  backend/src/data-collection/DBConfig.class.php
  backend/src/helper/DB.class.php
  backend/src/helper/TestEnvironment.class.php
  backend/test/unit/dao/AdminDAOTest.php
  backend/test/unit/dao/SessionDAOTest.php
  backend/test/unit/dao/SuperAdminDAOTest.php
  backend/test/unit/testdata.sql
Due: build-backend, test-backend-unit, test-backend-api

BE: Add missing foreign key for unit_data
  scripts/database/mysql.patches.d/next.sql
Due: none

BE: Apply new coding style
  backend/src/dao/AdminDAO.class.php
  backend/src/dao/SessionDAO.class.php
  backend/test/unit/dao/AdminDAOTest.php
  backend/test/unit/dao/SessionDAOTest.php
  backend/test/unit/dao/SuperAdminDAOTest.php
Due: build-backend, test-backend-unit, test-backend-api

BE: Prevent the creation of duplicate PersonSessions
  backend/src/dao/AdminDAO.class.php
  backend/src/dao/DAO.class.php
  backend/src/dao/SessionDAO.class.php
  backend/src/helper/Token.class.php
  backend/test/unit/TestDB.class.php
  backend/test/unit/dao/SessionDAOTest.php
  scripts/database/mysql.patches.d/next.sql
Due: build-backend, test-backend-unit, test-backend-api

BE: Apply new coding style
  backend/test/unit/controller/SessionControllerTest.php
  backend/test/unit/dao/DAOTest.php
  backend/test/unit/dao/TestDAOTest.php
  backend/test/unit/dao/WorkspaceDAOTest.php
Due: build-backend, test-backend-unit, test-backend-api

BE: Read timestamp correctly
  backend/src/dao/TestDAO.class.php
Due: build-backend, test-backend-unit, test-backend-api

BE: Fix unit-tests
  backend/test/unit/controller/SessionControllerTest.php
  backend/test/unit/dao/DAOTest.php
  backend/test/unit/dao/SessionDAOTest.php
  backend/test/unit/dao/TestDAOTest.php
  backend/test/unit/dao/WorkspaceDAOTest.php
  backend/test/unit/testdata.sql
Due: build-backend, test-backend-unit, test-backend-api

BE: Apply new coding style
  backend/src/dao/DAO.class.php
  backend/src/dao/InitDAO.class.php
  backend/src/dao/SuperAdminDAO.class.php
  backend/src/dao/TestDAO.class.php
  backend/src/dao/WorkspaceDAO.class.php
Due: build-backend, test-backend-unit, test-backend-api

BE: Make new testing environment work in dockerized context
  .idea/sqldialects.xml
  backend/initialize.php
  backend/phpunit.xml
  backend/src/helper/CLI.class.php
  backend/src/helper/DB.class.php
  backend/src/helper/TestEnvironment.class.php
  backend/test/database.sql
  backend/test/initialization/tests/plus/installation-and-e2e.sh
  backend/test/unit/TestDB.class.php
  backend/test/unit/dao/AdminDAOTest.php
  docker/docker-compose.dev.yml
  docs/api/workspace.spec.yml
  scripts/database/000-create-test-db.sh
  scripts/database/database.sql
  scripts/make/test.mk
  test/api/dredd-hooks.js
Due: build-backend, test-backend-unit, test-backend-api

CI: remove backend-api-against-mysql, because it's always against mysql now
  .gitlab-ci.yml
Due: none

BE: Fix timestamp-issue with test-db
  backend/src/dao/AdminDAO.class.php
  backend/src/workspace/Report.php
  docs/api/workspace.spec.yml
  scripts/database/mysql.sql
Due: build-backend, test-backend-unit, test-backend-api

BE: Rename test-db from TMP_ to TEST_
  .idea/dataSources.xml
  backend/src/helper/DB.class.php
  scripts/database/000-create-test-db.sh
Due: build-backend, test-backend-unit, test-backend-api

BE: Fix unit test
  backend/test/unit/dao/AdminDAOTest.php
Due: build-backend, test-backend-unit, test-backend-api

Automatically recreate full database-scheme when building a new version
  backend/src/helper/TestEnvironment.class.php
  backend/test/unit/TestDB.class.php
  backend/test/update-sql-scheme.php
  scripts/make/misc.mk
Due: build-backend, test-backend-unit, test-backend-api

Rename sql-files to better names.
  backend/initialize.php
  backend/src/helper/TestEnvironment.class.php
  backend/test/initialization/functions/functions.sh
  backend/test/initialization/tests/12.0.2/fix_12_0_0.sh
  backend/test/initialization/tests/12.0.2/handle_unfailed_12_0_0.sh
  backend/test/unit/TestDB.class.php
  scripts/database/base.sql
  scripts/database/database.sql
  scripts/database/full.sql
  scripts/database/patches.d/10.0.0.sql
  scripts/database/patches.d/11.0.0.sql
  scripts/database/patches.d/11.1.0.sql
  scripts/database/patches.d/11.3.0.sql
  scripts/database/patches.d/11.4.0.sql
  scripts/database/patches.d/11.4.1.sql
  scripts/database/patches.d/11.6.1.sql
  scripts/database/patches.d/12.0.2.sql
  scripts/database/patches.d/12.1.0.sql
  scripts/database/patches.d/12.2.0.sql
  scripts/database/patches.d/12.2.1.sql
  scripts/database/patches.d/12.2.2.sql
  scripts/database/patches.d/12.3.2.sql
  scripts/database/patches.d/12.3.3.sql
  scripts/database/patches.d/12.4.3.sql
  scripts/database/patches.d/13.1.0.sql
  scripts/database/patches.d/13.2.1.sql
  scripts/database/patches.d/14.0.0.sql
  scripts/database/patches.d/14.0.1.sql
  scripts/database/patches.d/14.3.0.sql
  scripts/database/patches.d/6.0.0.sql
  scripts/database/patches.d/6.1.0.sql
  scripts/database/patches.d/next.sql
  scripts/version.js
Due: build-backend, test-backend-unit, test-backend-api

Update docs for manual installation
  docs/pages/installation-local.md
Due: none

Update CHANGELOG
  docs/CHANGELOG.md
Due: none

Apply new coding style
  backend/index.php
  backend/initialize.php
Due: build-backend, test-backend-unit, test-backend-api

BE: Don't fail on misnamed folders in data-dir.
  backend/src/workspace/Workspace.class.php
Due: build-backend, test-backend-unit, test-backend-api

BE: Enable Xdebug in container
  .idea/dataSources.xml
  .idea/php.xml
  backend/config/docker-php-ext-xdebug.ini
  docker/docker-compose.dev.yml
  docker/docker-compose.system-test-ui.yml
Due: build-backend, test-backend-unit, test-backend-api

e2e: Employ new TestEnvironment for e2e tests as well
  backend/src/helper/TestEnvironment.class.php
  backend/test/unit/TestDB.class.php
  docker/docker-compose.system-test-headless.yml
  docker/docker-compose.system-test-ui.yml
  e2e/cypress/e2e/app-root.cy.ts
  e2e/cypress/e2e/superadmin.cy.ts
  e2e/cypress/e2e/sys-check.cy.ts
  e2e/cypress/e2e/test-controller.cy.ts
  e2e/cypress/e2e/utils.ts
  e2e/cypress/e2e/workspace-admin.cy.ts
  scripts/make/test.mk
Due: build-backend, build-frontend, build-broadcasting-service, test-backend-unit, test-e2e, test-backend-api

setup: let xdebug use another port, because 9092 is in use by IDEA sometimes.
  docker/docker-compose.dev.yml
  docker/docker-compose.system-test-ui.yml
Due: none

Repair system-tests by disabling CORS in this context
  backend/config/no-cors.htaccess
  docker/docker-compose.system-test-headless.yml
Due: build-backend, test-backend-unit, test-backend-api

e2e: Repair system-tests by using the correct TestMode
  e2e/cypress/e2e/utils.ts
Due: build-backend, build-frontend, build-broadcasting-service, test-e2e

BE: remove error_logs
  backend/index.php
  backend/initialize.php
Due: build-backend, test-backend-unit, test-backend-api

e2e: re-enable e2e-test in CI
  .gitlab-ci.yml
Due: none

BE: don't give access to backend while initializing
  backend/index.php
Due: build-backend, test-backend-unit, test-backend-api

Prohibit launch of the testcenter when an errors occur in the entrypoint
  dist-src/Makefile
  docker/backend-entrypoint.sh
  scripts/make/app-control.mk
  scripts/make/test.mk
Due: none

BE: Check DB config on startup
  backend/initialize.php
  backend/src/dao/InitDAO.class.php
Due: build-backend, test-backend-unit, test-backend-api

Make: Fix command to start unit-tests
  scripts/make/test.mk
Due: none

BE: Fix check for SQL-mode
  backend/src/dao/InitDAO.class.php
Due: build-backend, test-backend-unit, test-backend-api

BE: Apply new coding style
  backend/src/files/File.class.php
  backend/src/files/ResourceFile.class.php
  backend/src/files/XMLFile.class.php
  backend/src/files/XMLFileBooklet.class.php
  backend/src/files/XMLFileSysCheck.class.php
  backend/src/files/XMLFileUnit.class.php
Due: build-backend, test-backend-unit, test-backend-api

BE: Prohibit initialize from break on invalid XML
  backend/src/files/XMLFile.class.php
  docs/CHANGELOG.md
Due: build-backend, test-backend-unit, test-backend-api
