Repository iqb-berlin/testcenter: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend, build-frontend, build-broadcasting-service, test-backend-unit, test-frontend-unit, test-broadcasting-service-unit, test-e2e, test-backend-api

Path conditions:
  build-backend: (any of: backend/**/*, database/**/*, definitions/**/*) or (any of: e2e/**/*)
  build-frontend: (any of: frontend/**/*, common/**/*) or (any of: e2e/**/*)
  build-broadcasting-service: (any of: broadcasting-service/**/*, common/**/*) or (any of: e2e/**/*)
  test-backend-unit: any of: backend/**/*, database/**/*, definitions/**/*
  test-frontend-unit: any of: frontend/**/*, common/**/*
  test-broadcasting-service-unit: any of: broadcasting-service/**/*, common/**/*
  test-e2e: any of: e2e/**/*
  test-backend-api: any of: backend/**/*, database/**/*, definitions/**/*

fe: Continue merge of starter components by merges the Routes and routeguards as well as the mat-card elements.
  frontend/src/app/app-root/login/login.component.ts
  frontend/src/app/app-route-guards.ts
  frontend/src/app/app-routing.module.ts
  frontend/src/app/starter/starter.component.css
  frontend/src/app/starter/starter.component.html
  frontend/src/app/starter/starter.component.ts
Due: build-frontend, test-frontend-unit

fe: Move starter.component in app-root.
  frontend/src/app/app-root/login/login.component.ts
  frontend/src/app/app-root/starter/starter.component.css
  frontend/src/app/app-root/starter/starter.component.html
  frontend/src/app/app-root/starter/starter.component.ts
  frontend/src/app/app-route-guards.ts
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.module.ts
  frontend/src/app/shared/services/maindata/maindata.service.ts
Due: build-frontend, test-frontend-unit

Fix multi-select and remove rowselection
  frontend/src/app/superadmin/users/users.component.html
  frontend/src/app/superadmin/users/users.component.ts
  frontend/src/app/superadmin/workspaces/workspaces.component.html
  frontend/src/app/superadmin/workspaces/workspaces.component.ts
Due: build-frontend, test-frontend-unit

Set alert-component to default encapsulation
  frontend/src/app/shared/components/alert/alert.component.ts
Due: build-frontend, test-frontend-unit

Fix multi-select for admins and workspaces
  frontend/src/app/superadmin/superadmin.module.ts
  frontend/src/app/superadmin/users/users.component.html
  frontend/src/app/superadmin/users/users.component.ts
  frontend/src/app/superadmin/workspaces/workspaces.component.css
  frontend/src/app/superadmin/workspaces/workspaces.component.html
  frontend/src/app/superadmin/workspaces/workspaces.component.ts
Due: build-frontend, test-frontend-unit

Remove own autoloader
  backend/composer.json
  backend/index.php
  docker/backend.Dockerfile
Due: build-backend, test-backend-unit, test-backend-api

Display last modification date on superadmin workspace
  backend/src/dao/SuperAdminDAO.class.php
  backend/test/unit/dao/SuperAdminDAOTest.php
  frontend/src/app/superadmin/workspaces/workspaces.component.html
  frontend/src/app/superadmin/workspaces/workspaces.component.ts
Due: build-backend, build-frontend, test-backend-unit, test-frontend-unit, test-backend-api

Add new field Transcript and Reference
  definitions/vo_Unit.xsd
Due: build-backend, test-backend-unit, test-backend-api

Update last modified date format
  frontend/src/app/superadmin/workspaces/workspaces.component.html
Due: build-frontend, test-frontend-unit

Update Changelog
  docs/CHANGELOG.md
Due: none

Update to version 14.9.0
  dist-src/.env
  package.json
  sampledata/Booklet.xml
  sampledata/Booklet2.xml
  sampledata/Booklet3.xml
  sampledata/SysCheck.xml
  sampledata/Testtakers.xml
  sampledata/Unit.xml
  sampledata/Unit2.xml
Due: none

fe: Have the url of the fastLoad-service as seconds environment-parameter.
  frontend/src/app/attachment-manager/services/backend/backend.service.ts
  frontend/src/app/backend.service.ts
  frontend/src/app/shared/services/backend.service.ts
  frontend/src/app/shared/services/websocket-backend/websocket-backend.service.ts
  frontend/src/app/superadmin/backend.service.ts
  frontend/src/app/sys-check/backend.service.ts
  frontend/src/app/test-controller/components/unithost/unithost.component.ts
  frontend/src/app/test-controller/services/backend.service.ts
  frontend/src/app/test-controller/services/command.service.ts
  frontend/src/app/workspace-admin/backend.service.ts
  frontend/src/app/workspace-admin/files/files.component.ts
  frontend/src/environments/environment.dev.ts
  frontend/src/environments/environment.prod.ts
  frontend/src/environments/environment.system-test.ts
  frontend/src/main.ts
Due: build-frontend, test-frontend-unit

fe: Don't show console-warning in dev-mode (it's just to annoying).
  frontend/src/app/test-controller/components/test-controller/test-controller.component.ts
Due: build-frontend, test-frontend-unit

fe: Make it possible to use the backend as fastload-service.
  .idea/php.xml
  backend/routes.php
  backend/src/controller/TestController.class.php
  backend/src/dao/SessionDAO.class.php
  frontend/src/app/auth.interceptor.ts
  frontend/src/app/test-controller/services/backend.service.ts
Due: build-backend, build-frontend, test-backend-unit, test-frontend-unit, test-backend-api

fe: Load player from fastLoad-service as well
  frontend/src/app/test-controller/services/backend.service.ts
  frontend/src/app/test-controller/services/test-loader.service.ts
Due: build-frontend, test-frontend-unit

be: Refactor the endpoint which start / retrieve a test
  .idea/php.xml
  .idea/testcenter.iml
  backend/src/controller/SessionController.class.php
  backend/src/controller/TestController.class.php
  backend/src/dao/InitDAO.class.php
  backend/src/dao/SessionDAO.class.php
  backend/src/dao/TestDAO.class.php
  backend/src/data-collection/AccessSet.class.php
  backend/src/data-collection/SessionChangeMessage.class.php
  backend/src/data-collection/TestData.class.php
  frontend/src/app/test-controller/interfaces/test-controller.interfaces.ts
  scripts/database/patches.d/next.sql
Due: build-backend, build-frontend, test-backend-unit, test-frontend-unit, test-backend-api

Use one unified endpoint for all kinds of resource-loading
  backend/routes.php
  backend/src/controller/TestController.class.php
  backend/src/dao/SessionDAO.class.php
  backend/src/dao/WorkspaceDAO.class.php
  backend/src/workspace/Workspace.class.php
  docker/docker-compose.dev.yml
  frontend/src/app/auth.interceptor.ts
  frontend/src/app/test-controller/components/unithost/unithost.component.ts
  frontend/src/app/test-controller/interfaces/test-controller.interfaces.ts
  frontend/src/app/test-controller/services/backend.service.ts
  frontend/src/app/test-controller/services/test-controller.service.ts
  frontend/src/app/test-controller/services/test-loader.service.ts
  scripts/files-service/auth.lua
  scripts/files-service/auth/auth.lua
  scripts/files-service/auth/redis_connector.lua
  scripts/files-service/site.conf
Due: build-backend, build-frontend, test-backend-unit, test-frontend-unit, test-backend-api

Documentation
  docs/CHANGELOG.md
  docs/pages/installation-local.md
Due: none

Remove all references to own autoloader
  backend/autoload.php
  backend/initialize.php
  docker/backend.Dockerfile
  docker/docker-compose.dev.yml
  docker/docker-compose.initialization-test.yml
  docker/docker-compose.local-prod.yml
  docker/docker-compose.system-test-headless.yml
  docker/docker-compose.system-test-ui.yml
Due: build-backend, test-backend-unit, test-backend-api

Save db-queries
  backend/src/controller/TestController.class.php
  frontend/src/app/test-controller/services/backend.service.ts
  frontend/src/app/test-controller/services/test-loader.service.ts
Due: build-backend, build-frontend, test-backend-unit, test-frontend-unit, test-backend-api

Update changelog
  docs/CHANGELOG.md
Due: none

Optimize Loading Process even more
  backend/src/controller/TestController.class.php
  backend/src/dao/WorkspaceDAO.class.php
  frontend/src/app/test-controller/classes/test-controller.classes.ts
  frontend/src/app/test-controller/components/unithost/unithost.component.ts
  frontend/src/app/test-controller/interfaces/test-controller.interfaces.ts
  frontend/src/app/test-controller/services/backend.service.ts
  frontend/src/app/test-controller/services/test-controller.service.ts
  frontend/src/app/test-controller/services/test-loader.service.ts
  frontend/src/app/test-controller/unit-test-data/test-data-constructors.ts
  frontend/src/app/test-controller/unit-test-data/test-data.ts
Due: build-backend, build-frontend, test-backend-unit, test-frontend-unit, test-backend-api

fs: Rename the Fastauth-Service to Cache-service
  backend/src/controller/SessionController.class.php
  backend/src/helper/CacheService.class.php
  docker/docker-compose.dev.yml
  docker/docker-compose.yml
  scripts/files-service/auth/auth.lua
  scripts/files-service/auth/redis_connector.lua
Due: build-backend, test-backend-unit, test-backend-api

Update json-pointer and minimist to non-critical versions
  package-lock.json
  package.json
Due: none

be: Finalize sql-patch
  .idea/php.xml
  backend/src/dao/AdminDAO.class.php
  backend/src/dao/SessionDAO.class.php
  backend/src/dao/TestDAO.class.php
  scripts/database/patches.d/next.sql
Due: build-backend, test-backend-unit, test-backend-api

fe: Show group-label instead of Id in overview
  backend/src/dao/AdminDAO.class.php
  docs/CHANGELOG.md
  frontend/src/app/workspace-admin/results/results.component.html
  frontend/src/app/workspace-admin/workspace.interfaces.ts
Due: build-backend, build-frontend, test-backend-unit, test-frontend-unit, test-backend-api

Update CHANGELOG.md
  docs/CHANGELOG.md
Due: none

fe: fix layout bug in starter
  frontend/src/app/app-root/starter/starter.component.html
Due: build-frontend, test-frontend-unit

be: make vendor autoloader work locally and dockerized
  .idea/testcenter.iml
  backend/composer.json
  backend/test/unit/controller/WorkspaceControllerTest.php
  docker/backend.Dockerfile
  docker/docker-compose.dev.yml
  docs/pages/installation-local.md
  scripts/make/misc.mk
Due: build-backend, test-backend-unit, test-backend-api

be: Make sure the test-db is always created correctly
  backend/src/helper/DB.class.php
  backend/src/helper/TestEnvironment.class.php
  backend/test/unit/TestDB.class.php
  backend/test/unit/bootstrap.php
  backend/test/unit/dao/WorkspaceDAOTest.php
  backend/test/update-sql-scheme.php
  scripts/database/000-create-test-db.sh
  scripts/make/misc.mk
Due: build-backend, test-backend-unit, test-backend-api

be: Remove explicit requires in unit tests
  backend/test/unit/controller/SessionControllerTest.php
  backend/test/unit/controller/WorkspaceControllerTest.php
  backend/test/unit/dao/AdminDAOTest.php
  backend/test/unit/dao/DAOTest.php
  backend/test/unit/dao/SessionDAOTest.php
  backend/test/unit/dao/SuperAdminDAOTest.php
  backend/test/unit/dao/TestDAOTest.php
  backend/test/unit/dao/WorkspaceDAOTest.php
  backend/test/unit/data-collection/ReportFormatTest.php
  backend/test/unit/data-collection/ReportTypeTest.php
  backend/test/unit/files/FileTest.php
  backend/test/unit/files/ResourceFileTest.php
  backend/test/unit/files/SysCheckReportFileTest.php
  backend/test/unit/files/XMLFileSysCheckTest.php
  backend/test/unit/files/XMLFileTest.php
  backend/test/unit/files/XMLFilesBookletTest.php
  backend/test/unit/files/XMLFilesTesttakersTest.php
  backend/test/unit/files/XMLFilesUnitTest.php
  backend/test/unit/helper/CSVTest.php
  backend/test/unit/helper/FileExtTest.php
  backend/test/unit/helper/FolderTest.php
  backend/test/unit/helper/ModeTest.php
  backend/test/unit/helper/PasswordTest.php
  backend/test/unit/helper/ServerTest.php
  backend/test/unit/helper/TimeStampTest.php
  backend/test/unit/helper/VersionTest.php
  backend/test/unit/helper/XMLSchemaTest.php
  backend/test/unit/workspace/ReportTest.php
  backend/test/unit/workspace/SysChecksFolderTest.php
  backend/test/unit/workspace/WorkspaceCacheTest.php
  backend/test/unit/workspace/WorkspaceTest.php
  docker/backend.Dockerfile
Due: build-backend, test-backend-unit, test-backend-api

be: Fix accidentally mounted folder in compose-file.
  docker/docker-compose.dev.yml
Due: none

be: Update package-lock.json
  broadcasting-service/package-lock.json
Due: build-broadcasting-service, test-broadcasting-service-unit

Update IDE settings
  .idea/testcenter.iml
Due: none

fe: Show if files-service is configured on legal-notice page analogous to broadcasting-service status.
  frontend/src/app/app-root/legal-notice/legal-notice.component.html
  frontend/src/app/app-root/legal-notice/legal-notice.component.ts
Due: build-frontend, test-frontend-unit

be: Remove custom autoloader from init-test helpers as well.
  backend/test/initialization/functions/cli.php
  backend/test/initialization/functions/count.php
  backend/test/initialization/functions/delete-workspace.php
  backend/test/initialization/functions/sql.php
  backend/test/initialization/functions/structure.php
Due: build-backend, test-backend-unit, test-backend-api

be: Add setting for turning on/off files service in .env-file.
  .idea/php.xml
  backend/index.php
  backend/initialize.php
  backend/src/controller/SystemController.class.php
  backend/src/data-collection/SystemConfig.class.php
  backend/src/helper/FileService.class.php
  broadcasting-service/package-lock.json
  dist-src/.env
  dist-src/patch.sh
  docker/.env-default
  docker/backend-entrypoint.sh
  docker/docker-compose.yml
  scripts/files-service/site.conf
Due: build-backend, build-broadcasting-service, test-backend-unit, test-broadcasting-service-unit, test-backend-api

Add MTU configurtion option to testcenter network
  docker/docker-compose.yml
Due: none

Configure network MTU for docker service
  .gitlab-ci.yml
Due: none
