Repository iqb-berlin/testcenter: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend, build-frontend, build-broadcasting-service, test-backend-unit, test-frontend-unit, test-broadcasting-service-unit, test-e2e, test-backend-api

build-backend:
  stage: build
  script:
  - apk add make curl
  - curl -SL https://github.com/docker/compose/releases/download/v2.6.0/docker-compose-linux-x86_64 -o /usr/local/bin/docker-compose
  - chmod +x /usr/local/bin/docker-compose
  - make init
  - make build service=testcenter-backend
  ...

build-frontend:
  stage: build
  script:
  - apk add make curl
  - curl -SL https://github.com/docker/compose/releases/download/v2.6.0/docker-compose-linux-x86_64 -o /usr/local/bin/docker-compose
  - chmod +x /usr/local/bin/docker-compose
  - make init
  - make build service=testcenter-frontend
  ...

build-broadcasting-service:
  stage: build
  script:
  - apk add make curl
  - curl -SL https://github.com/docker/compose/releases/download/v2.6.0/docker-compose-linux-x86_64 -o /usr/local/bin/docker-compose
  - chmod +x /usr/local/bin/docker-compose
  - make init
  - make build service=testcenter-broadcasting-service
  ...

test-backend-unit:
  stage: test
  needs:
  - job: build-backend
    artifacts: true
  script:
  - apk add make docker-compose
  - make init
  - docker load -i backend_image.tar
  - make test-backend-unit

test-frontend-unit:
  stage: test
  needs:
  - job: build-frontend
    artifacts: true
  script:
  - apk add make docker-compose
  - make init-env
  - make init-frontend
  - docker load -i frontend_image.tar
  - make test-frontend-unit

test-broadcasting-service-unit:
  stage: test
  needs:
  - job: build-broadcasting-service
    artifacts: true
  script:
  - apk add make docker-compose
  - make init-env
  - docker load -i bs_image.tar
  - make test-broadcasting-service-unit

test-e2e:
  stage: test
  needs:
  - job: build-frontend
    artifacts: true
  - job: build-backend
    artifacts: true
  - job: build-broadcasting-service
    artifacts: true
  script:
  - apk add make
  - docker load -i frontend_image.tar
  - docker load -i backend_image.tar
  - docker load -i bs_image.tar
  ...

test-backend-api:
  stage: test
  needs:
  - job: build-backend
    artifacts: true
  script:
  - apk add make
  - make init
  - make test-backend-api

[Backend] Fix Validation by fixing the function that marks unused items
  backend/src/dao/WorkspaceDAO.class.php
  backend/src/files/File.class.php
  backend/src/files/XMLFileSysCheck.class.php
  backend/src/files/XMLFileTesttakers.class.php
  backend/src/workspace/WorkspaceValidator.class.php
Due: build-backend, test-backend-unit, test-backend-api

[Backend] Fix expectations for `[GET] /workspace/:ws_id/files`
  docs/api/workspace.spec.yml
Due: none

[Backend] Fix `[DELETE] /workspace/:ws_id/files`
  backend/src/controller/WorkspaceController.class.php
  backend/src/dao/WorkspaceDAO.class.php
  backend/src/workspace/SysChecksFolder.class.php
  backend/src/workspace/Workspace.class.php
Due: build-backend, test-backend-unit, test-backend-api

[DB] Update MySQL-version
  docker/docker-compose.initialization-test.yml
  docker/docker-compose.system-test-headless.yml
  docker/docker-compose.system-test-ui.yml
  docker/docker-compose.yml
  e2e/backup/docker-compose.system-test.yml
  scripts/database/my.cnf
Due: build-backend, build-frontend, build-broadcasting-service, test-e2e

[Backend] Restore reading of requested attachments
  backend/src/files/File.class.php
  backend/src/files/XMLFile.class.php
  backend/src/helper/Folder.class.php
  backend/src/workspace/Workspace.class.php
  backend/test/unit/files/XMLFileTest.php
Due: build-backend, test-backend-unit, test-backend-api

[Backend] use load method instead of recreate file-object to get it's contents
  backend/src/controller/TestController.class.php
Due: build-backend, test-backend-unit, test-backend-api

[Backend] Find unused items during initial validation
  backend/src/workspace/Workspace.class.php
Due: build-backend, test-backend-unit, test-backend-api

Migrate docker-compose scripts to docker compose plugin scripts
  .gitlab-ci.yml
  dist-src/Makefile
  dist-src/install.sh
  scripts/make/app-control.mk
  scripts/make/misc.mk
  scripts/make/test.mk
Due: none

Update Changelog
  docs/CHANGELOG.md
Due: none

[DB] Fix api-tests-against-mysql for /attachment
  backend/src/helper/TestEnvironment.class.php
  scripts/database/mysql.sql
Due: build-backend, test-backend-unit, test-backend-api

[Backend] Fix detection of unused items
  backend/src/files/File.class.php
  backend/src/files/ResourceFile.class.php
  backend/src/files/XMLFile.class.php
  backend/src/files/XMLFileBooklet.class.php
  backend/src/files/XMLFileSysCheck.class.php
  backend/src/files/XMLFileTesttakers.class.php
  backend/src/files/XMLFileUnit.class.php
  backend/src/workspace/Workspace.class.php
  backend/src/workspace/WorkspaceValidator.class.php
Due: build-backend, test-backend-unit, test-backend-api

[Backend] Fix `[GET] resource` with un-normalized file-names
  backend/src/controller/TestController.class.php
  backend/src/helper/FileName.class.php
Due: build-backend, test-backend-unit, test-backend-api

[Backend] Update Test-db definition
  backend/test/database.sql
Due: build-backend, test-backend-unit, test-backend-api

[Backend] Prevent overwriting of a player with a file with the name but different player
  backend/src/workspace/Workspace.class.php
Due: build-backend, test-backend-unit, test-backend-api

[Backend] use standard-sql string concatenation to stay sqlite compatible
  backend/src/dao/WorkspaceDAO.class.php
Due: build-backend, test-backend-unit, test-backend-api

[Backend] Fix the endpoints getSysCheck and getSysCheckUnitAndPLayer
  backend/src/controller/WorkspaceController.class.php
  backend/src/files/XMLFileUnit.class.php
  backend/src/workspace/Workspace.class.php
  backend/test/unit/files/XMLFilesUnitTest.php
Due: build-backend, test-backend-unit, test-backend-api

[Backend] Fix API response example
  docs/api/workspace.spec.yml
Due: none

[API-Tests] Clean up script file
  test/api/dredd-hooks.js
Due: none

[API-Tests] Exit api-tests with status code 1 on error
  test/api/dredd-test.js
Due: none

[API-Tests] Make query sqlite compatible
  backend/src/dao/WorkspaceDAO.class.php
Due: build-backend, test-backend-unit, test-backend-api

[API-Tests] Re-Enable all API-tests
  test/api/dredd-test.js
Due: none

[Runner] Update package-lock.json
  package-lock.json
Due: none

[Api-Tests] Re-Enable all tests
  test/api/dredd-test.js
Due: none

[Backend] Store file metadata in DB on fiel upload
  backend/src/workspace/Workspace.class.php
Due: build-backend, test-backend-unit, test-backend-api

[Backend] Fix metadata storage while file upload
  .idea/dataSources.xml
  backend/src/controller/TestController.class.php
  backend/src/controller/WorkspaceController.class.php
  backend/src/dao/WorkspaceDAO.class.php
  backend/src/data-collection/FileRelation.class.php
  backend/src/files/File.class.php
  backend/src/files/ResourceFile.class.php
  backend/src/files/XMLFileBooklet.class.php
  backend/src/files/XMLFileSysCheck.class.php
  backend/src/files/XMLFileTesttakers.class.php
  backend/src/files/XMLFileUnit.class.php
  backend/src/workspace/Workspace.class.php
  backend/src/workspace/WorkspaceCache.class.php
  backend/test/initialization/tests/14.0.0/file-handling.sh
  backend/test/unit/files/XMLFilesUnitTest.php
  backend/test/unit/mock-classes/WorkspaceCacheMock.php
  backend/test/unit/workspace/WorkspaceValidatorTest.php
  docker/backend.Dockerfile
Due: build-backend, test-backend-unit, test-backend-api

[Backend] Make Endpoint to work withe empty message value fix Api-Test
  backend/src/controller/TestController.class.php
Due: build-backend, test-backend-unit, test-backend-api

Update CHANGELOG.md
  docs/CHANGELOG.md
Due: none

Support Verona-Interface 5
  docs/CHANGELOG.md
  package.json
Due: none

[Backend] Improve file upload.
  backend/src/workspace/Workspace.class.php
Due: build-backend, test-backend-unit, test-backend-api

Remove unnecessary print
  frontend/src/app/sys-check/report/report.component.ts
Due: build-frontend, test-frontend-unit

Update variable name
  definitions/custom-texts.json
  frontend/src/app/app-root/monitor-starter/monitor-starter.component.html
Due: build-backend, build-frontend, test-backend-unit, test-frontend-unit, test-backend-api

[Backend] Update file-relations in DB when new version is added
  backend/src/dao/WorkspaceDAO.class.php
  backend/src/files/XMLFileBooklet.class.php
  backend/src/files/XMLFileUnit.class.php
  backend/src/workspace/Workspace.class.php
  backend/test/unit/files/XMLFilesUnitTest.php
Due: build-backend, test-backend-unit, test-backend-api

[Backend] Clean up comments
  backend/src/dao/WorkspaceDAO.class.php
  backend/src/workspace/WorkspaceCache.class.php
Due: build-backend, test-backend-unit, test-backend-api

Use TLS 1.2 for MySQL database
  scripts/database/my.cnf
Due: none

[Backend] Abandon the idea of soft player-relations.
  backend/src/controller/BookletController.class.php
  backend/src/controller/SessionController.class.php
  backend/src/controller/TestController.class.php
  backend/src/controller/WorkspaceController.class.php
  backend/src/dao/WorkspaceDAO.class.php
  backend/src/data-collection/FileRelationshipType.class.php
  backend/src/files/File.class.php
  backend/src/files/ResourceFile.class.php
  backend/src/files/XMLFileUnit.class.php
  backend/src/helper/FileID.class.php
  backend/src/helper/Version.class.php
  backend/src/workspace/Workspace.class.php
  backend/src/workspace/WorkspaceCache.class.php
  backend/test/unit/controller/SessionControllerTest.php
  backend/test/unit/workspace/WorkspaceTest.php
  sampledata/Unit.xml
  sampledata/Unit2.xml
  scripts/database/mysql.patches.d/next.sql
Due: build-backend, test-backend-unit, test-backend-api

[Backend] Repair Api-tests by updating specs.
  .idea/dataSources.xml
  backend/src/controller/TestController.class.php
  backend/test/database.sql
  docs/api/test.spec.yml
Due: build-backend, test-backend-unit, test-backend-api

Path conditions:
  build-backend: (any of: backend/**/*, database/**/*, definitions/**/*) or (any of: e2e/**/*)
  build-frontend: (any of: frontend/**/*, common/**/*) or (any of: e2e/**/*)
  build-broadcasting-service: (any of: broadcasting-service/**/*, common/**/*) or (any of: e2e/**/*)
  test-backend-unit: any of: backend/**/*, database/**/*, definitions/**/*
  test-frontend-unit: any of: frontend/**/*, common/**/*
  test-broadcasting-service-unit: any of: broadcasting-service/**/*, common/**/*
  test-e2e: any of: e2e/**/*
  test-backend-api: any of: backend/**/*, database/**/*, definitions/**/*
