Repository iqb-berlin/testcenter: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-backend-feature-rules, check-broadcasting-service-feature-rules, check-common-feature-rules, check-e2e-feature-rules, check-file-service-feature-rules, check-frontend-feature-rules, check-task-runner-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, build-task-runner, test-backend-unit, test-frontend-unit, test-broadcasting-service-unit, test-backend-api, test-file-service-api, test-backend-initialization, test-e2e

check-backend-feature-rules:
  stage: .pre
  interruptible: true
  allow_failure: true
  script:
  - echo $CI_COMMIT_BRANCH
  - echo $CI_PIPELINE_SOURCE
  - if [ -n "$CI_COMMIT_BRANCH" ]; then echo "commit branch string length is nonzero"; else echo "commit branch = '$CI_COMMIT_BRANCH'"; fi
  ...

check-broadcasting-service-feature-rules:
  stage: .pre
  interruptible: true
  allow_failure: true
  script:
  - echo $CI_COMMIT_BRANCH
  - echo $CI_PIPELINE_SOURCE
  - if [ -n "$CI_COMMIT_BRANCH" ]; then echo "commit branch string length is nonzero"; else echo "commit branch = '$CI_COMMIT_BRANCH'"; fi
  ...

check-common-feature-rules:
  stage: .pre
  interruptible: true
  allow_failure: true
  script:
  - echo $CI_COMMIT_BRANCH
  - echo $CI_PIPELINE_SOURCE
  - if [ -n "$CI_COMMIT_BRANCH" ]; then echo "commit branch string length is nonzero"; else echo "commit branch = '$CI_COMMIT_BRANCH'"; fi
  ...

check-e2e-feature-rules:
  stage: .pre
  interruptible: true
  allow_failure: true
  script:
  - echo $CI_COMMIT_BRANCH
  - echo $CI_PIPELINE_SOURCE
  - if [ -n "$CI_COMMIT_BRANCH" ]; then echo "commit branch string length is nonzero"; else echo "commit branch = '$CI_COMMIT_BRANCH'"; fi
  ...

check-file-service-feature-rules:
  stage: .pre
  interruptible: true
  allow_failure: true
  script:
  - echo $CI_COMMIT_BRANCH
  - echo $CI_PIPELINE_SOURCE
  - if [ -n "$CI_COMMIT_BRANCH" ]; then echo "commit branch string length is nonzero"; else echo "commit branch = '$CI_COMMIT_BRANCH'"; fi
  ...

check-frontend-feature-rules:
  stage: .pre
  interruptible: true
  allow_failure: true
  script:
  - echo $CI_COMMIT_BRANCH
  - echo $CI_PIPELINE_SOURCE
  - if [ -n "$CI_COMMIT_BRANCH" ]; then echo "commit branch string length is nonzero"; else echo "commit branch = '$CI_COMMIT_BRANCH'"; fi
  ...

check-task-runner-feature-rules:
  stage: .pre
  interruptible: true
  allow_failure: true
  script:
  - echo $CI_COMMIT_BRANCH
  - echo $CI_PIPELINE_SOURCE
  - if [ -n "$CI_COMMIT_BRANCH" ]; then echo "commit branch string length is nonzero"; else echo "commit branch = '$CI_COMMIT_BRANCH'"; fi
  ...

build-backend:
  stage: build
  variables:
    BACKEND_IMAGE_NAME: ${CI_REGISTRY_IMAGE}/iqbberlin/testcenter-backend
  before_script:
  - ip a | grep mtu
  - docker network inspect bridge | grep mtu
  - docker login --username $CI_DEPENDENCY_PROXY_USER --password $CI_DEPENDENCY_PROXY_PASSWORD $CI_DEPENDENCY_PROXY_SERVER
  ...

build-frontend:
  stage: build
  variables:
    FRONTEND_IMAGE_NAME: ${CI_REGISTRY_IMAGE}/iqbberlin/testcenter-frontend
  before_script:
  - ip a | grep mtu
  - docker network inspect bridge | grep mtu
  - cp frontend/src/environments/environment.dev.ts frontend/src/environments/environment.ts
  ...

build-broadcasting-service:
  stage: build
  variables:
    BROADCASTING_SERVICE_IMAGE_NAME: ${CI_REGISTRY_IMAGE}/iqbberlin/testcenter-broadcasting-service
  before_script:
  - ip a | grep mtu
  - docker network inspect bridge | grep mtu
  ...

[Setup] Remove mounting of nginx frontend configuration
  dist-src/docker-compose.prod.yml
  docker/docker-compose.local-prod.yml
  frontend/Dockerfile
  frontend/nginx.conf
  scripts/install.sh
  scripts/migration/15.3.0.sh
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

[Setup] Revise production Makefile
  scripts/make/prod.mk
Due: none

[Setup] Adjust db healthckeck parameters
  docker/docker-compose.yml
Due: none

Navigation: When entering a locked unit, try to go the next unlocked
  frontend/src/app/test-controller/routing/unit-activate.guard.ts
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

Include simple player 6.0.2
  sampledata/verona-player-simple-6.0.html
Due: none

Update CyPress
  e2e/package-lock.json
  e2e/package.json
Due: check-e2e-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, test-e2e

[Setup] Revamp update script
  dist-src/update_new.sh
Due: none

[Setup] Rename script and move it to the scripts directory
  dist-src/update_new.sh
  scripts/update.sh
Due: none

[Setup] Add update script self-upgrade and migration features
  scripts/update.sh
Due: none

[Setup] Add update script backup functionality
  scripts/update.sh
Due: none

add regular admin token to use the `PATCH /user/{user_id}/password` endpoint
  backend/routes.php
  backend/src/middleware/IsSuperAdmin.class.php
  backend/src/middleware/IsSuperAdminOrSelf.php
  backend/test/unit/controller/SessionControllerTest.php
  frontend/src/app/app-root/starter/starter.component.html
  frontend/src/app/app-root/starter/starter.component.ts
  frontend/src/app/superadmin/users/users.component.spec.ts
Due: check-backend-feature-rules, check-frontend-feature-rules, build-backend, build-frontend, build-task-runner, test-backend-unit, test-frontend-unit, test-backend-api, test-backend-initialization

add new change password button
  backend/src/data-collection/AccessSet.class.php
  backend/test/unit/controller/SessionControllerTest.php
  docs/api/components.spec.yml
  docs/api/session.spec.yml
  frontend/src/app/app-root/starter/starter.component.html
  frontend/src/app/app.interfaces.ts
Due: check-backend-feature-rules, check-frontend-feature-rules, build-backend, build-frontend, build-task-runner, test-backend-unit, test-frontend-unit, test-backend-api, test-backend-initialization

set "pwSetByAdmin" to true, if one user is added in super admin dashboard
  backend/src/controller/UserController.class.php
  backend/src/dao/SuperAdminDAO.class.php
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

add dialog to change password in starter menu when password was set by admin
  frontend/src/app/app-root/starter/starter.component.ts
  frontend/src/app/shared/services/password-change/password-change.service.ts
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

restructure e2e tests for superadmin
  e2e/cypress/e2e/Super-Admin/settings.cy.ts
  e2e/cypress/e2e/Super-Admin/user-management.cy.ts
  e2e/cypress/e2e/Super-Admin/workspace-management.cy.ts
  e2e/cypress/e2e/superadmin.cy.ts
Due: check-e2e-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, test-e2e

add passwordConfirm Validator
  frontend/src/app/shared/components/newpassword/new-password.component.html
  frontend/src/app/shared/components/newpassword/new-password.component.ts
  frontend/src/app/shared/validators/samePassword.validator.ts
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

logout after changing password
  e2e/cypress/e2e/Workspace-Admin/misc.cy.ts
  frontend/src/app/app-root/starter/starter.component.html
  frontend/src/app/app-root/starter/starter.component.ts
  frontend/src/app/shared/services/password-change/password-change.service.ts
  frontend/src/app/superadmin/users/users.component.ts
Due: check-e2e-feature-rules, check-frontend-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, test-frontend-unit, test-e2e

fix password change confirmation snackbar
  frontend/src/app/shared/services/password-change/password-change.service.ts
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

set "pwSetByAdmin" to true or false depending on wether the super admin or a regular admin changed the password
  backend/src/controller/UserController.class.php
  backend/src/dao/SuperAdminDAO.class.php
  docs/CHANGELOG.md
  docs/api/session.spec.yml
  frontend/src/app/app-root/starter/starter.component.ts
Due: check-backend-feature-rules, check-frontend-feature-rules, build-backend, build-frontend, build-task-runner, test-backend-unit, test-frontend-unit, test-backend-api, test-backend-initialization

introduce new field "pwSetByAdmin" for /session return value
  backend/src/dao/AdminDAO.class.php
  backend/src/data-collection/AccessSet.class.php
  backend/src/data-collection/Admin.class.php
  docs/api/components.spec.yml
  frontend/src/app/app-root/starter/starter.component.ts
  frontend/src/app/app.interfaces.ts
  scripts/database/patches.d/next.sql
Due: check-backend-feature-rules, check-frontend-feature-rules, build-backend, build-frontend, build-task-runner, test-backend-unit, test-frontend-unit, test-backend-api, test-backend-initialization

udpate verona-player-simple-6.0.html in sampledata to newest version 6.0.2
  sampledata/verona-player-simple-6.0.html
Due: none

refactor calling of newPassword dialogbox in shared folder
  frontend/src/app/shared/components/newpassword/new-password.component.html
  frontend/src/app/shared/components/newpassword/new-password.component.spec.ts
  frontend/src/app/shared/components/newpassword/new-password.component.ts
  frontend/src/app/shared/services/backend.service.ts
  frontend/src/app/shared/services/password-change/password-change.service.ts
  frontend/src/app/shared/shared.module.ts
  frontend/src/app/superadmin/backend.service.ts
  frontend/src/app/superadmin/superadmin.module.ts
  frontend/src/app/superadmin/users/users.component.ts
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

fix changing password e2e test
  e2e/cypress/e2e/Super-Admin/user-management.cy.ts
Due: check-e2e-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, test-e2e

add new possibility of workspace admin to api doc
  docs/CHANGELOG.md
  docs/api/user.spec.yml
Due: none

fix - dont redirect when cancelling the "change password" window
  frontend/src/app/app-root/starter/starter.component.ts
  frontend/src/app/shared/services/password-change/password-change.service.ts
  frontend/src/app/superadmin/users/users.component.ts
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

fix unit test
  backend/src/dao/SuperAdminDAO.class.php
  backend/test/unit/controller/SessionControllerTest.php
  backend/test/unit/testdata.sql
  scripts/database/full.sql
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

rerun backend container to apply autoload refresh
  scripts/make/misc.mk
Due: none

[Setup] Fix docker compose typos
  dist-src/docker-compose.prod.tls.yml
Due: none

[Setup] Increase traefik base image to 'traefik:v2.11'
  .gitlab-ci.yml
  docker/docker-compose.yml
Due: none

add e2e tests to new systemcheck paths
  e2e/cypress/e2e/Sys-Check/sys-check.cy.ts
  e2e/cypress/e2e/utils.ts
  e2e/cypress/fixtures/SysCheck_correct.xml
  frontend/src/app/app-root/starter/starter.component.html
Due: check-e2e-feature-rules, check-frontend-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, test-frontend-unit, test-e2e

[Setup] Increase backend base image to 'php:8.3.12-bookworm'
  backend/Dockerfile
  backend/composer.json
  backend/composer.lock
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

[Setup] Increase cache service base image to 'redis:7.4-bookworm'
  .gitlab-ci.yml
  docker/docker-compose.yml
Due: none

[Setup] Increase frontend base image to 'node:20.18-bookworm'
  frontend/Dockerfile
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

[Setup] Increase pages base image to 'ruby:3.3'
  .gitlab-ci.yml
Due: none

[Setup] Increase broadcasting service base image to 'node:20.18-bookworm-slim'
  broadcasting-service/Dockerfile
Due: check-broadcasting-service-feature-rules, build-broadcasting-service, test-broadcasting-service-unit

refactor e2e utils 'openSampleWorkspace()'
  e2e/cypress/e2e/Session-Management/hot-restart-mode.cy.ts
  e2e/cypress/e2e/Session-Management/hot-return-mode.cy.ts
  e2e/cypress/e2e/Session-Management/testtakers-content.cy.ts
  e2e/cypress/e2e/Session-Management/testtakers-duplicates.cy.ts
  e2e/cypress/e2e/Sys-Check/sys-check.cy.ts
  e2e/cypress/e2e/Test-Controller/Demo.cy.ts
  e2e/cypress/e2e/Test-Controller/Review.cy.ts
  e2e/cypress/e2e/Test-Controller/RunHotRestart.cy.ts
  e2e/cypress/e2e/Test-Controller/RunHotReturn.cy.ts
  e2e/cypress/e2e/Workspace-Admin/files.cy.ts
  e2e/cypress/e2e/Workspace-Admin/results.cy.ts
  e2e/cypress/e2e/Workspace-Admin/system-check.cy.ts
  e2e/cypress/e2e/utils.ts
Due: check-e2e-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, test-e2e

Turn Off Buffers for e2e test
  sampledata/system-test/CY_BKL_Mode_RunHotReturn.xml
Due: none

TestController: Improve buffer-management
  frontend/src/app/test-controller/components/test-controller/test-controller.component.ts
  frontend/src/app/test-controller/components/test-status/test-status.component.html
  frontend/src/app/test-controller/interfaces/test-controller.interfaces.ts
  frontend/src/app/test-controller/services/backend.service.ts
  frontend/src/app/test-controller/services/test-controller.service.ts
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

Update to version 15.3.0
  dist-src/.env.prod-template
  docs/CHANGELOG.md
  package.json
  sampledata/Booklet.xml
  sampledata/Booklet2.xml
  sampledata/Booklet3.xml
  sampledata/SysCheck.xml
  sampledata/Testtakers.xml
  sampledata/Unit.xml
  sampledata/Unit2.xml
  scripts/database/patches.d/15.3.0.sql
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

Path conditions:
  check-backend-feature-rules: any of: backend/**/*, scripts/database/**/*, definitions/**/*
  check-broadcasting-service-feature-rules: any of: broadcasting-service/**/*
  check-common-feature-rules: any of: common/**/*
  check-e2e-feature-rules: any of: e2e/**/*
  check-file-service-feature-rules: any of: file-service/**/*
  check-frontend-feature-rules: any of: frontend/**/*
  check-task-runner-feature-rules: any of: task-runner/**/*
  build-backend: (any of: backend/**/*, scripts/database/**/*, definitions/**/*) or ((any of: task-runner/**/*) or (any of: e2e/**/*))
  build-frontend: (any of: frontend/**/*) or ((any of: common/**/*) or (any of: e2e/**/*))
  build-broadcasting-service: (any of: broadcasting-service/**/*) or ((any of: common/**/*) or (any of: e2e/**/*))
  build-file-service: (any of: file-service/**/*) or ((any of: task-runner/**/*) or (any of: e2e/**/*))
  build-e2e: any of: e2e/**/*
  build-task-runner: (any of: task-runner/**/*) or ((any of: backend/**/*, scripts/database/**/*, definitions/**/*) or (any of: file-service/**/*))
  test-backend-unit: any of: backend/**/*, scripts/database/**/*, definitions/**/*
  test-frontend-unit: (any of: frontend/**/*) or (any of: common/**/*)
  test-broadcasting-service-unit: (any of: broadcasting-service/**/*) or (any of: common/**/*)
  test-backend-api: (any of: backend/**/*, scripts/database/**/*, definitions/**/*) or (any of: task-runner/**/*)
  test-file-service-api: (any of: file-service/**/*) or (any of: task-runner/**/*)
  test-backend-initialization: any of: backend/**/*, scripts/database/**/*, definitions/**/*
  test-e2e: any of: e2e/**/*
