Repository iqb-berlin/testcenter: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-backend-feature-rules, check-broadcasting-service-feature-rules, check-common-feature-rules, check-e2e-feature-rules, check-file-service-feature-rules, check-frontend-feature-rules, check-task-runner-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, build-task-runner, test-backend-unit, test-frontend-unit, test-broadcasting-service-unit, test-backend-api, test-file-service-api, test-backend-initialization, test-e2e

check-backend-feature-rules:
  stage: .pre
  interruptible: true
  allow_failure: true
  script:
  - echo $CI_COMMIT_BRANCH
  - echo $CI_PIPELINE_SOURCE
  - if [ -n "$CI_COMMIT_BRANCH" ]; then echo "commit branch string length is nonzero"; else echo "commit branch = '$CI_COMMIT_BRANCH'"; fi
  ...

check-broadcasting-service-feature-rules:
  stage: .pre
  interruptible: true
  allow_failure: true
  script:
  - echo $CI_COMMIT_BRANCH
  - echo $CI_PIPELINE_SOURCE
  - if [ -n "$CI_COMMIT_BRANCH" ]; then echo "commit branch string length is nonzero"; else echo "commit branch = '$CI_COMMIT_BRANCH'"; fi
  ...

check-common-feature-rules:
  stage: .pre
  interruptible: true
  allow_failure: true
  script:
  - echo $CI_COMMIT_BRANCH
  - echo $CI_PIPELINE_SOURCE
  - if [ -n "$CI_COMMIT_BRANCH" ]; then echo "commit branch string length is nonzero"; else echo "commit branch = '$CI_COMMIT_BRANCH'"; fi
  ...

check-e2e-feature-rules:
  stage: .pre
  interruptible: true
  allow_failure: true
  script:
  - echo $CI_COMMIT_BRANCH
  - echo $CI_PIPELINE_SOURCE
  - if [ -n "$CI_COMMIT_BRANCH" ]; then echo "commit branch string length is nonzero"; else echo "commit branch = '$CI_COMMIT_BRANCH'"; fi
  ...

check-file-service-feature-rules:
  stage: .pre
  interruptible: true
  allow_failure: true
  script:
  - echo $CI_COMMIT_BRANCH
  - echo $CI_PIPELINE_SOURCE
  - if [ -n "$CI_COMMIT_BRANCH" ]; then echo "commit branch string length is nonzero"; else echo "commit branch = '$CI_COMMIT_BRANCH'"; fi
  ...

check-frontend-feature-rules:
  stage: .pre
  interruptible: true
  allow_failure: true
  script:
  - echo $CI_COMMIT_BRANCH
  - echo $CI_PIPELINE_SOURCE
  - if [ -n "$CI_COMMIT_BRANCH" ]; then echo "commit branch string length is nonzero"; else echo "commit branch = '$CI_COMMIT_BRANCH'"; fi
  ...

check-task-runner-feature-rules:
  stage: .pre
  interruptible: true
  allow_failure: true
  script:
  - echo $CI_COMMIT_BRANCH
  - echo $CI_PIPELINE_SOURCE
  - if [ -n "$CI_COMMIT_BRANCH" ]; then echo "commit branch string length is nonzero"; else echo "commit branch = '$CI_COMMIT_BRANCH'"; fi
  ...

build-backend:
  stage: build
  variables:
    BACKEND_IMAGE_NAME: ${CI_REGISTRY_IMAGE}/iqbberlin/testcenter-backend
  before_script:
  - ip a | grep mtu
  - docker network inspect bridge | grep mtu
  - docker login --username $CI_DEPENDENCY_PROXY_USER --password $CI_DEPENDENCY_PROXY_PASSWORD $CI_DEPENDENCY_PROXY_SERVER
  ...

build-frontend:
  stage: build
  variables:
    FRONTEND_IMAGE_NAME: ${CI_REGISTRY_IMAGE}/iqbberlin/testcenter-frontend
  before_script:
  - ip a | grep mtu
  - docker network inspect bridge | grep mtu
  - cp frontend/src/environments/environment.dev.ts frontend/src/environments/environment.ts
  ...

build-broadcasting-service:
  stage: build
  variables:
    BROADCASTING_SERVICE_IMAGE_NAME: ${CI_REGISTRY_IMAGE}/iqbberlin/testcenter-broadcasting-service
  before_script:
  - ip a | grep mtu
  - docker network inspect bridge | grep mtu
  ...

kubernetes init
  kubernetes/migration/be.yml
  kubernetes/migration/bs.yml
  kubernetes/migration/config.yml
  kubernetes/migration/cs.yml
  kubernetes/migration/db.yml
  kubernetes/migration/fe.yml
  kubernetes/migration/fs.yml
  kubernetes/migration/ingress.yml
  kubernetes/migration/volume.yml
Due: none

fix db with new sql mode
  kubernetes/migration/be.yml
  kubernetes/migration/db.yml
Due: none

debug shit
  .idea/php-test-framework.xml
  test/api/hooks.js
Due: none

Revert "debug shit"
  .idea/php-test-framework.xml
  test/api/hooks.js
Due: none

update docker version in ci
  .gitlab-ci.yml
Due: none

Lock admin-accounts or logins for selected roles (monitors) for 30 minutes after five failed password attempts.
  .idea/dataSources.xml
  .idea/php.xml
  .idea/testcenter.iml
  backend/src/controller/SessionController.class.php
  backend/src/dao/AdminDAO.class.php
  backend/src/dao/SessionDAO.class.php
  backend/src/data-collection/FailedLogin.enum.php
  backend/src/data-collection/Login.class.php
  backend/src/helper/CacheService.class.php
  backend/src/helper/Mode.class.php
  backend/src/helper/SystemConfig.class.php
  backend/src/helper/TestEnvironment.class.php
  backend/test/unit/controller/SessionControllerTest.php
  backend/test/unit/dao/AdminDAOTest.php
  backend/test/unit/dao/SessionDAOTest.php
  docs/CHANGELOG.md
  docs/api/session.spec.yml
  e2e/cypress/e2e/Session-Management/login-sink.cy.ts
  e2e/cypress/e2e/utils.ts
  frontend/src/app/app-root/code-input/code-input.component.html
  frontend/src/app/app-root/code-input/code-input.component.ts
  frontend/src/app/app-root/login/login.component.ts
  frontend/src/app/error.interceptor.ts
  test/api/test.js
Due: check-backend-feature-rules, check-e2e-feature-rules, check-frontend-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, build-task-runner, test-backend-unit, test-frontend-unit, test-backend-api, test-backend-initialization, test-e2e

update idea config
  .idea/dataSources.xml
  .idea/testcenter.iml
Due: none

Allow the run of only a selected testSuite with test-system-headless
  docker/docker-compose.system-test-headless.yml
  scripts/make/test.mk
Due: none

Make testcenter app 'let's encrypt' ready
  dist-src/docker-compose.prod.tls.yml
Due: none

fix url "jumps right into test" for tests, when there is only one booklet
  e2e/cypress/e2e/Session-Management/login-possibilities.cy.ts
  frontend/src/app/app-route-guards.ts
  sampledata/system-test/CY_Test_Logins.xml
Due: check-e2e-feature-rules, check-frontend-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, test-frontend-unit, test-e2e

use the login and password as credentials for SysCheckReport, once logged in
  backend/routes.php
  backend/src/controller/WorkspaceController.class.php
  backend/src/data-collection/SysCheckReport.class.php
  backend/src/middleware/HandleOptionalToken.class.php
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

"cancel sys-check"-button redirects to /r
  frontend/src/app/sys-check/report/report.component.html
  frontend/src/app/sys-check/report/report.component.spec.ts
  frontend/src/app/sys-check/report/report.component.ts
  frontend/src/app/sys-check/sys-check.module.ts
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

adjust php server setting to new be container structure
  .idea/php.xml
Due: none

add "jump into test" functionality to sysCheck logins from URL
  backend/src/controller/SessionController.class.php
  backend/src/dao/SessionDAO.class.php
  e2e/cypress/e2e/Session-Management/login-possibilities.cy.ts
  frontend/src/app/app-root/login/login.component.ts
  frontend/src/app/app-route-guards.ts
  frontend/src/app/app.interfaces.ts
  sampledata/system-test/CY_Test_Logins.xml
Due: check-backend-feature-rules, check-e2e-feature-rules, check-frontend-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, build-task-runner, test-backend-unit, test-frontend-unit, test-backend-api, test-backend-initialization, test-e2e

redirect after successful sysCheckReport saving
  e2e/cypress/e2e/sys-check.cy.ts
  frontend/src/app/sys-check/report/report.component.ts
Due: check-e2e-feature-rules, check-frontend-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, test-frontend-unit, test-e2e

send sysCheckReport immediately, if logged in
  frontend/src/app/sys-check/report/report.component.ts
  frontend/src/app/sys-check/sys-check.interfaces.ts
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

refactor Report Class
  backend/src/controller/WorkspaceController.class.php
  backend/src/data-collection/ReportType.php
  backend/src/workspace/LogReportOutput.php
  backend/src/workspace/Report.php
  backend/src/workspace/ReportOutputFactory.php
  backend/src/workspace/ResponseReportOutput.php
  backend/src/workspace/ReviewReportOutput.php
  backend/src/workspace/SysCheckReportOutput.php
  backend/test/unit/controller/WorkspaceControllerTest.php
  backend/test/unit/workspace/ReportTest.php
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

CHANGELOG
  docs/CHANGELOG.md
Due: none

save and output responses in sysCheckReport
  backend/src/data-collection/SysCheckReport.class.php
  backend/src/files/SysCheckReportFile.class.php
  backend/src/workspace/Report.php
  backend/src/workspace/SysChecksFolder.class.php
  backend/test/unit/files/SysCheckReportFileTest.php
  backend/test/unit/workspace/ReportTest.php
  docs/api/components.spec.yml
  docs/api/workspace.spec.yml
  frontend/src/app/sys-check/report/report.component.spec.ts
  frontend/src/app/sys-check/report/report.component.ts
  frontend/src/app/sys-check/sys-check-data.service.ts
  frontend/src/app/sys-check/sys-check.interfaces.ts
  frontend/src/app/sys-check/unit-check/unit-check.component.ts
  sampledata/SysCheck-Report.json
Due: check-backend-feature-rules, check-frontend-feature-rules, build-backend, build-frontend, build-task-runner, test-backend-unit, test-frontend-unit, test-backend-api, test-backend-initialization

add real port to cache service
  kubernetes/migration/cs.yml
  kubernetes/migration/prod/fe-dev.yml
Due: none

be und fe funktionieren ungefähr. fs scheitert gerade
  kubernetes/migration/be.yml
  kubernetes/migration/bs.yml
  kubernetes/migration/fe-dev.yml
  kubernetes/migration/ingress.yml
Due: none

Adjust IDE settings
  .idea/dataSources.xml
  .idea/php-test-framework.xml
  .idea/sqldialects.xml
Due: none

Ignore IntelliJ IDEA java plugin settings
  .gitignore
Due: none

[Setup] Use strict Server Name Indication (SNI)
  dist-src/tls-config.yml
Due: none

[Setup] Enhance TLS cipher suites
  dist-src/tls-config.yml
Due: none

[Setup] Fix let's encrypt config issue
  dist-src/docker-compose.prod.tls.yml
Due: none

Update CHANGELOG.md
  docs/CHANGELOG.md
Due: none

If in test-mode display it in the logs and return it to frontend to display it in error messages as well
  backend/.htaccess
  backend/src/helper/TestEnvironment.class.php
  backend/src/middleware/ErrorHandler.class.php
  broadcasting-service/src/main.ts
  frontend/src/app/app.interfaces.ts
  frontend/src/app/error.interceptor.ts
  frontend/src/app/shared/components/error/error.component.html
Due: check-backend-feature-rules, check-broadcasting-service-feature-rules, check-frontend-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-task-runner, test-backend-unit, test-frontend-unit, test-broadcasting-service-unit, test-backend-api, test-backend-initialization

Include TestMode into the disconnectNotificationUri of subscribed endpoints
  backend/src/controller/TestController.class.php
  backend/src/helper/BroadcastService.class.php
  broadcasting-service/src/testee/testee.service.ts
Due: check-backend-feature-rules, check-broadcasting-service-feature-rules, build-backend, build-broadcasting-service, build-task-runner, test-backend-unit, test-broadcasting-service-unit, test-backend-api, test-backend-initialization

IDE settings
  .idea/dataSources.xml
  .idea/php-test-framework.xml
  .idea/php.xml
  .idea/testcenter.iml
Due: none

Reduce useless logs from Broadcasting-Service
  broadcasting-service/src/logger.ts
  broadcasting-service/src/main.ts
  docker/docker-compose.system-test-headless.yml
Due: check-broadcasting-service-feature-rules, build-broadcasting-service, test-broadcasting-service-unit

Reset Broadcasting Service between e2e tests
  e2e/cypress/e2e/utils.ts
Due: check-e2e-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, test-e2e

Basic refactoring of flaky test suite:
  e2e/cypress.e2e.config.js
  e2e/cypress/e2e/Test-Controller/RunHotReturn.cy.ts
  e2e/cypress/e2e/utils.ts
  e2e/cypress/plugins/wait-for-server.js
Due: check-e2e-feature-rules, build-backend, build-frontend, build-broadcasting-service, build-file-service, build-e2e, test-e2e

fs now has no csp errors. all runs on the right host
  kubernetes/migration/config.yml
  kubernetes/migration/ingress.yml
Due: none

fix merge conflict relic
  backend/src/helper/TestEnvironment.class.php
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

fix so that content_type of workspace can change back and forth
  backend/src/dao/WorkspaceDAO.class.php
  backend/src/data-collection/SysCheckMode.php
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

set content_type of workspace to mixed when a Testtakers File is deleted
  backend/src/controller/WorkspaceController.class.php
  backend/src/dao/WorkspaceDAO.class.php
Due: check-backend-feature-rules, build-backend, build-task-runner, test-backend-unit, test-backend-api, test-backend-initialization

Group-Monitor: Add Filter Dialogue
  .idea/dataSources.xml
  .idea/php-test-framework.xml
  .idea/testcenter.iml
  Makefile
  definitions/custom-texts.json
  frontend/src/app/group-monitor/components/add-filter-dialog/add-filter-dialog.component.css
  frontend/src/app/group-monitor/components/add-filter-dialog/add-filter-dialog.component.html
  frontend/src/app/group-monitor/components/add-filter-dialog/add-filter-dialog.component.ts
  frontend/src/app/group-monitor/group-monitor.component.css
  frontend/src/app/group-monitor/group-monitor.component.html
  frontend/src/app/group-monitor/group-monitor.component.ts
  frontend/src/app/group-monitor/group-monitor.interfaces.ts
  frontend/src/app/group-monitor/group-monitor.module.ts
  frontend/src/app/group-monitor/test-session-manager/test-session-manager.service.ts
  package-lock.json
  package.json
Due: check-backend-feature-rules, check-frontend-feature-rules, build-backend, build-frontend, build-task-runner, test-backend-unit, test-frontend-unit, test-backend-api, test-backend-initialization

Group-Monitor: Add Box to search user
  frontend/src/app/group-monitor/group-monitor.component.html
  frontend/src/app/group-monitor/group-monitor.component.ts
  frontend/src/app/group-monitor/group-monitor.interfaces.ts
  frontend/src/app/group-monitor/group-monitor.module.ts
  frontend/src/app/group-monitor/test-session-manager/test-session-manager.service.ts
  frontend/src/monitor-layout.css
Due: check-frontend-feature-rules, build-frontend, test-frontend-unit

Add the possibility to define different Profiles for Group-Monitors in Testtakers.XML
  .idea/dataSources.xml
  .idea/php.xml
  .idea/sqldialects.xml
  .idea/testcenter.iml
  backend/routes.php
  backend/src/controller/MonitorController.class.php
  backend/src/dao/SessionDAO.class.php
  backend/src/dao/WorkspaceDAO.class.php
  backend/src/data-collection/AccessSet.class.php
  backend/src/data-collection/Login.class.php
  backend/src/data-collection/LoginArray.class.php
  backend/src/files/XMLFileTesttakers.class.php
  definitions/vo_Booklet.xsd
  definitions/vo_Testtakers.xsd
  frontend/src/app/app-root/starter/starter.component.html
  frontend/src/app/app-root/starter/starter.component.ts
  frontend/src/app/app.interfaces.ts
  frontend/src/app/group-monitor/backend.service.ts
  frontend/src/app/group-monitor/components/add-filter-dialog/add-filter-dialog.component.ts
  frontend/src/app/group-monitor/group-monitor-routing.module.ts
  frontend/src/app/group-monitor/group-monitor.component.ts
  frontend/src/app/group-monitor/group-monitor.interfaces.ts
  frontend/src/app/group-monitor/test-session-manager/test-session-manager.service.ts
  frontend/src/app/workspace-admin/workspace.component.ts
  sampledata/Testtakers.xml
  scripts/database/patches.d/next.sql
Due: check-backend-feature-rules, check-frontend-feature-rules, build-backend, build-frontend, build-task-runner, test-backend-unit, test-frontend-unit, test-backend-api, test-backend-initialization

Path conditions:
  check-backend-feature-rules: any of: backend/**/*, scripts/database/**/*, definitions/**/*
  check-broadcasting-service-feature-rules: any of: broadcasting-service/**/*
  check-common-feature-rules: any of: common/**/*
  check-e2e-feature-rules: any of: e2e/**/*
  check-file-service-feature-rules: any of: file-service/**/*
  check-frontend-feature-rules: any of: frontend/**/*
  check-task-runner-feature-rules: any of: task-runner/**/*
  build-backend: (any of: backend/**/*, scripts/database/**/*, definitions/**/*) or ((any of: task-runner/**/*) or (any of: e2e/**/*))
  build-frontend: (any of: frontend/**/*) or ((any of: common/**/*) or (any of: e2e/**/*))
  build-broadcasting-service: (any of: broadcasting-service/**/*) or ((any of: common/**/*) or (any of: e2e/**/*))
  build-file-service: (any of: file-service/**/*) or ((any of: task-runner/**/*) or (any of: e2e/**/*))
  build-e2e: any of: e2e/**/*
  build-task-runner: (any of: task-runner/**/*) or ((any of: backend/**/*, scripts/database/**/*, definitions/**/*) or (any of: file-service/**/*))
  test-backend-unit: any of: backend/**/*, scripts/database/**/*, definitions/**/*
  test-frontend-unit: (any of: frontend/**/*) or (any of: common/**/*)
  test-broadcasting-service-unit: (any of: broadcasting-service/**/*) or (any of: common/**/*)
  test-backend-api: (any of: backend/**/*, scripts/database/**/*, definitions/**/*) or (any of: task-runner/**/*)
  test-file-service-api: (any of: file-service/**/*) or (any of: task-runner/**/*)
  test-backend-initialization: any of: backend/**/*, scripts/database/**/*, definitions/**/*
  test-e2e: any of: e2e/**/*
