Repository iqb-berlin/testcenter: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend, build-frontend, build-broadcasting-service, test-backend-unit, test-frontend-unit, test-broadcasting-service-unit, test-e2e, test-backend-api

build-backend:
  stage: build
  script:
  - apk add make curl
  - curl -SL https://github.com/docker/compose/releases/download/v2.6.0/docker-compose-linux-x86_64 -o /usr/local/bin/docker-compose
  - chmod +x /usr/local/bin/docker-compose
  - make init
  - make build service=testcenter-backend
  ...

build-frontend:
  stage: build
  script:
  - apk add make curl
  - curl -SL https://github.com/docker/compose/releases/download/v2.6.0/docker-compose-linux-x86_64 -o /usr/local/bin/docker-compose
  - chmod +x /usr/local/bin/docker-compose
  - make init
  - make build service=testcenter-frontend
  ...

build-broadcasting-service:
  stage: build
  script:
  - apk add make curl
  - curl -SL https://github.com/docker/compose/releases/download/v2.6.0/docker-compose-linux-x86_64 -o /usr/local/bin/docker-compose
  - chmod +x /usr/local/bin/docker-compose
  - make init
  - make build service=testcenter-broadcasting-service
  ...

test-backend-unit:
  stage: test
  needs:
  - job: build-backend
    artifacts: true
  script:
  - apk add make docker-compose
  - make init
  - docker load -i backend_image.tar
  - make test-backend-unit

test-frontend-unit:
  stage: test
  needs:
  - job: build-frontend
    artifacts: true
  script:
  - apk add make docker-compose
  - make init-env
  - make init-frontend
  - docker load -i frontend_image.tar
  - make test-frontend-unit

test-broadcasting-service-unit:
  stage: test
  needs:
  - job: build-broadcasting-service
    artifacts: true
  script:
  - apk add make docker-compose
  - make init-env
  - docker load -i bs_image.tar
  - make test-broadcasting-service-unit

test-e2e:
  stage: test
  needs:
  - job: build-frontend
    artifacts: true
  - job: build-backend
    artifacts: true
  - job: build-broadcasting-service
    artifacts: true
  script:
  - apk add make
  - docker load -i frontend_image.tar
  - docker load -i backend_image.tar
  - docker load -i bs_image.tar
  ...

test-backend-api:
  stage: test
  needs:
  - job: build-backend
    artifacts: true
  script:
  - apk add make
  - make init
  - make test-backend-api

e2e: Fix some details
  e2e/cypress/e2e/SessionManagement_TimeResLogins.cy.ts
  sampledata/system-test/CY_Test_Logins.xml
Due: build-backend, build-frontend, build-broadcasting-service, test-e2e

be: Allow retry when creating a person-session with an already present suffix.
  backend/src/dao/DAO.class.php
  backend/src/dao/SessionDAO.class.php
Due: build-backend, test-backend-unit, test-backend-api

fe: Fix reaction on delete workspace
  frontend/src/app/superadmin/workspaces/workspaces.component.ts
Due: build-frontend, test-frontend-unit

fe: Show only a moderate warning on wrong password a change super admin status.
  frontend/src/app/app.interfaces.ts
  frontend/src/app/shared/components/error/error.component.html
  frontend/src/app/shared/components/error/error.component.ts
  frontend/src/app/superadmin/backend.service.ts
Due: build-frontend, test-frontend-unit

e2e: Fix test suite: super admin
  e2e/cypress/e2e/superadmin.cy.ts
  frontend/src/app/superadmin/superadmin-password-request/superadmin-password-request.component.html
  frontend/src/app/superadmin/users/users.component.html
Due: build-backend, build-frontend, build-broadcasting-service, test-frontend-unit, test-e2e

fe: Only allow new upload when old upload report is removed (because it would not work anyway)
  frontend/src/app/workspace-admin/files/files.component.html
Due: build-frontend, test-frontend-unit

fe: Fix typo
  frontend/src/app/shared/components/error/error.component.html
Due: build-frontend, test-frontend-unit

ide: improve runtime configuation titles
  .idea/runConfigurations/Backend_Api_Test.xml
  .idea/runConfigurations/Frontend_Start.xml
  .idea/runConfigurations/Frontend_Unit_Test.xml
  .idea/runConfigurations/Frontend_Unit_Test2.xml
Due: none

fe: remove unused css class
  frontend/src/app/workspace-admin/files/iqb-files.scss
Due: build-frontend, test-frontend-unit

e2e: Repair and improve test suite for workspace-admin
  e2e/cypress/e2e/workspace-admin.cy.ts
  frontend/src/app/workspace-admin/files/files.component.html
  frontend/src/app/workspace-admin/files/iqb-files-upload-queue/iqb-files-upload-queue.component.html
Due: build-backend, build-frontend, build-broadcasting-service, test-frontend-unit, test-e2e

fe: start only booklet after link-login
  frontend/src/app/app-root/code-input/code-input.component.ts
  frontend/src/app/app-root/login/login.component.ts
  frontend/src/app/app-route-guards.ts
Due: build-frontend, test-frontend-unit

change test mode for time -limited logins
  sampledata/system-test/CY_Test_Logins.xml
Due: none

Small modification in Utils
  e2e/cypress/e2e/utils.ts
Due: build-backend, build-frontend, build-broadcasting-service, test-e2e

Delete the temporary file for sessionmanagement test
  e2e/cypress/e2e/SessionManagement_TimeResLogins.cy.ts
Due: build-backend, build-frontend, build-broadcasting-service, test-e2e

Non final session management test code
  e2e/cypress/e2e/sessionmanagement.cy.ts
Due: build-backend, build-frontend, build-broadcasting-service, test-e2e

small changes in not final testcode
  e2e/cypress/e2e/sessionmanagement.cy.ts
Due: build-backend, build-frontend, build-broadcasting-service, test-e2e

Delete app-root.cy.ts
  e2e/cypress/e2e/app-root.cy.ts
Due: build-backend, build-frontend, build-broadcasting-service, test-e2e

fe: implement report-bug feature.
  frontend/src/app/shared/classes/app.config.ts
  frontend/src/app/shared/components/error/error.component.html
  frontend/src/app/shared/components/error/error.component.ts
  frontend/src/app/shared/interfaces/app-config.interfaces.ts
  frontend/src/app/shared/interfaces/bug-report.interfaces.ts
  frontend/src/app/shared/services/bug-report.service.spec.ts
  frontend/src/app/shared/services/bug-report.service.ts
  frontend/src/app/shared/shared.module.ts
  frontend/src/app/superadmin/settings/app-config.component.html
  frontend/src/app/superadmin/settings/app-config.component.ts
Due: build-frontend, test-frontend-unit

fe: Refine the error-dialogue and add a save report button.
  frontend/src/app/shared/components/error/error.component.css
  frontend/src/app/shared/components/error/error.component.html
  frontend/src/app/shared/components/error/error.component.ts
  frontend/src/app/shared/services/bug-report.service.ts
  frontend/src/app/superadmin/settings/app-config.component.html
  frontend/src/app/superadmin/settings/edit-custom-texts.component.ts
Due: build-frontend, test-frontend-unit

fe: Refine the error-dialogue and add a save report button.
  frontend/src/app/shared/components/error/error.component.ts
  frontend/src/app/shared/interfaces/bug-report.interfaces.ts
  frontend/src/app/shared/services/bug-report.service.ts
Due: build-frontend, test-frontend-unit

fe: Remove some unit tests which does not fit anymore
  frontend/src/app/shared/services/bug-report.service.spec.ts
Due: build-frontend, test-frontend-unit

fe: Only mark last 2 Safari and iOs minor versions as supported, not mayor.
  definitions/browsers.json
  docs/pages/custom-texts.md
  frontend/package.json
Due: build-backend, build-frontend, test-backend-unit, test-frontend-unit, test-backend-api

e2e: Adjust tests to new behaviour
  e2e/cypress/e2e/Test-Controller/Demo.cy.ts
  e2e/cypress/e2e/Test-Controller/Review.cy.ts
  e2e/cypress/e2e/sessionmanagement.cy.ts
  e2e/cypress/e2e/utils.ts
  e2e/package-lock.json
Due: build-backend, build-frontend, build-broadcasting-service, test-e2e

be: Check for workspace-id as well when creating a new login-session
  backend/src/dao/SessionDAO.class.php
  docs/CHANGELOG.md
  scripts/database/patches.d/next.sql
Due: build-backend, test-backend-unit, test-backend-api

Update to version 14.8.0
  dist-src/.env
  docs/CHANGELOG.md
  docs/pages/test-mode.md
  package.json
  sampledata/Booklet.xml
  sampledata/Booklet2.xml
  sampledata/Booklet3.xml
  sampledata/SysCheck.xml
  sampledata/Testtakers.xml
  sampledata/Unit.xml
  sampledata/Unit2.xml
  scripts/database/full.sql
  scripts/database/patches.d/14.8.0.sql
Due: none

Add .gitconfig-file
  .gitconfig
Due: none

e2e: fix and enhance tests for hot-return mode
  e2e/cypress/e2e/Test-Controller/Review.cy.ts
  e2e/cypress/e2e/sessionmanagement.cy.ts
  e2e/cypress/e2e/utils.ts
Due: build-backend, build-frontend, build-broadcasting-service, test-e2e

fe: Buffer the patch-unit-state calls analogous to the post-unit-data calls.
  docs/CHANGELOG.md
  e2e/cypress/e2e/sessionmanagement.cy.ts
  e2e/cypress/e2e/utils.ts
  frontend/src/app/test-controller/components/unithost/unithost.component.ts
  frontend/src/app/test-controller/interfaces/test-controller.interfaces.ts
  frontend/src/app/test-controller/services/test-controller.service.spec.ts
  frontend/src/app/test-controller/services/test-controller.service.ts
  frontend/src/app/test-controller/services/test-loader.service.ts
Due: build-backend, build-frontend, build-broadcasting-service, test-frontend-unit, test-e2e

e2e: split session-management-tests into several files
  e2e/cypress/e2e/Session-Management/hot-restart-mode.cy.ts
  e2e/cypress/e2e/Session-Management/hot-return-mode.cy.ts
  e2e/cypress/e2e/Session-Management/login-possibilities.cy.ts
  e2e/cypress/e2e/Session-Management/testtakers-content.cy.ts
  e2e/cypress/e2e/Session-Management/testtakers-duplicates.cy.ts
  e2e/cypress/e2e/Session-Management/time-restrictions.cy.ts
  e2e/cypress/e2e/sessionmanagement.cy.ts
Due: build-backend, build-frontend, build-broadcasting-service, test-e2e

fe: Repair autostart after code input
  frontend/src/app/app-root/code-input/code-input.component.ts
Due: build-frontend, test-frontend-unit

fe: Show close/reload button on fatal errors
  frontend/src/app/shared/components/error/error.component.html
  frontend/src/app/shared/components/error/error.component.ts
Due: build-frontend, test-frontend-unit

fe: Update typescript
  frontend/package-lock.json
  frontend/package.json
Due: build-frontend, test-frontend-unit

fe: Update Angular to 15
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/app-routing.module.ts
  frontend/src/test.ts
  frontend/tsconfig.json
Due: build-frontend, test-frontend-unit

fe: Remove flex layout dependency
  frontend/package.json
Due: build-frontend, test-frontend-unit

fe: Update Typescript to 4.9
  frontend/package-lock.json
  frontend/package.json
  frontend/tsconfig.json
Due: build-frontend, test-frontend-unit

fe: Update Zone.js to 0.13
  frontend/package-lock.json
  frontend/package.json
Due: build-frontend, test-frontend-unit

fe: Update Angular to 16
  frontend/angular.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/app-route-guards.ts
  frontend/src/app/shared/shared.module.ts
  frontend/src/app/superadmin/superadmin.module.ts
  frontend/src/app/sys-check/sys-check-routing.module.ts
  frontend/src/app/sys-check/sys-check.module.ts
  frontend/src/app/test-controller/routing/test-controller-deactivate.guard.ts
  frontend/src/app/test-controller/routing/test-controller-error-paused-activate.guard.ts
  frontend/src/app/test-controller/routing/unit-activate.guard.ts
  frontend/src/app/test-controller/routing/unit-deactivate.guard.ts
  frontend/src/app/test-controller/test-controller.module.ts
Due: build-frontend, test-frontend-unit

fe: Update Typescript to 5.1
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Due: build-frontend, test-frontend-unit

Path conditions:
  build-backend: (any of: backend/**/*, database/**/*, definitions/**/*) or (any of: e2e/**/*)
  build-frontend: (any of: frontend/**/*, common/**/*) or (any of: e2e/**/*)
  build-broadcasting-service: (any of: broadcasting-service/**/*, common/**/*) or (any of: e2e/**/*)
  test-backend-unit: any of: backend/**/*, database/**/*, definitions/**/*
  test-frontend-unit: any of: frontend/**/*, common/**/*
  test-broadcasting-service-unit: any of: broadcasting-service/**/*, common/**/*
  test-e2e: any of: e2e/**/*
  test-backend-api: any of: backend/**/*, database/**/*, definitions/**/*
