Repository iqb-berlin/testcenter: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend, build-frontend, build-broadcasting-service, test-backend-unit, test-frontend-unit, test-broadcasting-service-unit, test-e2e, test-backend-api

Path conditions:
  build-backend: (any of: backend/**/*, database/**/*, definitions/**/*) or (any of: e2e/**/*)
  build-frontend: (any of: frontend/**/*, common/**/*) or (any of: e2e/**/*)
  build-broadcasting-service: (any of: broadcasting-service/**/*, common/**/*) or (any of: e2e/**/*)
  test-backend-unit: any of: backend/**/*, database/**/*, definitions/**/*
  test-frontend-unit: any of: frontend/**/*, common/**/*
  test-broadcasting-service-unit: any of: broadcasting-service/**/*, common/**/*
  test-e2e: any of: e2e/**/*
  test-backend-api: any of: backend/**/*, database/**/*, definitions/**/*

Update CHANGELOG.md
  docs/CHANGELOG.md
Due: none

fe: Fix behaviour on session errors in test-controller.
  frontend/src/app/shared/components/error/error.component.ts
  frontend/src/app/shared/services/maindata/maindata.service.ts
  frontend/src/app/test-controller/components/test-status/test-status.component.ts
Due: build-frontend, test-frontend-unit

fe: Fix behaviour on session errors in test-controller.
  frontend/src/app/shared/classes/app.config.ts
  frontend/src/app/shared/interfaces/app-config.interfaces.ts
  frontend/src/app/shared/services/maindata/maindata.service.ts
Due: build-frontend, test-frontend-unit

fe: split status check from config endpoint to save some interna network calls.
  backend/routes.php
  backend/src/controller/SystemController.class.php
  frontend/src/app/app-root/legal-notice/legal-notice.component.html
  frontend/src/app/app-root/legal-notice/legal-notice.component.ts
  frontend/src/app/shared/services/backend.service.ts
  frontend/src/app/shared/services/maindata/maindata.service.ts
Due: build-backend, build-frontend, test-backend-unit, test-frontend-unit, test-backend-api

be: Use foreach instead of array_reduce to sort array!
  backend/src/dao/WorkspaceDAO.class.php
  docs/CHANGELOG.md
Due: build-backend, test-backend-unit, test-backend-api

Add MTU configurtion option to testcenter network
  docker/.env-default
  docker/docker-compose.initialization-test.yml
  docker/docker-compose.system-test-headless.yml
  docker/docker-compose.system-test-ui.yml
  docker/docker-compose.yml
  e2e/backup/docker-compose.system-test.yml
Due: build-backend, build-frontend, build-broadcasting-service, test-e2e

Add healthcheck for testcenter db
  docker/docker-compose.initialization-test.yml
  docker/docker-compose.system-test-headless.yml
  docker/docker-compose.system-test-ui.yml
  docker/docker-compose.yml
  e2e/backup/docker-compose.system-test.yml
Due: build-backend, build-frontend, build-broadcasting-service, test-e2e

Fix pipeline job 'test-backend-api'
  docker/docker-compose.initialization-test.yml
  docker/docker-compose.system-test-headless.yml
  docker/docker-compose.system-test-ui.yml
  docker/docker-compose.yml
  e2e/backup/docker-compose.system-test.yml
  scripts/make/test.mk
Due: build-backend, build-frontend, build-broadcasting-service, test-e2e

Configure network MTU for gitLab docker service
  .gitlab-ci.yml
Due: none

be: Allocate more memory at initialize time
  backend/initialize.php
  docs/CHANGELOG.md
Due: build-backend, test-backend-unit, test-backend-api

xsd: Allow arbitrary string for `id` in `<Variable>`.
  definitions/vo_Unit.xsd
Due: build-backend, test-backend-unit, test-backend-api

db: Allow huge validation reports.
  .gitignore
  .idea/testcenter.iml
  scripts/database/patches.d/next.sql
Due: none

be: Fix Speedtest
  backend/src/controller/SpeedtestController.class.php
  docs/CHANGELOG.md
Due: build-backend, test-backend-unit, test-backend-api

be: Fix API-Test
  docs/api/speedtest.spec.yml
  scripts/database/full.sql
Due: none

setup: Add default values for environment-variables.
  docker/docker-compose.initialization-test.yml
  docker/docker-compose.system-test-headless.yml
  docker/docker-compose.system-test-ui.yml
  docker/docker-compose.yml
Due: none

ci: Fix MTU debugging information
  .gitlab-ci.yml
Due: none

Update to version 14.10.0
  dist-src/.env
  docs/CHANGELOG.md
  package.json
  sampledata/Booklet.xml
  sampledata/Booklet2.xml
  sampledata/Booklet3.xml
  sampledata/SysCheck.xml
  sampledata/Testtakers.xml
  sampledata/Unit.xml
  sampledata/Unit2.xml
  scripts/database/patches.d/14.10.0.sql
Due: none

delete patch which is allready in there as 14.10.0.sql.
  scripts/database/patches.d/next.sql
Due: none

IDE settings
  .idea/testcenter.iml
Due: none

prod: fix broken Makefile
  dist-src/Makefile
Due: none

be: Add script that can create massive amounts of sessions
  backend/test/initialization/tests/14.10.0/start_with_massive_data.sh
  backend/test/massive-test-data.php
Due: build-backend, test-backend-unit, test-backend-api

be: Return 404 on Endpoint not found
  backend/index.php
Due: build-backend, test-backend-unit, test-backend-api

be: Fix api tests
  .idea/php-test-framework.xml
  .idea/testcenter.iml
  backend/src/dao/InitDAO.class.php
  backend/src/helper/TestEnvironment.class.php
  docs/api/resource.spec.yml
  docs/api/system.spec.yml
  docs/api/test.spec.yml
  package-lock.json
  test/api/dredd-hooks.js
  test/api/dredd-test.js
Due: build-backend, test-backend-unit, test-backend-api

be: Use backend correctly as file service if extern file service is disabled
  backend/src/helper/FileService.class.php
Due: build-backend, test-backend-unit, test-backend-api

be: Make unit- and api tests run in container again.
  backend/src/helper/SystemConfig.class.php
  backend/test/unit/TestDB.class.php
  backend/test/unit/bootstrap.php
  docker/docker-compose.dev.yml
  test/api/dredd-hooks.js
Due: build-backend, test-backend-unit, test-backend-api

[frontend] Let unit navigation bar wrap
  frontend/src/app/test-controller/components/test-controller/test-controller.component.css
Due: build-frontend, test-frontend-unit

[be] Fix URI to access broadcasting-service to always use HTTP
  docker/backend-entrypoint.sh
Due: none

[infrastructure] Fix middleware definition for security headers
  dist-src/docker-compose.prod.tls.yml
  docker/docker-compose.yml
Due: none

[infrastructure] Fix TLS config file name in PROD
  dist-src/docker-compose.prod.tls.yml
  dist-src/install.sh
Due: none

be: Fix critical patch of 14.4.0
  backend/test/massive-test-data.php
  docs/CHANGELOG.md
  scripts/database/patches.d/14.4.0.sql
Due: build-backend, test-backend-unit, test-backend-api

Update Changelog
  docs/CHANGELOG.md
Due: none

be: add init test for fixed patch 14.4.0
  backend/test/initialization/tests/14.4.0/clean_up_gently.sh
Due: build-backend, test-backend-unit, test-backend-api

Update CHANGELOG
  docs/CHANGELOG.md
Due: none

Update and repair patch-file
  dist-src/patch.sh
Due: none

Update to version 14.11.0
  dist-src/.env
  package-lock.json
  package.json
  sampledata/Booklet.xml
  sampledata/Booklet2.xml
  sampledata/Booklet3.xml
  sampledata/SysCheck.xml
  sampledata/Testtakers.xml
  sampledata/Unit.xml
  sampledata/Unit2.xml
Due: none

Add script which is used fore creating a new version (committing, tagging, pushing images and so on)
  scripts/create-new-version.sh
Due: none

setup: remove unused parameter from compose file
  .idea/testcenter.iml
  docker/docker-compose.dev.yml
  docker/docker-compose.initialization-test.yml
  e2e/cypress/e2e/utils.ts
  scripts/make/test.mk
Due: build-backend, build-frontend, build-broadcasting-service, test-e2e

fs: return all files as application/octet stream instead of assuming any content by their extension.
  scripts/files-service/nginx.conf
Due: none
